Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args:
          [
            "--fix",
            "--config",
            "pyproject.toml",
            "--configPointer",
            "/tool/markdown/lint",
          ]
        types: [markdown]

  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff Format
        entry: uv run --frozen ruff
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: ruff
        name: Ruff
        entry: uv run --frozen ruff
        args: ["check", "--fix", "--exit-non-zero-on-fix"]
        types: [python]
        language: system
        pass_filenames: false
        exclude: ^README(\.v2)?\.md$
      - id: pyright
        name: pyright
        entry: uv run --frozen pyright
        language: system
        types: [python]
        pass_filenames: false
      - id: uv-lock-check
        name: Check uv.lock is up to date
        entry: uv lock --check
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false
      # TODO(Max): Drop this in v2.
      - id: readme-v1-frozen
        name: README.md is frozen (v1 docs)
        entry: README.md is frozen at v1. Edit README.v2.md instead.
        language: fail
        files: ^README\.md$
      - id: readme-snippets
        name: Check snippets are up to date
        entry: uv run --frozen python scripts/sync_snippets.py --check
        language: system
        files: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
        pass_filenames: false

ci: run strict-no-cover in scripts/test to catch stale pragmas locally
  CLAUDE.md
  scripts/test
  src/mcp/shared/session.py
Due: ruff-format, ruff, pyright, readme-snippets

revert: undo session.py pragma change (speculative, bad evidence)
  src/mcp/shared/session.py
Due: ruff-format, ruff, pyright, readme-snippets

test(server): strengthen call_tool tenant isolation assertions
  tests/server/mcpserver/test_multi_tenancy_server.py
Due: ruff-format, ruff, pyright

fix: handle non-UTF-8 bytes in stdio server stdin (#2302)
  src/mcp/server/stdio.py
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

[v1.x] fix: handle non-UTF-8 bytes in stdio server stdin (#2303)
  src/mcp/server/stdio.py
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

add pluggable transport examples
  examples/pluggable_transport/client_example.py
  examples/pluggable_transport/custom_transport_client.py
Due: ruff-format, ruff, pyright, readme-snippets

refactor(managers): use nested dicts for O(1) tenant lookups and add missing APIs
  src/mcp/server/mcpserver/prompts/manager.py
  src/mcp/server/mcpserver/resources/resource_manager.py
  src/mcp/server/mcpserver/tools/tool_manager.py
  tests/server/mcpserver/conftest.py
  tests/server/mcpserver/resources/test_resource_manager.py
  tests/server/mcpserver/test_multi_tenancy_managers.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: tighten coverage-pragma guidance
  CLAUDE.md
Due: none

style: move type alias after imports to fix ruff E402
  tests/server/mcpserver/test_multi_tenancy_managers.py
Due: ruff-format, ruff, pyright

refactor(test): consolidate MakeContext type alias into conftest
  tests/server/mcpserver/conftest.py
  tests/server/mcpserver/resources/test_resource_manager.py
  tests/server/mcpserver/test_multi_tenancy_managers.py
Due: ruff-format, ruff, pyright

fix(managers): clean up empty tenant scopes after last entry removal
  src/mcp/server/mcpserver/prompts/manager.py
  src/mcp/server/mcpserver/resources/resource_manager.py
  src/mcp/server/mcpserver/tools/tool_manager.py
  tests/server/mcpserver/test_multi_tenancy_managers.py
Due: ruff-format, ruff, pyright, readme-snippets

test(managers): cover partial tenant scope removal branches
  tests/server/mcpserver/test_multi_tenancy_managers.py
Due: ruff-format, ruff, pyright

ci: run strict-no-cover in scripts/test to catch stale pragmas locally (#2305)
  CLAUDE.md
  scripts/test
Due: none

refactor(auth): address code review feedback for enterprise managed auth
  .github/actions/conformance/client.py
  .github/actions/conformance/run-enterprise-auth-conformance.sh
  .github/workflows/conformance.yml
  README.v2.md
  examples/snippets/clients/enterprise_managed_auth_client.py
  src/mcp/client/auth/extensions/__init__.py
  src/mcp/client/auth/extensions/enterprise_managed_auth.py
  tests/client/auth/test_enterprise_managed_auth_client.py
Due: ruff-format, ruff, pyright, readme-snippets

- Removed the non-existing scenario from docstring.
  .github/actions/conformance/client.py
Due: ruff-format, ruff, pyright

test: reduce test_ws.py to just the WS smoke test
  tests/client/test_client.py
  tests/shared/test_ws.py
Due: ruff-format, ruff, pyright

test: convert WebSocket tests to in-memory transport
  tests/shared/test_ws.py
  tests/test_helpers.py
Due: ruff-format, ruff, pyright

test: pre-bind socket in run_uvicorn_in_thread, drop polling loop
  tests/test_helpers.py
Due: ruff-format, ruff, pyright

test: narrow websocket_server pragma now that coverage reaches it
  src/mcp/server/websocket.py
  tests/shared/test_ws.py
Due: ruff-format, ruff, pyright, readme-snippets

coverage: remove stale pragma on send_resource_list_changed
  src/mcp/server/session.py
Due: ruff-format, ruff, pyright, readme-snippets

test: convert test_integration.py to in-memory transport
  tests/server/mcpserver/test_integration.py
Due: ruff-format, ruff, pyright

test: set interface=asgi3 to skip uvicorn's 3.14-deprecated autodetect
  tests/test_helpers.py
Due: ruff-format, ruff, pyright

feat(session-manager): add tenant validation on session access
  src/mcp/server/streamable_http_manager.py
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

test(session-manager): cover helper branch paths for 100% coverage
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright

style: apply ruff formatting to test file
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright

fix: address PR review concerns for tenant session isolation
  src/mcp/server/streamable_http_manager.py
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

test: convert test_integration.py to in-memory transport (fix flaky) (#2277)
  src/mcp/server/session.py
  tests/server/mcpserver/test_integration.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: cancel in-flight handlers when transport closes in server.run()
  src/mcp/server/lowlevel/server.py
  src/mcp/shared/session.py
  tests/server/test_cancel_handling.py
Due: ruff-format, ruff, pyright, readme-snippets

test: fix WS test port race; narrow to single smoke test covering both transport ends (#2267)
  src/mcp/server/websocket.py
  tests/client/test_client.py
  tests/shared/test_ws.py
  tests/test_helpers.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: eliminate port allocation race in test_streamable_http fixtures
  src/mcp/server/session.py
  src/mcp/server/streamable_http.py
  src/mcp/server/transport_security.py
  tests/shared/test_streamable_http.py
  tests/test_helpers.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: bound uvicorn graceful shutdown so thread.join doesn't abandon it mid-drain
  tests/test_helpers.py
Due: ruff-format, ruff, pyright

feat(client): store full InitializeResult as server_params
  docs/migration.md
  src/mcp/client/client.py
  src/mcp/client/session.py
  tests/client/test_client.py
  tests/client/test_session.py
  tests/client/transports/test_memory.py
Due: ruff-format, ruff, pyright, readme-snippets

simplify(client): collapse to single initialize_result proxy
  docs/migration.md
  src/mcp/client/client.py
  tests/client/test_client.py
  tests/client/transports/test_memory.py
Due: ruff-format, ruff, pyright, readme-snippets

refactor(client): rename to initialize_result, decompose Client properties
  docs/migration.md
  src/mcp/client/client.py
  src/mcp/client/session.py
  tests/client/test_client.py
  tests/client/test_session.py
  tests/client/transports/test_memory.py
Due: ruff-format, ruff, pyright, readme-snippets

chore: downgrade stale no-cover pragmas to lax no cover
  src/mcp/server/session.py
  src/mcp/server/sse.py
  src/mcp/server/streamable_http.py
  src/mcp/server/transport_security.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

tests: eliminate port-allocation races in SSE/StreamableHTTP tests
  tests/client/test_http_unicode.py
  tests/server/test_sse_security.py
  tests/server/test_streamable_http_security.py
  tests/shared/test_sse.py
  tests/shared/test_streamable_http.py
  tests/test_helpers.py
Due: ruff-format, ruff, pyright

fix(tests): add no-branch pragma for nested async with ClientSession
  tests/client/test_http_unicode.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright

perf(tests): module-scope server fixtures, ASGI for context-aware tests
  src/mcp/server/streamable_http.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(tests): 3.14 phantom branch arcs, Windows Proactor transport leak
  tests/client/test_http_unicode.py
  tests/server/test_sse_security.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright

refactor: minimal targeted pragmas instead of blanket lax no cover
  src/mcp/server/session.py
  src/mcp/server/sse.py
  src/mcp/server/streamable_http.py
  src/mcp/server/transport_security.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets
