Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args:
          [
            "--fix",
            "--config",
            "pyproject.toml",
            "--configPointer",
            "/tool/markdown/lint",
          ]
        types: [markdown]

  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff Format
        entry: uv run --frozen ruff
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: ruff
        name: Ruff
        entry: uv run --frozen ruff
        args: ["check", "--fix", "--exit-non-zero-on-fix"]
        types: [python]
        language: system
        pass_filenames: false
        exclude: ^README(\.v2)?\.md$
      - id: pyright
        name: pyright
        entry: uv run --frozen pyright
        language: system
        types: [python]
        pass_filenames: false
      - id: uv-lock-check
        name: Check uv.lock is up to date
        entry: uv lock --check
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false
      # TODO(Max): Drop this in v2.
      - id: readme-v1-frozen
        name: README.md is frozen (v1 docs)
        entry: README.md is frozen at v1. Edit README.v2.md instead.
        language: fail
        files: ^README\.md$
      - id: readme-snippets
        name: Check snippets are up to date
        entry: uv run --frozen python scripts/sync_snippets.py --check
        language: system
        files: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
        pass_filenames: false

feat(client): support explicit streamable-http session resumption
  src/mcp/client/client.py
  src/mcp/client/session_group.py
  src/mcp/client/streamable_http.py
  tests/client/test_client.py
  tests/client/test_session_group.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

feat(client): add explicit resume flow for known streamable-http sessions
  src/mcp/client/client.py
  src/mcp/client/session.py
  src/mcp/client/streamable_http.py
  tests/client/test_client.py
Due: ruff-format, ruff, pyright, readme-snippets

test(client): cover resume path and streamable-http get-stream guard
  tests/client/test_session.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright

test(streamable-http): make resumption guard test pyright-safe and deterministic
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright

test(streamable-http): avoid assert-only coverage gap on py311
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright

fix: update logging function parameters to align with MCP spec
  tests/client/test_logging_callback.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright

Allow structured payloads in Context logging helpers
  src/mcp/server/mcpserver/context.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: enhance context logging to support null values and ensure compliance with MCP spec
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright

fix: allow any JSON-serializable type for log message data
  src/mcp/server/mcpserver/context.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: improve log clarity for stateless mode session termination
  src/mcp/server/streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

feat: add remove_prompt() and remove_resource() for parity with remove_tool()
  src/mcp/server/mcpserver/exceptions.py
  src/mcp/server/mcpserver/prompts/manager.py
  src/mcp/server/mcpserver/resources/resource_manager.py
  src/mcp/server/mcpserver/server.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: handle ClosedResourceError when transport closes mid-request
  src/mcp/server/lowlevel/server.py
  src/mcp/shared/session.py
  tests/server/test_cancel_handling.py
Due: ruff-format, ruff, pyright, readme-snippets

feat: add remove_prompt(), remove_resource(), and remove_resource_template()
  src/mcp/server/mcpserver/exceptions.py
  src/mcp/server/mcpserver/prompts/manager.py
  src/mcp/server/mcpserver/resources/resource_manager.py
  src/mcp/server/mcpserver/server.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: remove incorrect pragma: no cover from test helpers that are executed
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright

fix: address review feedback for remove_prompt/resource
  src/mcp/server/mcpserver/resources/resource_manager.py
  tests/server/mcpserver/prompts/test_manager.py
  tests/server/mcpserver/resources/test_resource_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: remove unused variables in tests
  tests/server/mcpserver/prompts/test_manager.py
  tests/server/mcpserver/resources/test_resource_manager.py
Due: ruff-format, ruff, pyright

test: add server-level tests for remove_prompt and remove_resource
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright

test(streamable-http): use branch-free assertion for py311 coverage
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright

test(streamable-http): move resumption count assertion into coroutine for py311 coverage
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright

### Code Review Fixes
  .github/actions/conformance/client.py
  README.v2.md
  examples/snippets/clients/enterprise_managed_auth_client.py
  src/mcp/client/auth/extensions/enterprise_managed_auth.py
  tests/client/auth/test_enterprise_managed_auth_client.py
Due: ruff-format, ruff, pyright, readme-snippets

- Fixed end of file for test_enterprise_managed_auth_client.py.
  tests/client/auth/test_enterprise_managed_auth_client.py
Due: ruff-format, ruff, pyright

feat(auth): add BearerAuth for minimal bearer-token authentication
  docs/authorization.md
  examples/snippets/clients/bearer_auth_client.py
  examples/snippets/pyproject.toml
  src/mcp/client/auth/__init__.py
  src/mcp/client/auth/bearer.py
  src/mcp/client/auth/exceptions.py
  src/mcp/client/client.py
  src/mcp/client/streamable_http.py
  src/mcp/shared/_httpx_utils.py
  tests/client/auth/test_bearer.py
  tests/client/test_client.py
Due: ruff-format, ruff, pyright, readme-snippets

ci: skip claude.yml when comment is '@claude review'
  .github/workflows/claude.yml
Due: none

ci: skip claude.yml when comment is '@claude review' (#2337)
  .github/workflows/claude.yml
Due: none

wip: support tool retry on timeout via idempotencyKey param in CallToolRequestParams
  idempotency-demo/README.md
  idempotency-demo/client.py
  idempotency-demo/pyproject.toml
  idempotency-demo/server.py
  idempotency-demo/uv.lock
  src/mcp/client/client.py
  src/mcp/client/session.py
  src/mcp/server/mcpserver/context.py
  src/mcp/server/mcpserver/server.py
  src/mcp/types/_types.py
  tests/client/test_client.py
  tests/client/test_session.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: move imports to top of file and add dict type args
  tests/server/test_cancel_handling.py
Due: ruff-format, ruff, pyright

[v1.x] fix: handle ClosedResourceError when transport closes mid-request (#2334)
  src/mcp/server/lowlevel/server.py
  src/mcp/shared/session.py
  tests/server/test_cancel_handling.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: propagate pre-endpoint errors in sse_client instead of deadlocking
  src/mcp/client/sse.py
  tests/shared/test_sse.py
Due: ruff-format, ruff, pyright, readme-snippets

chore: use AsyncIterator for lifespan annotations, sync README snippets
  README.v2.md
  examples/snippets/servers/streamable_http_basic_mounting.py
  examples/snippets/servers/streamable_http_host_mounting.py
  examples/snippets/servers/streamable_http_multiple_servers.py
  examples/snippets/servers/streamable_starlette_mount.py
Due: ruff-format, ruff, pyright, readme-snippets

chore: ignore ANN204 to allow __init__ without return type
  README.v2.md
  examples/snippets/clients/oauth_client.py
  examples/snippets/servers/structured_output.py
  pyproject.toml
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

test: convert context_aware_server from multiprocessing to in-process threads
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright

test: ignore ANN in README code example linting
  tests/test_examples.py
Due: ruff-format, ruff, pyright

feat(server): forward optional stdin/stdout to stdio_server
  src/mcp/server/mcpserver/server.py
  tests/server/mcpserver/test_run_stdio_custom_streams.py
Due: ruff-format, ruff, pyright, readme-snippets

test: add pyright-safe annotations for stdio spy
  tests/server/mcpserver/test_run_stdio_custom_streams.py
Due: ruff-format, ruff, pyright

refactor: pass stdio params through **kwargs like other transports
  src/mcp/server/mcpserver/server.py
Due: ruff-format, ruff, pyright, readme-snippets

test: parse JSON instead of asserting exact whitespace in response body test
  tests/client/auth/test_bearer.py
Due: ruff-format, ruff, pyright

fix(server): return -32602 for resource not found (SEP-2164)
  src/mcp/server/mcpserver/exceptions.py
  src/mcp/server/mcpserver/server.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

test: replace multiprocessing with threading for server test coverage
  src/mcp/server/session.py
  src/mcp/server/streamable_http.py
  src/mcp/server/transport_security.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets
