Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

ruff-format:
  name: Ruff Format
  entry: uv run --frozen ruff
  args:
  - format
  language: system
  pass_filenames: false

ruff:
  name: Ruff
  entry: uv run --frozen ruff
  args:
  - check
  - --fix
  - --exit-non-zero-on-fix
  language: system
  pass_filenames: false

pyright:
  name: pyright
  entry: uv run --frozen pyright
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv.lock is up to date
  entry: uv lock --check
  language: system
  pass_filenames: false

readme-v1-frozen:
  name: README.md is frozen (v1 docs)
  entry: README.md is frozen at v1. Edit README.v2.md instead.
  language: fail

readme-snippets:
  name: Check snippets are up to date
  entry: uv run --frozen python scripts/sync_snippets.py --check
  language: system
  pass_filenames: false

test: add end-to-end OAuth authorization tests with an in-process AS/RS harness
  src/mcp/client/auth/oauth2.py
  src/mcp/server/auth/handlers/authorize.py
  src/mcp/server/auth/middleware/bearer_auth.py
  src/mcp/server/lowlevel/server.py
  src/mcp/shared/auth.py
  src/mcp/shared/session.py
  tests/interaction/_connect.py
  tests/interaction/_requirements.py
  tests/interaction/auth/__init__.py
  tests/interaction/auth/_harness.py
  tests/interaction/auth/_provider.py
  tests/interaction/auth/test_as_handlers.py
  tests/interaction/auth/test_authorize_token.py
  tests/interaction/auth/test_bearer.py
  tests/interaction/auth/test_discovery.py
  tests/interaction/auth/test_flow.py
  tests/interaction/auth/test_lifecycle.py
  tests/interaction/test_coverage.py
Due: ruff-format, ruff, pyright, readme-snippets

test: tighten remaining deferral reasons to reflect SDK feature gaps
  tests/interaction/_requirements.py
Due: ruff-format, ruff, pyright

docs: update interaction suite README for transports, auth, and decorator stacking
  tests/interaction/README.md
Due: none

test: fix interaction suite for 3.10/3.11/3.14 and lowest-direct CI legs
  pyproject.toml
  tests/interaction/README.md
  tests/interaction/_connect.py
  tests/interaction/auth/_harness.py
  tests/interaction/lowlevel/test_cancellation.py
  tests/interaction/lowlevel/test_elicitation.py
  tests/interaction/lowlevel/test_initialize.py
  tests/interaction/lowlevel/test_progress.py
  tests/interaction/lowlevel/test_tools.py
  tests/interaction/lowlevel/test_wire.py
  tests/interaction/transports/test_bridge.py
  tests/interaction/transports/test_client_transport_http.py
  tests/interaction/transports/test_flows.py
  tests/interaction/transports/test_hosting_http.py
  tests/interaction/transports/test_hosting_resume.py
  tests/interaction/transports/test_hosting_session.py
  tests/interaction/transports/test_stdio.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check

test: close leaked SSE receive streams instead of gc-collecting them
  src/mcp/server/sse.py
  tests/interaction/_connect.py
  tests/interaction/transports/_bridge.py
  tests/interaction/transports/test_hosting_session.py
  tests/interaction/transports/test_sse.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(security): deduplicate per-host and per-origin rejection log warnings
  src/mcp/server/transport_security.py
  tests/server/test_transport_security.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: add Transport Security section to concepts
  docs/concepts.md
Due: readme-snippets

test: correct manifest divergence notes and route in-handler notifications deterministically
  tests/interaction/README.md
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_elicitation.py
  tests/interaction/lowlevel/test_list_changed.py
  tests/interaction/lowlevel/test_logging.py
  tests/interaction/lowlevel/test_progress.py
  tests/interaction/lowlevel/test_resources.py
  tests/interaction/mcpserver/test_tools.py
Due: ruff-format, ruff, pyright

test: mark replay_sender's stream-id check no-branch for 3.10 coverage
  src/mcp/server/streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

test: tighten manifest wording and assertion conventions from review pass
  src/mcp/shared/auth.py
  tests/interaction/_requirements.py
  tests/interaction/auth/_provider.py
  tests/interaction/lowlevel/test_pagination.py
  tests/interaction/lowlevel/test_sampling.py
  tests/interaction/mcpserver/test_prompts.py
  tests/interaction/transports/test_bridge.py
Due: ruff-format, ruff, pyright, readme-snippets

test: declare capabilities the notification tests rely on
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_flows.py
  tests/interaction/lowlevel/test_list_changed.py
  tests/interaction/lowlevel/test_logging.py
  tests/interaction/lowlevel/test_resources.py
  tests/interaction/lowlevel/test_roots.py
  tests/interaction/lowlevel/test_wire.py
  tests/interaction/transports/_stdio_server.py
  tests/interaction/transports/test_hosting_http.py
Due: ruff-format, ruff, pyright

test: prove json-response Content-Type and explicit resumption-token API at the wire
  src/mcp/server/streamable_http.py
  tests/interaction/_connect.py
  tests/interaction/transports/test_hosting_http.py
  tests/interaction/transports/test_hosting_resume.py
  tests/interaction/transports/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

test: cancel only the abandoned call so 3.11/3.14 trace the resumption test cleanly
  tests/interaction/transports/test_hosting_resume.py
Due: ruff-format, ruff, pyright

test: restructure resumption test so 3.11 traces every line
  tests/interaction/transports/test_hosting_resume.py
Due: ruff-format, ruff, pyright

test: mark the resumption-token test's post-exit line lax-no-cover for 3.11
  tests/interaction/README.md
  tests/interaction/transports/test_hosting_resume.py
Due: ruff-format, ruff, pyright

fix(shared): make McpError and UrlElicitationRequiredError pickle-safe on v1.x
  src/mcp/shared/exceptions.py
  tests/shared/test_exceptions.py
Due: ruff-format, ruff, pyright, readme-snippets

refactor: add ToolResult alias and call_tool regression test
  docs/migration.md
  src/mcp/server/mcpserver/server.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

test: add test cases pinning direct CallToolResult and unstructured content returns
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright

docs: clarify client tool cancellation guidance
  README.v2.md
Due: readme-snippets

docs: type cancellable tool snippet
  README.v2.md
Due: readme-snippets

Fix #348: Allow ToolError to carry custom content and is_error
  src/mcp/server/mcpserver/exceptions.py
  src/mcp/server/mcpserver/server.py
  src/mcp/server/mcpserver/tools/base.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

tests: align four interaction-manifest entries with the cross-SDK canonical wording
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_sampling.py
  tests/interaction/transports/test_client_transport_http.py
Due: ruff-format, ruff, pyright

auth: improve ClientAuthenticator error messaging for confidential clients
  src/mcp/server/auth/middleware/client_auth.py
  tests/server/mcpserver/auth/test_auth_integration.py
Due: ruff-format, ruff, pyright, readme-snippets

Fix completed request cancellation cleanup
  src/mcp/shared/session.py
  tests/shared/test_session.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(streamable-http): drain SSE response to EOF instead of closing early
  src/mcp/client/streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Surface streamable HTTP connection errors
  src/mcp/client/session_group.py
  src/mcp/client/streamable_http.py
  tests/client/test_session_group.py
Due: ruff-format, ruff, pyright, readme-snippets

Avoid branch coverage noise in connection error test
  tests/client/test_session_group.py
Due: ruff-format, ruff, pyright

fix(client): respect server capabilities before querying components
  src/mcp/client/session_group.py
Due: ruff-format, ruff, pyright, readme-snippets

backport: phase-1.5 mechanical types sweep (snake→camel kwargs, type= discriminators)
  tests/interaction/auth/test_authorize_token.py
  tests/interaction/auth/test_discovery.py
  tests/interaction/auth/test_flow.py
  tests/interaction/auth/test_lifecycle.py
  tests/interaction/lowlevel/test_cancellation.py
  tests/interaction/lowlevel/test_completion.py
  tests/interaction/lowlevel/test_elicitation.py
  tests/interaction/lowlevel/test_flows.py
  tests/interaction/lowlevel/test_initialize.py
  tests/interaction/lowlevel/test_list_changed.py
  tests/interaction/lowlevel/test_logging.py
  tests/interaction/lowlevel/test_meta.py
  tests/interaction/lowlevel/test_pagination.py
  tests/interaction/lowlevel/test_ping.py
  tests/interaction/lowlevel/test_progress.py
  tests/interaction/lowlevel/test_prompts.py
  tests/interaction/lowlevel/test_resources.py
  tests/interaction/lowlevel/test_roots.py
  tests/interaction/lowlevel/test_sampling.py
  tests/interaction/lowlevel/test_timeouts.py
  tests/interaction/lowlevel/test_tools.py
  tests/interaction/lowlevel/test_wire.py
  tests/interaction/mcpserver/test_context.py
  tests/interaction/mcpserver/test_prompts.py
  tests/interaction/mcpserver/test_resources.py
  tests/interaction/mcpserver/test_tools.py
  tests/interaction/transports/_stdio_server.py
  tests/interaction/transports/test_client_transport_http.py
  tests/interaction/transports/test_flows.py
  tests/interaction/transports/test_hosting_http.py
  tests/interaction/transports/test_hosting_resume.py
  tests/interaction/transports/test_hosting_session.py
  tests/interaction/transports/test_stdio.py
  tests/interaction/transports/test_streamable_http.py
Due: ruff-format, ruff, pyright

backport: harness H1 — _helpers.py: local ReadStream/WriteStream aliases, RecordingTransport→Recording stream-pair wrapper
  tests/interaction/_helpers.py
Due: ruff-format, ruff, pyright

backport: harness H2 — _connect.py imports/annotations + conftest marker registration
  tests/interaction/_connect.py
  tests/interaction/conftest.py
Due: ruff-format, ruff, pyright

backport: harness H3 — connect_in_memory, build_sse_app, connect_over_sse, parse_sse_messages, initialize_body bodies
  tests/interaction/_connect.py
Due: ruff-format, ruff, pyright

backport: harness H4 — build_streamable_http_app (no-auth), connect_over_streamable_http, client_via_http; gate: 3 smoke legs pass
  pyproject.toml
  tests/interaction/_connect.py
  tests/interaction/conftest.py
  tests/interaction/lowlevel/test_ping.py
Due: ruff-format, ruff, pyright, uv-lock-check

backport: harness H5 — build_streamable_http_app auth branch + mounted_app body
  tests/interaction/_connect.py
Due: ruff-format, ruff, pyright

Path conditions:
  ruff-format: any of: \.py$
  ruff: any of: \.py$, but not: ^README(\.v2)?\.md$
  pyright: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  readme-v1-frozen: any of: ^README\.md$
  readme-snippets: any of: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
