Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args:
          [
            "--fix",
            "--config",
            "pyproject.toml",
            "--configPointer",
            "/tool/markdown/lint",
          ]
        types: [markdown]

  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff Format
        entry: uv run --frozen ruff
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: ruff
        name: Ruff
        entry: uv run --frozen ruff
        args: ["check", "--fix", "--exit-non-zero-on-fix"]
        types: [python]
        language: system
        pass_filenames: false
        exclude: ^README(\.v2)?\.md$
      - id: pyright
        name: pyright
        entry: uv run --frozen pyright
        language: system
        types: [python]
        pass_filenames: false
      - id: uv-lock-check
        name: Check uv.lock is up to date
        entry: uv lock --check
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false
      # TODO(Max): Drop this in v2.
      - id: readme-v1-frozen
        name: README.md is frozen (v1 docs)
        entry: README.md is frozen at v1. Edit README.v2.md instead.
        language: fail
        files: ^README\.md$
      - id: readme-snippets
        name: Check snippets are up to date
        entry: uv run --frozen python scripts/sync_snippets.py --check
        language: system
        files: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
        pass_filenames: false

Worker-stable wire keys; restore typed model for unannotated eliciting resolvers
  src/mcp/server/mcpserver/resolve.py
  tests/server/mcpserver/test_resolve.py
Due: ruff-format, ruff, pyright, readme-snippets

Fix two MRTR state bugs found by Codex review
  src/mcp/server/mcpserver/resolve.py
  tests/server/mcpserver/test_resolve.py
Due: ruff-format, ruff, pyright, readme-snippets

Reconcile docs with the negotiated elicitation transport
  docs/advanced/multi-round-trip.md
  docs/tutorial/dependencies.md
  tests/docs_src/test_dependencies.py
Due: ruff-format, ruff, pyright, readme-snippets

Persist elicited answers as raw wire content; reject ambiguous Elicit returns
  docs/migration.md
  docs/tutorial/elicitation.md
  src/mcp/server/elicitation.py
  src/mcp/server/mcpserver/resolve.py
  tests/docs_src/test_elicitation.py
  tests/server/mcpserver/test_resolve.py
Due: ruff-format, ruff, pyright, readme-snippets

Scope the resolver run-once guarantee to questions, not resolver bodies
  docs/tutorial/dependencies.md
  examples/stories/refund_desk/README.md
Due: readme-snippets

Drive resolver elicitation over the 2026-07-28 input_required flow (#2986)
  docs/advanced/multi-round-trip.md
  docs/migration.md
  docs/tutorial/dependencies.md
  docs/tutorial/elicitation.md
  examples/stories/legacy_elicitation/README.md
  examples/stories/manifest.toml
  examples/stories/mrtr/README.md
  examples/stories/refund_desk/README.md
  examples/stories/refund_desk/client.py
  src/mcp/server/elicitation.py
  src/mcp/server/mcpserver/context.py
  src/mcp/server/mcpserver/resolve.py
  src/mcp/server/mcpserver/tools/base.py
  tests/docs_src/test_dependencies.py
  tests/docs_src/test_elicitation.py
  tests/server/mcpserver/test_resolve.py
Due: ruff-format, ruff, pyright, readme-snippets

Add cache_hints constructor map for SEP-2549 caching hints
  docs/advanced/caching.md
  docs/migration.md
  docs_src/caching/__init__.py
  docs_src/caching/tutorial001.py
  docs_src/caching/tutorial002.py
  mkdocs.yml
  src/mcp/server/__init__.py
  src/mcp/server/caching.py
  src/mcp/server/lowlevel/server.py
  src/mcp/server/mcpserver/server.py
  src/mcp/server/runner.py
  tests/docs_src/test_caching.py
  tests/server/test_caching.py
  tests/server/test_runner.py
Due: ruff-format, ruff, pyright, readme-snippets

Document the client-side story for caching hints
  docs/advanced/caching.md
  docs_src/caching/tutorial003.py
  tests/docs_src/test_caching.py
Due: ruff-format, ruff, pyright, readme-snippets

Add cache_hints constructor map for SEP-2549 caching hints (#3015)
  docs/advanced/caching.md
  docs/migration.md
  docs_src/caching/__init__.py
  docs_src/caching/tutorial001.py
  docs_src/caching/tutorial002.py
  docs_src/caching/tutorial003.py
  mkdocs.yml
  src/mcp/server/__init__.py
  src/mcp/server/caching.py
  src/mcp/server/lowlevel/server.py
  src/mcp/server/mcpserver/server.py
  src/mcp/server/runner.py
  tests/docs_src/test_caching.py
  tests/server/test_caching.py
  tests/server/test_runner.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(auth): parse WWW-Authenticate params quote-aware
  src/mcp/client/auth/utils.py
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

Consult request_state only for the question a resolver is asking
  docs/advanced/multi-round-trip.md
  docs/tutorial/dependencies.md
  examples/stories/refund_desk/README.md
  src/mcp/server/mcpserver/resolve.py
  src/mcp/server/mcpserver/tools/base.py
  tests/server/mcpserver/test_resolve.py
Due: ruff-format, ruff, pyright, readme-snippets

Widen the MCPServer prompt and resource pipelines to pass InputRequiredResult through
  .github/actions/conformance/expected-failures.2026-07-28.yml
  .github/actions/conformance/expected-failures.yml
  docs/advanced/low-level-server.md
  docs/advanced/multi-round-trip.md
  docs/migration.md
  docs_src/mrtr/tutorial004.py
  examples/servers/everything-server/mcp_everything_server/server.py
  src/mcp/server/mcpserver/context.py
  src/mcp/server/mcpserver/prompts/base.py
  src/mcp/server/mcpserver/prompts/manager.py
  src/mcp/server/mcpserver/resources/resource_manager.py
  src/mcp/server/mcpserver/resources/templates.py
  src/mcp/server/mcpserver/resources/types.py
  src/mcp/server/mcpserver/server.py
  tests/docs_src/test_mrtr.py
  tests/issues/test_141_resource_templates.py
  tests/server/mcpserver/prompts/test_base.py
  tests/server/mcpserver/resources/test_function_resources.py
  tests/server/mcpserver/resources/test_resource_template.py
  tests/server/mcpserver/servers/test_file_server.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

test(auth): cover escaped WWW-Authenticate values
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright

test(auth): cover WWW-Authenticate parser edge branches
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright

Document the drain helpers in the pagination guide
  docs/advanced/pagination.md
  docs_src/pagination/tutorial003.py
  tests/docs_src/test_pagination.py
Due: ruff-format, ruff, pyright, readme-snippets

Guard the drain loops against a non-advancing cursor
  src/mcp/client/client.py
  tests/client/test_list_all_pagination.py
Due: ruff-format, ruff, pyright, readme-snippets

Add list_all_* helpers that drain pagination on the client
  src/mcp/client/client.py
  src/mcp/client/session_group.py
  tests/client/test_list_all_pagination.py
  tests/client/test_session_group.py
Due: ruff-format, ruff, pyright, readme-snippets

Make Context.read_resource raise-only on InputRequiredResult
  docs/migration.md
  src/mcp/server/mcpserver/context.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

Let handler-raised MCPError keep its code and data in the prompt and resource pipelines
  docs/migration.md
  src/mcp/server/mcpserver/context.py
  src/mcp/server/mcpserver/prompts/base.py
  src/mcp/server/mcpserver/resources/templates.py
  src/mcp/server/mcpserver/resources/types.py
  src/mcp/server/mcpserver/server.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

Tolerate lazily-evaluated type aliases in the input_required return check
  src/mcp/server/mcpserver/resolve.py
  tests/server/mcpserver/test_resolve.py
Due: ruff-format, ruff, pyright, readme-snippets

Reword new doc passages to avoid dash asides
  docs/advanced/multi-round-trip.md
  docs/tutorial/dependencies.md
  examples/stories/refund_desk/README.md
Due: readme-snippets

Update conformance client to httpx2
  .github/actions/conformance/client.py
Due: ruff-format, ruff, pyright

Keep the outer request's input_responses out of nested resource reads
  src/mcp/server/mcpserver/context.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

Restore SSE request headers via AsyncClient.sse(); fix example fallout
  examples/clients/simple-chatbot/mcp_simple_chatbot/main.py
  examples/clients/sse-polling-client/mcp_sse_polling_client/main.py
  src/mcp/client/sse.py
  src/mcp/client/streamable_http.py
  tests/shared/test_sse.py
Due: ruff-format, ruff, pyright, readme-snippets

Wrap test signature that exceeded the line limit after the rename
  tests/server/auth/test_identity_assertion.py
Due: ruff-format, ruff, pyright

Consult request_state only for the question a resolver is asking (#3019)
  docs/advanced/multi-round-trip.md
  docs/tutorial/dependencies.md
  examples/stories/refund_desk/README.md
  src/mcp/server/mcpserver/resolve.py
  src/mcp/server/mcpserver/tools/base.py
  tests/server/mcpserver/test_resolve.py
Due: ruff-format, ruff, pyright, readme-snippets

Restore blank line uv's serializer emits after the manifest block
  uv.lock
Due: uv-lock-check

Pass InputRequiredResult through the MCPServer prompt and resource pipelines (#3020)
  .github/actions/conformance/expected-failures.2026-07-28.yml
  .github/actions/conformance/expected-failures.yml
  docs/advanced/low-level-server.md
  docs/advanced/multi-round-trip.md
  docs/migration.md
  docs_src/mrtr/tutorial004.py
  examples/servers/everything-server/mcp_everything_server/server.py
  src/mcp/server/mcpserver/context.py
  src/mcp/server/mcpserver/prompts/base.py
  src/mcp/server/mcpserver/prompts/manager.py
  src/mcp/server/mcpserver/resources/resource_manager.py
  src/mcp/server/mcpserver/resources/templates.py
  src/mcp/server/mcpserver/resources/types.py
  src/mcp/server/mcpserver/server.py
  tests/docs_src/test_mrtr.py
  tests/issues/test_141_resource_templates.py
  tests/server/mcpserver/prompts/test_base.py
  tests/server/mcpserver/resources/test_function_resources.py
  tests/server/mcpserver/resources/test_resource_template.py
  tests/server/mcpserver/servers/test_file_server.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

Drop None args no longer accepted by ServerSentEvent
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright

Serve cacheable client verbs through the response cache
  src/mcp/client/client.py
  src/mcp/client/session.py
  tests/client/test_client_caching.py
Due: ruff-format, ruff, pyright, readme-snippets

Move CacheableMethod to mcp_types.methods and derive CACHEABLE_METHODS from the method registry
  src/mcp-types/mcp_types/methods.py
  src/mcp/server/caching.py
  tests/server/test_caching.py
  tests/types/test_methods.py
Due: ruff-format, ruff, pyright, readme-snippets

Add client response cache coordinator: scope arms, era gating, TTL resolution, eviction
  src/mcp/client/caching.py
  tests/client/test_caching.py
Due: ruff-format, ruff, pyright, readme-snippets

Treat negative inbound ttlMs as zero at the client parse seams
  src/mcp/client/session.py
  tests/client/test_client_caching.py
  tests/client/test_session.py
Due: ruff-format, ruff, pyright, readme-snippets

Document the client response cache
  docs/advanced/caching.md
  docs/migration.md
  docs_src/caching/tutorial003.py
  src/mcp/client/caching.py
  tests/client/test_client_caching.py
  tests/docs_src/test_caching.py
Due: ruff-format, ruff, pyright, readme-snippets

Document eviction timing, refetch policy, shared-store races, and the TTL cap
  docs/advanced/caching.md
Due: readme-snippets

Wire the response cache into Client: configuration, server identity, notification eviction
  src/mcp/client/__init__.py
  src/mcp/client/client.py
  tests/client/test_client_caching.py
Due: ruff-format, ruff, pyright, readme-snippets

Add end-to-end hardening tests for the client response cache
  tests/client/test_client_caching.py
Due: ruff-format, ruff, pyright
