Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args:
          [
            "--fix",
            "--config",
            "pyproject.toml",
            "--configPointer",
            "/tool/markdown/lint",
          ]
        types: [markdown]

  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff Format
        entry: uv run --frozen ruff
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: ruff
        name: Ruff
        entry: uv run --frozen ruff
        args: ["check", "--fix", "--exit-non-zero-on-fix"]
        types: [python]
        language: system
        pass_filenames: false
        exclude: ^README(\.v2)?\.md$
      - id: pyright
        name: pyright
        entry: uv run --frozen pyright
        language: system
        types: [python]
        pass_filenames: false
      - id: uv-lock-check
        name: Check uv.lock is up to date
        entry: uv lock --check
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false
      # TODO(Max): Drop this in v2.
      - id: readme-v1-frozen
        name: README.md is frozen (v1 docs)
        entry: README.md is frozen at v1. Edit README.v2.md instead.
        language: fail
        files: ^README\.md$
      - id: readme-snippets
        name: Check snippets are up to date
        entry: uv run --frozen python scripts/sync_snippets.py --check
        language: system
        files: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
        pass_filenames: false

Validate tool_choice-only sampling answers against the tools-mode result
  docs/handlers/dependencies.md
  docs/handlers/sampling-and-roots.md
  docs/migration.md
  src/mcp/server/mcpserver/resolve.py
  tests/server/mcpserver/test_resolve.py
Due: ruff-format, ruff, pyright, readme-snippets

Split the tools-mode sampling overloads for sound narrowing
  src/mcp/server/session.py
  src/mcp/shared/peer.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(client): send same-origin Origin header from streamable HTTP client
  docs/troubleshooting.md
  docs_src/troubleshooting/tutorial004.py
  src/mcp/client/streamable_http.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(streamable-http): reject GET/DELETE without session-id before allocating
  src/mcp/server/streamable_http_manager.py
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

test: cover the pre-session security check + fix pyright annotation
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright

fix(streamable-http): also reject PUT/PATCH/OPTIONS/HEAD without session-id
  src/mcp/server/streamable_http_manager.py
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(streamable-http): mirror the transport's 405 shape (Allow header + body)
  src/mcp/server/streamable_http_manager.py
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

test: parametrize the Allow header check to keep 100% branch coverage
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright

Validate elicitation sub-capabilities in check_capability
  src/mcp/server/connection.py
  tests/server/test_connection.py
Due: ruff-format, ruff, pyright, readme-snippets

docs(elicitation): note picking a mode the client supports
  docs/handlers/elicitation.md
Due: readme-snippets

fix: don't JSON pre-parse string args whose annotation only accepts str or None
  src/mcp/server/mcpserver/utilities/func_metadata.py
  tests/server/mcpserver/test_func_metadata.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(streamable-http): reject duplicate in-flight request ids
  src/mcp/server/streamable_http.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(streamable-http): reserve routing slot before event store priming
  src/mcp/server/streamable_http.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Reject duplicate in-flight request ids in the JSON-RPC dispatcher
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/shared/test_jsonrpc_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

test(streamable-http): fix coverage and typing on priming-race test
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright

Unwrap Annotated before the str-union check in pre_parse_json
  src/mcp/server/mcpserver/utilities/func_metadata.py
  tests/server/mcpserver/test_func_metadata.py
Due: ruff-format, ruff, pyright, readme-snippets

feat: add protocol version override support for client session initialization
  src/mcp/client/_probe.py
  src/mcp/client/client.py
  src/mcp/client/session.py
  src/mcp/client/session_group.py
  tests/client/test_client.py
  tests/client/test_probe.py
  tests/client/test_session.py
  tests/client/test_session_group.py
Due: ruff-format, ruff, pyright, readme-snippets

style: fix formatting in tests/client/test_probe.py
  tests/client/test_probe.py
Due: ruff-format, ruff, pyright

Preserve query components in PRM resource URLs
  src/mcp/client/auth/utils.py
  src/mcp/server/auth/routes.py
  src/mcp/shared/auth_utils.py
  tests/client/test_auth.py
  tests/server/auth/test_protected_resource.py
  tests/shared/test_auth_utils.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: forbid extra arguments in FastMCP tool arg models (#3067)
  src/mcp/server/mcpserver/utilities/func_metadata.py
  tests/client/test_client.py
  tests/docs_src/test_client.py
  tests/docs_src/test_context.py
  tests/docs_src/test_dependencies.py
  tests/docs_src/test_first_steps.py
  tests/docs_src/test_lifespan.py
  tests/docs_src/test_real_host.py
  tests/docs_src/test_tools.py
  tests/server/mcpserver/test_func_metadata.py
Due: ruff-format, ruff, pyright, readme-snippets

refactor: update read_doc function to use ellipsis for no-op implementation in test_unknown_argument_raises_validation_error
  tests/server/mcpserver/test_func_metadata.py
Due: ruff-format, ruff, pyright

Add an interaction-level feature walk for the resolver contract
  tests/server/mcpserver/test_resolve.py
Due: ruff-format, ruff, pyright

Make the feature-walk tests the canonical resolver pins
  tests/server/mcpserver/test_resolve.py
Due: ruff-format, ruff, pyright

Extend resolver DI to sampling and roots requests (#3049)
  docs/client/callbacks.md
  docs/handlers/dependencies.md
  docs/handlers/index.md
  docs/handlers/multi-round-trip.md
  docs/handlers/sampling-and-roots.md
  docs/migration.md
  docs_src/dependencies/tutorial004.py
  docs_src/sampling_and_roots/__init__.py
  docs_src/sampling_and_roots/tutorial001.py
  docs_src/sampling_and_roots/tutorial002.py
  mkdocs.yml
  src/mcp/client/client.py
  src/mcp/server/mcpserver/__init__.py
  src/mcp/server/mcpserver/resolve.py
  src/mcp/server/session.py
  src/mcp/server/validation.py
  src/mcp/shared/peer.py
  tests/docs_src/test_dependencies.py
  tests/docs_src/test_sampling_and_roots.py
  tests/server/mcpserver/test_resolve.py
  tests/server/test_session.py
  tests/shared/test_peer.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(server): guard GET SSE response with CancelScope to prevent Windows deadlock
  src/mcp/server/streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

style: ruff format
  src/mcp/server/streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Handle more Bearer auth-param edge cases
  src/mcp/client/auth/utils.py
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

chore: add pragma no cover for untestable branch in terminate()
  src/mcp/server/streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: use set of CancelScopes to prevent concurrent GET-start race
  src/mcp/server/streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Add configure_logging opt-out to MCPServer (#1656)
  src/mcp/server/mcpserver/server.py
  tests/server/mcpserver/test_configure_logging.py
Due: ruff-format, ruff, pyright, readme-snippets

Address review: assert on _configure_logging call directly, not root logger state
  tests/server/mcpserver/test_configure_logging.py
Due: ruff-format, ruff, pyright

Add the SEP-2663 Tasks extension (core)
  examples/stories/apps/README.md
  examples/stories/manifest.toml
  examples/stories/tasks/README.md
  examples/stories/tasks/__init__.py
  examples/stories/tasks/client.py
  examples/stories/tasks/server.py
  src/mcp/server/tasks.py
  tests/server/test_tasks.py
Due: ruff-format, ruff, pyright, readme-snippets

Rework the Tasks extension: tasks are recorded at completion
  src/mcp/server/tasks.py
  tests/server/test_tasks.py
Due: ruff-format, ruff, pyright, readme-snippets

Update the tasks story and docs for the reworked extension
  examples/stories/README.md
  examples/stories/tasks/README.md
  examples/stories/tasks/client.py
  examples/stories/tasks/server.py
Due: ruff-format, ruff, pyright, readme-snippets

Stamp and validate Mcp-Name on tasks/* requests (SEP-2663 routing headers)
  src/mcp/shared/inbound.py
  tests/server/test_streamable_http_modern.py
  tests/server/test_tasks.py
  tests/shared/test_inbound.py
Due: ruff-format, ruff, pyright, readme-snippets

Move the SEP-2663 wire models to mcp.shared.tasks and complete the task lifecycle
  src/mcp/server/extension.py
  src/mcp/server/mcpserver/server.py
  src/mcp/server/tasks.py
  src/mcp/shared/tasks.py
  tests/server/test_tasks.py
Due: ruff-format, ruff, pyright, readme-snippets

Register the Tasks extension on the conformance fixture server
  .github/actions/conformance/expected-failures.yml
  examples/servers/everything-server/mcp_everything_server/server.py
Due: ruff-format, ruff, pyright, readme-snippets

Drive task-augmented tool calls through the client extension API
  examples/stories/tasks/README.md
  examples/stories/tasks/client.py
  src/mcp/__init__.py
  src/mcp/client/__init__.py
  src/mcp/client/_tasks.py
  tests/client/test_tasks.py
  tests/server/test_tasks.py
Due: ruff-format, ruff, pyright, readme-snippets

Drop routing headers from the tasks deferral note
  src/mcp/server/tasks.py
Due: ruff-format, ruff, pyright, readme-snippets
