Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args:
          [
            "--fix",
            "--config",
            "pyproject.toml",
            "--configPointer",
            "/tool/markdown/lint",
          ]
        types: [markdown]

  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff Format
        entry: uv run --frozen ruff
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: ruff
        name: Ruff
        entry: uv run --frozen ruff
        args: ["check", "--fix", "--exit-non-zero-on-fix"]
        types: [python]
        language: system
        pass_filenames: false
        exclude: ^README(\.v2)?\.md$
      - id: pyright
        name: pyright
        entry: uv run --frozen pyright
        language: system
        types: [python]
        pass_filenames: false
      - id: uv-lock-check
        name: Check uv.lock is up to date
        entry: uv lock --check
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false
      # TODO(Max): Drop this in v2.
      - id: readme-v1-frozen
        name: README.md is frozen (v1 docs)
        entry: README.md is frozen at v1. Edit README.v2.md instead.
        language: fail
        files: ^README\.md$
      - id: readme-snippets
        name: Check snippets are up to date
        entry: uv run --frozen python scripts/sync_snippets.py --check
        language: system
        files: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
        pass_filenames: false

Drop conformance burn-down and migration docs from this PR
  .github/actions/conformance/client.py
  .github/actions/conformance/expected-failures.2026-07-28.yml
  .github/actions/conformance/expected-failures.yml
  docs/migration.md
Due: ruff-format, ruff, pyright, readme-snippets

Preserve empty URL paths on OAuth metadata models
  docs/migration.md
  src/mcp/shared/auth.py
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

Deprecate roots, sampling, and logging methods per SEP-2577
  README.v2.md
  docs/migration.md
  examples/servers/everything-server/mcp_everything_server/server.py
  examples/servers/simple-streamablehttp-stateless/mcp_simple_streamablehttp_stateless/server.py
  examples/servers/simple-streamablehttp/mcp_simple_streamablehttp/server.py
  examples/servers/sse-polling-demo/mcp_sse_polling_demo/server.py
  examples/snippets/servers/notifications.py
  examples/snippets/servers/sampling.py
  examples/snippets/servers/tool_progress.py
  pyproject.toml
  src/mcp/client/client.py
  src/mcp/client/session.py
  src/mcp/server/context.py
  src/mcp/server/mcpserver/context.py
  src/mcp/server/session.py
  src/mcp/shared/peer.py
  tests/client/test_client.py
  tests/client/test_list_roots_callback.py
  tests/client/test_logging_callback.py
  tests/client/test_sampling_callback.py
  tests/client/test_session_concurrency.py
  tests/interaction/lowlevel/test_flows.py
  tests/interaction/lowlevel/test_logging.py
  tests/interaction/lowlevel/test_roots.py
  tests/interaction/lowlevel/test_sampling.py
  tests/interaction/lowlevel/test_wire.py
  tests/interaction/mcpserver/test_context.py
  tests/interaction/mcpserver/test_tools.py
  tests/interaction/transports/_stdio_server.py
  tests/interaction/transports/test_flows.py
  tests/interaction/transports/test_hosting_http.py
  tests/interaction/transports/test_hosting_resume.py
  tests/interaction/transports/test_streamable_http.py
  tests/server/mcpserver/test_server.py
  tests/server/test_cancel_handling.py
  tests/server/test_server_context.py
  tests/server/test_session.py
  tests/server/test_stateless_mode.py
  tests/shared/test_peer.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Drop explanatory comments on url_preserve_empty_path config
  src/mcp/shared/auth.py
Due: ruff-format, ruff, pyright, readme-snippets

Ignore pre-2026 protocol_version pins at the StreamableHTTP transport (#2923)
  src/mcp/client/client.py
  src/mcp/client/streamable_http.py
  tests/client/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Preserve empty URL paths on OAuth metadata models (#2925)
  docs/migration.md
  src/mcp/shared/auth.py
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

ci(conformance): bump harness to 0.2.0-alpha.5 preview (pkg.pr.new@65fcd39)
  .github/actions/conformance/expected-failures.2026-07-28.yml
  .github/actions/conformance/expected-failures.yml
  .github/actions/conformance/run-server.sh
  .github/workflows/conformance.yml
Due: none

Reject external $ref via the tool schema generator
  src/mcp/client/session.py
  src/mcp/server/mcpserver/tools/base.py
  src/mcp/server/mcpserver/utilities/_schema_generator.py
  src/mcp/server/mcpserver/utilities/func_metadata.py
  src/mcp/shared/json_schema_ref.py
  tests/client/test_output_schema_validation.py
  tests/server/mcpserver/test_schema_generator.py
  tests/server/mcpserver/test_tool_manager.py
  tests/shared/test_json_schema_ref.py
Due: ruff-format, ruff, pyright, readme-snippets

Inline the tool schema generator into func_metadata
  src/mcp/server/mcpserver/tools/base.py
  src/mcp/server/mcpserver/utilities/_schema_generator.py
  src/mcp/server/mcpserver/utilities/func_metadata.py
  tests/server/mcpserver/test_func_metadata.py
  tests/server/mcpserver/test_schema_generator.py
  tests/server/mcpserver/test_tool_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

Drop iss slash-stripping workaround now that empty paths are preserved
  src/mcp/client/auth/utils.py
  tests/client/test_auth.py
  tests/interaction/auth/_provider.py
  tests/interaction/auth/test_discovery.py
Due: ruff-format, ruff, pyright, readme-snippets

Emit deprecation warnings as a visible MCPDeprecationWarning
  docs/migration.md
  pyproject.toml
  src/mcp/__init__.py
  src/mcp/client/client.py
  src/mcp/client/session.py
  src/mcp/server/context.py
  src/mcp/server/mcpserver/context.py
  src/mcp/server/session.py
  src/mcp/shared/exceptions.py
  src/mcp/shared/peer.py
  tests/interaction/transports/_stdio_server.py
  tests/shared/test_peer.py
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Make ExternalSchemaRefError a hard error, not a ValueError
  src/mcp/server/mcpserver/utilities/func_metadata.py
Due: ruff-format, ruff, pyright, readme-snippets

Deprecate only `Context.log` for logging, with a capability-level message
  README.v2.md
  docs/migration.md
  examples/servers/everything-server/mcp_everything_server/server.py
  examples/snippets/servers/notifications.py
  examples/snippets/servers/tool_progress.py
  pyproject.toml
  src/mcp/client/client.py
  src/mcp/client/session.py
  src/mcp/server/context.py
  src/mcp/server/mcpserver/context.py
  src/mcp/server/session.py
  tests/interaction/mcpserver/test_context.py
  tests/interaction/mcpserver/test_tools.py
  tests/interaction/transports/test_flows.py
  tests/interaction/transports/test_hosting_resume.py
  tests/interaction/transports/test_streamable_http.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Restructure list_roots deprecation test to cover its branches on 3.14
  tests/shared/test_peer.py
Due: ruff-format, ruff, pyright

Burn down json-schema-ref-no-deref conformance scenario
  .github/actions/conformance/client.py
  .github/actions/conformance/expected-failures.2026-07-28.yml
  .github/actions/conformance/expected-failures.yml
  docs/migration.md
Due: ruff-format, ruff, pyright, readme-snippets

Verify pkg.pr.new tarball sha256 before npx and drop the do-not-merge guard
  .github/workflows/conformance.yml
Due: none

Validate the `iss` authorization-response parameter (RFC 9207 / SEP-2468) (#2921)
  .github/actions/conformance/client.py
  .github/actions/conformance/expected-failures.2026-07-28.yml
  .github/actions/conformance/expected-failures.yml
  README.v2.md
  docs/migration.md
  examples/clients/simple-auth-client/mcp_simple_auth_client/main.py
  examples/snippets/clients/oauth_client.py
  src/mcp/client/auth/__init__.py
  src/mcp/client/auth/extensions/client_credentials.py
  src/mcp/client/auth/oauth2.py
  src/mcp/client/auth/utils.py
  src/mcp/shared/auth.py
  tests/client/auth/extensions/test_client_credentials.py
  tests/client/test_auth.py
  tests/client/test_scope_bug_1630.py
  tests/interaction/_requirements.py
  tests/interaction/auth/_harness.py
  tests/interaction/auth/_provider.py
  tests/interaction/auth/test_authorize_token.py
  tests/interaction/auth/test_discovery.py
Due: ruff-format, ruff, pyright, readme-snippets

ci(conformance): bump harness to 0.2.0-alpha.5 preview (#2927)
  .github/actions/conformance/expected-failures.2026-07-28.yml
  .github/actions/conformance/expected-failures.yml
  .github/actions/conformance/run-server.sh
  .github/workflows/conformance.yml
Due: none

Align SEP-2106 $ref handling to the spec
  docs/migration.md
  src/mcp/server/mcpserver/tools/base.py
  src/mcp/server/mcpserver/utilities/func_metadata.py
  tests/client/test_output_schema_validation.py
  tests/server/mcpserver/test_func_metadata.py
  tests/server/mcpserver/test_tool_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

Reuse the initialize handler for json-schema-ref-no-deref
  .github/actions/conformance/client.py
Due: ruff-format, ruff, pyright

Give json-schema-ref-no-deref its own handler
  .github/actions/conformance/client.py
Due: ruff-format, ruff, pyright

Document redirect_uri wire-format change in OAuth migration note
  docs/migration.md
Due: readme-snippets

Deprecate Connection.log for consistency with the logging capability
  README.v2.md
  docs/migration.md
  examples/servers/everything-server/mcp_everything_server/server.py
  examples/snippets/servers/notifications.py
  examples/snippets/servers/tool_progress.py
  src/mcp/server/connection.py
  src/mcp/server/mcpserver/context.py
  tests/interaction/mcpserver/test_context.py
  tests/interaction/mcpserver/test_tools.py
  tests/interaction/transports/test_flows.py
  tests/interaction/transports/test_hosting_resume.py
  tests/interaction/transports/test_streamable_http.py
  tests/server/mcpserver/test_server.py
  tests/server/test_connection.py
Due: ruff-format, ruff, pyright, readme-snippets

Send application_type during Dynamic Client Registration (SEP-837)
  .github/actions/conformance/expected-failures.2026-07-28.yml
  .github/actions/conformance/expected-failures.yml
  docs/migration.md
  src/mcp/shared/auth.py
  tests/client/test_auth.py
  tests/interaction/auth/test_flow.py
Due: ruff-format, ruff, pyright, readme-snippets

Document `redirect_uri` wire-format change in OAuth migration note (#2929)
  docs/migration.md
Due: readme-snippets

List the lowlevel Context.log in the SEP-2577 deprecation note
  docs/migration.md
Due: readme-snippets

Guard the no-deref test with a socket tripwire
  tests/client/test_output_schema_validation.py
Due: ruff-format, ruff, pyright

Use capability-level deprecation messages for roots and sampling
  src/mcp/client/client.py
  src/mcp/client/session.py
  src/mcp/server/session.py
  src/mcp/shared/peer.py
  tests/shared/test_peer.py
Due: ruff-format, ruff, pyright, readme-snippets

Send `application_type` during Dynamic Client Registration (SEP-837) (#2930)
  .github/actions/conformance/expected-failures.2026-07-28.yml
  .github/actions/conformance/expected-failures.yml
  docs/migration.md
  src/mcp/shared/auth.py
  tests/client/test_auth.py
  tests/interaction/auth/test_flow.py
Due: ruff-format, ruff, pyright, readme-snippets

Drop the Python no-deref unit test
  tests/client/test_output_schema_validation.py
Due: ruff-format, ruff, pyright

Pass json-schema-ref-no-deref conformance scenario (SEP-2106) (#2924)
  .github/actions/conformance/client.py
  .github/actions/conformance/expected-failures.2026-07-28.yml
  .github/actions/conformance/expected-failures.yml
Due: ruff-format, ruff, pyright

Union previously requested scopes on step-up re-authorization (SEP-2350)
  docs/migration.md
  src/mcp/client/auth/oauth2.py
  src/mcp/client/auth/utils.py
  tests/client/test_auth.py
  tests/interaction/_requirements.py
  tests/interaction/auth/test_lifecycle.py
Due: ruff-format, ruff, pyright, readme-snippets

Fold stored token scope into step-up union (SEP-2350)
  src/mcp/client/auth/oauth2.py
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

Union previously requested scopes on step-up re-authorization (SEP-2350) (#2931)
  docs/migration.md
  src/mcp/client/auth/oauth2.py
  src/mcp/client/auth/utils.py
  tests/client/test_auth.py
  tests/interaction/_requirements.py
  tests/interaction/auth/test_lifecycle.py
Due: ruff-format, ruff, pyright, readme-snippets

Move scope step-up test to top-level function
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright

Bind client credentials to their authorization server (SEP-2352)
  .github/actions/conformance/expected-failures.2026-07-28.yml
  .github/actions/conformance/expected-failures.yml
  docs/migration.md
  src/mcp/client/auth/oauth2.py
  src/mcp/client/auth/utils.py
  src/mcp/shared/auth.py
  tests/client/test_auth.py
  tests/interaction/_requirements.py
  tests/interaction/auth/test_lifecycle.py
Due: ruff-format, ruff, pyright, readme-snippets

Harden SEP-2352 issuer binding (Codex review)
  src/mcp/client/auth/oauth2.py
  src/mcp/client/auth/utils.py
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

Move scope step-up test to top-level function (#2932)
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright

Bind client credentials to their authorization server (SEP-2352) (#2933)
  .github/actions/conformance/expected-failures.2026-07-28.yml
  .github/actions/conformance/expected-failures.yml
  docs/migration.md
  src/mcp/client/auth/oauth2.py
  src/mcp/client/auth/utils.py
  src/mcp/shared/auth.py
  tests/client/test_auth.py
  tests/interaction/_requirements.py
  tests/interaction/auth/test_lifecycle.py
Due: ruff-format, ruff, pyright, readme-snippets
