Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

ruff-format:
  name: Ruff Format
  entry: uv run --frozen ruff
  args:
  - format
  language: system
  pass_filenames: false

ruff:
  name: Ruff
  entry: uv run --frozen ruff
  args:
  - check
  - --fix
  - --exit-non-zero-on-fix
  language: system
  pass_filenames: false

pyright:
  name: pyright
  entry: uv run --frozen pyright
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv.lock is up to date
  entry: uv lock --check
  language: system
  pass_filenames: false

readme-v1-frozen:
  name: README.md is frozen (v1 docs)
  entry: README.md is frozen at v1. Edit README.v2.md instead.
  language: fail

readme-snippets:
  name: Check snippets are up to date
  entry: uv run --frozen python scripts/sync_snippets.py --check
  language: system
  pass_filenames: false

feat(client): handle list_changed notifications via callbacks
  src/mcp/client/client.py
  src/mcp/client/session.py
  src/mcp/client/session_group.py
  tests/client/test_list_changed_callbacks.py
  tests/client/test_session_group.py
Due: ruff-format, ruff, pyright, readme-snippets

style: fix ruff format and remove unused import in test file
  tests/client/test_list_changed_callbacks.py
Due: ruff-format, ruff, pyright

fix: make test handler async & cover all exception branches
  tests/client/test_list_changed_callbacks.py
Due: ruff-format, ruff, pyright

fix: add pragma no cover for unused test helper callback
  tests/client/test_list_changed_callbacks.py
Due: ruff-format, ruff, pyright

fix: move cancel_scope.cancel() inside ClientSession for 3.11 coverage
  tests/client/test_list_changed_callbacks.py
Due: ruff-format, ruff, pyright

fix: add pragma no cover to cancel_scope lines for Python 3.11 coverage
  tests/client/test_list_changed_callbacks.py
Due: ruff-format, ruff, pyright

fix: remove unnecessary pragma no cover from cancel_scope lines
  tests/client/test_list_changed_callbacks.py
Due: ruff-format, ruff, pyright

fix: collapse single-error ExceptionGroups from task group cancellations
  src/mcp/client/_memory.py
  src/mcp/client/sse.py
  src/mcp/client/stdio.py
  src/mcp/client/streamable_http.py
  src/mcp/client/websocket.py
  src/mcp/shared/_exception_utils.py
  src/mcp/shared/session.py
  tests/shared/test_exception_utils.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: catch ClosedResourceError when sending error log to disconnected client
  src/mcp/server/lowlevel/server.py
  tests/server/test_lowlevel_exception_handling.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: add BaseExceptionGroup compat import for Python 3.10 + ruff format
  src/mcp/shared/_exception_utils.py
  tests/shared/test_exception_utils.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: add BaseExceptionGroup compat import to session.py + sort test imports
  src/mcp/shared/session.py
  tests/shared/test_exception_utils.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: remove unused anyio import, add pragma:no-branch for 3.10 compat, add multi-failure test
  src/mcp/client/_memory.py
  src/mcp/shared/_exception_utils.py
  src/mcp/shared/session.py
  tests/shared/test_exception_utils.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: use pragma:no-cover for version-conditional imports to satisfy 100% coverage
  src/mcp/shared/_exception_utils.py
  src/mcp/shared/session.py
  tests/shared/test_exception_utils.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: use pragma:lax-no-cover for version-conditional imports (bypasses strict-no-cover)
  src/mcp/shared/_exception_utils.py
  src/mcp/shared/session.py
  tests/shared/test_exception_utils.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: rename _cancelled to _ to satisfy pyright reportUnusedVariable
  src/mcp/shared/_exception_utils.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(auth): validate both client_id and client_secret for client_secret_post
  src/mcp/client/auth/oauth2.py
  tests/client/auth/extensions/test_client_credentials.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: shorten docstring to comply with E501 line length limit
  tests/client/auth/extensions/test_client_credentials.py
Due: ruff-format, ruff, pyright

fix: allow extra fields on RequestParams to match TypeScript SDK
  src/mcp/types/_types.py
  tests/test_types.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: include transport path in Protected Resource Metadata resource URL
  src/mcp/server/lowlevel/server.py
  src/mcp/server/mcpserver/server.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: remove shell=True from subprocess calls in mcp dev (command injection risk)
  src/mcp/cli/cli.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: reject unsupported HTTP methods early in session manager
  src/mcp/server/streamable_http_manager.py
  tests/issues/test_1269_head_request_crash.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: add CLI command flags reference to README
  README.v2.md
Due: readme-snippets

docs: add sampling example and documentation
  docs/sampling.md
  examples/clients/simple-sampling-client/README.md
  examples/clients/simple-sampling-client/mcp_simple_sampling_client/__init__.py
  examples/clients/simple-sampling-client/mcp_simple_sampling_client/__main__.py
  examples/clients/simple-sampling-client/mcp_simple_sampling_client/main.py
  examples/clients/simple-sampling-client/pyproject.toml
  examples/servers/simple-sampling/README.md
  examples/servers/simple-sampling/mcp_simple_sampling/__init__.py
  examples/servers/simple-sampling/mcp_simple_sampling/__main__.py
  examples/servers/simple-sampling/mcp_simple_sampling/server.py
  examples/servers/simple-sampling/pyproject.toml
  mkdocs.yml
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

fix: make Context logging methods spec-compliant by accepting Any data type
  src/mcp/server/mcpserver/server.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: preserve notification metadata when related_request_id is 0
  src/mcp/shared/session.py
  tests/shared/test_session.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: use model_validate to avoid pyright reportArgumentType error
  tests/test_types.py
Due: ruff-format, ruff, pyright

test: fix coverage by removing unreachable lifespan and loop body
  tests/issues/test_1269_head_request_crash.py
Due: ruff-format, ruff, pyright

fix: only retry 403 responses for insufficient_scope error
  src/mcp/client/auth/oauth2.py
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: resource with only Context param no longer classified as template
  src/mcp/server/mcpserver/resources/types.py
  src/mcp/server/mcpserver/server.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: prevent tool exceptions from leaking internal details to client
  src/mcp/server/mcpserver/server.py
  src/mcp/server/mcpserver/tools/base.py
  tests/client/test_list_roots_callback.py
  tests/client/test_sampling_callback.py
  tests/server/mcpserver/test_server.py
  tests/server/mcpserver/test_tool_manager.py
  tests/server/mcpserver/test_url_elicitation_error_throw.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: add coverage for ToolError passthrough and defensive handler
  src/mcp/server/mcpserver/server.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: handle HTTP 4xx/5xx gracefully in StreamableHTTP transport
  src/mcp/client/streamable_http.py
  tests/client/test_notification_response.py
  tests/client/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: clean up SSE session on client disconnect
  src/mcp/server/sse.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: add pragma no cover for GET SSE error branches
  src/mcp/client/streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Add regression test for SSE session cleanup on disconnect
  tests/shared/test_sse.py
Due: ruff-format, ruff, pyright

Fix coverage: simplify test by removing unnecessary retry loop
  tests/shared/test_sse.py
Due: ruff-format, ruff, pyright

Backport: Add missing TasksCallCapability to v1.x (#2137)
  src/mcp/server/lowlevel/experimental.py
  tests/experimental/tasks/server/test_run_task_flow.py
Due: ruff-format, ruff, pyright, readme-snippets

refactor: remove request_ctx ContextVar, thread Context explicitly
  docs/migration.md
  src/mcp/server/lowlevel/server.py
  src/mcp/server/mcpserver/__init__.py
  src/mcp/server/mcpserver/context.py
  src/mcp/server/mcpserver/prompts/base.py
  src/mcp/server/mcpserver/prompts/manager.py
  src/mcp/server/mcpserver/resources/resource_manager.py
  src/mcp/server/mcpserver/resources/templates.py
  src/mcp/server/mcpserver/server.py
  src/mcp/server/mcpserver/tools/base.py
  src/mcp/server/mcpserver/tools/tool_manager.py
  src/mcp/server/mcpserver/utilities/context_injection.py
  tests/client/test_list_roots_callback.py
  tests/client/test_logging_callback.py
  tests/client/test_sampling_callback.py
  tests/server/mcpserver/prompts/test_base.py
  tests/server/mcpserver/resources/test_resource_template.py
  tests/server/mcpserver/test_tool_manager.py
  tests/server/mcpserver/tools/__init__.py
  tests/server/mcpserver/tools/test_base.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: suppress GeneratorExit during client cleanup
  pyproject.toml
  src/mcp/client/sse.py
  src/mcp/client/streamable_http.py
  tests/client/conftest.py
  tests/client/test_resource_cleanup.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Path conditions:
  ruff-format: any of: \.py$
  ruff: any of: \.py$, but not: ^README(\.v2)?\.md$
  pyright: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  readme-v1-frozen: any of: ^README\.md$
  readme-snippets: any of: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
