Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

ruff-format:
  name: Ruff Format
  entry: uv run --frozen ruff
  args:
  - format
  language: system
  pass_filenames: false

ruff:
  name: Ruff
  entry: uv run --frozen ruff
  args:
  - check
  - --fix
  - --exit-non-zero-on-fix
  language: system
  pass_filenames: false

pyright:
  name: pyright
  entry: uv run --frozen pyright
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv.lock is up to date
  entry: uv lock --check
  language: system
  pass_filenames: false

readme-v1-frozen:
  name: README.md is frozen (v1 docs)
  entry: README.md is frozen at v1. Edit README.v2.md instead.
  language: fail

readme-snippets:
  name: Check snippets are up to date
  entry: uv run --frozen python scripts/sync_snippets.py --check
  language: system
  pass_filenames: false

Document the Tasks extension
  docs/advanced/extensions.md
  docs/advanced/tasks.md
  docs_src/tasks/__init__.py
  docs_src/tasks/tutorial001.py
  docs_src/tasks/tutorial002.py
  docs_src/tasks/tutorial003.py
  mkdocs.yml
  tests/docs_src/test_tasks.py
Due: ruff-format, ruff, pyright, readme-snippets

Address follow-up review: thread poll timeouts, honor the confirm answer
  examples/servers/everything-server/mcp_everything_server/server.py
  examples/stories/tasks/README.md
  src/mcp/server/tasks.py
  tests/server/test_tasks.py
Due: ruff-format, ruff, pyright, readme-snippets

Polish the tasks surface from final review
  docs/advanced/tasks.md
  docs/migration.md
  examples/stories/tasks/README.md
  examples/stories/tasks/client.py
  src/mcp/client/_tasks.py
  src/mcp/client/client.py
  tests/client/test_tasks.py
Due: ruff-format, ruff, pyright, readme-snippets

Add typed client task functions in mcp.client.tasks
  docs/advanced/tasks.md
  docs_src/tasks/tutorial003.py
  examples/stories/tasks/README.md
  examples/stories/tasks/client.py
  src/mcp/__init__.py
  src/mcp/client/__init__.py
  src/mcp/client/_tasks.py
  src/mcp/client/client.py
  src/mcp/client/tasks.py
  tests/client/test_tasks.py
  tests/docs_src/test_tasks.py
  tests/server/test_tasks.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: re-anchor tasks migration notes after the migration guide restructure
  docs/advanced/extensions.md
  docs/migration.md
  docs/whats-new.md
Due: readme-snippets

test: abandoned augmented tool call leaves no task record
  tests/server/test_tasks.py
Due: ruff-format, ruff, pyright

test: tighten the abandonment test and note the narrow except is deliberate
  src/mcp/server/tasks.py
  tests/server/test_tasks.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: pin mkdocs<2 and silence the mkdocs-material advisory banner in CI
  .github/workflows/deploy-docs.yml
  .github/workflows/docs-preview.yml
  .github/workflows/shared.yml
  pyproject.toml
  uv.lock
Due: uv-lock-check

Add Zensical docs build spike: pre-build API page generator
  .claude/skills/verify/SKILL.md
  .gitignore
  pyproject.toml
  scripts/gen_api_pages.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check

Drop the AGENTS.md note; the conftest fixture docstring covers the convention
  AGENTS.md
Due: none

Share one event loop per test module to stop Windows socketpair churn (#3070)
  tests/client/test_input_required.py
  tests/client/test_stdio.py
  tests/conftest.py
  tests/interaction/lowlevel/test_timeouts.py
  tests/server/test_streamable_http_modern.py
  tests/shared/test_jsonrpc_dispatcher.py
  tests/transports/stdio/test_windows.py
Due: ruff-format, ruff, pyright

Repoint subscription doc links at the renamed headings
  docs/client/index.md
  docs/migration.md
  docs/run/deploy.md
Due: readme-snippets

Rewrite the subscriptions docs around a worked example
  docs/handlers/subscriptions.md
  docs/migration.md
  docs_src/subscriptions/tutorial001.py
  docs_src/subscriptions/tutorial002.py
  docs_src/subscriptions/tutorial003.py
  docs_src/subscriptions/tutorial004.py
  docs_src/subscriptions/tutorial004_anyio.py
  docs_src/subscriptions/tutorial004_asyncio.py
  docs_src/subscriptions/tutorial004_trio.py
  docs_src/subscriptions/tutorial005.py
  tests/docs_src/test_subscriptions.py
Due: ruff-format, ruff, pyright, readme-snippets

Connect the subscription examples over HTTP
  docs/handlers/subscriptions.md
  docs_src/subscriptions/tutorial003.py
  docs_src/subscriptions/tutorial004_anyio.py
  docs_src/subscriptions/tutorial004_asyncio.py
  docs_src/subscriptions/tutorial004_trio.py
  tests/docs_src/test_subscriptions.py
Due: ruff-format, ruff, pyright, readme-snippets

Deep-link the migration guide and spell out the watcher test choreography
  docs/migration.md
  tests/docs_src/test_subscriptions.py
Due: ruff-format, ruff, pyright, readme-snippets

Harden the listen driver against receive-order races and hostile peers
  docs/handlers/subscriptions.md
  src/mcp/client/client.py
  src/mcp/client/session.py
  src/mcp/client/streamable_http.py
  src/mcp/client/subscriptions.py
  src/mcp/server/subscriptions.py
  src/mcp/shared/direct_dispatcher.py
  src/mcp/shared/dispatcher.py
  src/mcp/shared/jsonrpc_dispatcher.py
  src/mcp/shared/subscriptions.py
  tests/client/test_send_request_mcp_name.py
  tests/client/test_session.py
  tests/client/test_session_claims.py
  tests/client/test_streamable_http.py
  tests/client/test_subscriptions.py
  tests/shared/test_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

Point moved docs pages at the client driver section
  docs/client/index.md
  docs/migration.md
  docs/whats-new.md
Due: readme-snippets

Prove concurrent listen streams demux their own acks
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_subscriptions.py
Due: ruff-format, ruff, pyright

Add the client-side subscriptions/listen driver
  docs/handlers/subscriptions.md
  docs/migration.md
  docs_src/subscriptions/tutorial003.py
  examples/stories/subscriptions/client.py
  src/mcp/client/client.py
  src/mcp/client/session.py
  src/mcp/client/streamable_http.py
  src/mcp/client/subscriptions.py
  src/mcp/server/mcpserver/context.py
  src/mcp/server/subscriptions.py
  src/mcp/shared/dispatcher.py
  src/mcp/shared/jsonrpc_dispatcher.py
  src/mcp/shared/subscriptions.py
  tests/client/test_client.py
  tests/client/test_session.py
  tests/client/test_streamable_http.py
  tests/client/test_subscriptions.py
  tests/docs_src/test_client.py
  tests/docs_src/test_subscriptions.py
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_resources.py
  tests/interaction/lowlevel/test_subscriptions.py
  tests/interaction/mcpserver/test_subscriptions.py
Due: ruff-format, ruff, pyright, readme-snippets

Move the docs watch-loop example into docs_src and prove it
  docs/handlers/subscriptions.md
  docs_src/subscriptions/tutorial004.py
  tests/docs_src/test_subscriptions.py
Due: ruff-format, ruff, pyright, readme-snippets

Prove the caller-supplied listen id end to end and undefer its requirement
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_subscriptions.py
Due: ruff-format, ruff, pyright

Trim comments and docstrings in the listen driver changes
  src/mcp/client/client.py
  src/mcp/client/session.py
  src/mcp/client/streamable_http.py
  src/mcp/client/subscriptions.py
  src/mcp/server/subscriptions.py
  src/mcp/shared/dispatcher.py
  src/mcp/shared/jsonrpc_dispatcher.py
  src/mcp/shared/subscriptions.py
  tests/client/test_session.py
  tests/client/test_streamable_http.py
  tests/client/test_subscriptions.py
  tests/docs_src/test_subscriptions.py
  tests/interaction/lowlevel/test_subscriptions.py
  tests/interaction/mcpserver/test_subscriptions.py
  tests/shared/test_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

Keep the docs watch-loop snippet ASCII
  docs/handlers/subscriptions.md
Due: readme-snippets

Correct the stop-watching wire claim and the copied-filename import note
  docs/handlers/subscriptions.md
Due: readme-snippets

Fix two waiter-resolution gaps in the streamable HTTP client
  docs/handlers/subscriptions.md
  examples/stories/subscriptions/README.md
  src/mcp/client/streamable_http.py
  tests/client/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

State precisely what a subscription filter can and cannot leak
  docs/handlers/subscriptions.md
Due: readme-snippets

docs: pin mkdocs<2 and silence the mkdocs-material advisory banner in CI (#3072)
  .github/workflows/deploy-docs.yml
  .github/workflows/docs-preview.yml
  .github/workflows/shared.yml
  pyproject.toml
  uv.lock
Due: uv-lock-check

Shadow the per-module runner lease in the docs subscriptions tests
  tests/docs_src/test_subscriptions.py
Due: ruff-format, ruff, pyright

[v1.x] docs: pin mkdocs<2
  pyproject.toml
  uv.lock
Due: uv-lock-check

Sever a superseded POST instead of guarding one resolution path
  src/mcp/client/streamable_http.py
  tests/client/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

[v1.x] docs: pin mkdocs<2 (#3074)
  pyproject.toml
  uv.lock
Due: uv-lock-check

Split the client side of subscriptions onto its own page
  docs/client/caching.md
  docs/client/index.md
  docs/client/subscriptions.md
  docs/handlers/subscriptions.md
  docs/migration.md
  docs/whats-new.md
  examples/stories/subscriptions/README.md
  mkdocs.yml
  tests/docs_src/test_subscriptions.py
Due: ruff-format, ruff, pyright, readme-snippets

Add the client-side subscriptions/listen driver (#3047)
  docs/client/caching.md
  docs/client/index.md
  docs/client/subscriptions.md
  docs/handlers/subscriptions.md
  docs/migration.md
  docs/run/deploy.md
  docs/whats-new.md
  docs_src/subscriptions/tutorial001.py
  docs_src/subscriptions/tutorial002.py
  docs_src/subscriptions/tutorial003.py
  docs_src/subscriptions/tutorial004_anyio.py
  docs_src/subscriptions/tutorial004_asyncio.py
  docs_src/subscriptions/tutorial004_trio.py
  docs_src/subscriptions/tutorial005.py
  examples/stories/subscriptions/README.md
  examples/stories/subscriptions/client.py
  mkdocs.yml
  src/mcp/client/client.py
  src/mcp/client/session.py
  src/mcp/client/streamable_http.py
  src/mcp/client/subscriptions.py
  src/mcp/server/mcpserver/context.py
  src/mcp/server/subscriptions.py
  src/mcp/shared/direct_dispatcher.py
  src/mcp/shared/dispatcher.py
  src/mcp/shared/jsonrpc_dispatcher.py
  src/mcp/shared/subscriptions.py
  tests/client/test_client.py
  tests/client/test_send_request_mcp_name.py
  tests/client/test_session.py
  tests/client/test_session_claims.py
  tests/client/test_streamable_http.py
  tests/client/test_subscriptions.py
  tests/docs_src/test_client.py
  tests/docs_src/test_subscriptions.py
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_resources.py
  tests/interaction/lowlevel/test_subscriptions.py
  tests/interaction/mcpserver/test_subscriptions.py
  tests/shared/test_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

test(streamable-http): ensure resumption failure does not hang
  tests/interaction/transports/test_hosting_resume.py
Due: ruff-format, ruff, pyright

test(streamable-http): suppress deprecated logging warning
  tests/interaction/transports/test_hosting_resume.py
Due: ruff-format, ruff, pyright

test(streamable-http): cover disconnect without resumption anchor
  tests/client/test_streamable_http.py
Due: ruff-format, ruff, pyright

fix: make streamable-http tests pass CI
  src/mcp/client/streamable_http.py
  tests/client/test_streamable_http.py
  tests/interaction/transports/test_hosting_resume.py
Due: ruff-format, ruff, pyright, readme-snippets

test(streamable-http): cover closed read stream cleanup
  tests/client/test_streamable_http.py
Due: ruff-format, ruff, pyright

test(streamable-http): exempt dropped async generator yield
  tests/client/test_streamable_http.py
Due: ruff-format, ruff, pyright

test(streamable-http): cover closed SSE reader
  tests/client/test_streamable_http.py
Due: ruff-format, ruff, pyright

Path conditions:
  ruff-format: any of: \.py$
  ruff: any of: \.py$, but not: ^README(\.v2)?\.md$
  pyright: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  readme-v1-frozen: any of: ^README\.md$
  readme-snippets: any of: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
