Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args:
          [
            "--fix",
            "--config",
            "pyproject.toml",
            "--configPointer",
            "/tool/markdown/lint",
          ]
        types: [markdown]

  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff Format
        entry: uv run --frozen ruff
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: ruff
        name: Ruff
        entry: uv run --frozen ruff
        args: ["check", "--fix", "--exit-non-zero-on-fix"]
        types: [python]
        language: system
        pass_filenames: false
        exclude: ^README(\.v2)?\.md$
      - id: pyright
        name: pyright
        entry: uv run --frozen pyright
        language: system
        types: [python]
        pass_filenames: false
      - id: uv-lock-check
        name: Check uv.lock is up to date
        entry: uv lock --check
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false
      # TODO(Max): Drop this in v2.
      - id: readme-v1-frozen
        name: README.md is frozen (v1 docs)
        entry: README.md is frozen at v1. Edit README.v2.md instead.
        language: fail
        files: ^README\.md$
      - id: readme-snippets
        name: Check snippets are up to date
        entry: uv run --frozen python scripts/sync_snippets.py --check
        language: system
        files: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
        pass_filenames: false

test: deterministically cover message_router closed-stream handler
  src/mcp/server/streamable_http.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

chore: adopt run_uvicorn_in_thread from MAX-157, drop wait_for_server
  tests/test_helpers.py
Due: ruff-format, ruff, pyright

fix(tests): update test_integration.py for initialize_result
  tests/server/mcpserver/test_integration.py
Due: ruff-format, ruff, pyright

fix: handle transport close with pending server-to-client requests
  src/mcp/server/lowlevel/server.py
  src/mcp/shared/session.py
  tests/server/test_cancel_handling.py
Due: ruff-format, ruff, pyright, readme-snippets

feat(client): store InitializeResult as initialize_result (#2300)
  docs/migration.md
  src/mcp/client/client.py
  src/mcp/client/session.py
  tests/client/test_client.py
  tests/client/test_session.py
  tests/client/transports/test_memory.py
  tests/server/mcpserver/test_integration.py
Due: ruff-format, ruff, pyright, readme-snippets

refactor: unify respond() call after if/else to avoid 3.14 phantom trace
  src/mcp/server/lowlevel/server.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: generate hierarchical per-module API reference pages (#2103)
  docs/api.md
  docs/hooks/gen_ref_pages.py
  docs/index.md
  docs/migration.md
  mkdocs.yml
  pyproject.toml
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

fix: also catch BrokenResourceError from respond() for SHTTP terminate()
  src/mcp/server/lowlevel/server.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: add DNS rebinding protection guide
  docs/guides/dns-rebinding-protection.md
Due: readme-snippets

Mark SSE transport as deprecated in favor of Streamable HTTP
  src/mcp/client/sse.py
  src/mcp/server/mcpserver/server.py
  src/mcp/server/sse.py
Due: ruff-format, ruff, pyright, readme-snippets

test: rewrite cli.claude config tests to assert JSON output directly
  src/mcp/cli/claude.py
  tests/cli/test_claude.py
  tests/client/test_config.py
Due: ruff-format, ruff, pyright, readme-snippets

test: simplify Windows drive-letter test to fix coverage
  tests/cli/test_claude.py
Due: ruff-format, ruff, pyright

test: rewrite cli.claude config tests to assert JSON output directly (#2311)
  src/mcp/cli/claude.py
  tests/cli/test_claude.py
  tests/client/test_config.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: add multi-tenancy guide, example server, and OAuth e2e tests
  docs/migration.md
  docs/multi-tenancy.md
  examples/servers/simple-multi-tenant/README.md
  examples/servers/simple-multi-tenant/mcp_simple_multi_tenant/__init__.py
  examples/servers/simple-multi-tenant/mcp_simple_multi_tenant/__main__.py
  examples/servers/simple-multi-tenant/mcp_simple_multi_tenant/server.py
  examples/servers/simple-multi-tenant/pyproject.toml
  src/mcp/server/auth/middleware/bearer_auth.py
  src/mcp/server/lowlevel/server.py
  tests/server/mcpserver/test_multi_tenancy_e2e.py
  tests/server/mcpserver/test_multi_tenancy_oauth_e2e.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

feat: Add protocol_version parameter to ClientSession
  src/mcp/client/session.py
Due: ruff-format, ruff, pyright, readme-snippets

deprecate: Mark SSE transport as deprecated
  src/mcp/client/sse.py
  src/mcp/server/mcpserver/server.py
  src/mcp/server/sse.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: Add troubleshooting guide for 421 Invalid Host Header error
  docs/troubleshooting.md
Due: readme-snippets

fix: Align ElicitResult action naming with specification
  src/mcp/types/_types.py
Due: ruff-format, ruff, pyright, readme-snippets

chore: fix markdown linting
  docs/troubleshooting.md
Due: readme-snippets

chore: fix ruff formatting
  src/mcp/server/mcpserver/server.py
Due: ruff-format, ruff, pyright, readme-snippets

chore: fix ruff formatting
  src/mcp/client/session.py
Due: ruff-format, ruff, pyright, readme-snippets

chore: fix ruff formatting
  test_validate_scope_fix.py
Due: ruff-format, ruff, pyright

fix: widen errlog type hint to accept subprocess.DEVNULL
  src/mcp/client/stdio.py
  src/mcp/os/win32/utilities.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: handle unbound response_or_error in send_request timeout
  src/mcp/shared/session.py
Due: ruff-format, ruff, pyright, readme-snippets

style: fix pre-commit formatting (trailing whitespace)
  src/mcp/client/session.py
Due: ruff-format, ruff, pyright, readme-snippets

style: fix pre-commit formatting (Ruff format)
  src/mcp/server/mcpserver/server.py
Due: ruff-format, ruff, pyright, readme-snippets

style: fix pre-commit formatting (Ruff lint)
  test_validate_scope_fix.py
Due: ruff-format, ruff, pyright

Extract JSON-RPC wrapping into a Dispatcher component
  src/mcp/client/session.py
  src/mcp/server/session.py
  src/mcp/shared/dispatcher.py
  src/mcp/shared/session.py
  tests/client/test_resource_cleanup.py
  tests/server/test_lowlevel_exception_handling.py
  tests/shared/test_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

test: remove new pragmas — exercise send_response via sampling, assert for send_message narrow
  src/mcp/server/session.py
  tests/shared/test_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

test: drop type-ignores — use InMemoryTransport + assert-isinstance narrowing
  tests/shared/test_dispatcher.py
Due: ruff-format, ruff, pyright

fix: cancel in-flight handlers when transport closes in server.run() (#2306)
  src/mcp/server/lowlevel/server.py
  src/mcp/shared/session.py
  tests/server/test_cancel_handling.py
Due: ruff-format, ruff, pyright, readme-snippets

feat(mrtr): add IncompleteResult types and client retry loop (SEP-2322)
  src/mcp/client/client.py
  src/mcp/client/session.py
  src/mcp/server/lowlevel/server.py
  src/mcp/shared/session.py
  src/mcp/types/__init__.py
  src/mcp/types/_types.py
  tests/client/test_client.py
Due: ruff-format, ruff, pyright, readme-snippets

examples(mrtr): handler-shape comparison deck (SEP-2322)
  examples/servers/mrtr-options/README.md
  examples/servers/mrtr-options/mrtr_options/__init__.py
  examples/servers/mrtr-options/mrtr_options/_shared.py
  examples/servers/mrtr-options/mrtr_options/option_a_sse_shim.py
  examples/servers/mrtr-options/mrtr_options/option_b_await_shim.py
  examples/servers/mrtr-options/mrtr_options/option_c_version_branch.py
  examples/servers/mrtr-options/mrtr_options/option_d_dual_handler.py
  examples/servers/mrtr-options/mrtr_options/option_e_degrade.py
  examples/servers/mrtr-options/mrtr_options/option_f_ctx_once.py
  examples/servers/mrtr-options/mrtr_options/option_g_tool_builder.py
  examples/servers/mrtr-options/pyproject.toml
  src/mcp/server/experimental/mrtr.py
  tests/experimental/test_mrtr.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

examples(mrtr): add basic and multi-round lowlevel reference examples
  examples/servers/mrtr-options/README.md
  examples/servers/mrtr-options/mrtr_options/basic.py
  examples/servers/mrtr-options/mrtr_options/basic_multiround.py
Due: ruff-format, ruff, pyright, readme-snippets

refactor(mrtr): split experimental module into package
  src/mcp/server/experimental/mrtr.py
  src/mcp/server/experimental/mrtr/__init__.py
  src/mcp/server/experimental/mrtr/_state.py
  src/mcp/server/experimental/mrtr/builder.py
  src/mcp/server/experimental/mrtr/compat.py
  src/mcp/server/experimental/mrtr/context.py
Due: ruff-format, ruff, pyright, readme-snippets

feat(mrtr): linear continuation-based handler — Option H
  examples/servers/mrtr-options/README.md
  examples/servers/mrtr-options/mrtr_options/option_h_linear.py
  src/mcp/server/experimental/mrtr/__init__.py
  src/mcp/server/experimental/mrtr/linear.py
  tests/experimental/test_mrtr.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: preserve real stdin/stdout after stdio server exits
  src/mcp/server/stdio.py
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: preserve client_metadata.scope if already set
  src/mcp/client/auth/oauth2.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: return INVALID_PARAMS (-32602) error code for resource-not-found
  src/mcp/server/mcpserver/server.py
  tests/issues/test_141_resource_templates.py
  tests/issues/test_1579_resource_error_code.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: remove unused resource to satisfy 100% coverage requirement
  tests/issues/test_1579_resource_error_code.py
Due: ruff-format, ruff, pyright
