Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

ruff-format:
  name: Ruff Format
  entry: uv run --frozen ruff
  args:
  - format
  language: system
  pass_filenames: false

ruff:
  name: Ruff
  entry: uv run --frozen ruff
  args:
  - check
  - --fix
  - --exit-non-zero-on-fix
  language: system
  pass_filenames: false

pyright:
  name: pyright
  entry: uv run --frozen pyright
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv.lock is up to date
  entry: uv lock --check
  language: system
  pass_filenames: false

readme-v1-frozen:
  name: README.md is frozen (v1 docs)
  entry: README.md is frozen at v1. Edit README.v2.md instead.
  language: fail

readme-snippets:
  name: Check snippets are up to date
  entry: uv run --frozen python scripts/sync_snippets.py --check
  language: system
  pass_filenames: false

Document pydantic.ValidationError in client Raises sections (#3036)
  src/mcp/client/client.py
  src/mcp/client/session.py
Due: ruff-format, ruff, pyright, readme-snippets

Serve the 2026-07-28 era over stdio and other stream-pair transports
  src/mcp/server/connection.py
  src/mcp/server/lowlevel/server.py
  src/mcp/server/runner.py
  tests/client/test_client.py
  tests/server/test_runner.py
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

Point pre-release install pins at 2.0.0b1
  README.md
  docs/index.md
  docs/installation.md
Due: readme-v1-frozen, readme-snippets

Serve the 2026-07-28 era over stdio and other stream-pair transports (#3038)
  src/mcp/server/connection.py
  src/mcp/server/lowlevel/server.py
  src/mcp/server/runner.py
  tests/client/test_client.py
  tests/server/test_runner.py
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

Point pre-release install pins at 2.0.0b1 (#3039)
  README.md
  docs/index.md
  docs/installation.md
Due: readme-v1-frozen, readme-snippets

Add the SEP-2663 Tasks extension (core)
  docs/migration.md
  examples/stories/apps/README.md
  examples/stories/manifest.toml
  examples/stories/tasks/README.md
  examples/stories/tasks/__init__.py
  examples/stories/tasks/client.py
  examples/stories/tasks/server.py
  src/mcp/server/tasks.py
  tests/server/test_tasks.py
Due: ruff-format, ruff, pyright, readme-snippets

Rework the Tasks extension: tasks are recorded at completion
  src/mcp/server/tasks.py
  tests/server/test_tasks.py
Due: ruff-format, ruff, pyright, readme-snippets

Update the tasks story and docs for the reworked extension
  docs/migration.md
  examples/stories/README.md
  examples/stories/tasks/README.md
  examples/stories/tasks/client.py
  examples/stories/tasks/server.py
Due: ruff-format, ruff, pyright, readme-snippets

Move the SEP-2663 wire models to mcp.shared.tasks and complete the task lifecycle
  docs/migration.md
  src/mcp/server/extension.py
  src/mcp/server/mcpserver/server.py
  src/mcp/server/tasks.py
  src/mcp/shared/tasks.py
  tests/server/test_tasks.py
Due: ruff-format, ruff, pyright, readme-snippets

Stamp and validate Mcp-Name on tasks/* requests (SEP-2663 routing headers)
  src/mcp/shared/inbound.py
  tests/server/test_streamable_http_modern.py
  tests/server/test_tasks.py
  tests/shared/test_inbound.py
Due: ruff-format, ruff, pyright, readme-snippets

Drive task-augmented tool calls through the client extension API
  docs/migration.md
  examples/stories/tasks/README.md
  examples/stories/tasks/client.py
  src/mcp/__init__.py
  src/mcp/client/__init__.py
  src/mcp/client/_tasks.py
  tests/client/test_tasks.py
  tests/server/test_tasks.py
Due: ruff-format, ruff, pyright, readme-snippets

Harden the dual-era stream loop's era-lock and rejection semantics
  docs/advanced/subscriptions.md
  docs/client/protocol-versions.md
  docs/migration.md
  src/mcp/server/connection.py
  src/mcp/server/runner.py
  src/mcp/shared/inbound.py
  tests/server/test_runner.py
  tests/server/test_stdio.py
  tests/shared/test_inbound.py
Due: ruff-format, ruff, pyright, readme-snippets

Register the Tasks extension on the conformance fixture server
  .github/actions/conformance/expected-failures.yml
  examples/servers/everything-server/mcp_everything_server/server.py
Due: ruff-format, ruff, pyright, readme-snippets

Drop routing headers from the tasks deferral note
  src/mcp/server/tasks.py
Due: ruff-format, ruff, pyright, readme-snippets

Document the Tasks extension
  docs/advanced/extensions.md
  docs/advanced/tasks.md
  docs/migration.md
  docs_src/tasks/__init__.py
  docs_src/tasks/tutorial001.py
  docs_src/tasks/tutorial002.py
  docs_src/tasks/tutorial003.py
  mkdocs.yml
  tests/docs_src/test_tasks.py
Due: ruff-format, ruff, pyright, readme-snippets

Polish the tasks surface from final review
  docs/advanced/tasks.md
  docs/migration.md
  examples/stories/tasks/README.md
  examples/stories/tasks/client.py
  src/mcp/client/_tasks.py
  src/mcp/client/client.py
  tests/client/test_tasks.py
Due: ruff-format, ruff, pyright, readme-snippets

Address follow-up review: thread poll timeouts, honor the confirm answer
  examples/servers/everything-server/mcp_everything_server/server.py
  examples/stories/tasks/README.md
  src/mcp/server/tasks.py
  tests/server/test_tasks.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: scope EOF drain to stdio dispatcher mode
  src/mcp/server/runner.py
  src/mcp/server/stdio.py
  src/mcp/shared/_context_streams.py
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/shared/test_jsonrpc_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

test: cover stdio EOF drain paths
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/shared/test_jsonrpc_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

Flag removed modules, update dependency files, add a batch-test harness
  docs/migration.md
  scripts/codemod-batch-test/.gitignore
  scripts/codemod-batch-test/README.md
  scripts/codemod-batch-test/repos.json
  scripts/codemod-batch-test/run.py
  src/mcp-codemod/README.md
  src/mcp-codemod/mcp_codemod/_dependencies.py
  src/mcp-codemod/mcp_codemod/_mappings.py
  src/mcp-codemod/mcp_codemod/_transformer.py
  src/mcp-codemod/mcp_codemod/cli.py
  src/mcp-codemod/pyproject.toml
  tests/codemod/test_cli.py
  tests/codemod/test_dependencies.py
  tests/codemod/test_mappings.py
  tests/codemod/test_transformer.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Add mcp-codemod, an automated v1 to v2 migration tool
  .github/workflows/publish-pypi.yml
  README.md
  docs/migration.md
  pyproject.toml
  src/mcp-codemod/README.md
  src/mcp-codemod/mcp_codemod/__init__.py
  src/mcp-codemod/mcp_codemod/_mappings.py
  src/mcp-codemod/mcp_codemod/_runner.py
  src/mcp-codemod/mcp_codemod/_transformer.py
  src/mcp-codemod/mcp_codemod/cli.py
  src/mcp-codemod/mcp_codemod/py.typed
  src/mcp-codemod/pyproject.toml
  tests/codemod/__init__.py
  tests/codemod/test_cli.py
  tests/codemod/test_mappings.py
  tests/codemod/test_runner.py
  tests/codemod/test_transformer.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

Re-scope the codemod to run-on-v2 minimalism
  scripts/codemod-batch-test/.gitignore
  scripts/codemod-batch-test/run.py
  src/mcp-codemod/README.md
  src/mcp-codemod/mcp_codemod/_mappings.py
  src/mcp-codemod/mcp_codemod/_transformer.py
  tests/codemod/test_mappings.py
  tests/codemod/test_transformer.py
Due: ruff-format, ruff, pyright

Settle the era lock exactly once and unify the modern-entry boundaries
  src/mcp/server/_streamable_http_modern.py
  src/mcp/server/connection.py
  src/mcp/server/runner.py
  src/mcp/shared/inbound.py
  tests/server/test_runner.py
  tests/shared/test_inbound.py
Due: ruff-format, ruff, pyright, readme-snippets

Fix substring matches in WWW-Authenticate parsing
  src/mcp/client/auth/utils.py
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

Preserve dict output Field metadata
  src/mcp/server/mcpserver/utilities/func_metadata.py
  tests/server/mcpserver/test_func_metadata.py
Due: ruff-format, ruff, pyright, readme-snippets

Avoid matching auth params inside quoted values
  src/mcp/client/auth/utils.py
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

Rewrite lowlevel decorator registrations through generated adapters
  docs/migration.md
  scripts/codemod-batch-test/repos.json
  scripts/codemod-batch-test/run.py
  src/mcp-codemod/README.md
  src/mcp-codemod/mcp_codemod/__init__.py
  src/mcp-codemod/mcp_codemod/_adapters.py
  src/mcp-codemod/mcp_codemod/_dependencies.py
  src/mcp-codemod/mcp_codemod/_mappings.py
  src/mcp-codemod/mcp_codemod/_runner.py
  src/mcp-codemod/mcp_codemod/_transformer.py
  src/mcp-codemod/mcp_codemod/cli.py
  tests/codemod/test_adapters.py
  tests/codemod/test_cli.py
  tests/codemod/test_dependencies.py
  tests/codemod/test_mappings.py
  tests/codemod/test_runner.py
  tests/codemod/test_transformer.py
Due: ruff-format, ruff, pyright, readme-snippets

Require the version header's presence in the classifier's header rung
  src/mcp/server/lowlevel/server.py
  src/mcp/shared/inbound.py
  tests/shared/test_inbound.py
Due: ruff-format, ruff, pyright, readme-snippets

De-flake conformance CI: solo re-verification, spawn-storm reduction, result artifacts
  .github/actions/conformance/run-client.sh
  .github/workflows/conformance.yml
  examples/servers/everything-server/mcp_everything_server/server.py
Due: ruff-format, ruff, pyright, readme-snippets

Trim comments to the load-bearing lines
  .github/actions/conformance/run-client.sh
  .github/workflows/conformance.yml
  examples/servers/everything-server/mcp_everything_server/server.py
  log.txt
Due: ruff-format, ruff, pyright, readme-snippets

Add typed client task functions in mcp.client.tasks
  docs/advanced/tasks.md
  docs/migration.md
  docs_src/tasks/tutorial003.py
  examples/stories/tasks/README.md
  examples/stories/tasks/client.py
  src/mcp/__init__.py
  src/mcp/client/__init__.py
  src/mcp/client/_tasks.py
  src/mcp/client/client.py
  src/mcp/client/tasks.py
  tests/client/test_tasks.py
  tests/docs_src/test_tasks.py
  tests/server/test_tasks.py
Due: ruff-format, ruff, pyright, readme-snippets

Recover mode='auto' from a timed-out probe and close the in-process back-channel
  src/mcp/client/_probe.py
  src/mcp/server/runner.py
  tests/client/test_client.py
  tests/client/test_probe.py
  tests/docs_src/test_client_callbacks.py
Due: ruff-format, ruff, pyright, readme-snippets

Address review: drop stray fixture, gitignore results, single solo attempt
  .github/actions/conformance/run-client.sh
  .gitignore
  log.txt
Due: none

Keep the stale-baseline guard fail-closed under pipefail
  .github/actions/conformance/run-client.sh
Due: none

De-flake conformance CI: solo re-verification, spawn-storm reduction, result artifacts (#3043)
  .github/actions/conformance/run-client.sh
  .github/workflows/conformance.yml
  .gitignore
  examples/servers/everything-server/mcp_everything_server/server.py
Due: ruff-format, ruff, pyright, readme-snippets

Harden the dual-era stream loop's era-lock and rejection semantics (#3040)
  docs/advanced/subscriptions.md
  docs/client/protocol-versions.md
  docs/migration.md
  src/mcp/client/_probe.py
  src/mcp/server/_streamable_http_modern.py
  src/mcp/server/connection.py
  src/mcp/server/lowlevel/server.py
  src/mcp/server/runner.py
  src/mcp/shared/inbound.py
  tests/client/test_client.py
  tests/client/test_probe.py
  tests/docs_src/test_client_callbacks.py
  tests/server/test_runner.py
  tests/server/test_stdio.py
  tests/shared/test_inbound.py
Due: ruff-format, ruff, pyright, readme-snippets

Make client-side cancellation work over the 2026 transports
  src/mcp/client/session.py
  src/mcp/client/streamable_http.py
  src/mcp/shared/direct_dispatcher.py
  src/mcp/shared/dispatcher.py
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/client/test_session.py
  tests/client/test_streamable_http.py
  tests/shared/test_dispatcher.py
  tests/shared/test_jsonrpc_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

Align interaction-manifest ids with the cross-SDK vocabulary
  tests/interaction/_requirements.py
  tests/interaction/auth/test_authorize_token.py
  tests/interaction/auth/test_discovery.py
  tests/interaction/auth/test_lifecycle.py
  tests/interaction/lowlevel/test_client_connect.py
  tests/interaction/lowlevel/test_elicitation.py
  tests/interaction/lowlevel/test_meta.py
  tests/interaction/lowlevel/test_resources.py
  tests/interaction/lowlevel/test_sampling.py
  tests/interaction/mcpserver/test_context.py
  tests/interaction/mcpserver/test_resources.py
Due: ruff-format, ruff, pyright

Cover the x-mcp-header and modern HTTP entry families: 19 tests
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_x_mcp_header.py
  tests/interaction/transports/test_hosting_http_modern.py
Due: ruff-format, ruff, pyright

Retire three redundant interaction-manifest entries; era-bound a fourth
  tests/interaction/_requirements.py
  tests/interaction/transports/test_client_transport_http.py
  tests/interaction/transports/test_hosting_http.py
Due: ruff-format, ruff, pyright

Path conditions:
  ruff-format: any of: \.py$
  ruff: any of: \.py$, but not: ^README(\.v2)?\.md$
  pyright: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  readme-v1-frozen: any of: ^README\.md$
  readme-snippets: any of: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
