Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args:
          [
            "--fix",
            "--config",
            "pyproject.toml",
            "--configPointer",
            "/tool/markdown/lint",
          ]
        types: [markdown]

  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff Format
        entry: uv run --frozen ruff
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: ruff
        name: Ruff
        entry: uv run --frozen ruff
        args: ["check", "--fix", "--exit-non-zero-on-fix"]
        types: [python]
        language: system
        pass_filenames: false
        exclude: ^README(\.v2)?\.md$
      - id: pyright
        name: pyright
        entry: uv run --frozen pyright
        language: system
        types: [python]
        pass_filenames: false
      - id: uv-lock-check
        name: Check uv.lock is up to date
        entry: uv lock --check
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false
      # TODO(Max): Drop this in v2.
      - id: readme-v1-frozen
        name: README.md is frozen (v1 docs)
        entry: README.md is frozen at v1. Edit README.v2.md instead.
        language: fail
        files: ^README\.md$
      - id: readme-snippets
        name: Check snippets are up to date
        entry: uv run --frozen python scripts/sync_snippets.py --check
        language: system
        files: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
        pass_filenames: false

AGENTS.md: add Documentation section pointing at docs/ structure
  AGENTS.md
Due: none

Pass http-custom-headers conformance via the #371 fixture-fix preview
  .github/actions/conformance/client.py
  .github/actions/conformance/expected-failures.2026-07-28.yml
  .github/actions/conformance/expected-failures.yml
  .github/workflows/conformance.yml
Due: ruff-format, ruff, pyright

Add .claude/skills/test-quality and reference it from AGENTS.md (#2993)
  .claude/skills/test-quality/SKILL.md
  AGENTS.md
Due: none

Fix docs/release follow-ups from the mcp-types package split (#2977)
  .github/workflows/deploy-docs.yml
  .github/workflows/publish-pypi.yml
  .github/workflows/shared.yml
  AGENTS.md
  RELEASE.md
  docs/hooks/gen_ref_pages.py
  docs/migration.md
  mkdocs.yml
  schema/README.md
  src/mcp-types/pyproject.toml
  tests/types/test_version.py
Due: ruff-format, ruff, pyright, readme-snippets

Evict cached x-mcp-header map when a re-list drops the tool
  src/mcp/client/session.py
  tests/client/test_client.py
Due: ruff-format, ruff, pyright, readme-snippets

Strengthen token-exchange interaction tests per review
  tests/interaction/auth/test_token_exchange.py
Due: ruff-format, ruff, pyright

[v1.x] Support TransportSecuritySettings in the WebSocket server transport (#2992)
  src/mcp/server/transport_security.py
  src/mcp/server/websocket.py
  tests/server/test_websocket_security.py
Due: ruff-format, ruff, pyright, readme-snippets

Verify the conformance preview tarball; tidy mcp_param_headers typing
  .github/workflows/conformance.yml
  src/mcp/shared/inbound.py
Due: ruff-format, ruff, pyright, readme-snippets

Route Context.report_progress() to the originating request stream
  src/mcp/server/fastmcp/server.py
  tests/issues/test_176_progress_token.py
Due: ruff-format, ruff, pyright, readme-snippets

Drive the Mcp-Param-* tests through the high-level Client
  tests/client/test_client.py
  tests/interaction/transports/test_hosting_http_modern.py
Due: ruff-format, ruff, pyright

Use the RFC 7523 jwt-bearer grant for the SEP-990 ID-JAG leg
  docs/migration.md
  examples/snippets/clients/identity_assertion_client.py
  examples/snippets/pyproject.toml
  examples/snippets/servers/identity_assertion_server.py
  examples/snippets/servers/token_exchange_server.py
  src/mcp/client/auth/extensions/identity_assertion.py
  src/mcp/client/auth/extensions/token_exchange.py
  src/mcp/server/auth/handlers/register.py
  src/mcp/server/auth/handlers/token.py
  src/mcp/server/auth/provider.py
  src/mcp/server/auth/routes.py
  src/mcp/server/auth/settings.py
  src/mcp/server/lowlevel/server.py
  src/mcp/server/mcpserver/server.py
  src/mcp/shared/auth.py
  tests/client/auth/extensions/test_identity_assertion.py
  tests/client/auth/extensions/test_token_exchange.py
  tests/interaction/_requirements.py
  tests/interaction/auth/_harness.py
  tests/interaction/auth/_provider.py
  tests/interaction/auth/test_identity_assertion.py
  tests/interaction/auth/test_token_exchange.py
  tests/server/auth/test_identity_assertion.py
  tests/server/auth/test_token_exchange.py
  tests/shared/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

Mirror x-mcp-header tool arguments into Mcp-Param-* request headers (SEP-2243) (#2990)
  .github/actions/conformance/client.py
  .github/actions/conformance/expected-failures.2026-07-28.yml
  .github/actions/conformance/expected-failures.yml
  .github/workflows/conformance.yml
  docs/migration.md
  src/mcp/client/session.py
  src/mcp/shared/inbound.py
  tests/interaction/_requirements.py
  tests/interaction/transports/test_hosting_http_modern.py
  tests/shared/test_inbound.py
Due: ruff-format, ruff, pyright, readme-snippets

Harden the identity-assertion grant per review
  examples/snippets/servers/identity_assertion_server.py
  src/mcp/client/auth/extensions/identity_assertion.py
  src/mcp/server/auth/handlers/token.py
  tests/client/auth/extensions/test_identity_assertion.py
  tests/server/auth/test_identity_assertion.py
Due: ruff-format, ruff, pyright, readme-snippets

Make OpenTelemetry tracing the single default middleware
  docs/advanced/middleware.md
  docs/advanced/opentelemetry.md
  docs/tutorial/logging.md
  docs_src/opentelemetry/__init__.py
  docs_src/opentelemetry/tutorial001.py
  mkdocs.yml
  src/mcp/server/lowlevel/server.py
  src/mcp/server/runner.py
  tests/docs_src/test_opentelemetry.py
  tests/server/test_otel.py
  tests/server/test_runner.py
  tests/shared/test_otel.py
Due: ruff-format, ruff, pyright, readme-snippets

Route RFC7523OAuthClientProvider deprecation through MCPDeprecationWarning
  src/mcp/client/auth/extensions/client_credentials.py
  tests/client/auth/extensions/test_client_credentials.py
  tests/docs_src/test_oauth_clients.py
Due: ruff-format, ruff, pyright, readme-snippets

Pin identity-assertion discovery to the expected authorization server
  docs/migration.md
  src/mcp/client/auth/extensions/identity_assertion.py
  src/mcp/server/auth/handlers/token.py
  src/mcp/server/auth/provider.py
  tests/client/auth/extensions/test_identity_assertion.py
  tests/interaction/auth/test_identity_assertion.py
  tests/server/auth/test_identity_assertion.py
Due: ruff-format, ruff, pyright, readme-snippets

Keep warnings.warn and only switch the category to MCPDeprecationWarning
  src/mcp/client/auth/extensions/client_credentials.py
  tests/client/auth/extensions/test_client_credentials.py
  tests/docs_src/test_oauth_clients.py
Due: ruff-format, ruff, pyright, readme-snippets

Remove the dispatch-tier middleware hook
  src/mcp/server/context.py
  src/mcp/server/lowlevel/server.py
  src/mcp/server/runner.py
  src/mcp/shared/dispatcher.py
  tests/server/test_otel.py
  tests/server/test_runner.py
Due: ruff-format, ruff, pyright, readme-snippets

Switch RFC7523OAuthClientProvider warning to MCPDeprecationWarning (#2996)
  src/mcp/client/auth/extensions/client_credentials.py
  tests/client/auth/extensions/test_client_credentials.py
  tests/docs_src/test_oauth_clients.py
Due: ruff-format, ruff, pyright, readme-snippets

Record post-chain result failures on the OpenTelemetry span
  docs/advanced/opentelemetry.md
  src/mcp/server/runner.py
  tests/server/test_otel.py
Due: ruff-format, ruff, pyright, readme-snippets

Don't broaden initial identity-assertion scope; normalize origin ports
  src/mcp/client/auth/extensions/identity_assertion.py
  tests/client/auth/extensions/test_identity_assertion.py
Due: ruff-format, ruff, pyright, readme-snippets

[v1.x] Route Context.report_progress() to the originating request stream (#2994)
  src/mcp/server/fastmcp/server.py
  tests/issues/test_176_progress_token.py
Due: ruff-format, ruff, pyright, readme-snippets

Make OpenTelemetry tracing the single default middleware (#2995)
  docs/advanced/middleware.md
  docs/advanced/opentelemetry.md
  docs/tutorial/logging.md
  docs_src/opentelemetry/__init__.py
  docs_src/opentelemetry/tutorial001.py
  mkdocs.yml
  src/mcp/server/lowlevel/server.py
  src/mcp/server/runner.py
  tests/docs_src/test_opentelemetry.py
  tests/server/test_otel.py
  tests/server/test_runner.py
  tests/shared/test_otel.py
Due: ruff-format, ruff, pyright, readme-snippets

Keep _on_request private, expose it via an on_request property
  src/mcp/server/context.py
  src/mcp/server/lowlevel/server.py
  src/mcp/server/runner.py
Due: ruff-format, ruff, pyright, readme-snippets

Always send the configured scope on identity-assertion exchanges
  src/mcp/client/auth/extensions/identity_assertion.py
  tests/client/auth/extensions/test_identity_assertion.py
Due: ruff-format, ruff, pyright, readme-snippets

Pin conformance harness by commit SHA (ed314a73) instead of PR number
  .github/workflows/conformance.yml
Due: none

Repin to conformance main@b18aa918 (merge of #371)
  .github/workflows/conformance.yml
Due: none

Pin conformance harness by commit SHA (ed314a73) instead of PR number (#3000)
  .github/workflows/conformance.yml
Due: none

Client auto-resolves InputRequiredResult via existing callbacks (SEP-2322)
  .github/actions/conformance/client.py
  docs/advanced/multi-round-trip.md
  docs/migration.md
  docs_src/mrtr/tutorial002.py
  docs_src/mrtr/tutorial003.py
  examples/stories/manifest.toml
  examples/stories/mrtr/README.md
  examples/stories/mrtr/__init__.py
  examples/stories/mrtr/client.py
  examples/stories/mrtr/server.py
  examples/stories/mrtr/server_lowlevel.py
  src/mcp-types/mcp_types/_types.py
  src/mcp/__init__.py
  src/mcp/client/__init__.py
  src/mcp/client/_input_required.py
  src/mcp/client/client.py
  src/mcp/client/session.py
  tests/client/test_client.py
  tests/client/test_input_required.py
  tests/client/test_session.py
  tests/docs_src/test_mrtr.py
  tests/server/mcpserver/test_server.py
  tests/test_types.py
Due: ruff-format, ruff, pyright, readme-snippets

Add SSE response mode to the 2026 streamable-HTTP server entry
  .github/actions/conformance/expected-failures.2026-07-28.yml
  examples/stories/manifest.toml
  examples/stories/streaming/README.md
  src/mcp/client/streamable_http.py
  src/mcp/server/_streamable_http_modern.py
  src/mcp/server/streamable_http.py
  src/mcp/server/streamable_http_manager.py
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/examples/conftest.py
  tests/interaction/_requirements.py
  tests/interaction/transports/test_hosting_http_modern.py
  tests/server/test_streamable_http_modern.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: cross-link callbacks/elicitation/deprecated to MRTR; add when-to-drive-yourself
  docs/advanced/deprecated.md
  docs/advanced/multi-round-trip.md
  docs/client/callbacks.md
  docs/tutorial/elicitation.md
Due: readme-snippets

Remove the dispatch-tier middleware hook (#2997)
  src/mcp/server/runner.py
  src/mcp/shared/dispatcher.py
  tests/server/test_otel.py
  tests/server/test_runner.py
Due: ruff-format, ruff, pyright, readme-snippets

Reject union-wrapped Resolve; honor the bare ElicitationResult alias
  src/mcp/server/mcpserver/resolve.py
  tests/server/mcpserver/test_resolve.py
Due: ruff-format, ruff, pyright, readme-snippets

Note the ElicitationResult isinstance behavior change in the migration guide
  docs/migration.md
Due: readme-snippets

Defer SSE start until first notification; restore 404/400 status mapping
  src/mcp/server/_streamable_http_modern.py
  src/mcp/server/streamable_http.py
  tests/interaction/transports/test_hosting_http_modern.py
  tests/server/test_streamable_http_modern.py
Due: ruff-format, ruff, pyright, readme-snippets

Document resolver dependency injection in the elicitation tutorial; ctx.headers in context
  docs/tutorial/context.md
  docs/tutorial/elicitation.md
  docs_src/elicitation/tutorial004.py
  tests/docs_src/test_elicitation.py
Due: ruff-format, ruff, pyright, readme-snippets

Match legacy SSE Cache-Control: no-cache, no-transform
  src/mcp/server/_streamable_http_modern.py
Due: ruff-format, ruff, pyright, readme-snippets

Make IdentityAssertionOAuthProvider a standalone httpx.Auth
  docs/migration.md
  examples/snippets/clients/identity_assertion_client.py
  src/mcp/client/auth/extensions/identity_assertion.py
  src/mcp/server/auth/handlers/register.py
  src/mcp/server/auth/handlers/token.py
  src/mcp/server/auth/middleware/client_auth.py
  src/mcp/server/auth/routes.py
  src/mcp/shared/auth.py
  tests/client/auth/extensions/test_identity_assertion.py
  tests/client/test_auth.py
  tests/interaction/_requirements.py
  tests/interaction/auth/test_identity_assertion.py
  tests/server/auth/test_identity_assertion.py
Due: ruff-format, ruff, pyright, readme-snippets

Client auto-resolves InputRequiredResult via existing callbacks (SEP-2322) (#2998)
  .github/actions/conformance/client.py
  docs/advanced/deprecated.md
  docs/advanced/multi-round-trip.md
  docs/client/callbacks.md
  docs/migration.md
  docs/tutorial/elicitation.md
  docs_src/mrtr/tutorial002.py
  docs_src/mrtr/tutorial003.py
  examples/stories/manifest.toml
  examples/stories/mrtr/README.md
  examples/stories/mrtr/__init__.py
  examples/stories/mrtr/client.py
  examples/stories/mrtr/server.py
  examples/stories/mrtr/server_lowlevel.py
  src/mcp-types/mcp_types/_types.py
  src/mcp/__init__.py
  src/mcp/client/__init__.py
  src/mcp/client/_input_required.py
  src/mcp/client/client.py
  src/mcp/client/session.py
  tests/client/test_client.py
  tests/client/test_input_required.py
  tests/client/test_session.py
  tests/docs_src/test_mrtr.py
  tests/server/mcpserver/test_server.py
  tests/test_types.py
Due: ruff-format, ruff, pyright, readme-snippets

Deprecate Server.__init__ handlers for removed capabilities
  docs/migration.md
  examples/stories/streaming/server_lowlevel.py
  src/mcp/server/lowlevel/server.py
  tests/client/test_client.py
  tests/interaction/lowlevel/test_flows.py
  tests/interaction/lowlevel/test_initialize.py
  tests/interaction/lowlevel/test_logging.py
  tests/interaction/lowlevel/test_progress.py
  tests/interaction/lowlevel/test_roots.py
  tests/interaction/lowlevel/test_wire.py
  tests/interaction/transports/_stdio_server.py
  tests/interaction/transports/test_hosting_http.py
Due: ruff-format, ruff, pyright, readme-snippets
