Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

ruff-format:
  name: Ruff Format
  entry: uv run --frozen ruff
  args:
  - format
  language: system
  pass_filenames: false

ruff:
  name: Ruff
  entry: uv run --frozen ruff
  args:
  - check
  - --fix
  - --exit-non-zero-on-fix
  language: system
  pass_filenames: false

pyright:
  name: pyright
  entry: uv run --frozen pyright
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv.lock is up to date
  entry: uv lock --check
  language: system
  pass_filenames: false

readme-v1-frozen:
  name: README.md is frozen (v1 docs)
  entry: README.md is frozen at v1. Edit README.v2.md instead.
  language: fail

readme-snippets:
  name: Check snippets are up to date
  entry: uv run --frozen python scripts/sync_snippets.py --check
  language: system
  pass_filenames: false

test: cover ClientSession reentry guard
  tests/client/test_session.py
Due: ruff-format, ruff, pyright

Extend resolver DI to sampling and roots requests
  docs/client/callbacks.md
  docs/handlers/dependencies.md
  docs/handlers/multi-round-trip.md
  docs/migration.md
  docs_src/dependencies/tutorial004.py
  src/mcp/client/client.py
  src/mcp/server/mcpserver/__init__.py
  src/mcp/server/mcpserver/resolve.py
  tests/docs_src/test_dependencies.py
  tests/server/mcpserver/test_resolve.py
Due: ruff-format, ruff, pyright, readme-snippets

Tighten comments and docstrings in the resolver marker additions
  src/mcp/client/client.py
  src/mcp/server/mcpserver/resolve.py
  tests/server/mcpserver/test_resolve.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(stdio): drain responses after stdin EOF
  src/mcp/server/lowlevel/server.py
  src/mcp/server/runner.py
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/server/test_cancel_handling.py
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

test: cover stdio EOF drain and shutdown edges
  tests/server/test_cancel_handling.py
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright

test: ignore coverage branch arc on 3.14
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright

fix(server): opt-in drain on read EOF
  src/mcp/server/lowlevel/server.py
  src/mcp/server/mcpserver/server.py
  src/mcp/server/runner.py
  tests/server/test_cancel_handling.py
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

test: use handshake version in cancellation tests
  tests/server/test_cancel_handling.py
Due: ruff-format, ruff, pyright

test: exercise dispatcher shutdown drain mode
  tests/shared/test_jsonrpc_dispatcher.py
Due: ruff-format, ruff, pyright

fix(stdio): bound EOF drain wait
  src/mcp/server/lowlevel/server.py
  src/mcp/server/runner.py
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/server/test_cancel_handling.py
Due: ruff-format, ruff, pyright, readme-snippets

test: cover EOF drain branches
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/shared/test_jsonrpc_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: add a "What's new in v2" page
  README.md
  docs/index.md
  docs/migration.md
  docs/whats-new.md
  mkdocs.yml
  tests/test_examples.py
Due: ruff-format, ruff, pyright, readme-v1-frozen, readme-snippets

fix: match complete www-authenticate auth params
  src/mcp/client/auth/utils.py
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(client): surface streamable HTTP 401 as JSON-RPC error
  src/mcp/client/streamable_http.py
  tests/client/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: correlate invalid JSON-RPC envelope errors with the original request id
  src/mcp/server/stdio.py
  src/mcp/server/streamable_http.py
  src/mcp/shared/message.py
  tests/interaction/transports/test_hosting_http.py
  tests/server/test_stdio.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: add transport security troubleshooting guide
  docs/transport-security.md
  mkdocs.yml
Due: readme-snippets

Handle Bearer auth params in multi-challenge headers
  src/mcp/client/auth/utils.py
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

fix streamable http early SSE close
  src/mcp/client/streamable_http.py
  tests/client/test_notification_response.py
Due: ruff-format, ruff, pyright, readme-snippets

Clarify missing tool result validation error
  src/mcp/server/validation.py
  tests/server/test_validation.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: annotated low-level before/after example on the whats-new page
  docs/whats-new.md
  docs_src/whats_new/__init__.py
  docs_src/whats_new/tutorial001.py
  tests/docs_src/test_whats_new.py
Due: ruff-format, ruff, pyright, readme-snippets

Fix pre_parse_json corrupting str | None values that look like JSON
  src/mcp/server/mcpserver/utilities/func_metadata.py
  tests/server/mcpserver/test_func_metadata.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: validate the tool name in the whats-new lowlevel example
  docs/whats-new.md
  docs_src/whats_new/tutorial001.py
  tests/docs_src/test_whats_new.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: quick Resolve section on the whats-new page
  docs/whats-new.md
Due: readme-snippets

docs: add a "What's new in v2" page (#3054)
  README.md
  docs/index.md
  docs/migration.md
  docs/whats-new.md
  docs_src/whats_new/__init__.py
  docs_src/whats_new/tutorial001.py
  mkdocs.yml
  tests/docs_src/test_whats_new.py
  tests/test_examples.py
Due: ruff-format, ruff, pyright, readme-v1-frozen, readme-snippets

docs: modernize the site theme
  docs/.overrides/.icons/mcp.svg
  docs/extra.css
  docs/favicon.svg
  mkdocs.yml
Due: none

docs: fix the header logo fill and align theme font weights
  docs/.overrides/.icons/mcp.svg
  docs/extra.css
  pyproject.toml
  uv.lock
Due: uv-lock-check

docs: modernize the site theme (#3057)
  docs/.overrides/.icons/mcp.svg
  docs/extra.css
  docs/favicon.svg
  mkdocs.yml
  pyproject.toml
  uv.lock
Due: uv-lock-check

Make client-side cancellation work over the 2026 transports
  src/mcp/client/session.py
  src/mcp/client/streamable_http.py
  src/mcp/shared/direct_dispatcher.py
  src/mcp/shared/dispatcher.py
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/client/test_session.py
  tests/client/test_streamable_http.py
  tests/shared/test_dispatcher.py
  tests/shared/test_jsonrpc_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

Share one event loop per test module to stop Windows socketpair churn
  AGENTS.md
  tests/client/test_input_required.py
  tests/client/test_stdio.py
  tests/conftest.py
  tests/interaction/lowlevel/test_timeouts.py
  tests/server/test_streamable_http_modern.py
  tests/shared/test_jsonrpc_dispatcher.py
  tests/transports/stdio/test_windows.py
Due: ruff-format, ruff, pyright

docs: restructure the migration guide around topical groups with a navigation layer
  docs/migration.md
Due: readme-snippets

Pin the abandonment-cancellation contract in the interaction suite
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_cancellation.py
  tests/interaction/lowlevel/test_wire.py
  tests/interaction/transports/test_client_transport_http.py
Due: ruff-format, ruff, pyright

Tighten the cancellation-suite manifest provenance and wire pins
  tests/interaction/README.md
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_cancellation.py
  tests/interaction/transports/test_client_transport_http.py
Due: ruff-format, ruff, pyright

docs: restructure the migration guide around topical groups with a navigation layer (#3058)
  docs/migration.md
Due: readme-snippets

Make client-side cancellation work over the 2026 transports (#3046)
  src/mcp/client/session.py
  src/mcp/client/streamable_http.py
  src/mcp/shared/direct_dispatcher.py
  src/mcp/shared/dispatcher.py
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/client/test_session.py
  tests/client/test_streamable_http.py
  tests/interaction/README.md
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_cancellation.py
  tests/interaction/lowlevel/test_wire.py
  tests/interaction/transports/test_client_transport_http.py
  tests/shared/test_dispatcher.py
  tests/shared/test_jsonrpc_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: add a Sampling and roots page under Inside your handler
  docs/client/callbacks.md
  docs/handlers/dependencies.md
  docs/handlers/index.md
  docs/handlers/multi-round-trip.md
  docs/handlers/sampling-and-roots.md
  docs/migration.md
  docs_src/sampling_and_roots/__init__.py
  docs_src/sampling_and_roots/tutorial001.py
  docs_src/sampling_and_roots/tutorial002.py
  mkdocs.yml
  tests/docs_src/test_sampling_and_roots.py
Due: ruff-format, ruff, pyright, readme-snippets

Gate resolver egress on the request channel's sendability
  docs/handlers/dependencies.md
  docs/handlers/sampling-and-roots.md
  docs/migration.md
  src/mcp/server/mcpserver/resolve.py
  src/mcp/server/session.py
  tests/server/mcpserver/test_resolve.py
Due: ruff-format, ruff, pyright, readme-snippets

Share the tools-mode predicate across all sampling senders
  src/mcp/server/mcpserver/resolve.py
  src/mcp/server/session.py
  src/mcp/server/validation.py
  src/mcp/shared/peer.py
  tests/server/mcpserver/test_resolve.py
  tests/server/test_session.py
  tests/shared/test_peer.py
Due: ruff-format, ruff, pyright, readme-snippets

Path conditions:
  ruff-format: any of: \.py$
  ruff: any of: \.py$, but not: ^README(\.v2)?\.md$
  pyright: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  readme-v1-frozen: any of: ^README\.md$
  readme-snippets: any of: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
