Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

ruff-format:
  name: Ruff Format
  entry: uv run --frozen ruff
  args:
  - format
  language: system
  pass_filenames: false

ruff:
  name: Ruff
  entry: uv run --frozen ruff
  args:
  - check
  - --fix
  - --exit-non-zero-on-fix
  language: system
  pass_filenames: false

pyright:
  name: pyright
  entry: uv run --frozen pyright
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv.lock is up to date
  entry: uv lock --check
  language: system
  pass_filenames: false

readme-v1-frozen:
  name: README.md is frozen (v1 docs)
  entry: README.md is frozen at v1. Edit README.v2.md instead.
  language: fail

readme-snippets:
  name: Check snippets are up to date
  entry: uv run --frozen python scripts/sync_snippets.py --check
  language: system
  pass_filenames: false

Trim comments and docstrings to the essentials
  tests/interaction/auth/_harness.py
  tests/interaction/auth/_provider.py
  tests/interaction/auth/test_as_handlers.py
  tests/interaction/auth/test_authorize_token.py
  tests/interaction/auth/test_bearer.py
  tests/interaction/auth/test_flow.py
  tests/interaction/auth/test_lifecycle.py
  tests/interaction/lowlevel/test_caching.py
  tests/interaction/lowlevel/test_cancellation.py
  tests/interaction/lowlevel/test_client_connect.py
  tests/interaction/lowlevel/test_elicitation.py
  tests/interaction/lowlevel/test_mrtr.py
  tests/interaction/lowlevel/test_pagination.py
  tests/interaction/lowlevel/test_prompts.py
  tests/interaction/lowlevel/test_resources.py
  tests/interaction/lowlevel/test_roots.py
  tests/interaction/lowlevel/test_sampling.py
  tests/interaction/lowlevel/test_tools.py
  tests/interaction/lowlevel/test_x_mcp_header.py
  tests/interaction/mcpserver/test_prompts.py
  tests/interaction/mcpserver/test_resources.py
  tests/interaction/mcpserver/test_tools.py
  tests/interaction/transports/test_client_transport_http.py
  tests/interaction/transports/test_hosting_http.py
  tests/interaction/transports/test_hosting_http_modern.py
Due: ruff-format, ruff, pyright

Re-ground the MRTR origin notes after the MCPServer pass-through landed
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_prompts.py
  tests/interaction/lowlevel/test_resources.py
Due: ruff-format, ruff, pyright

Cover the x-mcp-header and modern HTTP entry families: 19 tests
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_x_mcp_header.py
  tests/interaction/transports/test_hosting_http_modern.py
Due: ruff-format, ruff, pyright

Cover the caching and discover-versioning families: 17 tests
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_caching.py
  tests/interaction/lowlevel/test_client_connect.py
  tests/interaction/lowlevel/test_resources.py
  tests/interaction/transports/test_hosting_http.py
  tests/interaction/transports/test_hosting_http_modern.py
Due: ruff-format, ruff, pyright

Adopt the serverInfo _meta stamp fixture across the interaction suite
  tests/_stamp.py
  tests/interaction/lowlevel/test_caching.py
  tests/interaction/lowlevel/test_elicitation.py
  tests/interaction/lowlevel/test_mrtr.py
  tests/interaction/lowlevel/test_pagination.py
  tests/interaction/lowlevel/test_prompts.py
  tests/interaction/lowlevel/test_resources.py
  tests/interaction/lowlevel/test_roots.py
  tests/interaction/lowlevel/test_sampling.py
  tests/interaction/lowlevel/test_tools.py
  tests/interaction/mcpserver/test_prompts.py
  tests/interaction/mcpserver/test_resources.py
  tests/interaction/mcpserver/test_tools.py
  tests/interaction/transports/test_hosting_http_modern.py
Due: ruff-format, ruff, pyright

Reconcile with the hardened dual-era stream loop
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_mrtr.py
  tests/interaction/transports/test_hosting_http_modern.py
Due: ruff-format, ruff, pyright

Model the 2025-11-25 to 2026-07-28 transition as first-class manifest data
  tests/interaction/_requirements.py
Due: ruff-format, ruff, pyright

Rewrite the unrecognized-resultType pin onto the extension seam; simplify four tests
  tests/interaction/_requirements.py
  tests/interaction/auth/_harness.py
  tests/interaction/auth/test_authorize_token.py
  tests/interaction/auth/test_lifecycle.py
  tests/interaction/lowlevel/test_mrtr.py
  tests/interaction/mcpserver/test_extensions.py
Due: ruff-format, ruff, pyright

Cover the auth families: the RFC 9207 iss table, step-up bounds, DCR and refresh
  tests/interaction/_requirements.py
  tests/interaction/auth/_harness.py
  tests/interaction/auth/_provider.py
  tests/interaction/auth/test_authorize_token.py
  tests/interaction/auth/test_flow.py
  tests/interaction/auth/test_lifecycle.py
Due: ruff-format, ruff, pyright

Complete the planned 2026-07-28 coverage: the final 27 tests
  tests/interaction/_requirements.py
  tests/interaction/auth/test_as_handlers.py
  tests/interaction/auth/test_bearer.py
  tests/interaction/auth/test_lifecycle.py
  tests/interaction/lowlevel/test_cancellation.py
  tests/interaction/lowlevel/test_mrtr.py
  tests/interaction/lowlevel/test_pagination.py
  tests/interaction/lowlevel/test_prompts.py
  tests/interaction/lowlevel/test_resources.py
  tests/interaction/lowlevel/test_sampling.py
  tests/interaction/lowlevel/test_tools.py
  tests/interaction/mcpserver/test_prompts.py
  tests/interaction/mcpserver/test_resources.py
  tests/interaction/mcpserver/test_tools.py
  tests/interaction/transports/test_client_transport_http.py
Due: ruff-format, ruff, pyright

Complete the MRTR core coverage: multi-round, bounds, and the 2026 directionality pins
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_elicitation.py
  tests/interaction/lowlevel/test_mrtr.py
Due: ruff-format, ruff, pyright

Re-pin the negative-ttl and Mcp-Param mismatch tests to the landed behaviour
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_caching.py
  tests/interaction/transports/test_hosting_http_modern.py
Due: ruff-format, ruff, pyright

Link the last two pinned divergences to their tracking entries
  tests/interaction/_requirements.py
Due: ruff-format, ruff, pyright

Track the full deferred surface: 64 entries registered ahead of their capability
  tests/interaction/_requirements.py
Due: ruff-format, ruff, pyright

Reconcile the interaction suite with main's httpx2 rename and re-drive the era-gate test through the public request seam
  tests/interaction/auth/test_as_handlers.py
  tests/interaction/auth/test_flow.py
  tests/interaction/lowlevel/test_mrtr.py
  tests/interaction/lowlevel/test_resources.py
  tests/interaction/transports/test_hosting_http_modern.py
Due: ruff-format, ruff, pyright

Re-ground every stale interaction-manifest premise against the current main
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_mrtr.py
  tests/interaction/lowlevel/test_resources.py
  tests/interaction/lowlevel/test_sampling.py
  tests/interaction/lowlevel/test_subscriptions.py
Due: ruff-format, ruff, pyright

Reconcile the interaction suite manifest with main
  tests/interaction/_requirements.py
Due: ruff-format, ruff, pyright

Close the register-echo divergence and reconcile the cancellation suite with main
  tests/interaction/_requirements.py
  tests/interaction/auth/test_as_handlers.py
  tests/interaction/auth/test_flow.py
  tests/interaction/lowlevel/test_cancellation.py
Due: ruff-format, ruff, pyright

Close the four log-delivery divergences the per-request log-level gate resolved
  tests/interaction/_requirements.py
Due: ruff-format, ruff, pyright

fix: decode body as UTF-8 explicitly to reject UTF-16/32 JSON
  src/mcp/server/streamable_http.py
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

Trim the migration guide to genuine v1-to-v2 breaking changes
  docs/migration.md
  docs/whats-new.md
Due: readme-snippets

fix(server): return METHOD_NOT_FOUND for unregistered spec methods (#3193)
  src/mcp/server/runner.py
  tests/interaction/lowlevel/test_wire.py
  tests/server/test_runner.py
Due: ruff-format, ruff, pyright, readme-snippets

add add_resource_template()
  src/mcp/server/mcpserver/resources/resource_manager.py
  src/mcp/server/mcpserver/server.py
Due: ruff-format, ruff, pyright, readme-snippets

add a test
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright

fix(session): return METHOD_NOT_FOUND (-32601) for unknown request methods
  src/mcp/shared/session.py
  tests/server/test_session.py
  tests/shared/test_session.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(session): satisfy strict CI for method classification
  src/mcp/shared/session.py
  tests/shared/test_session.py
Due: ruff-format, ruff, pyright, readme-snippets

Retire wording tied to pre-2.0 milestones
  docs/advanced/middleware.md
  examples/stories/legacy_routing/README.md
  examples/stories/middleware/README.md
  examples/stories/middleware/server.py
  examples/stories/roots/README.md
  examples/stories/sampling/README.md
  examples/stories/serve_one/README.md
  examples/stories/sse_polling/README.md
  examples/stories/starlette_mount/README.md
  examples/stories/streaming/README.md
  src/mcp/server/lowlevel/server.py
  src/mcp/server/mcpserver/server.py
  src/mcp/shared/dispatcher.py
  tests/interaction/_requirements.py
Due: ruff-format, ruff, pyright, readme-snippets

Describe the maintenance line without hardcoding 1.28
  RELEASE.md
  SECURITY.md
Due: none

Ask which release line a bug report is on
  .github/ISSUE_TEMPLATE/bug.yaml
Due: none

Link the released 2026-07-28 spec and point migrators at /v1/
  README.md
  docs/migration.md
Due: readme-v1-frozen, readme-snippets

Retire wording tied to pre-2.0 milestones (#3211)
  docs/advanced/middleware.md
  examples/stories/legacy_routing/README.md
  examples/stories/middleware/README.md
  examples/stories/middleware/server.py
  examples/stories/roots/README.md
  examples/stories/sampling/README.md
  examples/stories/serve_one/README.md
  examples/stories/sse_polling/README.md
  examples/stories/starlette_mount/README.md
  examples/stories/streaming/README.md
  src/mcp/server/lowlevel/server.py
  src/mcp/server/mcpserver/server.py
  src/mcp/shared/dispatcher.py
  tests/interaction/_requirements.py
Due: ruff-format, ruff, pyright, readme-snippets

Describe the maintenance line without hardcoding 1.28 (#3212)
  RELEASE.md
  SECURITY.md
Due: none

Ask which release line a bug report is on (#3213)
  .github/ISSUE_TEMPLATE/bug.yaml
Due: none

Move the "not ready to migrate" note to the top of the guide
  docs/migration.md
Due: readme-snippets

Link the released 2026-07-28 spec and point migrators at /v1/ (#3214)
  README.md
  docs/migration.md
Due: readme-v1-frozen, readme-snippets

Publish versioning, roadmap, and dependency policies for v2
  CONTRIBUTING.md
  DEPENDENCY_POLICY.md
  RELEASE.md
  docs/roadmap.md
  docs/versioning.md
  mkdocs.yml
Due: readme-snippets

Validates registered redirect_uris for DCR are a secure schema with no fragments
  src/mcp/server/auth/handlers/register.py
  src/mcp/server/auth/routes.py
  tests/server/auth/test_routes.py
Due: ruff-format, ruff, pyright, readme-snippets

Fix circular import by moving validate_redirect_uri to url_validators module
  src/mcp/server/auth/__init__.py
  src/mcp/server/auth/handlers/register.py
  src/mcp/server/auth/routes.py
  src/mcp/server/auth/url_validators.py
  tests/server/auth/test_routes.py
Due: ruff-format, ruff, pyright, readme-snippets

Fix BOM, CRLF line endings, and escaped quotes in url_validators
  src/mcp/server/auth/url_validators.py
Due: ruff-format, ruff, pyright, readme-snippets

Let a 2025-11-25 tools/call answer with a CreateTaskResult
  docs/advanced/low-level-server.md
  docs/migration.md
  docs/whats-new.md
  scripts/gen_surface_types.py
  src/mcp-types/mcp_types/_types.py
  src/mcp-types/mcp_types/_v2025_11_25/__init__.py
  src/mcp-types/mcp_types/_v2026_07_28/__init__.py
  src/mcp-types/mcp_types/_wire_base.py
  src/mcp-types/mcp_types/jsonrpc.py
  src/mcp-types/mcp_types/methods.py
  src/mcp/server/_streamable_http_modern.py
  src/mcp/server/lowlevel/server.py
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_logging.py
  tests/interaction/lowlevel/test_tools.py
  tests/types/test_methods.py
  tests/types/test_parity.py
Due: ruff-format, ruff, pyright, readme-snippets

Path conditions:
  ruff-format: any of: \.py$
  ruff: any of: \.py$, but not: ^README(\.v2)?\.md$
  pyright: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  readme-v1-frozen: any of: ^README\.md$
  readme-snippets: any of: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
