Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

ruff-format:
  name: Ruff Format
  entry: uv run --frozen ruff
  args:
  - format
  language: system
  pass_filenames: false

ruff:
  name: Ruff
  entry: uv run --frozen ruff
  args:
  - check
  - --fix
  - --exit-non-zero-on-fix
  language: system
  pass_filenames: false

pyright:
  name: pyright
  entry: uv run --frozen pyright
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv.lock is up to date
  entry: uv lock --check
  language: system
  pass_filenames: false

readme-v1-frozen:
  name: README.md is frozen (v1 docs)
  entry: README.md is frozen at v1. Edit README.v2.md instead.
  language: fail

readme-snippets:
  name: Check snippets are up to date
  entry: uv run --frozen python scripts/sync_snippets.py --check
  language: system
  pass_filenames: false

fix: avoid closing stdio server streams
  src/mcp/server/stdio.py
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

feat: support env vars in dev command
  README.md
  src/mcp/cli/cli.py
  tests/cli/test_utils.py
Due: ruff-format, ruff, pyright, readme-v1-frozen, readme-snippets

test: satisfy stdio pyright checks
  src/mcp/server/stdio.py
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

test: avoid optional dotenv dependency
  tests/cli/test_utils.py
Due: ruff-format, ruff, pyright

test: fix dev env var ci coverage
  README.md
  README.v2.md
  tests/cli/test_utils.py
Due: ruff-format, ruff, pyright, readme-v1-frozen, readme-snippets

test: cover invalid cli env vars
  src/mcp/cli/cli.py
  tests/cli/test_utils.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: avoid configuring root logger in mcpserver
  src/mcp/server/mcpserver/utilities/logging.py
  tests/server/mcpserver/test_logging.py
Due: ruff-format, ruff, pyright, readme-snippets

feat: allow overriding SSE messages endpoint
  src/mcp/client/sse.py
  tests/shared/test_sse.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: keep FastMCP from configuring app logging
  src/mcp/cli/cli.py
  src/mcp/server/mcpserver/server.py
  tests/cli/test_utils.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

test: cover mcpserver logging utility
  tests/server/mcpserver/utilities/test_logging.py
Due: ruff-format, ruff, pyright

test: close logging coverage gaps
  tests/cli/test_utils.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright

test: narrow cli coverage pragma
  src/mcp/cli/cli.py
Due: ruff-format, ruff, pyright, readme-snippets

test: cover cli run without transport
  tests/cli/test_utils.py
Due: ruff-format, ruff, pyright

fix: configure_logging uses named 'mcp' logger instead of root logger (#2527)
  src/mcp/server/mcpserver/server.py
  src/mcp/server/mcpserver/utilities/logging.py
  tests/issues/test_2527_fastmcp_logger_pollution.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: resolve lost-wakeup races in InMemoryTaskStore.wait_for_update
  src/mcp/shared/experimental/tasks/in_memory_task_store.py
  tests/experimental/tasks/server/test_store.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: align Context logging methods with MCP spec data type (#2366)
  src/mcp/server/stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: align Context logging methods with MCP spec data type (#2366)
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright

Fix stdio regression coverage
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright

Add research agent example with collaborative planning, MCP support, and visualizations
  docs/research-agent.md
  examples/research-agent/mcp_research_agent/__init__.py
  examples/research-agent/mcp_research_agent/__main__.py
  examples/research-agent/mcp_research_agent/server.py
  examples/research-agent/mcp_research_agent/visualization.py
  examples/research-agent/pyproject.toml
Due: ruff-format, ruff, pyright, readme-snippets

fix: chain exceptions in get_prompt and read_resource handlers
  src/mcp/server/mcpserver/server.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: exclude None optional fields from task result serialization
  src/mcp/server/experimental/task_result_handler.py
  tests/experimental/tasks/server/test_task_result_handler.py
Due: ruff-format, ruff, pyright, readme-snippets

auth: add optional subject field to AccessToken (fixes #1038)
  src/mcp/server/auth/provider.py
  tests/server/auth/test_provider.py
Due: ruff-format, ruff, pyright, readme-snippets

build: pin PEP 517 build dependencies via build-constraint-dependencies
  pyproject.toml
  uv.lock
Due: uv-lock-check

fix(coverage): suppress no-branch for symmetric finally guard in new-session path
  src/mcp/server/streamable_http_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: use blocking stdin read instead of anyio.wrap_file() in stdio_server
  src/mcp/server/stdio.py
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

test
  README.md
Due: readme-v1-frozen

fix(client/stdio): fall back to os.devnull when sys.stderr is None
  src/mcp/client/stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: use newline=" in stdio TextIOWrapper to prevent CRLF on Windows
  src/mcp/server/stdio.py
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: default encoding_error_handler to replace in stdio_client for UTF-8 resilience
  src/mcp/client/stdio.py
  tests/client/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: handle Optional[str] in pre_parse_json to prevent incorrect type coercion
  src/mcp/server/mcpserver/utilities/func_metadata.py
  tests/server/mcpserver/test_func_metadata.py
Due: ruff-format, ruff, pyright, readme-snippets

build: pin PEP 517 build dependencies (#2547)
  pyproject.toml
  uv.lock
Due: uv-lock-check

feat: Server registry stores HandlerEntry; ServerRunner consumes Server[L] directly
  src/mcp/server/context.py
  src/mcp/server/lowlevel/server.py
  src/mcp/server/runner.py
  tests/server/test_runner.py
  tests/server/test_server_context.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(shared): make UrlElicitationRequiredError pickle-safe (refs #2431)
  src/mcp/shared/exceptions.py
  tests/shared/test_exceptions.py
Due: ruff-format, ruff, pyright, readme-snippets

feat: Connection.state + exit_stack; ctx.session_id/headers; TransportContext.headers
  src/mcp/server/connection.py
  src/mcp/server/context.py
  src/mcp/server/runner.py
  src/mcp/shared/direct_dispatcher.py
  src/mcp/shared/transport_context.py
  tests/server/test_runner.py
Due: ruff-format, ruff, pyright, readme-snippets

[v1.x] build: restrict httpx to <1.0.0
  pyproject.toml
  uv.lock
Due: uv-lock-check

[v1.x] build: restrict httpx to <1.0.0 (#2559)
  pyproject.toml
  uv.lock
Due: uv-lock-check

fix: chain exceptions in get_prompt and read_resource handlers (#2542)
  src/mcp/server/mcpserver/server.py
Due: ruff-format, ruff, pyright, readme-snippets

refactor: import SSEError from httpx_sse public API
  src/mcp/client/sse.py
Due: ruff-format, ruff, pyright, readme-snippets

[v1.x] refactor: import SSEError from httpx_sse public API
  src/mcp/client/sse.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: JSONRPCDispatcher coerces string response/progress IDs to int for correlation
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/shared/test_jsonrpc_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

Path conditions:
  ruff-format: any of: \.py$
  ruff: any of: \.py$, but not: ^README(\.v2)?\.md$
  pyright: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  readme-v1-frozen: any of: ^README\.md$
  readme-snippets: any of: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
