Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

ruff-format:
  name: Ruff Format
  entry: uv run --frozen ruff
  args:
  - format
  language: system
  pass_filenames: false

ruff:
  name: Ruff
  entry: uv run --frozen ruff
  args:
  - check
  - --fix
  - --exit-non-zero-on-fix
  language: system
  pass_filenames: false

pyright:
  name: pyright
  entry: uv run --frozen pyright
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv.lock is up to date
  entry: uv lock --check
  language: system
  pass_filenames: false

readme-v1-frozen:
  name: README.md is frozen (v1 docs)
  entry: README.md is frozen at v1. Edit README.v2.md instead.
  language: fail

readme-snippets:
  name: Check snippets are up to date
  entry: uv run --frozen python scripts/sync_snippets.py --check
  language: system
  pass_filenames: false

backport: harness H-auth-1 — connect_with_oauth body (hand-assembled AS+RS app, ClientSession yield); auth smoke passes
  tests/interaction/auth/_harness.py
  tests/interaction/auth/test_flow.py
Due: ruff-format, ruff, pyright

backport: phase-4 wave 1 (proof) — 25/25 pass across lowlevel/mcpserver/transports/auth
  tests/interaction/_requirements.py
  tests/interaction/auth/test_flow.py
  tests/interaction/lowlevel/test_completion.py
  tests/interaction/lowlevel/test_logging.py
  tests/interaction/lowlevel/test_tools.py
  tests/interaction/mcpserver/test_completion.py
  tests/interaction/transports/_stdio_server.py
  tests/interaction/transports/test_stdio.py
Due: ruff-format, ruff, pyright

backport: phase-4 wave 2 + S1 — 51 pass / 1 deferred
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_cancellation.py
  tests/interaction/lowlevel/test_flows.py
  tests/interaction/lowlevel/test_meta.py
  tests/interaction/lowlevel/test_progress.py
  tests/interaction/lowlevel/test_prompts.py
  tests/interaction/lowlevel/test_tools.py
  tests/interaction/mcpserver/test_prompts.py
  tests/interaction/transports/test_sse.py
  tests/interaction/transports/test_streamable_http.py
Due: ruff-format, ruff, pyright

backport: phase-4 waves 3+4 + S2-S9 (Workflow, 43 agents) — ~174 pass / 3 deferred
  tests/interaction/_requirements.py
  tests/interaction/auth/test_as_handlers.py
  tests/interaction/auth/test_authorize_token.py
  tests/interaction/auth/test_discovery.py
  tests/interaction/auth/test_lifecycle.py
  tests/interaction/lowlevel/test_elicitation.py
  tests/interaction/lowlevel/test_initialize.py
  tests/interaction/lowlevel/test_list_changed.py
  tests/interaction/lowlevel/test_pagination.py
  tests/interaction/lowlevel/test_resources.py
  tests/interaction/lowlevel/test_roots.py
  tests/interaction/lowlevel/test_sampling.py
  tests/interaction/lowlevel/test_timeouts.py
  tests/interaction/lowlevel/test_wire.py
  tests/interaction/mcpserver/test_context.py
  tests/interaction/mcpserver/test_resources.py
  tests/interaction/mcpserver/test_tools.py
  tests/interaction/transports/test_client_transport_http.py
  tests/interaction/transports/test_flows.py
  tests/interaction/transports/test_hosting_http.py
  tests/interaction/transports/test_hosting_resume.py
  tests/interaction/transports/test_hosting_session.py
Due: ruff-format, ruff, pyright

backport: phase-5 cleanup — apply pending deferrals, test_coverage green
  tests/interaction/_requirements.py
Due: ruff-format, ruff, pyright

backport: phase-5 fixup — port roots:list-changed (audit-1), scope warning filter, ASGIApp note
  tests/interaction/_connect.py
  tests/interaction/_requirements.py
  tests/interaction/auth/_harness.py
  tests/interaction/conftest.py
  tests/interaction/lowlevel/test_roots.py
Due: ruff-format, ruff, pyright

backport: scrub local-path reference from conftest comment; clarify pyproject exclude note
  pyproject.toml
  tests/interaction/conftest.py
Due: ruff-format, ruff, pyright, uv-lock-check

backport: coverage — recognize 'lax no cover'; pragma harness scaffolding + 3.11 dead-zone lines
  pyproject.toml
  tests/interaction/_connect.py
  tests/interaction/auth/_harness.py
  tests/interaction/lowlevel/test_initialize.py
  tests/interaction/lowlevel/test_wire.py
  tests/interaction/transports/test_sse.py
Due: ruff-format, ruff, pyright, uv-lock-check

backport: coverage — raise dev-dep floors for tests/interaction (pytest 8.4, sse-starlette 2.1)
  pyproject.toml
  uv.lock
Due: uv-lock-check

Bind transport sessions to the authenticated principal
  src/mcp/server/auth/middleware/bearer_auth.py
  src/mcp/server/sse.py
  src/mcp/server/streamable_http_manager.py
  src/mcp/server/transport_security.py
  tests/server/test_sse_security.py
  tests/server/test_streamable_http_manager.py
  tests/server/test_transport_security.py
Due: ruff-format, ruff, pyright, readme-snippets

backport: coverage — reset sse-starlette's module-global exit Event between tests
  pyproject.toml
  tests/interaction/conftest.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check

Bind transport sessions to the authenticated principal
  src/mcp/server/auth/middleware/bearer_auth.py
  src/mcp/server/sse.py
  src/mcp/server/streamable_http_manager.py
  tests/server/test_sse_security.py
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

[v1.x] Bind transport sessions to the authenticated principal (#2719)
  src/mcp/server/auth/middleware/bearer_auth.py
  src/mcp/server/sse.py
  src/mcp/server/streamable_http_manager.py
  tests/server/test_sse_security.py
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

Bind transport sessions to the authenticated principal (#2718)
  src/mcp/server/auth/middleware/bearer_auth.py
  src/mcp/server/sse.py
  src/mcp/server/streamable_http_manager.py
  src/mcp/server/transport_security.py
  tests/server/test_sse_security.py
  tests/server/test_streamable_http_manager.py
  tests/server/test_transport_security.py
Due: ruff-format, ruff, pyright, readme-snippets

backport: coverage — lax-no-cover post-unwind asserts on 3.11+lowest-direct
  tests/interaction/transports/test_flows.py
  tests/interaction/transports/test_sse.py
Due: ruff-format, ruff, pyright

Scope experimental tasks to the session that created them
  docs/experimental/tasks-server.md
  src/mcp/server/experimental/__init__.py
  src/mcp/server/experimental/request_context.py
  src/mcp/server/experimental/session_features.py
  src/mcp/server/experimental/task_result_handler.py
  src/mcp/server/experimental/task_scope.py
  src/mcp/server/experimental/task_support.py
  src/mcp/server/lowlevel/experimental.py
  src/mcp/server/lowlevel/server.py
  tests/experimental/tasks/server/test_server.py
  tests/experimental/tasks/server/test_task_scope.py
  tests/experimental/tasks/server/test_task_visibility.py
  tests/experimental/tasks/test_request_context.py
Due: ruff-format, ruff, pyright, readme-snippets

[v1.x] Scope experimental tasks to the session that created them (#2720)
  docs/experimental/tasks-server.md
  src/mcp/server/experimental/__init__.py
  src/mcp/server/experimental/request_context.py
  src/mcp/server/experimental/session_features.py
  src/mcp/server/experimental/task_result_handler.py
  src/mcp/server/experimental/task_scope.py
  src/mcp/server/experimental/task_support.py
  src/mcp/server/lowlevel/experimental.py
  src/mcp/server/lowlevel/server.py
  tests/experimental/tasks/server/test_server.py
  tests/experimental/tasks/server/test_task_scope.py
  tests/experimental/tasks/server/test_task_visibility.py
  tests/experimental/tasks/test_request_context.py
Due: ruff-format, ruff, pyright, readme-snippets

tests: expect SSE session-entry cleanup on disconnect
  tests/interaction/transports/test_sse.py
Due: ruff-format, ruff, pyright

fix: normalize oauth redirect uri url types
  src/mcp/shared/auth.py
  tests/shared/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: exit cleanly on stdio KeyboardInterrupt
  src/mcp/server/mcpserver/server.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: drain terminal streamable HTTP responses
  src/mcp/client/streamable_http.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Fix stdio transport closing sys.stdin.buffer/sys.stdout.buffer on exit
  src/mcp/server/stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: gracefully close streamable HTTP sessions on shutdown
  src/mcp/server/streamable_http.py
  src/mcp/server/streamable_http_manager.py
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

tests: resolve TOCTOU port race conditions for streamable-HTTP/SSE tests
  tests/client/test_http_unicode.py
  tests/server/test_sse_security.py
  tests/server/test_streamable_http_security.py
  tests/shared/test_sse.py
  tests/shared/test_streamable_http.py
  tests/test_helpers.py
Due: ruff-format, ruff, pyright

Fix typos found by codespell: requestor -> requester, Implementors -> Implementers
  src/mcp/server/auth/provider.py
  src/mcp/server/sse.py
  src/mcp/server/streamable_http_manager.py
  src/mcp/types/_types.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: request json token responses
  src/mcp/client/auth/oauth2.py
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

Send SEP-2243 Mcp-Method/Mcp-Name headers from the StreamableHTTP client
  src/mcp/client/streamable_http.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: send Origin header for streamable HTTP
  src/mcp/client/streamable_http.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: add missing docstrings to core public API methods
  src/mcp/client/session.py
  src/mcp/client/sse.py
  src/mcp/server/session.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: preserve FastMCP tool error results
  src/mcp/server/fastmcp/utilities/func_metadata.py
  tests/server/fastmcp/test_func_metadata.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: omit empty task result fields
  src/mcp/server/experimental/task_result_handler.py
  tests/experimental/tasks/server/test_task_result_handler.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: use os.dup to avoid closing real stdin/stdout in stdio_server
  src/mcp/server/stdio.py
  tests/server/test_stdio.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

docs(examples): fix subject-verb agreement in examples README
  examples/README.md
Due: none

docs: fix InMemoryTaskStore import path in experimental tasks docs
  docs/experimental/tasks-client.md
  docs/experimental/tasks.md
Due: readme-snippets

fix: gracefully terminate active StreamableHTTP sessions during shutdown
  src/mcp/server/streamable_http_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: close SSE stream writers in terminate() to allow graceful completion
  src/mcp/server/streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

test: add regression test for issue #2001 (progress related_request_id)
  tests/issues/test_2001_progress_related_request_id.py
Due: ruff-format, ruff, pyright

fix: correct indentation and simplify docstrings in regression test
  tests/issues/test_2001_progress_related_request_id.py
Due: ruff-format, ruff, pyright

style: normalize indentation to 4 spaces for ruff-format compliance
  tests/issues/test_2001_progress_related_request_id.py
Due: ruff-format, ruff, pyright

Update test_2001_progress_related_request_id.py
  tests/issues/test_2001_progress_related_request_id.py
Due: ruff-format, ruff, pyright

Path conditions:
  ruff-format: any of: \.py$
  ruff: any of: \.py$, but not: ^README(\.v2)?\.md$
  pyright: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  readme-v1-frozen: any of: ^README\.md$
  readme-snippets: any of: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
