Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args:
          [
            "--fix",
            "--config",
            "pyproject.toml",
            "--configPointer",
            "/tool/markdown/lint",
          ]
        types: [markdown]

  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff Format
        entry: uv run --frozen ruff
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: ruff
        name: Ruff
        entry: uv run --frozen ruff
        args: ["check", "--fix", "--exit-non-zero-on-fix"]
        types: [python]
        language: system
        pass_filenames: false
        exclude: ^README(\.v2)?\.md$
      - id: pyright
        name: pyright
        entry: uv run --frozen pyright
        language: system
        types: [python]
        pass_filenames: false
      - id: uv-lock-check
        name: Check uv.lock is up to date
        entry: uv lock --check
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false
      # TODO(Max): Drop this in v2.
      - id: readme-v1-frozen
        name: README.md is frozen (v1 docs)
        entry: README.md is frozen at v1. Edit README.v2.md instead.
        language: fail
        files: ^README\.md$
      - id: readme-snippets
        name: Check snippets are up to date
        entry: uv run --frozen python scripts/sync_snippets.py --check
        language: system
        files: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
        pass_filenames: false

Fix 404 links in v1 README to renamed example files
  README.md
Due: readme-v1-frozen

Clarify AGENTS.md policy on compat shims for breaking changes
  AGENTS.md
Due: none

Clarify AGENTS.md policy on compat shims for breaking changes (#2823)
  AGENTS.md
Due: none

feat(types): add SEP-2549 cache hints to result models
  docs/migration.md
  src/mcp/types/__init__.py
  src/mcp/types/_types.py
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_wire.py
  tests/server/lowlevel/test_server_listing.py
  tests/server/mcpserver/test_server.py
  tests/test_types.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: compare OAuth redirect URI strings
  src/mcp/shared/auth.py
  tests/shared/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: omit null optional fields from task result payloads (#2809)
  src/mcp/server/experimental/task_result_handler.py
  tests/experimental/tasks/server/test_task_result_handler.py
Due: ruff-format, ruff, pyright, readme-snippets

Expose sampling capabilities on high-level clients
  README.v2.md
  src/mcp/client/client.py
  src/mcp/client/session_group.py
  tests/client/test_client.py
  tests/client/test_session_group.py
  tests/interaction/_connect.py
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_sampling.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: cover redirect URI collection inputs
  src/mcp/shared/auth.py
  tests/shared/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: surface stateful HTTP session crash cause
  src/mcp/server/streamable_http.py
  src/mcp/server/streamable_http_manager.py
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

Deprecate the WebSocket transport and the experimental tasks entry points
  docs/experimental/index.md
  docs/experimental/tasks-client.md
  docs/experimental/tasks-server.md
  docs/experimental/tasks.md
  pyproject.toml
  src/mcp/client/session.py
  src/mcp/client/websocket.py
  src/mcp/server/experimental/request_context.py
  src/mcp/server/experimental/task_context.py
  src/mcp/server/experimental/task_support.py
  src/mcp/server/lowlevel/experimental.py
  src/mcp/server/lowlevel/server.py
  src/mcp/server/session.py
  src/mcp/server/websocket.py
  tests/experimental/tasks/conftest.py
  tests/experimental/tasks/test_deprecations.py
  tests/experimental/tasks/test_request_context.py
  tests/shared/test_ws.py
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Prepare release machinery for v2 pre-releases
  .github/workflows/comment-on-release.yml
  README.v2.md
  RELEASE.md
  SECURITY.md
  pyproject.toml
Due: uv-lock-check, readme-snippets

fix: preserve OAuth endpoint query params
  src/mcp/client/auth/oauth2.py
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

style: format OAuth query endpoint test
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright

Reword the v2 README banner
  README.v2.md
Due: readme-snippets

Use a concrete specifier example in the upper-bound ask
  README.v2.md
Due: readme-snippets

Address review findings on the pre-release machinery
  .github/workflows/comment-on-release.yml
  README.v2.md
  RELEASE.md
  examples/snippets/clients/stdio_client.py
  pyproject.toml
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Prepare release machinery for v2 pre-releases (#2831)
  .github/workflows/comment-on-release.yml
  README.v2.md
  RELEASE.md
  SECURITY.md
  examples/snippets/clients/stdio_client.py
  pyproject.toml
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

fix MCPServer tool result shapes
  src/mcp/server/mcpserver/server.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

Update the v2 status banner and pin spawned environments to the running SDK version
  .github/workflows/shared.yml
  README.md
  src/mcp/cli/claude.py
  src/mcp/cli/cli.py
  tests/cli/test_claude.py
  tests/cli/test_utils.py
Due: ruff-format, ruff, pyright, readme-v1-frozen, readme-snippets

Add a v2 status banner to the README
  README.md
Due: readme-v1-frozen

[v1.x] Deprecate the WebSocket transport and the experimental tasks entry points (#2828)
  docs/experimental/index.md
  docs/experimental/tasks-client.md
  docs/experimental/tasks-server.md
  docs/experimental/tasks.md
  pyproject.toml
  src/mcp/client/session.py
  src/mcp/client/websocket.py
  src/mcp/server/experimental/request_context.py
  src/mcp/server/experimental/task_context.py
  src/mcp/server/experimental/task_support.py
  src/mcp/server/lowlevel/experimental.py
  src/mcp/server/lowlevel/server.py
  src/mcp/server/session.py
  src/mcp/server/websocket.py
  tests/experimental/tasks/conftest.py
  tests/experimental/tasks/test_deprecations.py
  tests/experimental/tasks/test_request_context.py
  tests/shared/test_ws.py
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Fall back to unpinned mcp when distribution metadata is missing
  src/mcp/cli/claude.py
  tests/cli/test_claude.py
Due: ruff-format, ruff, pyright, readme-snippets

[v1.x] Add a v2 status banner to the README (#2835)
  README.md
Due: readme-v1-frozen

Update the v2 status banner and pin spawned environments to the running SDK version (#2834)
  .github/workflows/shared.yml
  README.md
  src/mcp/cli/claude.py
  src/mcp/cli/cli.py
  tests/cli/test_claude.py
  tests/cli/test_utils.py
Due: ruff-format, ruff, pyright, readme-v1-frozen, readme-snippets

Compare protocol versions through a known-version registry
  src/mcp/client/auth/oauth2.py
  src/mcp/server/streamable_http.py
  src/mcp/shared/version.py
  tests/client/test_auth.py
  tests/shared/test_streamable_http.py
  tests/shared/test_version.py
Due: ruff-format, ruff, pyright, readme-snippets

Return METHOD_NOT_FOUND for requests with unknown methods
  src/mcp/client/session.py
  src/mcp/shared/session.py
  tests/shared/test_session.py
Due: ruff-format, ruff, pyright, readme-snippets

Answer unknown methods with METHOD_NOT_FOUND before the initialize gate
  src/mcp/server/runner.py
  tests/interaction/lowlevel/test_completion.py
  tests/interaction/lowlevel/test_resources.py
  tests/interaction/mcpserver/test_context.py
  tests/server/test_runner.py
Due: ruff-format, ruff, pyright, readme-snippets

Expose the negotiated protocol version on ServerSession
  src/mcp/server/connection.py
  src/mcp/server/session.py
  tests/client/test_client.py
  tests/server/test_session.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: extra fields on MCP types are ignored, not rejected
  docs/migration.md
Due: readme-snippets

Limit the version registry to released protocol versions
  src/mcp/shared/version.py
  tests/client/test_auth.py
  tests/shared/test_version.py
Due: ruff-format, ruff, pyright, readme-snippets

Harden the streaming ASGI bridge against trailing responses
  tests/interaction/conftest.py
  tests/interaction/test_coverage.py
  tests/interaction/transports/_bridge.py
  tests/interaction/transports/test_bridge.py
Due: ruff-format, ruff, pyright

Exclude the connection loop's exit arc from branch coverage
  tests/shared/test_sse.py
Due: ruff-format, ruff, pyright

Run StreamableHTTP transport tests in process instead of over sockets (#2767)
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright

Extend the per-test GC fixture to the SSE and Unicode HTTP test modules
  tests/client/test_http_unicode.py
  tests/shared/test_sse.py
Due: ruff-format, ruff, pyright

Run transport security tests in process instead of over sockets (#2764)
  tests/server/test_sse_security.py
  tests/server/test_streamable_http_manager.py
  tests/server/test_streamable_http_security.py
Due: ruff-format, ruff, pyright

tests: re-export StreamingASGITransport as the sanctioned bridge import point
  tests/interaction/transports/__init__.py
Due: ruff-format, ruff, pyright

Run SSE and Unicode transport tests in process instead of over sockets (#2765)
  tests/client/test_http_unicode.py
  tests/shared/test_sse.py
Due: ruff-format, ruff, pyright

Guard streamable-HTTP test modules against sse-starlette's module-global exit event
  tests/server/test_streamable_http_security.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright

Guard in-process HTTP tests against sse-starlette's global exit event
  tests/client/test_http_unicode.py
  tests/shared/test_sse.py
Due: ruff-format, ruff, pyright
