Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

ruff-format:
  name: Ruff Format
  entry: uv run --frozen ruff
  args:
  - format
  language: system
  pass_filenames: false

ruff:
  name: Ruff
  entry: uv run --frozen ruff
  args:
  - check
  - --fix
  - --exit-non-zero-on-fix
  language: system
  pass_filenames: false

pyright:
  name: pyright
  entry: uv run --frozen pyright
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv.lock is up to date
  entry: uv lock --check
  language: system
  pass_filenames: false

readme-v1-frozen:
  name: README.md is frozen (v1 docs)
  entry: README.md is frozen at v1. Edit README.v2.md instead.
  language: fail

readme-snippets:
  name: Check snippets are up to date
  entry: uv run --frozen python scripts/sync_snippets.py --check
  language: system
  pass_filenames: false

Test cases
  src/mcp/shared/session.py
  tests/test_context_propagation.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

OpenTelemetry `_meta` propagation
  pyproject.toml
  src/mcp/shared/session.py
  tests/shared/test_otel_context_meta.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Propagate contextvars through anyio streams
  src/mcp/client/sse.py
  src/mcp/client/streamable_http.py
  src/mcp/server/lowlevel/server.py
  src/mcp/shared/message.py
  src/mcp/shared/session.py
Due: ruff-format, ruff, pyright, readme-snippets

Extract OTel context from `_meta` in incoming requests
  src/mcp/shared/session.py
  tests/shared/test_otel_context_meta.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: update FastMCP cancellation docs in README.v2
  README.md
  README.v2.md
Due: readme-v1-frozen, readme-snippets

docs: move validation guidance to README.v2
  README.md
  README.v2.md
Due: readme-v1-frozen, readme-snippets

test: align structured tool result assertions with types
  tests/server/mcpserver/test_tool_manager.py
Due: ruff-format, ruff, pyright

Implement MCP client opentelemetry tracing
  src/mcp/client/client.py
  src/mcp/client/session.py
  src/mcp/server/lowlevel/server.py
  src/mcp/server/mcpserver/server.py
  src/mcp/server/session.py
  src/mcp/shared/_otel_utils.py
  src/mcp/shared/session.py
  tests/shared/test_otel_tracing.py
Due: ruff-format, ruff, pyright, readme-snippets

test(session): cover known request method helpers
  tests/issues/test_1561_invalid_method_code.py
Due: ruff-format, ruff, pyright

test(session): drop unnecessary coverage pragmas
  tests/issues/test_1561_invalid_method_code.py
Due: ruff-format, ruff, pyright

fix: resolve pyright type errors in experimental.py and tests
  src/mcp/server/lowlevel/experimental.py
  tests/server/lowlevel/test_handler_registration.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: correct pyright type and coverage in handler registration tests
  tests/server/lowlevel/test_handler_registration.py
Due: ruff-format, ruff, pyright

Add warning log when rejecting requests with unknown session IDs
  src/mcp/server/streamable_http_manager.py
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: add warning log for unknown/expired session ID in _handle_stateful_request
  src/mcp/server/streamable_http_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: Ensure stdio server exits when stdin reaches EOF
  src/mcp/server/stdio.py
  tests/test_stdio_eof.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: remove MIME type validation from MCPServer Resource
  src/mcp/server/mcpserver/resources/base.py
  tests/server/mcpserver/resources/test_resources.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: make local coverage runs reliable
  .github/workflows/shared.yml
  CLAUDE.md
  scripts/test
  tests/test_examples.py
Due: ruff-format, ruff, pyright

Use info level and truncate client-controlled session ID
  src/mcp/server/streamable_http_manager.py
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: Add documentation for stdio server shutdown behavior
  docs/stdio_server_shutdown.md
Due: readme-snippets

Truncate untrusted peer-controlled values before logging/raising
  src/mcp/client/session.py
  src/mcp/client/session_group.py
  src/mcp/client/sse.py
  src/mcp/client/streamable_http.py
  src/mcp/server/auth/handlers/authorize.py
  src/mcp/server/auth/handlers/register.py
  src/mcp/server/auth/handlers/token.py
  src/mcp/server/experimental/task_result_handler.py
  src/mcp/server/lowlevel/experimental.py
  src/mcp/server/mcpserver/prompts/manager.py
  src/mcp/server/mcpserver/resources/resource_manager.py
  src/mcp/server/mcpserver/server.py
  src/mcp/server/mcpserver/tools/tool_manager.py
  src/mcp/server/sse.py
  src/mcp/server/streamable_http.py
  src/mcp/server/transport_security.py
  src/mcp/shared/auth.py
  src/mcp/shared/experimental/tasks/in_memory_task_store.py
  src/mcp/shared/session.py
Due: ruff-format, ruff, pyright, readme-snippets

test(auth): cover lowlevel auth app helper branches
  tests/server/test_lowlevel_streamable_http_auth_app.py
Due: ruff-format, ruff, pyright

style: Fix trailing whitespace
  tests/test_stdio_eof.py
Due: ruff-format, ruff, pyright

fix: Fix test to use mock stdin/stdout instead of sys.stdin
  tests/test_stdio_eof.py
Due: ruff-format, ruff, pyright

fix: Use mock stdin/stdout in tests
  tests/test_stdio_eof.py
Due: ruff-format, ruff, pyright

fix: accept wildcard media types in Accept header per RFC 7231
  src/mcp/server/streamable_http.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: address review feedback for accept header parsing
  src/mcp/server/streamable_http.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

test: Remove test file that causes CI failures on Windows
  tests/test_stdio_eof.py
Due: ruff-format, ruff, pyright

test: Remove test file causing CI failures
  docs/stdio_server_shutdown.md
  tests/test_stdio_eof.py
Due: ruff-format, ruff, pyright, readme-snippets

feat: graceful SSE drain on session manager shutdown
  src/mcp/server/streamable_http_manager.py
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

Fix: Allow Any type in logging methods per MCP spec (issue #397)
  examples/mcpserver/logging_and_progress.py
  src/mcp/server/mcpserver/context.py
Due: ruff-format, ruff, pyright, readme-snippets

style: apply ruff format to authlib_adapter
  src/mcp/client/auth/authlib_adapter.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: resolve circular import and ruff lint issues
  src/mcp/client/auth/__init__.py
  src/mcp/client/auth/utils.py
  tests/client/auth/test_authlib_adapter.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: add authlib to uv.lock so CI frozen install works
  uv.lock
Due: uv-lock-check

feat(auth): add Authlib-backed OAuth adapter (closes #1240)
  pyproject.toml
  src/mcp/client/auth/__init__.py
  src/mcp/client/auth/authlib_adapter.py
  tests/client/auth/__init__.py
  tests/client/auth/test_authlib_adapter.py
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Path conditions:
  ruff-format: any of: \.py$
  ruff: any of: \.py$, but not: ^README(\.v2)?\.md$
  pyright: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  readme-v1-frozen: any of: ^README\.md$
  readme-snippets: any of: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
