Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

ruff-format:
  name: Ruff Format
  entry: uv run --frozen ruff
  args:
  - format
  language: system
  pass_filenames: false

ruff:
  name: Ruff
  entry: uv run --frozen ruff
  args:
  - check
  - --fix
  - --exit-non-zero-on-fix
  language: system
  pass_filenames: false

pyright:
  name: pyright
  entry: uv run --frozen pyright
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv.lock is up to date
  entry: uv lock --check
  language: system
  pass_filenames: false

readme-v1-frozen:
  name: README.md is frozen (v1 docs)
  entry: README.md is frozen at v1. Edit README.v2.md instead.
  language: fail

readme-snippets:
  name: Check snippets are up to date
  entry: uv run --frozen python scripts/sync_snippets.py --check
  language: system
  pass_filenames: false

test(oauth): fix token_type literal in regression
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright

test(oauth): keep resource off refresh tokens
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright

test: clarify OAuth resource refresh coverage
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright

Fix OAuth refresh resource handling
  src/mcp/client/auth/oauth2.py
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(session): drop unknown-ID responses instead of crashing session
  src/mcp/shared/session.py
  tests/issues/test_1401_client_session_error_handling.py
Due: ruff-format, ruff, pyright, readme-snippets

style: apply ruff format to session.py and test_1401
  src/mcp/shared/session.py
  tests/issues/test_1401_client_session_error_handling.py
Due: ruff-format, ruff, pyright, readme-snippets

test: fix coverage — remove unused handle_list_tools, mark else-branch
  tests/issues/test_1401_client_session_error_handling.py
Due: ruff-format, ruff, pyright

fix(client): propagate transport exceptions in default message handler
  src/mcp/client/session.py
  tests/issues/test_1401_client_session_error_handling.py
Due: ruff-format, ruff, pyright, readme-snippets

test: remove unnecessary coverage pragmas
  src/mcp/shared/session.py
Due: ruff-format, ruff, pyright, readme-snippets

style: fix import order in tests
  tests/issues/test_1401_client_session_error_handling.py
Due: ruff-format, ruff, pyright

fix: resolve pyright errors and add coverage pragma
  src/mcp/shared/session.py
  tests/issues/test_1401_client_session_error_handling.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: fix TypeScript capitalization in streamable HTTP example
  examples/servers/simple-streamablehttp/README.md
Due: none

ci: add zizmor for GitHub Actions security analysis
  .github/workflows/claude.yml
  .github/workflows/comment-on-release.yml
  .github/workflows/conformance.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/publish-pypi.yml
  .github/workflows/shared.yml
  .github/workflows/weekly-lockfile-update.yml
  .github/workflows/zizmor.yml
Due: none

ci: bump zizmor-action to v0.5.6 and disable uv cache in release build
  .github/workflows/publish-pypi.yml
  .github/workflows/zizmor.yml
Due: none

ci: add zizmor for GitHub Actions security analysis (#2648)
  .github/workflows/claude.yml
  .github/workflows/comment-on-release.yml
  .github/workflows/conformance.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/publish-pypi.yml
  .github/workflows/shared.yml
  .github/workflows/weekly-lockfile-update.yml
  .github/workflows/zizmor.yml
Due: none

fix: request identity encoding for streamable HTTP
  src/mcp/client/streamable_http.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(auth): avoid SSE OAuth refresh deadlock
  src/mcp/client/auth/oauth2.py
  src/mcp/client/sse.py
  tests/client/test_auth.py
  tests/shared/test_sse.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(oauth): narrow async_auth_flow lock scope to avoid blocking long-poll requests
  src/mcp/client/auth/oauth2.py
Due: ruff-format, ruff, pyright, readme-snippets

test: add regression coverage for OAuthClientProvider concurrent requests
  src/mcp/client/auth/oauth2.py
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

test: cover refresh failure paths and double-check refresh skip
  src/mcp/client/auth/oauth2.py
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: buffer stdio server writes during progress notifications
  src/mcp/server/stdio.py
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(mcpserver): advertise capabilities only for registered primitives
  src/mcp/server/lowlevel/server.py
  src/mcp/server/mcpserver/server.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(mcpserver): add lax no cover pragmas for subprocess-only coverage paths
  src/mcp/server/mcpserver/server.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: rename .gitattribute to .gitattributes so git actually reads it
  .gitattributes
Due: none

Add list_all_* helpers that drain pagination on the client
  src/mcp/client/client.py
  src/mcp/client/session_group.py
  tests/client/test_list_all_pagination.py
  tests/client/test_session_group.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: serialize Image and Audio helpers as ImageContent/AudioContent
  src/mcp/server/fastmcp/utilities/types.py
  tests/issues/test_2376_image_stateless_http.py
Due: ruff-format, ruff, pyright, readme-snippets

docs(experimental): add docstrings to default task handler functions
  src/mcp/client/experimental/task_handlers.py
Due: ruff-format, ruff, pyright, readme-snippets

docs(auth): clarify that resource_server_url must include the transport path
  README.v2.md
  examples/servers/simple-auth/mcp_simple_auth/server.py
  examples/snippets/servers/oauth_server.py
  src/mcp/server/auth/settings.py
Due: ruff-format, ruff, pyright, readme-snippets

docs(auth): replace section symbol with ASCII in RFC 9728 comments
  README.v2.md
  examples/servers/simple-auth/mcp_simple_auth/server.py
  examples/snippets/servers/oauth_server.py
  src/mcp/server/auth/settings.py
Due: ruff-format, ruff, pyright, readme-snippets

Add subject and claims to AccessToken
  examples/servers/simple-auth/mcp_simple_auth/auth_server.py
  examples/servers/simple-auth/mcp_simple_auth/simple_auth_provider.py
  examples/servers/simple-auth/mcp_simple_auth/token_verifier.py
  src/mcp/server/auth/provider.py
  src/mcp/server/mcpserver/context.py
  tests/server/auth/test_provider.py
  tests/server/mcpserver/auth/test_context_subject.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(auth): accept client credentials from Basic auth header in token endpoint
  src/mcp/server/auth/handlers/token.py
  src/mcp/server/auth/middleware/client_auth.py
  tests/server/mcpserver/auth/test_auth_integration.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: include transport path in protected resource metadata URL (RFC 9728)
  src/mcp/server/lowlevel/server.py
  src/mcp/server/mcpserver/server.py
  tests/server/auth/test_protected_resource.py
Due: ruff-format, ruff, pyright, readme-snippets

PR 2452
  src/mcp/shared/direct_dispatcher.py
  src/mcp/shared/dispatcher.py
  src/mcp/shared/exceptions.py
  src/mcp/shared/transport_context.py
  src/mcp/types/__init__.py
  src/mcp/types/jsonrpc.py
  tests/shared/test_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

PR 2458
  .github/workflows/main.yml
  src/mcp/shared/direct_dispatcher.py
  src/mcp/shared/dispatcher.py
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/shared/conftest.py
  tests/shared/test_dispatcher.py
  tests/shared/test_jsonrpc_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

PR 2460
  src/mcp/server/_typed_request.py
  src/mcp/server/connection.py
  src/mcp/server/context.py
  src/mcp/shared/context.py
  src/mcp/shared/peer.py
  tests/server/test_connection.py
  tests/server/test_server_context.py
  tests/shared/test_context.py
  tests/shared/test_peer.py
Due: ruff-format, ruff, pyright, readme-snippets

PR 2491
  pyproject.toml
  src/mcp/server/context.py
  src/mcp/server/lowlevel/server.py
  src/mcp/server/runner.py
  src/mcp/shared/_otel.py
  tests/conftest.py
  tests/server/conftest.py
  tests/server/test_runner.py
  tests/shared/test_otel.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

fix: wrap pipe union structured outputs
  src/mcp/server/mcpserver/utilities/func_metadata.py
  tests/server/mcpserver/test_func_metadata.py
Due: ruff-format, ruff, pyright, readme-snippets

test: add interaction-model e2e suite with requirements manifest
  pyproject.toml
  src/mcp/client/session.py
  src/mcp/server/session.py
  tests/interaction/__init__.py
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/__init__.py
  tests/interaction/lowlevel/test_ping.py
  tests/interaction/lowlevel/test_prompts.py
  tests/interaction/lowlevel/test_resources.py
  tests/interaction/lowlevel/test_tools.py
  tests/interaction/mcpserver/__init__.py
  tests/interaction/mcpserver/test_tools.py
  tests/interaction/test_coverage.py
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

test: add lifecycle, completion, logging, and MCPServer feature interaction tests
  src/mcp/server/lowlevel/server.py
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_completion.py
  tests/interaction/lowlevel/test_initialize.py
  tests/interaction/lowlevel/test_logging.py
  tests/interaction/mcpserver/test_prompts.py
  tests/interaction/mcpserver/test_resources.py
  tests/interaction/mcpserver/test_tools.py
Due: ruff-format, ruff, pyright, readme-snippets

style: fix ruff formatting in test_auth_integration.py
  tests/server/mcpserver/auth/test_auth_integration.py
Due: ruff-format, ruff, pyright

Path conditions:
  ruff-format: any of: \.py$
  ruff: any of: \.py$, but not: ^README(\.v2)?\.md$
  pyright: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  readme-v1-frozen: any of: ^README\.md$
  readme-snippets: any of: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
