Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args:
          [
            "--fix",
            "--config",
            "pyproject.toml",
            "--configPointer",
            "/tool/markdown/lint",
          ]
        types: [markdown]

  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff Format
        entry: uv run --frozen ruff
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: ruff
        name: Ruff
        entry: uv run --frozen ruff
        args: ["check", "--fix", "--exit-non-zero-on-fix"]
        types: [python]
        language: system
        pass_filenames: false
        exclude: ^README(\.v2)?\.md$
      - id: pyright
        name: pyright
        entry: uv run --frozen pyright
        language: system
        types: [python]
        pass_filenames: false
      - id: uv-lock-check
        name: Check uv.lock is up to date
        entry: uv lock --check
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false
      # TODO(Max): Drop this in v2.
      - id: readme-v1-frozen
        name: README.md is frozen (v1 docs)
        entry: README.md is frozen at v1. Edit README.v2.md instead.
        language: fail
        files: ^README\.md$
      - id: readme-snippets
        name: Check snippets are up to date
        entry: uv run --frozen python scripts/sync_snippets.py --check
        language: system
        files: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
        pass_filenames: false

fix: default encoding_error_handler to 'replace' in StdioServerParameters
  src/mcp/client/stdio.py
  tests/client/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: expose session_idle_timeout in streamable_http_app and prevent active request cancellation
  src/mcp/server/lowlevel/server.py
  src/mcp/server/mcpserver/server.py
  src/mcp/server/streamable_http_manager.py
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

Add repository standards (editorconfig, gitattributes)
  .editorconfig
  .gitattributes
Due: none

Fix Windows CRLF in stdio server TextIOWrapper
  src/mcp/server/stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

feat(security): add subdomain wildcard support to allowed_hosts and allowed_origins
  src/mcp/server/transport_security.py
  tests/server/test_transport_security.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(mcpserver): advertise capabilities only for registered primitives
  src/mcp/server/lowlevel/server.py
  src/mcp/server/mcpserver/server.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

Remove dead commented-out code in register_client
  src/mcp/client/auth/utils.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(v1.x): drop responses on closed write streams
  src/mcp/shared/session.py
  tests/server/test_session.py
Due: ruff-format, ruff, pyright, readme-snippets

test(v1.x): fix closed-stream regression CI
  tests/server/test_lowlevel_exception_handling.py
  tests/server/test_session.py
Due: ruff-format, ruff, pyright

Avoid configuring logging during MCPServer init
  src/mcp/server/mcpserver/server.py
  tests/server/mcpserver/test_server.py
  tests/server/mcpserver/utilities/test_logging.py
Due: ruff-format, ruff, pyright, readme-snippets

test: drop pragma now that data property is covered
  src/mcp/shared/exceptions.py
Due: ruff-format, ruff, pyright, readme-snippets

test: ServerRunner coverage to 100% — otel span assertions + connected_runner harness
  pyproject.toml
  src/mcp/server/lowlevel/server.py
  src/mcp/server/runner.py
  src/mcp/shared/_otel.py
  tests/server/conftest.py
  tests/server/test_runner.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

test: converge span capture on capfire to fix xdist order-dependence
  tests/conftest.py
  tests/server/conftest.py
  tests/server/test_runner.py
  tests/shared/test_otel.py
Due: ruff-format, ruff, pyright

Fix Streamable HTTP wording
  README.md
Due: readme-v1-frozen

Fix stdio_server closing process stdio
  src/mcp/server/stdio.py
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

feat(cli): support env vars in `mcp dev` (#339)
  README.v2.md
  src/mcp/cli/cli.py
  tests/cli/test_utils.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: prefix unused write_stream with underscore to satisfy pyright
  tests/client/test_stdio.py
Due: ruff-format, ruff, pyright

test(cli): cover `_resolve_env` error paths
  src/mcp/cli/cli.py
  tests/cli/test_utils.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(stdio): satisfy pyright and cover dup-fd fallback
  src/mcp/server/stdio.py
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: skip outputSchema validation when CallToolResult.is_error=True
  src/mcp/server/mcpserver/utilities/func_metadata.py
  tests/server/mcpserver/test_func_metadata.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(server): return 405 on GET/DELETE in stateless HTTP mode
  src/mcp/server/streamable_http_manager.py
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(streamable_http): expose session_idle_timeout and don't reap active sessions
  src/mcp/server/lowlevel/server.py
  src/mcp/server/mcpserver/server.py
  src/mcp/server/streamable_http.py
  src/mcp/server/streamable_http_manager.py
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

feat: add custom content support to ToolError for isError responses
  src/mcp/server/mcpserver/__init__.py
  src/mcp/server/mcpserver/exceptions.py
  src/mcp/server/mcpserver/server.py
  src/mcp/server/mcpserver/tools/base.py
  tests/server/mcpserver/test_tool_error_content.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: add pragma no-cover to defensive except-Exception fallback
  src/mcp/server/mcpserver/server.py
Due: ruff-format, ruff, pyright, readme-snippets

test(lowlevel): update outputSchema-no-structured-content test for new behavior
  tests/server/test_lowlevel_output_validation.py
Due: ruff-format, ruff, pyright

fix: prevent infinite reconnection loop when SSE stream drops without response
  src/mcp/client/streamable_http.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: move logging configuration from MCPServer.__init__ to run()
  src/mcp/server/mcpserver/server.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: add pragma no branch for coverage on reconnection error path
  src/mcp/client/streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: send notifications/cancelled on request timeout and caller cancellation
  src/mcp/shared/session.py
  tests/shared/test_session.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: remove unused server_write variables in tests
  tests/shared/test_session.py
Due: ruff-format, ruff, pyright

fix: add timeout to shielded cancel notification to prevent hangs
  src/mcp/shared/session.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: add pragma no branch for async for coverage arcs in tests
  tests/shared/test_session.py
Due: ruff-format, ruff, pyright

fix: eliminate elif branches in test mock_server for 100% coverage
  tests/shared/test_session.py
Due: ruff-format, ruff, pyright

fix: remove stale pragma no cover from lines now covered by tests
  src/mcp/shared/session.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: restore pragma no cover on unreachable cancel_scope guard
  src/mcp/shared/session.py
Due: ruff-format, ruff, pyright, readme-snippets

Document env vars for MCP dev mode
  README.md
Due: readme-v1-frozen

Document FastMCP server instructions
  README.v2.md
Due: readme-snippets

test: add regression test for #915 (catchable error on unreachable streamable-http)
  tests/client/test_session_group.py
Due: ruff-format, ruff, pyright

fix(test): resolve BaseExceptionGroup name error and Pyright warnings
  tests/client/test_session_group.py
Due: ruff-format, ruff, pyright
