Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

ruff-format:
  name: Ruff Format
  entry: uv run --frozen ruff
  args:
  - format
  language: system
  pass_filenames: false

ruff:
  name: Ruff
  entry: uv run --frozen ruff
  args:
  - check
  - --fix
  - --exit-non-zero-on-fix
  language: system
  pass_filenames: false

pyright:
  name: pyright
  entry: uv run --frozen pyright
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv.lock is up to date
  entry: uv lock --check
  language: system
  pass_filenames: false

readme-v1-frozen:
  name: README.md is frozen (v1 docs)
  entry: README.md is frozen at v1. Edit README.v2.md instead.
  language: fail

readme-snippets:
  name: Check snippets are up to date
  entry: uv run --frozen python scripts/sync_snippets.py --check
  language: system
  pass_filenames: false

chore: bump anyio minimum to 4.9 for free_tcp_port fixture
  pyproject.toml
  uv.lock
Due: uv-lock-check

test: check exc_value instead of args.object in leak hook
  tests/client/test_transport_stream_cleanup.py
Due: ruff-format, ruff, pyright

refactor(examples): migrate all HTTP examples to streamable_http_app()
  docs/experimental/tasks-server.md
  examples/servers/simple-pagination/README.md
  examples/servers/simple-pagination/mcp_simple_pagination/server.py
  examples/servers/simple-prompt/README.md
  examples/servers/simple-prompt/mcp_simple_prompt/server.py
  examples/servers/simple-resource/README.md
  examples/servers/simple-resource/mcp_simple_resource/server.py
  examples/servers/simple-streamablehttp-stateless/mcp_simple_streamablehttp_stateless/server.py
  examples/servers/simple-streamablehttp/mcp_simple_streamablehttp/server.py
  examples/servers/simple-tool/README.md
  examples/servers/simple-tool/mcp_simple_tool/server.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: close all memory stream ends in client transport cleanup (#2266)
  pyproject.toml
  src/mcp/client/sse.py
  src/mcp/client/streamable_http.py
  src/mcp/client/websocket.py
  tests/client/test_transport_stream_cleanup.py
  tests/shared/test_sse.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

refactor: connect-first stream lifecycle for sse and streamable_http
  src/mcp/client/sse.py
  src/mcp/client/streamable_http.py
  tests/client/test_transport_stream_cleanup.py
Due: ruff-format, ruff, pyright, readme-snippets

refactor(auth): decouple core server from auth module for tenant extraction
  src/mcp/server/auth/middleware/auth_context.py
  src/mcp/server/lowlevel/server.py
  src/mcp/shared/_context.py
  tests/server/auth/middleware/test_auth_context.py
  tests/server/test_multi_tenancy_session.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: clarify CORS comment and drop stale README bullets
  examples/servers/simple-streamablehttp-stateless/README.md
  examples/servers/simple-streamablehttp-stateless/mcp_simple_streamablehttp_stateless/server.py
  examples/servers/simple-streamablehttp/README.md
  examples/servers/simple-streamablehttp/mcp_simple_streamablehttp/server.py
Due: ruff-format, ruff, pyright, readme-snippets

client: store server_info on ClientSession after initialization
  src/mcp/client/session.py
  tests/client/test_session.py
Due: ruff-format, ruff, pyright, readme-snippets

tests: mark unreachable zero-iteration branch in POLLHUP monitor loop
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright

fix: pragma no cover on finally cleanup lines to fix 100% coverage gate
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright

feat: extract parameter descriptions from docstrings into tool JSON schemas
  pyproject.toml
  src/mcp/server/mcpserver/utilities/func_metadata.py
  tests/server/mcpserver/test_func_metadata.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

fix: remove GoogleOptions import for griffe compat with older versions
  src/mcp/server/mcpserver/utilities/func_metadata.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: add environment variables guide
  docs/environment-variables.md
  mkdocs.yml
Due: readme-snippets

fix: resolve CI coverage failures for platform-specific stdin EOF monitor
  src/mcp/server/stdio.py
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

refactor: replace griffe with zero-dependency regex parser
  pyproject.toml
  src/mcp/server/mcpserver/utilities/func_metadata.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Propagate contextvars.Context through anyio streams without modifying SessionMessage
  examples/clients/simple-auth-client/mcp_simple_auth_client/main.py
  src/mcp/client/__main__.py
  src/mcp/client/_transport.py
  src/mcp/client/session.py
  src/mcp/client/sse.py
  src/mcp/client/streamable_http.py
  src/mcp/server/lowlevel/server.py
  src/mcp/server/session.py
  src/mcp/server/sse.py
  src/mcp/server/stdio.py
  src/mcp/server/streamable_http.py
  src/mcp/server/websocket.py
  src/mcp/shared/_context_streams.py
  src/mcp/shared/memory.py
  src/mcp/shared/session.py
  tests/client/conftest.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Add pragma: no cover to Protocol stubs and unused clone() methods
  src/mcp/client/_transport.py
  src/mcp/shared/_context_streams.py
Due: ruff-format, ruff, pyright, readme-snippets

Use pragma: no branch for Protocol stubs to satisfy strict-no-cover
  src/mcp/client/_transport.py
Due: ruff-format, ruff, pyright, readme-snippets

Address review feedback: ExceptionGroup bug, reverse dependency, type widening
  src/mcp/client/_transport.py
  src/mcp/client/sse.py
  src/mcp/client/streamable_http.py
  src/mcp/server/lowlevel/server.py
  src/mcp/server/session.py
  src/mcp/server/streamable_http.py
  src/mcp/shared/_context_streams.py
  src/mcp/shared/_stream_protocols.py
  src/mcp/shared/memory.py
  src/mcp/shared/session.py
Due: ruff-format, ruff, pyright, readme-snippets

Restore correct context propagation for async handlers
  src/mcp/client/sse.py
  src/mcp/client/streamable_http.py
  src/mcp/shared/session.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: propagate transport errors in ClientSession default message handler
  src/mcp/client/session.py
  tests/client/test_session.py
Due: ruff-format, ruff, pyright, readme-snippets

Update src/mcp/client/sse.py
  src/mcp/client/sse.py
Due: ruff-format, ruff, pyright, readme-snippets

refactor(examples): migrate all HTTP examples to streamable_http_app() (#2291)
  docs/experimental/tasks-server.md
  examples/servers/simple-pagination/README.md
  examples/servers/simple-pagination/mcp_simple_pagination/server.py
  examples/servers/simple-prompt/README.md
  examples/servers/simple-prompt/mcp_simple_prompt/server.py
  examples/servers/simple-resource/README.md
  examples/servers/simple-resource/mcp_simple_resource/server.py
  examples/servers/simple-streamablehttp-stateless/README.md
  examples/servers/simple-streamablehttp-stateless/mcp_simple_streamablehttp_stateless/server.py
  examples/servers/simple-streamablehttp/README.md
  examples/servers/simple-streamablehttp/mcp_simple_streamablehttp/server.py
  examples/servers/simple-task-interactive/mcp_simple_task_interactive/server.py
  examples/servers/simple-task/mcp_simple_task/server.py
  examples/servers/simple-tool/README.md
  examples/servers/simple-tool/mcp_simple_tool/server.py
  examples/servers/sse-polling-demo/mcp_sse_polling_demo/server.py
Due: ruff-format, ruff, pyright, readme-snippets

refactor: fold post_writer signaling closes into async with
  src/mcp/client/sse.py
  src/mcp/client/streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(test): remove dead code in test_get_tenant_id_with_tenant
  tests/server/auth/middleware/test_auth_context.py
Due: ruff-format, ruff, pyright

fix(test): replace anyio.sleep(0.01) with anyio.lowlevel.checkpoint()
  tests/server/test_multi_tenancy_session.py
Due: ruff-format, ruff, pyright

fix(test): use explicit import for anyio.lowlevel.checkpoint
  tests/server/test_multi_tenancy_session.py
Due: ruff-format, ruff, pyright

test: suppress proactor transport warning on Windows 3.10
  tests/client/test_stdio.py
Due: ruff-format, ruff, pyright

test: sse_client propagates bare HTTPStatusError on 4xx/5xx
  tests/client/test_transport_stream_cleanup.py
Due: ruff-format, ruff, pyright

style: appease linter
  src/mcp/client/streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Potential fix for pull request finding
  src/mcp/client/streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: address copilot feedback
  tests/issues/test_streamable_http_405_get_stream.py
Due: ruff-format, ruff, pyright

fix(build): up test coverage
  tests/issues/test_streamable_http_405_get_stream.py
Due: ruff-format, ruff, pyright

fix(build): add more test coverage
  tests/issues/test_streamable_http_405_get_stream.py
Due: ruff-format, ruff, pyright

fix: update to make build pass
  tests/issues/test_streamable_http_405_get_stream.py
Due: ruff-format, ruff, pyright

refactor: connect-first stream lifecycle for sse and streamable_http (#2292)
  src/mcp/client/sse.py
  src/mcp/client/streamable_http.py
  tests/client/test_transport_stream_cleanup.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: remove scope registration check from authorize handler
  docs/migration.md
  src/mcp/server/auth/handlers/authorize.py
  src/mcp/shared/auth.py
  tests/server/mcpserver/auth/test_auth_integration.py
  tests/shared/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: update coverage for 3.11 and 3.14
  tests/issues/test_streamable_http_405_get_stream.py
Due: ruff-format, ruff, pyright

feat(managers): add tenant-scoped storage to ToolManager, ResourceManager, and PromptManager
  src/mcp/server/mcpserver/prompts/manager.py
  src/mcp/server/mcpserver/resources/resource_manager.py
  src/mcp/server/mcpserver/tools/tool_manager.py
  tests/server/mcpserver/resources/test_resource_manager.py
  tests/server/mcpserver/test_multi_tenancy_managers.py
Due: ruff-format, ruff, pyright, readme-snippets

- Implemented SEP-990 feature for providing support for Enterprise Managed Auth support. - Written unit test cases for client and server implementation of the enterprise managed auth code.
  src/mcp/client/auth/extensions/__init__.py
  src/mcp/client/auth/extensions/enterprise_managed_auth.py
  src/mcp/server/auth/extensions/__init__.py
  src/mcp/server/auth/extensions/enterprise_managed_auth.py
  tests/client/auth/test_enterprise_managed_auth_client.py
  tests/server/auth/test_enterprise_managed_auth_server.py
Due: ruff-format, ruff, pyright, readme-snippets

Path conditions:
  ruff-format: any of: \.py$
  ruff: any of: \.py$, but not: ^README(\.v2)?\.md$
  pyright: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  readme-v1-frozen: any of: ^README\.md$
  readme-snippets: any of: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
