Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args:
          [
            "--fix",
            "--config",
            "pyproject.toml",
            "--configPointer",
            "/tool/markdown/lint",
          ]
        types: [markdown]

  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff Format
        entry: uv run --frozen ruff
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: ruff
        name: Ruff
        entry: uv run --frozen ruff
        args: ["check", "--fix", "--exit-non-zero-on-fix"]
        types: [python]
        language: system
        pass_filenames: false
        exclude: ^README(\.v2)?\.md$
      - id: pyright
        name: pyright
        entry: uv run --frozen pyright
        language: system
        types: [python]
        pass_filenames: false
      - id: uv-lock-check
        name: Check uv.lock is up to date
        entry: uv lock --check
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false
      # TODO(Max): Drop this in v2.
      - id: readme-v1-frozen
        name: README.md is frozen (v1 docs)
        entry: README.md is frozen at v1. Edit README.v2.md instead.
        language: fail
        files: ^README\.md$
      - id: readme-snippets
        name: Check snippets are up to date
        entry: uv run --frozen python scripts/sync_snippets.py --check
        language: system
        files: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
        pass_filenames: false

docs: fix serve-docs.sh usage text
  scripts/serve-docs.sh
Due: none

docs: correct stale comments and the nav type alias
  .gitignore
  mkdocs.yml
  scripts/docs/gen_ref_pages.py
Due: ruff-format, ruff, pyright

docs: single-source the Zensical build recipe in scripts/docs/build.sh
  .github/workflows/shared.yml
  scripts/build-docs.sh
  scripts/docs/build.sh
Due: none

docs: fail the docs build when the nav references a missing page
  scripts/docs/build_config.py
Due: ruff-format, ruff, pyright

docs: relock for zensical 0.0.48
  uv.lock
Due: uv-lock-check

docs: fix the PERF401 lint error in gen_ref_pages.py
  scripts/docs/gen_ref_pages.py
Due: ruff-format, ruff, pyright

docs: pin the API index rendering for cross-package re-exports
  pyproject.toml
  scripts/docs/gen_ref_pages.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check

docs: restore watch and drop the stale banner env
  .github/workflows/deploy-docs.yml
  mkdocs.yml
Due: none

docs: fix summary truncation and harden the API generator
  scripts/docs/gen_ref_pages.py
Due: ruff-format, ruff, pyright

docs: trim dead config knobs and clarify the griffelib dependency
  pyproject.toml
  scripts/docs/build_config.py
Due: ruff-format, ruff, pyright, uv-lock-check

docs: catch the failure modes zensical builds green
  scripts/docs/build.sh
  scripts/docs/llms_txt.py
Due: ruff-format, ruff, pyright

docs: preload cross-package alias targets in the compact index stub
  scripts/docs/gen_ref_pages.py
Due: ruff-format, ruff, pyright

[v1.x] ci: pick the docs toolchain per worktree in build-docs.sh
  scripts/build-docs.sh
Due: none

docs: give generated API stubs explicit page titles
  scripts/docs/gen_ref_pages.py
Due: ruff-format, ruff, pyright

docs: port the sidebar styling to Zensical's nav and restore the slate canvas
  docs/extra.css
Due: none

feat(client): add list_all_* helpers that drain pagination
  src/mcp/client/session.py
  tests/client/test_client.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: fix the sidebar rule cascade and print scheme scoping
  docs/extra.css
  scripts/docs/gen_ref_pages.py
Due: ruff-format, ruff, pyright

docs: align top-level nav pages and the API Reference label flush left
  docs/extra.css
Due: none

docs: rebuild the sidebar styling as one coordinate system
  docs/extra.css
Due: none

docs: put the pill inset on the elements that paint it
  docs/extra.css
Due: none

docs: composite inline code over admonition tints
  docs/extra.css
Due: none

fix(client): list_all_tools prunes per-tool cache state on terminal page
  src/mcp/client/session.py
  tests/client/test_client.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(client): preserve multi-value existing query params in auth URL
  src/mcp/client/auth/oauth2.py
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

test: expect rejection of client-supplied resolved parameters
  docs/handlers/dependencies.md
  tests/server/mcpserver/test_resolve.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: replace the llms_txt link regexes with a total classifier
  scripts/docs/llms_txt.py
Due: ruff-format, ruff, pyright

docs: validate crossrefs and inventories from the built site
  .github/workflows/shared.yml
  scripts/docs/build.sh
  scripts/docs/check_crossrefs.py
Due: ruff-format, ruff, pyright

docs: restore the markdown extensions pymdownx.extra bundled
  mkdocs.yml
Due: none

docs: compact-index every package that re-exports from outside its subtree
  scripts/docs/gen_ref_pages.py
Due: ruff-format, ruff, pyright

docs: fail the build on pages missing from the nav
  scripts/docs/build_config.py
Due: ruff-format, ruff, pyright

docs: pin the Zensical toolchain exactly
  pyproject.toml
  uv.lock
Due: uv-lock-check

docs: bump zensical to 0.0.50 to fix search
  pyproject.toml
  uv.lock
Due: uv-lock-check

docs: tighten the prose extractor and link classifier edge cases
  scripts/docs/check_crossrefs.py
  scripts/docs/llms_txt.py
Due: ruff-format, ruff, pyright

docs: compact every module that re-exports from outside its subtree
  scripts/docs/gen_ref_pages.py
Due: ruff-format, ruff, pyright

docs: close nav containment, HTML-comment, and whitespace link gaps
  scripts/docs/build_config.py
  scripts/docs/check_crossrefs.py
  scripts/docs/llms_txt.py
Due: ruff-format, ruff, pyright

docs: replace MkDocs with Zensical (#3073)
  .github/workflows/deploy-docs.yml
  .github/workflows/shared.yml
  .gitignore
  docs/extra.css
  docs/hooks/gen_ref_pages.py
  docs/hooks/llms_txt.py
  mkdocs.yml
  pyproject.toml
  scripts/build-docs.sh
  scripts/docs/build.sh
  scripts/docs/build_config.py
  scripts/docs/check_crossrefs.py
  scripts/docs/gen_ref_pages.py
  scripts/docs/llms_txt.py
  scripts/serve-docs.sh
  tests/docs_src/test_shape.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check

fix: validate whole strings with re.fullmatch
  src/mcp/shared/tool_name_validation.py
  src/mcp/shared/uri_template.py
  tests/shared/test_tool_name_validation.py
  tests/shared/test_uri_template.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: reject trailing newline in tool-name and URI-template varname validation (#3076)
  src/mcp/shared/tool_name_validation.py
  src/mcp/shared/uri_template.py
  tests/shared/test_tool_name_validation.py
  tests/shared/test_uri_template.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: reject trailing newline in tool-name validation
  src/mcp/shared/tool_name_validation.py
  tests/shared/test_tool_name_validation.py
Due: ruff-format, ruff, pyright, readme-snippets

Log warning for unhandled exceptions in default message handler
  src/mcp/client/session.py
  tests/client/test_session.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: stop infinite GET stream reconnection on repeated empty connections
  src/mcp/client/streamable_http.py
  tests/client/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets
