Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

ruff-format:
  name: Ruff Format
  entry: uv run --frozen ruff
  args:
  - format
  language: system
  pass_filenames: false

ruff:
  name: Ruff
  entry: uv run --frozen ruff
  args:
  - check
  - --fix
  - --exit-non-zero-on-fix
  language: system
  pass_filenames: false

pyright:
  name: pyright
  entry: uv run --frozen pyright
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv.lock is up to date
  entry: uv lock --check
  language: system
  pass_filenames: false

readme-v1-frozen:
  name: README.md is frozen (v1 docs)
  entry: README.md is frozen at v1. Edit README.v2.md instead.
  language: fail

readme-snippets:
  name: Check snippets are up to date
  entry: uv run --frozen python scripts/sync_snippets.py --check
  language: system
  pass_filenames: false

Add interaction tests for the 2026-07-28 stateless lifecycle and HTTP path
  tests/interaction/_connect.py
  tests/interaction/_modern_vocab.py
  tests/interaction/lowlevel/test_lifecycle_stateless.py
  tests/interaction/transports/test_client_transport_http_modern.py
  tests/interaction/transports/test_hosting_http.py
  tests/interaction/transports/test_hosting_http_modern.py
  tests/interaction/transports/test_legacy_wire.py
Due: ruff-format, ruff, pyright

Register 2026-07-28 stateless requirements in the interaction-suite manifest
  tests/interaction/_requirements.py
Due: ruff-format, ruff, pyright

Add coverage tests for the experimental modern HTTP entry
  tests/client/test_streamable_http.py
  tests/server/test_experimental_streamable_http_modern.py
Due: ruff-format, ruff, pyright

Add experimental 2026-07-28 stateless HTTP serving entry
  src/mcp/server/_experimental/__init__.py
  src/mcp/server/_experimental/streamable_http_modern.py
  src/mcp/server/runner.py
  src/mcp/server/session.py
  src/mcp/server/streamable_http_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

Add MockTransport, capstone, and client-unit tests for the 2026-07-28 path
  tests/client/test_streamable_http.py
  tests/interaction/transports/test_client_transport_http_modern.py
  tests/interaction/transports/test_hosting_http_modern.py
Due: ruff-format, ruff, pyright

Harden the experimental modern HTTP entry's error and cleanup paths
  src/mcp/server/_experimental/streamable_http_modern.py
  tests/interaction/lowlevel/test_lifecycle_stateless.py
  tests/server/test_experimental_streamable_http_modern.py
Due: ruff-format, ruff, pyright, readme-snippets

Derive transport headers from a constructor protocol_version pin
  src/mcp/client/session.py
  src/mcp/client/streamable_http.py
  tests/client/test_streamable_http.py
  tests/interaction/transports/test_client_transport_http_modern.py
  tests/interaction/transports/test_hosting_http_modern.py
Due: ruff-format, ruff, pyright, readme-snippets

Mark post-shielded-cancel assertions as lax-no-cover for 3.11
  tests/server/test_experimental_streamable_http_modern.py
Due: ruff-format, ruff, pyright

Address review feedback and consolidate 2026-07-28 interaction tests
  src/mcp/client/session.py
  src/mcp/client/streamable_http.py
  src/mcp/server/session.py
  src/mcp/shared/version.py
  tests/client/test_session.py
  tests/client/test_streamable_http.py
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_lifecycle_stateless.py
  tests/interaction/transports/test_client_transport_http_modern.py
  tests/interaction/transports/test_hosting_http_modern.py
Due: ruff-format, ruff, pyright, readme-snippets

Tighten the consolidated 2026-07-28 interaction tests
  src/mcp/client/streamable_http.py
  tests/client/test_session.py
  tests/interaction/_requirements.py
  tests/interaction/transports/test_hosting_http_modern.py
Due: ruff-format, ruff, pyright, readme-snippets

Dispatch ClientSession.protocol_version by era instead of restricting to a Literal
  src/mcp/client/session.py
  src/mcp/client/streamable_http.py
  src/mcp/shared/version.py
  tests/client/test_session.py
Due: ruff-format, ruff, pyright, readme-snippets

Make a pinned ClientSession born-initialized and centralize the modern-version constants
  src/mcp/client/session.py
  src/mcp/client/streamable_http.py
  src/mcp/server/_experimental/__init__.py
  src/mcp/server/_streamable_http_modern.py
  src/mcp/server/streamable_http_manager.py
  src/mcp/shared/version.py
  tests/client/test_session.py
  tests/interaction/_requirements.py
  tests/server/test_streamable_http_modern.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: add MCP observability guidance
  docs/observability.md
  mkdocs.yml
Due: readme-snippets

docs: satisfy pre-commit formatting
  docs/observability.md
Due: readme-snippets

fix: forward stdio server stderr through errlog
  src/mcp/client/stdio.py
  tests/client/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

Use MODERN_PROTOCOL_VERSIONS membership instead of a threshold constant
  src/mcp/client/session.py
  src/mcp/client/streamable_http.py
  src/mcp/server/_streamable_http_modern.py
  src/mcp/server/streamable_http_manager.py
  src/mcp/shared/version.py
  tests/server/test_streamable_http_modern.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(server): match Content-Type case-insensitively in StreamableHTTP
  src/mcp/server/streamable_http.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Thread protocol_version through Client and default CacheableResult to immediately-stale private
  docs/migration.md
  src/mcp/client/client.py
  src/mcp/types/_types.py
  tests/client/test_client.py
  tests/interaction/_connect.py
  tests/interaction/_requirements.py
  tests/interaction/test_coverage.py
  tests/test_types.py
  tests/types/test_wire_frames.py
Due: ruff-format, ruff, pyright, readme-snippets

Turn on the 2026-07-28 column in the interaction-suite matrix
  tests/interaction/_requirements.py
  tests/interaction/mcpserver/test_context.py
Due: ruff-format, ruff, pyright

Reconcile conformance baselines after CacheableResult default change
  .github/actions/conformance/expected-failures.2026-07-28.yml
  .github/actions/conformance/expected-failures.yml
Due: none

Report the negotiated protocol_version once initialized; clarify envelope-overwrite semantics
  src/mcp/client/session.py
  tests/client/test_session.py
  tests/interaction/_requirements.py
  tests/interaction/transports/test_hosting_http_modern.py
Due: ruff-format, ruff, pyright, readme-snippets

First end-to-end 2026-07-28 stateless tools/call (experimental entry + ClientSession pin) (#2910)
  .github/actions/conformance/expected-failures.2026-07-28.yml
  .github/actions/conformance/expected-failures.yml
  docs/migration.md
  src/mcp/client/client.py
  src/mcp/client/session.py
  src/mcp/client/streamable_http.py
  src/mcp/server/_streamable_http_modern.py
  src/mcp/server/runner.py
  src/mcp/server/session.py
  src/mcp/server/streamable_http_manager.py
  src/mcp/shared/version.py
  src/mcp/types/_types.py
  tests/client/test_client.py
  tests/client/test_session.py
  tests/client/test_streamable_http.py
  tests/interaction/_connect.py
  tests/interaction/_modern_vocab.py
  tests/interaction/_requirements.py
  tests/interaction/mcpserver/test_context.py
  tests/interaction/test_coverage.py
  tests/interaction/transports/test_hosting_http.py
  tests/interaction/transports/test_hosting_http_modern.py
  tests/interaction/transports/test_legacy_wire.py
  tests/server/test_streamable_http_modern.py
  tests/test_types.py
  tests/types/test_wire_frames.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(server): treat text/* mime types case-insensitively for FileResource
  src/mcp/server/mcpserver/resources/types.py
  tests/server/mcpserver/resources/test_file_resources.py
Due: ruff-format, ruff, pyright, readme-snippets

First end-to-end 2026-07-28 stateless tools/call (experimental entry + ClientSession pin) (#2917)
  .github/actions/conformance/expected-failures.2026-07-28.yml
  .github/actions/conformance/expected-failures.yml
  docs/migration.md
  src/mcp/client/client.py
  src/mcp/client/session.py
  src/mcp/client/streamable_http.py
  src/mcp/server/_streamable_http_modern.py
  src/mcp/server/runner.py
  src/mcp/server/session.py
  src/mcp/server/streamable_http_manager.py
  src/mcp/shared/version.py
  src/mcp/types/_types.py
  tests/client/test_client.py
  tests/client/test_session.py
  tests/client/test_streamable_http.py
  tests/interaction/_connect.py
  tests/interaction/_modern_vocab.py
  tests/interaction/_requirements.py
  tests/interaction/mcpserver/test_context.py
  tests/interaction/test_coverage.py
  tests/interaction/transports/test_hosting_http.py
  tests/interaction/transports/test_hosting_http_modern.py
  tests/interaction/transports/test_legacy_wire.py
  tests/server/test_streamable_http_modern.py
  tests/test_types.py
  tests/types/test_wire_frames.py
Due: ruff-format, ruff, pyright, readme-snippets

Add uv ecosystem to dependabot and drop weekly lockfile workflow
  .github/dependabot.yml
  .github/workflows/weekly-lockfile-update.yml
Due: none

Apply suggestions from code review
  .github/dependabot.yml
Due: none

Add uv ecosystem to dependabot and drop weekly lockfile workflow (#2919)
  .github/dependabot.yml
  .github/workflows/weekly-lockfile-update.yml
Due: none

Return -32602 for resource not found (SEP-2164)
  .github/actions/conformance/expected-failures.2026-07-28.yml
  .github/actions/conformance/expected-failures.yml
  docs/migration.md
  src/mcp/server/mcpserver/context.py
  src/mcp/server/mcpserver/exceptions.py
  src/mcp/server/mcpserver/resources/resource_manager.py
  src/mcp/server/mcpserver/resources/templates.py
  src/mcp/server/mcpserver/server.py
  tests/interaction/_requirements.py
  tests/interaction/mcpserver/test_resources.py
  tests/server/mcpserver/resources/test_resource_manager.py
  tests/server/mcpserver/resources/test_resource_template.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

Return CallToolResult from MCPServer.call_tool
  docs/migration.md
  src/mcp/server/mcpserver/server.py
  src/mcp/server/mcpserver/tools/base.py
  src/mcp/server/mcpserver/tools/tool_manager.py
  src/mcp/server/mcpserver/utilities/func_metadata.py
  tests/server/mcpserver/test_func_metadata.py
  tests/server/mcpserver/test_server.py
  tests/server/mcpserver/test_tool_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

Withhold template-creation exception text from the client
  src/mcp/server/mcpserver/exceptions.py
  src/mcp/server/mcpserver/resources/templates.py
Due: ruff-format, ruff, pyright, readme-snippets

Drop unused overloads on Tool.run
  src/mcp/server/mcpserver/tools/base.py
Due: ruff-format, ruff, pyright, readme-snippets

Link SEP-2164 in docstring and drop redundant comment
  src/mcp/server/mcpserver/exceptions.py
  src/mcp/server/mcpserver/resources/templates.py
Due: ruff-format, ruff, pyright, readme-snippets

Build CallToolResult directly in convert_result
  src/mcp/server/mcpserver/server.py
  src/mcp/server/mcpserver/tools/tool_manager.py
  src/mcp/server/mcpserver/utilities/func_metadata.py
  tests/server/mcpserver/test_func_metadata.py
  tests/server/mcpserver/test_tool_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

Return -32602 for resource not found (SEP-2164) (#2920)
  .github/actions/conformance/expected-failures.2026-07-28.yml
  .github/actions/conformance/expected-failures.yml
  docs/migration.md
  src/mcp/server/mcpserver/context.py
  src/mcp/server/mcpserver/exceptions.py
  src/mcp/server/mcpserver/resources/resource_manager.py
  src/mcp/server/mcpserver/resources/templates.py
  src/mcp/server/mcpserver/server.py
  tests/interaction/_requirements.py
  tests/interaction/mcpserver/test_resources.py
  tests/server/mcpserver/resources/test_resource_manager.py
  tests/server/mcpserver/resources/test_resource_template.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: correct MCPServer call_tool result type (#2816)
  docs/migration.md
  src/mcp/server/mcpserver/server.py
  src/mcp/server/mcpserver/utilities/func_metadata.py
  tests/server/mcpserver/test_func_metadata.py
  tests/server/mcpserver/test_server.py
  tests/server/mcpserver/test_tool_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

Validate the iss authorization-response parameter (RFC 9207 / SEP-2468)
  .github/actions/conformance/client.py
  .github/actions/conformance/expected-failures.2026-07-28.yml
  .github/actions/conformance/expected-failures.yml
  README.v2.md
  docs/migration.md
  examples/clients/simple-auth-client/mcp_simple_auth_client/main.py
  examples/snippets/clients/oauth_client.py
  src/mcp/client/auth/__init__.py
  src/mcp/client/auth/extensions/client_credentials.py
  src/mcp/client/auth/oauth2.py
  src/mcp/client/auth/utils.py
  src/mcp/shared/auth.py
  tests/client/auth/extensions/test_client_credentials.py
  tests/client/test_auth.py
  tests/client/test_scope_bug_1630.py
  tests/interaction/_requirements.py
  tests/interaction/auth/_harness.py
  tests/interaction/auth/_provider.py
  tests/interaction/auth/test_authorize_token.py
  tests/interaction/auth/test_discovery.py
Due: ruff-format, ruff, pyright, readme-snippets

Ignore pre-2026 protocol_version pins at the StreamableHTTP transport
  src/mcp/client/client.py
  src/mcp/client/streamable_http.py
  tests/client/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Address review: clarify iss migration note, make callback getters properties
  docs/migration.md
  examples/clients/simple-auth-client/mcp_simple_auth_client/main.py
Due: ruff-format, ruff, pyright, readme-snippets

Reject external JSON Schema $ref in tool schemas (SEP-2106)
  .github/actions/conformance/client.py
  .github/actions/conformance/expected-failures.2026-07-28.yml
  .github/actions/conformance/expected-failures.yml
  docs/migration.md
  src/mcp/client/session.py
  src/mcp/server/mcpserver/tools/base.py
  src/mcp/shared/json_schema_ref.py
  tests/client/test_output_schema_validation.py
  tests/server/mcpserver/test_tool_manager.py
  tests/shared/test_json_schema_ref.py
Due: ruff-format, ruff, pyright, readme-snippets

Path conditions:
  ruff-format: any of: \.py$
  ruff: any of: \.py$, but not: ^README(\.v2)?\.md$
  pyright: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  readme-v1-frozen: any of: ^README\.md$
  readme-snippets: any of: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
