Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

ruff-format:
  name: Ruff Format
  entry: uv run --frozen ruff
  args:
  - format
  language: system
  pass_filenames: false

ruff:
  name: Ruff
  entry: uv run --frozen ruff
  args:
  - check
  - --fix
  - --exit-non-zero-on-fix
  language: system
  pass_filenames: false

pyright:
  name: pyright
  entry: uv run --frozen pyright
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv.lock is up to date
  entry: uv lock --check
  language: system
  pass_filenames: false

readme-v1-frozen:
  name: README.md is frozen (v1 docs)
  entry: README.md is frozen at v1. Edit README.v2.md instead.
  language: fail

readme-snippets:
  name: Check snippets are up to date
  entry: uv run --frozen python scripts/sync_snippets.py --check
  language: system
  pass_filenames: false

fix: add typed Protocol for Authlib client to satisfy pyright strict mode
  src/mcp/client/auth/authlib_adapter.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: make pywin32 imports soft to support server-only Windows installs
  src/mcp/os/win32/utilities.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: catch ClosedResourceError in _handle_message error recovery path
  src/mcp/server/lowlevel/server.py
  tests/server/test_lowlevel_exception_handling.py
Due: ruff-format, ruff, pyright, readme-snippets

style: apply ruff format to logger.debug call
  src/mcp/server/lowlevel/server.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: address review comments - remove duplicate logging and add defensive handler test
  src/mcp/server/mcpserver/server.py
  src/mcp/server/mcpserver/tools/base.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: use AsyncMock to fix coverage tracking in CI
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright

style: fix ruff formatting for patch.object call
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright

fix: preserve API gateway path prefix in SSE client URL resolution
  src/mcp/client/sse.py
  tests/shared/test_sse.py
Due: ruff-format, ruff, pyright, readme-snippets

test: cover empty endpoint path branch in _resolve_endpoint_url
  tests/shared/test_sse.py
Due: ruff-format, ruff, pyright

fix: preserve stdin/stdout file descriptors after server exits
  src/mcp/server/stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: collapse single-exception ExceptionGroups from task groups
  pyproject.toml
  src/mcp/client/_memory.py
  src/mcp/client/session_group.py
  src/mcp/client/sse.py
  src/mcp/client/stdio.py
  src/mcp/client/streamable_http.py
  src/mcp/client/websocket.py
  src/mcp/server/experimental/task_result_handler.py
  src/mcp/server/experimental/task_support.py
  src/mcp/server/lowlevel/server.py
  src/mcp/server/sse.py
  src/mcp/server/stdio.py
  src/mcp/server/streamable_http.py
  src/mcp/server/streamable_http_manager.py
  src/mcp/server/websocket.py
  src/mcp/shared/_task_group.py
  src/mcp/shared/session.py
  tests/shared/test_task_group.py
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

fix: add Python 3.10 compat for BaseExceptionGroup import
  pyproject.toml
  src/mcp/shared/_task_group.py
  tests/shared/test_task_group.py
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

fix: resolve pyright and coverage CI failures
  src/mcp/server/experimental/task_support.py
  src/mcp/shared/_task_group.py
  tests/shared/test_task_group.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: use pragma lax no cover for version-conditional imports, add regression tests
  src/mcp/shared/_task_group.py
  tests/shared/test_task_group.py
Due: ruff-format, ruff, pyright, readme-snippets

test: add start() not-entered guard to completeness test
  tests/shared/test_task_group.py
Due: ruff-format, ruff, pyright

fix: add pragma no cover to Protocol stubs and unreachable mock branch
  src/mcp/client/auth/authlib_adapter.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: validate_scope should allow all scopes when no restriction
  src/mcp/shared/auth.py
  test_validate_scope_fix.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: add DNS rebinding protection guide
  docs/guides/dns-rebinding-protection.md
Due: readme-snippets

fix: handle None required_scopes in validate_scope as no restrictions
  src/mcp/shared/auth.py
Due: ruff-format, ruff, pyright, readme-snippets

test: add validate_scope unit tests for None scope handling
  tests/shared/test_auth.py
Due: ruff-format, ruff, pyright

fix: add HttpError exception class for HTTP error propagation
  src/mcp/shared/exceptions.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: propagate HTTP errors in StreamableHTTP transport instead of silently logging
  src/mcp/client/streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: propagate HTTP errors in SSE transport instead of silently logging
  src/mcp/client/sse.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: export HttpError from mcp package
  src/mcp/__init__.py
Due: ruff-format, ruff, pyright, readme-snippets

style: fix trailing whitespace
  test_validate_scope_fix.py
Due: ruff-format, ruff, pyright

test: use context-managed streams in issue 1561 coverage
  tests/issues/test_1561_invalid_method_code.py
Due: ruff-format, ruff, pyright

Path conditions:
  ruff-format: any of: \.py$
  ruff: any of: \.py$, but not: ^README(\.v2)?\.md$
  pyright: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  readme-v1-frozen: any of: ^README\.md$
  readme-snippets: any of: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
