Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args:
          [
            "--fix",
            "--config",
            "pyproject.toml",
            "--configPointer",
            "/tool/markdown/lint",
          ]
        types: [markdown]

  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff Format
        entry: uv run --frozen ruff
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: ruff
        name: Ruff
        entry: uv run --frozen ruff
        args: ["check", "--fix", "--exit-non-zero-on-fix"]
        types: [python]
        language: system
        pass_filenames: false
        exclude: ^README(\.v2)?\.md$
      - id: pyright
        name: pyright
        entry: uv run --frozen pyright
        language: system
        types: [python]
        pass_filenames: false
      - id: uv-lock-check
        name: Check uv.lock is up to date
        entry: uv lock --check
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false
      # TODO(Max): Drop this in v2.
      - id: readme-v1-frozen
        name: README.md is frozen (v1 docs)
        entry: README.md is frozen at v1. Edit README.v2.md instead.
        language: fail
        files: ^README\.md$
      - id: readme-snippets
        name: Check snippets are up to date
        entry: uv run --frozen python scripts/sync_snippets.py --check
        language: system
        files: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
        pass_filenames: false

docs: document Windows stdio subprocess stdin handling (#3079)
  docs/run/index.md
  docs/troubleshooting.md
Due: readme-snippets

fix(streamable-http): return spec-mandated 405 for pre-session GET
  src/mcp/server/streamable_http.py
  tests/server/test_streamable_http_security.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Correct stable v2 target date to 2026-07-28
  README.md
Due: readme-v1-frozen

docs: make API reference rendering independent of page order
  .github/workflows/shared.yml
  mkdocs.yml
  scripts/docs/build.sh
  scripts/docs/check_render_order.py
  scripts/docs/gen_ref_pages.py
  scripts/docs/llms_txt.py
Due: ruff-format, ruff, pyright

docs: make API reference rendering independent of page order (#3107)
  .github/workflows/shared.yml
  mkdocs.yml
  scripts/docs/build.sh
  scripts/docs/check_render_order.py
  scripts/docs/gen_ref_pages.py
  scripts/docs/llms_txt.py
Due: ruff-format, ruff, pyright

Pin pymdown-extensions back to 11.0
  uv.lock
Due: uv-lock-check

Pin pymdown-extensions back to 11.0 (#3106)
  uv.lock
Due: uv-lock-check

docs: load media examples from disk instead of inline base64
  docs/servers/media.md
  docs_src/media/tutorial001.py
  docs_src/media/tutorial002.py
  docs_src/media/tutorial003.py
  docs_src/media/tutorial004.py
  tests/docs_src/test_media.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: load media examples from disk instead of inline base64 (#3108)
  docs/servers/media.md
  docs_src/media/tutorial001.py
  docs_src/media/tutorial002.py
  docs_src/media/tutorial003.py
  docs_src/media/tutorial004.py
  tests/docs_src/test_media.py
Due: ruff-format, ruff, pyright, readme-snippets

Isolate the stdio server's stdin from handler subprocesses
  docs/migration.md
  docs/run/index.md
  docs/troubleshooting.md
  src/mcp/os/win32/utilities.py
  src/mcp/server/stdio.py
  tests/server/test_stdio.py
  tests/transports/stdio/test_windows.py
Due: ruff-format, ruff, pyright, readme-snippets

Adopt the resolver framework for the interactive tools
  examples/servers/todos-server/README.md
  examples/servers/todos-server/mcp_todos_server/todos.py
Due: ruff-format, ruff, pyright, readme-snippets

Add the todos-server reference example
  examples/README.md
  examples/servers/todos-server/README.md
  examples/servers/todos-server/mcp_todos_server/__init__.py
  examples/servers/todos-server/mcp_todos_server/__main__.py
  examples/servers/todos-server/mcp_todos_server/server.py
  examples/servers/todos-server/mcp_todos_server/todos.py
  examples/servers/todos-server/pyproject.toml
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Polish the todos-server example after rebasing onto latest main
  examples/servers/todos-server/README.md
  examples/servers/todos-server/mcp_todos_server/server.py
  examples/servers/todos-server/mcp_todos_server/todos.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: reject trailing newline in resource template matching
  src/mcp/server/fastmcp/resources/templates.py
  tests/server/fastmcp/resources/test_resource_template.py
Due: ruff-format, ruff, pyright, readme-snippets

Isolate the stdio server's stdout from handler code and subprocesses
  docs/get-started/real-host.md
  docs/handlers/logging.md
  docs/migration.md
  docs/run/index.md
  docs/troubleshooting.md
  src/mcp/os/posix/utilities.py
  src/mcp/server/stdio.py
  tests/interaction/_requirements.py
  tests/interaction/transports/test_stdio.py
  tests/server/test_stdio.py
  tests/transports/stdio/test_lifecycle.py
  tests/transports/stdio/test_windows.py
Due: ruff-format, ruff, pyright, readme-snippets

Add per-request cancel-answer and success-frame seams to JSONRPCDispatcher
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/shared/test_jsonrpc_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

Serve subscriptions/listen over the dual-era stream loop
  docs/handlers/subscriptions.md
  docs/whats-new.md
  src/mcp/server/runner.py
  src/mcp/server/subscriptions.py
  tests/server/test_runner.py
Due: ruff-format, ruff, pyright, readme-snippets

Document and pin the accepted orphaned-modern-lock corner
  src/mcp/server/runner.py
  tests/server/test_runner.py
Due: ruff-format, ruff, pyright, readme-snippets

Honor the cancel-silence commitment in the shutdown drain
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/shared/test_jsonrpc_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

Widen 2026 cancel silence to every request on a modern-locked connection
  src/mcp/server/runner.py
  tests/server/test_runner.py
Due: ruff-format, ruff, pyright, readme-snippets

Tighten the dispatcher seam edges
  src/mcp/server/runner.py
  src/mcp/server/subscriptions.py
  src/mcp/shared/dispatcher.py
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/server/test_runner.py
  tests/shared/test_jsonrpc_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

Convert the remaining listen-over-loop review probes into regression tests
  tests/server/test_runner.py
Due: ruff-format, ruff, pyright

fix(server): generate tool output schema in serialization mode
  src/mcp/server/mcpserver/utilities/func_metadata.py
  tests/server/mcpserver/test_func_metadata.py
Due: ruff-format, ruff, pyright, readme-snippets

normalize structured_content for directly-returned CallToolResult
  src/mcp/server/mcpserver/utilities/func_metadata.py
  tests/server/mcpserver/test_func_metadata.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(server): forward tool args under the real parameter name, not the schema alias
  src/mcp/server/mcpserver/tools/base.py
  src/mcp/server/mcpserver/utilities/func_metadata.py
  tests/server/mcpserver/test_func_metadata.py
Due: ruff-format, ruff, pyright, readme-snippets

Update httpx/mcp.types references to match renamed httpx2/mcp_types on main
  tests/client/test_notification_response.py
Due: ruff-format, ruff, pyright

fix: include RFC 6750 scope parameter in insufficient_scope challenge
  src/mcp/server/auth/middleware/bearer_auth.py
  tests/server/auth/middleware/test_bearer_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

[v1.x] fix: reject trailing newline in tool-name validation (#3086)
  src/mcp/server/fastmcp/resources/templates.py
  src/mcp/shared/tool_name_validation.py
  tests/server/fastmcp/resources/test_resource_template.py
  tests/shared/test_tool_name_validation.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(auth): strip trailing slashes from OAuth metadata URLs
  src/mcp/server/auth/routes.py
  tests/server/auth/test_protected_resource.py
  tests/server/auth/test_routes.py
Due: ruff-format, ruff, pyright, readme-snippets

test(auth): align OAuth metadata expectations with canonical URLs
  docs_src/identity_assertion/tutorial001.py
  docs_src/identity_assertion/tutorial002.py
  examples/stories/_shared/auth.py
  examples/stories/identity_assertion/client.py
  examples/stories/identity_assertion/server.py
  examples/stories/oauth_client_credentials/server.py
  examples/stories/oauth_client_credentials/server_lowlevel.py
  tests/docs_src/test_authorization.py
  tests/docs_src/test_identity_assertion.py
  tests/server/mcpserver/auth/test_auth_integration.py
Due: ruff-format, ruff, pyright, readme-snippets

test(auth): expect build_metadata issuer without trailing slash
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright

test(auth): align interaction fixtures with slash-free issuers
  tests/interaction/auth/_provider.py
  tests/interaction/auth/test_authorize_token.py
  tests/interaction/auth/test_discovery.py
  tests/interaction/auth/test_flow.py
  tests/interaction/auth/test_identity_assertion.py
  tests/interaction/auth/test_lifecycle.py
Due: ruff-format, ruff, pyright

fix(auth): only strip trailing slash on root OAuth identifiers
  src/mcp/server/auth/routes.py
  tests/server/auth/test_protected_resource.py
  tests/server/auth/test_routes.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(server): terminate streamable HTTP sessions on manager shutdown
  src/mcp/server/streamable_http.py
  src/mcp/server/streamable_http_manager.py
  tests/issues/test_2150_shutdown_terminates_sessions.md
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: prevent infinite warning-logging loop in _handle_message
  src/mcp/server/lowlevel/server.py
  tests/issues/test_3122_warning_loop.py
Due: ruff-format, ruff, pyright, readme-snippets

test: exercise both handler branches so coverage stays at 100%
  tests/issues/test_3122_warning_loop.py
Due: ruff-format, ruff, pyright

style: satisfy markdownlint on #2150 notes
  tests/issues/test_2150_shutdown_terminates_sessions.md
Due: none

fix(server): register standalone GET and replay SSE writers for terminate
  src/mcp/server/streamable_http.py
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: never mint a request id already used by a completed caller-supplied id
  src/mcp/shared/direct_dispatcher.py
  src/mcp/shared/dispatcher.py
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/shared/test_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: return a self-describing error for requests before initialization
  src/mcp/server/session.py
  tests/server/test_session.py
Due: ruff-format, ruff, pyright, readme-snippets
