Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

ruff-format:
  name: Ruff Format
  entry: uv run --frozen ruff
  args:
  - format
  language: system
  pass_filenames: false

ruff:
  name: Ruff
  entry: uv run --frozen ruff
  args:
  - check
  - --fix
  - --exit-non-zero-on-fix
  language: system
  pass_filenames: false

pyright:
  name: pyright
  entry: uv run --frozen pyright
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv.lock is up to date
  entry: uv lock --check
  language: system
  pass_filenames: false

readme-v1-frozen:
  name: README.md is frozen (v1 docs)
  entry: README.md is frozen at v1. Edit README.v2.md instead.
  language: fail

readme-snippets:
  name: Check snippets are up to date
  entry: uv run --frozen python scripts/sync_snippets.py --check
  language: system
  pass_filenames: false

docs: trim migration guide to breaking changes only
  docs/migration.md
Due: readme-snippets

docs: clarify query leniency and fix exempt_params example
  docs/migration.md
  docs/server/resources.md
Due: readme-snippets

fix: reject template patterns causing O(n²) regex backtracking
  src/mcp/shared/uri_template.py
  tests/shared/test_uri_template.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: address reviewer feedback on migration guide and resources doc
  docs/migration.md
  docs/server/resources.md
  tests/shared/test_uri_template.py
Due: ruff-format, ruff, pyright, readme-snippets

test: close coverage gaps in lenient-query branch and test handlers
  tests/server/mcpserver/resources/test_resource_template.py
  tests/server/mcpserver/test_server.py
  tests/shared/test_uri_template.py
Due: ruff-format, ruff, pyright

fix: correct lenient query matching for +, fragments, and standalone {&var}
  src/mcp/shared/uri_template.py
  tests/shared/test_uri_template.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: fix stale docstrings and export DEFAULT_MAX_* constants
  src/mcp/server/mcpserver/server.py
  src/mcp/shared/uri_template.py
  tests/shared/test_uri_template.py
Due: ruff-format, ruff, pyright, readme-snippets

feat(server): restore dependencies parameter on MCPServer
  src/mcp/server/mcpserver/server.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

test: move new resource tests to module level per repo convention
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright

test: close coverage gaps in _parse_query and _split_query_tail fallbacks
  tests/shared/test_uri_template.py
Due: ruff-format, ruff, pyright

fix: preserve empty list items in explode matching
  src/mcp/shared/uri_template.py
  tests/shared/test_uri_template.py
Due: ruff-format, ruff, pyright, readme-snippets

refactor: simplify explode split since regex guarantees leading separator
  src/mcp/shared/uri_template.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: fall back to strict regex when path contains {#...} or literal #
  src/mcp/shared/uri_template.py
  tests/shared/test_uri_template.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: add missing type annotations to resources.md examples
  docs/server/resources.md
Due: readme-snippets

docs: improve resources.md with spec link and concrete-URI examples
  docs/server/resources.md
Due: readme-snippets

refactor: use list[str] | None for dependencies parameter
  src/mcp/server/mcpserver/server.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: reject {expr}{+var} adjacency to close ReDoS gap
  docs/server/resources.md
  src/mcp/shared/uri_template.py
  tests/shared/test_uri_template.py
Due: ruff-format, ruff, pyright, readme-snippets

feat(server): restore `dependencies` parameter on MCPServer (#2358)
  src/mcp/server/mcpserver/server.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

ci: remove claude-code-review workflow
  .github/workflows/claude-code-review.yml
Due: none

ci: remove claude-code-review workflow (#2359)
  .github/workflows/claude-code-review.yml
Due: none

refactor: replace regex matcher with linear-time two-ended scan
  src/mcp/shared/uri_template.py
  tests/shared/test_uri_template.py
Due: ruff-format, ruff, pyright, readme-snippets

test: close coverage gaps in linear-scan error paths
  src/mcp/shared/uri_template.py
  tests/shared/test_uri_template.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: do not percent-decode query parameter names in match
  src/mcp/shared/uri_template.py
  tests/shared/test_uri_template.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: reject null bytes in ResourceSecurity.validate by default
  src/mcp/server/mcpserver/resources/templates.py
  tests/server/mcpserver/resources/test_resource_template.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: raise ResourceSecurityError instead of falling through on rejection
  src/mcp/server/mcpserver/resources/__init__.py
  src/mcp/server/mcpserver/resources/templates.py
  tests/server/mcpserver/resources/test_resource_template.py
Due: ruff-format, ruff, pyright, readme-snippets

hardening: tighten limits, immutability, and drive-letter detection
  src/mcp/server/mcpserver/resources/templates.py
  src/mcp/shared/path_security.py
  src/mcp/shared/uri_template.py
  tests/server/mcpserver/resources/test_resource_template.py
  tests/shared/test_path_security.py
  tests/shared/test_uri_template.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: note AnyUrl pre-normalisation in get_resource docstring
  src/mcp/server/mcpserver/resources/resource_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: accept single supported content type in SSE mode Accept header validation
  src/mcp/server/streamable_http.py
  tests/issues/test_1363_race_condition_streamable_http.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: terminate active streamable http sessions on shutdown
  src/mcp/server/streamable_http_manager.py
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: anchor first template literal at position 0, not rightmost occurrence
  src/mcp/shared/uri_template.py
  tests/shared/test_uri_template.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: update migration guide and resources doc for matcher changes
  docs/migration.md
  docs/server/resources.md
Due: readme-snippets

docs: trim migration guide to actual v1.x breaking changes
  docs/migration.md
Due: readme-snippets

revert: remove frozenset coercion in ResourceSecurity.__post_init__
  src/mcp/server/mcpserver/resources/templates.py
  tests/server/mcpserver/resources/test_resource_template.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: ifemp round-trip + stale docstrings from linear-scan refactor
  docs/migration.md
  src/mcp/server/mcpserver/resources/templates.py
  src/mcp/shared/uri_template.py
  tests/shared/test_uri_template.py
Due: ruff-format, ruff, pyright, readme-snippets

Fix stateful StreamableHTTP auth context rebinding
  src/mcp/server/lowlevel/server.py
  tests/server/auth/middleware/test_auth_context_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Fix Streamable HTTP Accept negotiation
  src/mcp/server/streamable_http.py
  tests/issues/test_1363_race_condition_streamable_http.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: accept mapping-backed auth scopes
  src/mcp/server/lowlevel/server.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: make windows stdio pywin32 optional
  README.md
  README.v2.md
  docs/installation.md
  pyproject.toml
  src/mcp/__init__.py
  src/mcp/os/win32/utilities.py
  tests/issues/test_2233_windows_stdio_imports.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

test: isolate streamable auth regression server lifecycle
  tests/server/auth/middleware/test_auth_context_streamable_http.py
Due: ruff-format, ruff, pyright

fix: rebind auth context for notifications
  src/mcp/client/session.py
  src/mcp/server/lowlevel/server.py
  src/mcp/server/session.py
  src/mcp/shared/session.py
  tests/server/auth/middleware/test_auth_context_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Path conditions:
  ruff-format: any of: \.py$
  ruff: any of: \.py$, but not: ^README(\.v2)?\.md$
  pyright: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  readme-v1-frozen: any of: ^README\.md$
  readme-snippets: any of: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
