Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args:
          [
            "--fix",
            "--config",
            "pyproject.toml",
            "--configPointer",
            "/tool/markdown/lint",
          ]
        types: [markdown]

  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff Format
        entry: uv run --frozen ruff
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: ruff
        name: Ruff
        entry: uv run --frozen ruff
        args: ["check", "--fix", "--exit-non-zero-on-fix"]
        types: [python]
        language: system
        pass_filenames: false
        exclude: ^README(\.v2)?\.md$
      - id: pyright
        name: pyright
        entry: uv run --frozen pyright
        language: system
        types: [python]
        pass_filenames: false
      - id: uv-lock-check
        name: Check uv.lock is up to date
        entry: uv lock --check
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false
      # TODO(Max): Drop this in v2.
      - id: readme-v1-frozen
        name: README.md is frozen (v1 docs)
        entry: README.md is frozen at v1. Edit README.v2.md instead.
        language: fail
        files: ^README\.md$
      - id: readme-snippets
        name: Check snippets are up to date
        entry: uv run --frozen python scripts/sync_snippets.py --check
        language: system
        files: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
        pass_filenames: false

fix: guard respond() and cancel() against concurrent cancellation race
  src/mcp/shared/session.py
  tests/shared/test_session.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(server): don't close real process stdio in stdio_server (#1933)
  src/mcp/server/stdio.py
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(stdio): handle bufferless in-memory text streams in fallback
  src/mcp/server/stdio.py
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

test(stdio): close streams explicitly to satisfy 100% branch coverage
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright

fix(client): surface non-2xx HTTP responses to the waiting caller
  src/mcp/client/streamable_http.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(client): catch read failures on the non-2xx body
  src/mcp/client/streamable_http.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

test: add tests for non-2xx HTTP status handling (fixes #3091)
  tests/client/test_non2xx_status.py
Due: ruff-format, ruff, pyright

Update conformance client to httpx2
  .github/actions/conformance/client.py
Due: ruff-format, ruff, pyright

Drop None args no longer accepted by ServerSentEvent
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright

Convert httpx usage added on main to httpx2
  docs/client/identity-assertion.md
  docs/client/oauth-clients.md
  docs_src/client_transports/tutorial003.py
  docs_src/identity_assertion/tutorial001.py
  docs_src/oauth_clients/tutorial001.py
  docs_src/oauth_clients/tutorial002.py
  examples/snippets/clients/identity_assertion_client.py
  examples/stories/_harness.py
  examples/stories/_hosting.py
  examples/stories/_shared/auth.py
  examples/stories/bearer_auth/README.md
  examples/stories/bearer_auth/client.py
  examples/stories/identity_assertion/README.md
  examples/stories/identity_assertion/client.py
  examples/stories/json_response/README.md
  examples/stories/json_response/client.py
  examples/stories/legacy_routing/README.md
  examples/stories/oauth/README.md
  examples/stories/oauth/client.py
  examples/stories/oauth_client_credentials/README.md
  examples/stories/oauth_client_credentials/client.py
  examples/stories/sse_polling/README.md
  examples/stories/standalone_get/README.md
  examples/stories/stateless_legacy/README.md
  src/mcp/client/auth/extensions/identity_assertion.py
  tests/client/auth/extensions/test_identity_assertion.py
  tests/client/test_auth.py
  tests/docs_src/test_asgi.py
  tests/examples/conftest.py
  tests/examples/test_stories_smoke.py
  tests/interaction/lowlevel/test_client_connect.py
  tests/server/auth/test_identity_assertion.py
Due: ruff-format, ruff, pyright, readme-snippets

Wrap test signature that exceeded the line limit after the rename
  tests/server/auth/test_identity_assertion.py
Due: ruff-format, ruff, pyright

Restore SSE request headers via AsyncClient.sse(); fix example fallout
  examples/clients/simple-chatbot/mcp_simple_chatbot/main.py
  examples/clients/sse-polling-client/mcp_sse_polling_client/main.py
  src/mcp/client/sse.py
  tests/shared/test_sse.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: correct import path for SessionMessage
  tests/client/test_non2xx_status.py
Due: ruff-format, ruff, pyright

fix: use proper StreamableHTTPTransport initialization in tests
  tests/client/test_non2xx_status.py
Due: ruff-format, ruff, pyright

Convert httpx usage added on main since the last rebase to httpx2
  tests/client/test_client_caching.py
  tests/client/test_streamable_http.py
  tests/docs_src/test_deploy.py
  tests/docs_src/test_legacy_clients.py
  tests/docs_src/test_troubleshooting.py
  tests/server/test_streamable_http_modern.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check

Port the httpx2 migration notes into the restructured docs
  docs/client/transports.md
  docs/migration.md
Due: readme-snippets

fix: ruff lint fixes for test file
  tests/client/test_non2xx_status.py
Due: ruff-format, ruff, pyright

Mention the SSL_CERT_FILE remedy and update stale HTTPX docstrings
  docs/client/transports.md
  docs/migration.md
  src/mcp/client/auth/__init__.py
  src/mcp/client/auth/oauth2.py
  src/mcp/client/sse.py
  src/mcp/server/extension.py
Due: ruff-format, ruff, pyright, readme-snippets

feat(client): carry the originating HTTP status in ErrorData.data
  docs/migration.md
  docs/troubleshooting.md
  src/mcp/client/streamable_http.py
  tests/client/test_streamable_http.py
  tests/interaction/transports/test_client_transport_http.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: keep the troubleshooting snippet ASCII-only
  docs/troubleshooting.md
Due: readme-snippets

Document httpx2 exception migration and the TLS change in whats-new
  docs/client/transports.md
  docs/migration.md
  docs/whats-new.md
Due: readme-snippets

Lead the whats-new entry with the httpx2 swap; note logger and UA renames
  docs/migration.md
  docs/whats-new.md
Due: readme-snippets

Add Streamable HTTP request body limits
  docs/migration.md
  docs/run/index.md
  examples/stories/legacy_routing/README.md
  src/mcp/server/lowlevel/server.py
  src/mcp/server/mcpserver/server.py
  src/mcp/server/streamable_http_manager.py
  tests/docs_src/test_asgi.py
  tests/docs_src/test_legacy_clients.py
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: use MagicMock for async context manager in tests
  tests/client/test_non2xx_status.py
Due: ruff-format, ruff, pyright

fix: use MagicMock with async __aenter__/__aexit__ for context manager
  tests/client/test_non2xx_status.py
Due: ruff-format, ruff, pyright

fix: use MagicMock for client to support async context manager
  tests/client/test_non2xx_status.py
Due: ruff-format, ruff, pyright

Address request body limit review feedback
  src/mcp/server/streamable_http_manager.py
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: propagate McpError as JSON-RPC error in lowlevel server
  src/mcp/server/lowlevel/server.py
  tests/server/test_lowlevel_exception_handling.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: catch BrokenPipeError in stdio stdout_writer
  src/mcp/server/stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: Raise StreamableHTTPError on reconnection failure
  src/mcp/client/streamable_http.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: Narrow retry exceptions and unwrap StreamableHTTPError at client boundary
  src/mcp/client/streamable_http.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

test: Mock client.delete to satisfy strict-no-cover checks
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright

Remove alias from future annotations import
  src/mcp/client/streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

style: Trim trailing blank lines to satisfy end-of-file-fixer hook
  src/mcp/client/streamable_http.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

test: Add pragma no branch to streamable_http_client context manager entry to fix branch coverage on Python 3.11+
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright

Add Streamable HTTP request body limits (#3095)
  docs/migration.md
  docs/run/index.md
  examples/stories/legacy_routing/README.md
  src/mcp/server/lowlevel/server.py
  src/mcp/server/mcpserver/server.py
  src/mcp/server/streamable_http_manager.py
  tests/docs_src/test_asgi.py
  tests/docs_src/test_legacy_clients.py
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

Add Streamable HTTP request body limits
  docs/server.md
  src/mcp/server/fastmcp/server.py
  src/mcp/server/streamable_http_manager.py
  tests/server/fastmcp/test_server.py
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

[v1.x] Add Streamable HTTP request body limits (#3101)
  docs/server.md
  src/mcp/server/fastmcp/server.py
  src/mcp/server/streamable_http_manager.py
  tests/server/fastmcp/test_server.py
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright, readme-snippets
