Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args:
          [
            "--fix",
            "--config",
            "pyproject.toml",
            "--configPointer",
            "/tool/markdown/lint",
          ]
        types: [markdown]

  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff Format
        entry: uv run --frozen ruff
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: ruff
        name: Ruff
        entry: uv run --frozen ruff
        args: ["check", "--fix", "--exit-non-zero-on-fix"]
        types: [python]
        language: system
        pass_filenames: false
        exclude: ^README(\.v2)?\.md$
      - id: pyright
        name: pyright
        entry: uv run --frozen pyright
        language: system
        types: [python]
        pass_filenames: false
      - id: uv-lock-check
        name: Check uv.lock is up to date
        entry: uv lock --check
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false
      # TODO(Max): Drop this in v2.
      - id: readme-v1-frozen
        name: README.md is frozen (v1 docs)
        entry: README.md is frozen at v1. Edit README.v2.md instead.
        language: fail
        files: ^README\.md$
      - id: readme-snippets
        name: Check snippets are up to date
        entry: uv run --frozen python scripts/sync_snippets.py --check
        language: system
        files: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
        pass_filenames: false

Cover the deferred-signature edge cases: instance access and defer_build turned off
  tests/types/test_deferred.py
Due: ruff-format, ruff, pyright

Add mcp.warm(): opt-in prewarming for the deferred validators
  docs_src/import_cost/tutorial001.py
  src/mcp-types/mcp_types/methods.py
  src/mcp/__init__.py
  tests/docs_src/test_import_cost.py
  tests/types/test_methods.py
Due: ruff-format, ruff, pyright, readme-snippets

Document the deferred-work bills and correct the import-cost bullets
  AGENTS.md
  docs/advanced/import-cost.md
  docs/migration.md
Due: readme-snippets

Construct DEFAULT_CLIENT_INFO without building the Implementation model
  src/mcp/client/session.py
Due: ruff-format, ruff, pyright, readme-snippets

Import the internal deferred_model decorator under a private name
  src/mcp-types/mcp_types/jsonrpc.py
  src/mcp/client/auth/extensions/client_credentials.py
  src/mcp/client/auth/oauth2.py
  src/mcp/client/session_group.py
  src/mcp/client/stdio.py
  src/mcp/server/apps.py
  src/mcp/server/auth/handlers/authorize.py
  src/mcp/server/auth/handlers/register.py
  src/mcp/server/auth/handlers/revoke.py
  src/mcp/server/auth/handlers/token.py
  src/mcp/server/auth/provider.py
  src/mcp/server/auth/settings.py
  src/mcp/server/elicitation.py
  src/mcp/server/mcpserver/context.py
  src/mcp/server/mcpserver/prompts/base.py
  src/mcp/server/mcpserver/resources/base.py
  src/mcp/server/mcpserver/resources/templates.py
  src/mcp/server/mcpserver/server.py
  src/mcp/server/mcpserver/tools/base.py
  src/mcp/server/mcpserver/utilities/func_metadata.py
  src/mcp/server/models.py
  src/mcp/server/transport_security.py
  src/mcp/shared/auth.py
Due: ruff-format, ruff, pyright, readme-snippets

Fail generation if a non-class statement sits between generated classes
  scripts/gen_surface_types.py
Due: ruff-format, ruff, pyright

Cover the decorator's refusal paths and the runtime-only lazy-init branches
  pyproject.toml
  tests/types/test_deferred.py
  tests/types/test_methods.py
Due: ruff-format, ruff, pyright, uv-lock-check

Generate a deferred model's JSON schema under the rebuild lock too
  src/mcp-types/mcp_types/_deferred.py
  tests/types/test_deferred.py
Due: ruff-format, ruff, pyright

Spell warm()'s every-version flag as all_versions and return a frozen dataclass
  src/mcp-types/mcp_types/methods.py
  tests/test_init.py
  tests/types/test_methods.py
Due: ruff-format, ruff, pyright

Document the prewarm recipe and the rebuild lock's terms
  docs/advanced/import-cost.md
  docs/migration.md
  src/mcp-types/mcp_types/_deferred.py
Due: ruff-format, ruff, pyright, readme-snippets

Resolve attribute chains through the four leaf sub-packages too
  src/mcp/os/posix/__init__.py
  src/mcp/os/win32/__init__.py
  src/mcp/server/auth/handlers/__init__.py
  src/mcp/server/auth/middleware/__init__.py
  tests/shared/test_lazy.py
Due: ruff-format, ruff, pyright, readme-snippets

Pin the decorator's refusal messages and describe two wire-base tests
  tests/types/test_deferred.py
  tests/types/test_wire_base.py
Due: ruff-format, ruff, pyright

fix(server): terminate streamable HTTP sessions on manager shutdown
  src/mcp/server/streamable_http.py
  src/mcp/server/streamable_http_manager.py
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: reject boolean progress totals
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/shared/test_jsonrpc_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(server): reject concurrent duplicate JSON-RPC request ids
  src/mcp/server/streamable_http.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Stop later-revision result fields from failing pre-2026 sessions
  docs/client/caching.md
  src/mcp-types/mcp_types/methods.py
  src/mcp/client/session.py
  src/mcp/server/connection.py
  src/mcp/server/session.py
  tests/client/test_session.py
  tests/docs_src/test_caching.py
  tests/types/test_methods.py
Due: ruff-format, ruff, pyright, readme-snippets

Keep the later-revision field drop private to the client session
  docs/client/caching.md
  src/mcp-types/mcp_types/methods.py
  src/mcp/client/session.py
  src/mcp/server/connection.py
  src/mcp/server/session.py
  tests/docs_src/test_caching.py
  tests/types/test_methods.py
Due: ruff-format, ruff, pyright, readme-snippets

Fix ruff import sort in register.py
  src/mcp/server/auth/handlers/register.py
Due: ruff-format, ruff, pyright, readme-snippets

Use pydantic AnyUrl instead of AnyHttpUrl for redirect URI validation
  src/mcp/server/auth/url_validators.py
  tests/server/auth/test_routes.py
Due: ruff-format, ruff, pyright, readme-snippets

Harden the client's later-revision drop and widen its coverage
  src/mcp/client/session.py
  tests/client/test_session.py
  tests/interaction/_requirements.py
Due: ruff-format, ruff, pyright, readme-snippets

Drop the interaction-requirements manifest entry
  tests/interaction/_requirements.py
Due: ruff-format, ruff, pyright

fix(mcpserver): omit unreturned TypedDict keys from structuredContent
  src/mcp/server/mcpserver/utilities/func_metadata.py
  tests/server/mcpserver/test_func_metadata.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(mcpserver): resolve TypedDict hints via typing_extensions for Python 3.10
  src/mcp/server/mcpserver/utilities/func_metadata.py
  tests/server/mcpserver/test_func_metadata.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(tests): import NotRequired from typing_extensions for Python 3.10
  tests/server/mcpserver/test_func_metadata.py
Due: ruff-format, ruff, pyright

docs(structured-output): document NotRequired key omission
  docs/servers/structured-output.md
Due: readme-snippets

fix(server): discard a session whose establishing request was refused
  src/mcp/server/streamable_http.py
  src/mcp/server/streamable_http_manager.py
  tests/server/test_streamable_http_manager.py
  tests/server/test_streamable_http_router.py
Due: ruff-format, ruff, pyright, readme-snippets

test(mcpserver): pin nested TypedDict and explicit-None omission behaviour
  tests/server/mcpserver/test_func_metadata.py
Due: ruff-format, ruff, pyright

fix(server): type-preserve streamable HTTP request stream keys
  src/mcp/server/streamable_http.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

test(session): cover unknown-notification no-response and method-set extraction
  tests/server/test_session.py
  tests/shared/test_session.py
Due: ruff-format, ruff, pyright

Fix validate_issuer_url type hint from AnyHttpUrl to AnyUrl
  src/mcp/server/auth/url_validators.py
Due: ruff-format, ruff, pyright, readme-snippets

Add preview translations for zh-CN, ja, ko and pt-BR
  i18n/languages/ja/nav.yml
  i18n/languages/ja/pages/get-started/first-steps.md
  i18n/languages/ja/pages/handlers/elicitation.md
  i18n/languages/ja/pages/index.md
  i18n/languages/ja/state.json
  i18n/languages/ko/nav.yml
  i18n/languages/ko/pages/get-started/first-steps.md
  i18n/languages/ko/pages/handlers/elicitation.md
  i18n/languages/ko/pages/index.md
  i18n/languages/ko/state.json
  i18n/languages/pt-BR/nav.yml
  i18n/languages/pt-BR/pages/get-started/first-steps.md
  i18n/languages/pt-BR/pages/handlers/elicitation.md
  i18n/languages/pt-BR/pages/index.md
  i18n/languages/pt-BR/state.json
  i18n/languages/zh-CN/nav.yml
  i18n/languages/zh-CN/pages/get-started/first-steps.md
  i18n/languages/zh-CN/pages/handlers/elicitation.md
  i18n/languages/zh-CN/pages/index.md
  i18n/languages/zh-CN/state.json
Due: none

test(server): register router streams under type-preserving keys
  tests/server/test_streamable_http_router.py
Due: ruff-format, ruff, pyright

fix(session): remove redundant Any cast flagged by pyright
  src/mcp/shared/session.py
Due: ruff-format, ruff, pyright, readme-snippets

feat(mcpserver): expose public get_tool(name) on MCPServer
  src/mcp/server/mcpserver/server.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

Fix typed Context in resources and prompts
  docs/handlers/lifespan.md
  docs/migration.md
  src/mcp/server/mcpserver/prompts/base.py
  src/mcp/server/mcpserver/resources/templates.py
  src/mcp/server/mcpserver/utilities/context_injection.py
  tests/docs_src/test_lifespan.py
  tests/server/mcpserver/resources/test_resource_template.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

Cover context injection fallback paths
  tests/server/mcpserver/resources/test_resource_template.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright

Clarify context support for resource templates
  docs/handlers/lifespan.md
Due: readme-snippets
