Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

ruff-format:
  name: Ruff Format
  entry: uv run --frozen ruff
  args:
  - format
  language: system
  pass_filenames: false

ruff:
  name: Ruff
  entry: uv run --frozen ruff
  args:
  - check
  - --fix
  - --exit-non-zero-on-fix
  language: system
  pass_filenames: false

pyright:
  name: pyright
  entry: uv run --frozen pyright
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv.lock is up to date
  entry: uv lock --check
  language: system
  pass_filenames: false

readme-v1-frozen:
  name: README.md is frozen (v1 docs)
  entry: README.md is frozen at v1. Edit README.v2.md instead.
  language: fail

readme-snippets:
  name: Check snippets are up to date
  entry: uv run --frozen python scripts/sync_snippets.py --check
  language: system
  pass_filenames: false

fix(client/auth): non-fatal SEP-2468 check on eager path; flag discovery only on completion
  src/mcp/client/auth/oauth2.py
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

Write generated files as UTF-8 with LF newlines on every platform
  scripts/docs/translations.py
  tests/test_docs_i18n.py
Due: ruff-format, ruff, pyright

Log exception before returning tool call error result
  src/mcp/server/mcpserver/server.py
Due: ruff-format, ruff, pyright, readme-snippets

Forward server stderr when errlog has no file descriptor
  src/mcp/client/stdio.py
  src/mcp/os/win32/utilities.py
  tests/client/test_stdio.py
  tests/transports/stdio/test_lifecycle.py
Due: ruff-format, ruff, pyright, readme-snippets

Refresh the first page when draining paginated listings
  docs/advanced/pagination.md
  src/mcp/client/client.py
  tests/client/test_list_all_pagination.py
Due: ruff-format, ruff, pyright, readme-snippets

Keep re-authorization on its own request's protocol version
  src/mcp/client/auth/oauth2.py
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

Reject an orphan Mcp-Name header when the body omits the named param
  src/mcp/shared/inbound.py
  tests/shared/test_inbound.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: log exceptions in _handle_call_tool at ERROR level
  src/mcp/server/mcpserver/server.py
  tests/interaction/mcpserver/test_tools.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(client): do not put client_id in the token body under client_secret_basic
  src/mcp/client/auth/oauth2.py
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(server): fall back to Basic-header client_id when the body omits it
  src/mcp/server/auth/handlers/token.py
  src/mcp/server/auth/middleware/client_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: allow integer file descriptors for errlog in stdio_client
  src/mcp/client/stdio.py
  src/mcp/os/win32/utilities.py
Due: ruff-format, ruff, pyright, readme-snippets

Fix OAuth example resource identifiers
  docs/run/authorization.md
  examples/clients/simple-auth-client/mcp_simple_auth_client/main.py
  examples/servers/simple-auth/README.md
  examples/servers/simple-auth/mcp_simple_auth/server.py
  examples/snippets/clients/oauth_client.py
  examples/snippets/servers/oauth_server.py
  pyproject.toml
  src/mcp/server/auth/settings.py
  tests/examples/simple_auth/conftest.py
  tests/examples/simple_auth/test_oauth_resource_url.py
  tests/examples/simple_auth/test_resource_server_urls.py
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Remove no-cover pragmas reached by auth tests
  src/mcp/server/mcpserver/server.py
Due: ruff-format, ruff, pyright, readme-snippets

Cover legacy auth app configuration
  src/mcp/server/mcpserver/server.py
  tests/examples/simple_auth/test_resource_server_urls.py
Due: ruff-format, ruff, pyright, readme-snippets

Narrow OAuth resource URL fix
  examples/clients/simple-auth-client/tests/test_oauth_resource_url.py
  examples/servers/simple-auth/README.md
  examples/servers/simple-auth/mcp_simple_auth/server.py
  examples/servers/simple-auth/tests/test_resource_server_urls.py
  examples/snippets/servers/oauth_server.py
  pyproject.toml
  src/mcp/server/mcpserver/server.py
  tests/examples/simple_auth/conftest.py
  tests/examples/simple_auth/test_oauth_resource_url.py
  tests/examples/simple_auth/test_resource_server_urls.py
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Fix OAuth example test collection
  tests/examples/simple_auth/conftest.py
  tests/examples/simple_auth/test_oauth_resource_url.py
  tests/examples/simple_auth/test_resource_server_urls.py
Due: ruff-format, ruff, pyright

Format OAuth test fixture
  tests/examples/simple_auth/conftest.py
Due: ruff-format, ruff, pyright

fix(client/auth): run the expiry discard after the SEP-2352 issuer checks; cover the refresh and 403 step-up paths
  src/mcp/client/auth/oauth2.py
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(client/auth): drop the orphaned refresh token on expiry discard; centralize the expiry predicate
  docs/client/oauth-clients.md
  src/mcp/client/auth/oauth2.py
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

test(client/auth): make the expiry-discard test's storage assertions non-vacuous
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright

fix(client/auth): run discovery before the 403 step-up re-registers when no AS metadata is cached
  src/mcp/client/auth/oauth2.py
  src/mcp/client/auth/utils.py
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(client/auth): finalize the discovery sub-generator when the flow is closed mid-discovery
  src/mcp/client/auth/oauth2.py
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

test(client/auth): cover the 403 step-up's exception relay; drop its stale no-cover pragma
  src/mcp/client/auth/oauth2.py
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(client): map bare HTTP 401/403 to distinguishable JSON-RPC errors
  src/mcp/client/streamable_http.py
  tests/client/test_notification_response.py
  tests/client/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Bump conformance harness to 0.2.0-alpha.11
  .github/actions/conformance/client.py
  .github/workflows/conformance.yml
Due: ruff-format, ruff, pyright

Address review: pre-release opt-in, era-scoped deprecations, lock recipe
  RELEASE.md
  docs/roadmap.md
  docs/versioning.md
Due: readme-snippets

fix(client): surface HTTP errors on resumption GET and SSE message POST
  src/mcp/client/sse.py
  src/mcp/client/streamable_http.py
  tests/client/test_streamable_http.py
  tests/shared/test_sse.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(auth): include RFC 6750 scope attribute in WWW-Authenticate challenges
  src/mcp/server/auth/middleware/bearer_auth.py
  tests/client/test_auth.py
  tests/server/auth/middleware/test_bearer_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

test: use one parenthesized async-with to dodge py3.14 coverage phantom arc
  tests/shared/test_sse.py
Due: ruff-format, ruff, pyright

test: re-pin WWW-Authenticate assertions to the scope-bearing challenge
  docs/run/authorization.md
  tests/docs_src/test_authorization.py
  tests/interaction/_requirements.py
  tests/interaction/auth/_harness.py
  tests/interaction/auth/test_authorize_token.py
  tests/interaction/auth/test_bearer.py
Due: ruff-format, ruff, pyright, readme-snippets

test: import Server from the public mcp.server surface; fix stale shim docstring
  tests/client/test_auth.py
  tests/interaction/auth/_harness.py
Due: ruff-format, ruff, pyright

fix(client): harden the resumption GET and SSE POST error paths per review
  src/mcp/client/sse.py
  src/mcp/client/streamable_http.py
  tests/client/test_streamable_http.py
  tests/shared/test_sse.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(client): cover OAuth failures and 404 session expiry on the SSE POST; document the new error contract
  docs/migration.md
  src/mcp/client/sse.py
  tests/shared/test_sse.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(client): contain arbitrary POST failures and dedupe the status-error mapping
  src/mcp/client/_transport.py
  src/mcp/client/sse.py
  src/mcp/client/streamable_http.py
  tests/shared/test_sse.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: scope the connect-failure escape note to request POSTs
  docs/migration.md
Due: readme-snippets

fix(client): export status_error_data in _transport's __all__
  src/mcp/client/_transport.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: align the SSE notification-POST sentence with its streamable sibling
  docs/migration.md
Due: readme-snippets

Trim the translation tooling to what publishing needs
  .github/ISSUE_TEMPLATE/translation.yaml
  .github/workflows/translate.yml
  docs/translations.md
  i18n/README.md
  i18n/ja/pages/translations.md
  i18n/ko/pages/translations.md
  i18n/languages.yml
  i18n/pt-BR/pages/translations.md
  i18n/zh-CN/pages/translations.md
  pyproject.toml
  scripts/docs/build.sh
  scripts/docs/build_config.py
  scripts/docs/translations.py
  scripts/serve-docs.sh
  tests/docs/test_build_config.py
  tests/docs/test_translations.py
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Path conditions:
  ruff-format: any of: \.py$
  ruff: any of: \.py$, but not: ^README(\.v2)?\.md$
  pyright: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  readme-v1-frozen: any of: ^README\.md$
  readme-snippets: any of: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
