Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args:
          [
            "--fix",
            "--config",
            "pyproject.toml",
            "--configPointer",
            "/tool/markdown/lint",
          ]
        types: [markdown]

  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff Format
        entry: uv run --frozen ruff
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: ruff
        name: Ruff
        entry: uv run --frozen ruff
        args: ["check", "--fix", "--exit-non-zero-on-fix"]
        types: [python]
        language: system
        pass_filenames: false
        exclude: ^README(\.v2)?\.md$
      - id: pyright
        name: pyright
        entry: uv run --frozen pyright
        language: system
        types: [python]
        pass_filenames: false
      - id: uv-lock-check
        name: Check uv.lock is up to date
        entry: uv lock --check
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false
      # TODO(Max): Drop this in v2.
      - id: readme-v1-frozen
        name: README.md is frozen (v1 docs)
        entry: README.md is frozen at v1. Edit README.v2.md instead.
        language: fail
        files: ^README\.md$
      - id: readme-snippets
        name: Check snippets are up to date
        entry: uv run --frozen python scripts/sync_snippets.py --check
        language: system
        files: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
        pass_filenames: false

test: cover defensive branches in docstring parser
  tests/server/mcpserver/test_docstring.py
Due: ruff-format, ruff, pyright

fix: validate_scope allows any scope when client has no registered scope restriction
  src/mcp/shared/auth.py
  tests/shared/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: remove unused OAuthClientMetadata import in test_auth
  tests/shared/test_auth.py
Due: ruff-format, ruff, pyright

fix: use model_validate to satisfy pyright AnyUrl type check
  tests/shared/test_auth.py
Due: ruff-format, ruff, pyright

refactor: use set operations for scope validation per reviewer feedback
  src/mcp/shared/auth.py
Due: ruff-format, ruff, pyright, readme-snippets

Use shared `is_async_callable` instead of `inspect.iscoroutinefunction` (#2389)
  src/mcp/server/mcpserver/prompts/base.py
  src/mcp/server/mcpserver/resources/templates.py
  src/mcp/server/mcpserver/resources/types.py
  src/mcp/server/mcpserver/tools/base.py
  src/mcp/shared/_callable_inspection.py
Due: ruff-format, ruff, pyright, readme-snippets

style: inline InvalidScopeError raise to fit on one line
  src/mcp/shared/auth.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: preserve reconnect attempt counter on second stream disconnect
  src/mcp/client/streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(auth): coerce empty-string optional URL fields to None in OAuthClientMetadata
  src/mcp/shared/auth.py
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

Add MCP events protocol primitive: topic-based PUB/SUB server-to-client events
  pyproject.toml
  src/mcp/client/session.py
  src/mcp/server/events.py
  src/mcp/server/lowlevel/server.py
  src/mcp/server/session.py
  src/mcp/types.py
  tests/test_event_roundtrip.py
  tests/test_event_types.py
  tests/test_subscription_registry.py
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Pre-compile topic filter regex, cache subscription patterns, docs clarify
  docs/events.md
  src/mcp/client/session.py
  src/mcp/server/events.py
  src/mcp/shared/topic_patterns.py
Due: ruff-format, ruff, pyright, readme-snippets

Add MCP events documentation
  docs/events.md
  docs/index.md
  docs/protocol.md
  mkdocs.yml
Due: readme-snippets

Fix # root wildcard, top-level imports, regex cache
  src/mcp/client/session.py
  src/mcp/server/events.py
  src/mcp/server/session.py
  tests/test_subscription_registry.py
Due: ruff-format, ruff, pyright, readme-snippets

Fix ruff formatting, add tests for 100% coverage
  src/mcp/server/events.py
  src/mcp/types.py
  tests/test_event_roundtrip.py
  tests/test_event_types.py
  tests/test_subscription_registry.py
Due: ruff-format, ruff, pyright, readme-snippets

Fix pyright type errors and test file coverage
  tests/test_event_roundtrip.py
  tests/test_event_types.py
Due: ruff-format, ruff, pyright

Update uv.lock for python-ulid, add pragma to branch exits
  src/mcp/server/events.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

feat: add public setter methods for ClientSession callbacks
  src/mcp/client/session.py
  tests/client/test_elicitation_callback.py
  tests/client/test_list_roots_callback.py
  tests/client/test_sampling_callback.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: clarify Streamable HTTP stateless mode semantics and usage
  README.md
Due: readme-v1-frozen

fix: convert deployment pattern bold text to proper headings
  README.md
Due: readme-v1-frozen

fix: move stateless mode docs from frozen README.md to README.v2.md
  README.md
  README.v2.md
Due: readme-v1-frozen, readme-snippets

feat: expand InitializationState with explicit lifecycle state machine
  src/mcp/server/session.py
  tests/server/test_session_lifecycle.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: add concurrency model documentation to ServerSession and _transition_state
  src/mcp/server/session.py
Due: ruff-format, ruff, pyright, readme-snippets

refactor: remove unused Error state, defer to Phase 2 of #1691
  src/mcp/server/session.py
  tests/server/test_session_lifecycle.py
Due: ruff-format, ruff, pyright, readme-snippets

refactor: flatten test classes to top-level functions per CLAUDE.md
  tests/server/test_session_lifecycle.py
Due: ruff-format, ruff, pyright

fix: ensure 100% branch coverage for __aexit__ lifecycle transitions
  src/mcp/server/session.py
  tests/server/test_session_lifecycle.py
Due: ruff-format, ruff, pyright, readme-snippets

Expose server-assigned session_id on ClientSession
  docs/events.md
  src/mcp/client/session.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: add CLI reference table for mcp dev/run/install flags
  README.md
Due: readme-v1-frozen

docs: add CLI reference table for mcp dev/run/install flags
  README.md
  README.v2.md
Due: readme-v1-frozen, readme-snippets

fix: allow integer file descriptors for errlog in stdio_client
  src/mcp/client/stdio.py
  src/mcp/os/win32/utilities.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(session): return INVALID_REQUEST error instead of crashing on pre-init requests
  src/mcp/server/session.py
  tests/server/test_session.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: fill migration guide gaps surfaced by upgrade eval
  docs/migration.md
Due: readme-snippets

docs: address minor migration guide gaps from upgrade eval
  docs/migration.md
Due: readme-snippets

docs: fill migration guide gaps surfaced by automated upgrade eval (#2412)
  docs/migration.md
Due: readme-snippets

docs: modernize CLAUDE.md development guidelines
  CLAUDE.md
Due: none

docs: rename CLAUDE.md to AGENTS.md with import stub
  AGENTS.md
  CLAUDE.md
Due: none

docs: address review feedback on AGENTS.md
  AGENTS.md
Due: none

docs: clarify CI matrix dimensions; drop stale filterwarnings entry
  AGENTS.md
  pyproject.toml
Due: uv-lock-check

docs: drop lowest-direct repro hint
  AGENTS.md
Due: none

docs: explain UV_FROZEN=1 in targeted coverage block
  AGENTS.md
Due: none
