Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args:
          [
            "--fix",
            "--config",
            "pyproject.toml",
            "--configPointer",
            "/tool/markdown/lint",
          ]
        types: [markdown]

  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff Format
        entry: uv run --frozen ruff
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: ruff
        name: Ruff
        entry: uv run --frozen ruff
        args: ["check", "--fix", "--exit-non-zero-on-fix"]
        types: [python]
        language: system
        pass_filenames: false
        exclude: ^README(\.v2)?\.md$
      - id: pyright
        name: pyright
        entry: uv run --frozen pyright
        language: system
        types: [python]
        pass_filenames: false
      - id: uv-lock-check
        name: Check uv.lock is up to date
        entry: uv lock --check
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false
      # TODO(Max): Drop this in v2.
      - id: readme-v1-frozen
        name: README.md is frozen (v1 docs)
        entry: README.md is frozen at v1. Edit README.v2.md instead.
        language: fail
        files: ^README\.md$
      - id: readme-snippets
        name: Check snippets are up to date
        entry: uv run --frozen python scripts/sync_snippets.py --check
        language: system
        files: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
        pass_filenames: false

Gate log notifications on the per-request log-level opt-in at 2026-07-28
  docs/client/callbacks.md
  docs/migration.md
  src/mcp/client/client.py
  src/mcp/client/session.py
  src/mcp/server/connection.py
  src/mcp/server/context.py
  src/mcp/server/runner.py
  src/mcp/server/session.py
  tests/client/test_session.py
  tests/interaction/_connect.py
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_logging.py
  tests/interaction/mcpserver/test_context.py
  tests/interaction/mcpserver/test_tools.py
  tests/server/test_connection.py
  tests/server/test_server_context.py
  tests/server/test_session.py
  tests/server/test_stateless_mode.py
Due: ruff-format, ruff, pyright, readme-snippets

Opt the streaming story client into log delivery
  examples/stories/streaming/client.py
  examples/stories/streaming/server.py
Due: ruff-format, ruff, pyright, readme-snippets

Narrow the transport's back-channel verdict to JSON-response mode
  src/mcp/server/streamable_http.py
  src/mcp/server/streamable_http_manager.py
  src/mcp/shared/jsonrpc_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

Stamp the JSON-mode verdict in one metadata factory
  src/mcp/server/streamable_http.py
  src/mcp/shared/exceptions.py
  src/mcp/shared/jsonrpc_dispatcher.py
  src/mcp/shared/message.py
  tests/server/test_streamable_http_router.py
Due: ruff-format, ruff, pyright, readme-snippets

Keep the log-level gate helper out of connection.py __all__
  src/mcp/server/connection.py
Due: ruff-format, ruff, pyright, readme-snippets

Remove unused mcpserver.exceptions.ValidationError
  src/mcp/server/mcpserver/exceptions.py
Due: ruff-format, ruff, pyright, readme-snippets

Keep the log-delivery opt-in request-only and drop the mock from the logging test
  src/mcp/server/runner.py
  tests/interaction/lowlevel/test_logging.py
  tests/server/test_runner.py
Due: ruff-format, ruff, pyright, readme-snippets

Gate log notifications on the per-request log-level opt-in at 2026-07-28 (#3198)
  docs/client/callbacks.md
  docs/migration.md
  examples/stories/streaming/client.py
  examples/stories/streaming/server.py
  src/mcp/client/client.py
  src/mcp/client/session.py
  src/mcp/server/connection.py
  src/mcp/server/context.py
  src/mcp/server/runner.py
  src/mcp/server/session.py
  tests/client/test_session.py
  tests/interaction/_connect.py
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_logging.py
  tests/interaction/mcpserver/test_context.py
  tests/interaction/mcpserver/test_tools.py
  tests/server/test_connection.py
  tests/server/test_runner.py
  tests/server/test_server_context.py
  tests/server/test_session.py
  tests/server/test_stateless_mode.py
Due: ruff-format, ruff, pyright, readme-snippets

feat(mcp): add async retry middleware with exponential backoff and jitter for MCP client transport
  src/mcp/middleware/retry.py
Due: ruff-format, ruff, pyright, readme-snippets

test: add unit tests for async retry middleware success, max retries, and non-retryable errors
  tests/test_retry_middleware.py
Due: ruff-format, ruff, pyright

style(mcp): format code and docstrings for pre-commit compliance
  src/mcp/middleware/retry.py
  tests/test_retry_middleware.py
Due: ruff-format, ruff, pyright, readme-snippets

docs(mcp): fix docstring syntax for mkdocs build compliance
  src/mcp/middleware/retry.py
Due: ruff-format, ruff, pyright, readme-snippets

Remove unused mcpserver.exceptions.ValidationError (#3199)
  src/mcp/server/mcpserver/exceptions.py
Due: ruff-format, ruff, pyright, readme-snippets

Make the subscription authorization hook accept-or-refuse instead of narrowing
  docs/handlers/subscriptions.md
  docs/migration.md
  docs/whats-new.md
  src/mcp/server/mcpserver/server.py
  src/mcp/server/subscriptions.py
  tests/server/test_subscriptions.py
Due: ruff-format, ruff, pyright, readme-snippets

Fail fast on server-to-client requests in JSON-response mode instead of hanging (#3195)
  docs/migration.md
  docs/run/index.md
  docs/run/legacy-clients.md
  docs/troubleshooting.md
  src/mcp/server/streamable_http.py
  src/mcp/shared/exceptions.py
  src/mcp/shared/jsonrpc_dispatcher.py
  src/mcp/shared/message.py
  src/mcp/shared/transport_context.py
  tests/interaction/_requirements.py
  tests/interaction/transports/test_streamable_http.py
  tests/server/test_streamable_http_router.py
  tests/shared/test_jsonrpc_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

Point pre-release install pins at 2.0.0rc2
  README.md
  docs/get-started/installation.md
  docs/get-started/real-host.md
  docs/index.md
Due: readme-v1-frozen, readme-snippets

Expose the middleware chain on MCPServer and stop sending unrequested change notifications
  docs/advanced/middleware.md
  docs/client/subscriptions.md
  docs/handlers/subscriptions.md
  docs/migration.md
  docs/run/legacy-clients.md
  docs/whats-new.md
  docs_src/subscriptions/tutorial006.py
  src/mcp/server/connection.py
  src/mcp/server/mcpserver/server.py
  src/mcp/shared/subscriptions.py
  tests/docs_src/test_subscriptions.py
  tests/server/mcpserver/test_server.py
  tests/server/test_runner.py
Due: ruff-format, ruff, pyright, readme-snippets

Document the two-line release process for stable v2
  RELEASE.md
Due: none

Expose the middleware chain on MCPServer and stop sending unrequested change notifications (#3201)
  docs/advanced/middleware.md
  docs/client/subscriptions.md
  docs/handlers/subscriptions.md
  docs/migration.md
  docs/run/legacy-clients.md
  docs/whats-new.md
  docs_src/subscriptions/tutorial006.py
  src/mcp/server/connection.py
  src/mcp/server/mcpserver/server.py
  src/mcp/shared/subscriptions.py
  tests/docs_src/test_subscriptions.py
  tests/server/mcpserver/test_server.py
  tests/server/test_runner.py
Due: ruff-format, ruff, pyright, readme-snippets

Tighten the public API surface: root exports, listen types, dead-code removal
  docs/get-started/first-steps.md
  docs/migration.md
  docs/whats-new.md
  docs_src/subscriptions/tutorial005.py
  pyproject.toml
  src/mcp-types/mcp_types/methods.py
  src/mcp-types/mcp_types/version.py
  src/mcp/__init__.py
  src/mcp/cli/__init__.py
  src/mcp/client/__init__.py
  src/mcp/client/_transport.py
  src/mcp/client/streamable_http.py
  src/mcp/server/__init__.py
  src/mcp/server/_context.py
  src/mcp/server/auth/handlers/register.py
  src/mcp/server/auth/handlers/token.py
  src/mcp/server/context.py
  src/mcp/server/extension.py
  src/mcp/server/mcpserver/__init__.py
  src/mcp/server/mcpserver/resolve.py
  src/mcp/server/mcpserver/resources/__init__.py
  src/mcp/shared/_httpx_utils.py
  src/mcp/shared/inbound.py
  src/mcp/shared/uri_template.py
  tests/server/test_server_context.py
  tests/shared/test_extension.py
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Address review nits in the release process doc
  RELEASE.md
Due: none

Remove unused StreamableHTTPTransport.get_session_id()
  docs/migration.md
  src/mcp/client/streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Document the two-line release process for stable v2 (#3179)
  RELEASE.md
Due: none

Remove unused StreamableHTTPTransport.get_session_id() (#3205)
  docs/migration.md
  src/mcp/client/streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Serve v2 docs at the site root, with permanent per-major paths
  .github/workflows/deploy-docs.yml
  mkdocs.yml
  pyproject.toml
  scripts/build-docs.sh
  src/mcp-types/pyproject.toml
Due: uv-lock-check

Point the landing-page banner at the v1.x docs' new /v1/ home
  docs/index.md
Due: readme-snippets

Serve v2 docs at the site root, with permanent per-major paths (#3176)
  .github/workflows/deploy-docs.yml
  docs/index.md
  mkdocs.yml
  pyproject.toml
  scripts/build-docs.sh
  src/mcp-types/pyproject.toml
Due: uv-lock-check, readme-snippets

[v1.x] Move the v1.x docs to /v1/ and mark v1.x as the maintenance line (#3177)
  .github/workflows/deploy-docs.yml
  .github/workflows/shared.yml
  README.md
  docs/index.md
  docs/installation.md
  mkdocs.yml
  pyproject.toml
  scripts/build-docs.sh
  scripts/docs/build.sh
Due: uv-lock-check, readme-v1-frozen, readme-snippets

Present v2 as the stable release across the README, docs, and policies
  .github/ISSUE_TEMPLATE/v2-feedback.yaml
  AGENTS.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  docs/get-started/installation.md
  docs/get-started/real-host.md
  docs/index.md
  docs/migration.md
  docs/whats-new.md
Due: readme-v1-frozen, readme-snippets

Note the exact pin mcp install adds in the launch-command recap
  docs/get-started/real-host.md
Due: readme-snippets

Present v2 as the stable release across the README, docs, and policies (#3178)
  .github/ISSUE_TEMPLATE/v2-feedback.yaml
  AGENTS.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  docs/get-started/installation.md
  docs/get-started/real-host.md
  docs/index.md
  docs/migration.md
  docs/whats-new.md
Due: readme-v1-frozen, readme-snippets

Deprecate the legacy HTTP+SSE transport
  README.md
  docs/client/session-groups.md
  docs/client/transports.md
  docs/deprecated.md
  docs/index.md
  docs/migration.md
  docs/run/asgi.md
  docs/run/index.md
  examples/clients/simple-auth-client/mcp_simple_auth_client/main.py
  examples/servers/simple-auth/mcp_simple_auth/legacy_as_server.py
  examples/servers/simple-auth/mcp_simple_auth/server.py
  examples/snippets/clients/url_elicitation_client.py
  pyproject.toml
  src/mcp/cli/cli.py
  src/mcp/client/__main__.py
  src/mcp/client/session_group.py
  src/mcp/client/sse.py
  src/mcp/server/mcpserver/server.py
  src/mcp/server/sse.py
  tests/client/test_session_group.py
  tests/client/test_transport_stream_cleanup.py
  tests/interaction/_connect.py
  tests/interaction/transports/test_sse.py
  tests/server/mcpserver/test_server.py
  tests/server/test_sse_security.py
  tests/shared/test_sse.py
Due: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

Fix dead 2026 spec source URLs in the interaction manifest
  tests/interaction/_requirements.py
Due: ruff-format, ruff, pyright

Align interaction-manifest ids with the cross-SDK vocabulary
  tests/interaction/_requirements.py
  tests/interaction/auth/test_authorize_token.py
  tests/interaction/auth/test_discovery.py
  tests/interaction/auth/test_lifecycle.py
  tests/interaction/lowlevel/test_client_connect.py
  tests/interaction/lowlevel/test_elicitation.py
  tests/interaction/lowlevel/test_meta.py
  tests/interaction/lowlevel/test_resources.py
  tests/interaction/lowlevel/test_sampling.py
  tests/interaction/mcpserver/test_context.py
  tests/interaction/mcpserver/test_resources.py
Due: ruff-format, ruff, pyright

Make interaction-manifest behaviour strings match what their tests prove
  tests/interaction/_requirements.py
Due: ruff-format, ruff, pyright

Retire three redundant interaction-manifest entries; era-bound a fourth
  tests/interaction/_requirements.py
  tests/interaction/transports/test_client_transport_http.py
  tests/interaction/transports/test_hosting_http.py
Due: ruff-format, ruff, pyright

Add the first MRTR interaction tests: 16 tests across six files
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_elicitation.py
  tests/interaction/lowlevel/test_mrtr.py
  tests/interaction/lowlevel/test_prompts.py
  tests/interaction/lowlevel/test_resources.py
  tests/interaction/lowlevel/test_roots.py
  tests/interaction/lowlevel/test_sampling.py
Due: ruff-format, ruff, pyright

Backlog hardening: complete the push-API divergence matrix and sharpen three tests
  tests/interaction/auth/test_authorize_token.py
  tests/interaction/mcpserver/test_resources.py
  tests/interaction/mcpserver/test_tools.py
  tests/interaction/transports/test_hosting_http_modern.py
Due: ruff-format, ruff, pyright

Pin the pre-registered-credentials divergence and the DCR application_type pass-through
  tests/interaction/_requirements.py
  tests/interaction/auth/_harness.py
  tests/interaction/auth/test_flow.py
  tests/interaction/auth/test_lifecycle.py
Due: ruff-format, ruff, pyright

Re-ground deferral premises and stale notes against the current main
  tests/interaction/README.md
  tests/interaction/_connect.py
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_caching.py
  tests/interaction/lowlevel/test_client_connect.py
  tests/interaction/lowlevel/test_resources.py
  tests/interaction/lowlevel/test_tools.py
  tests/interaction/transports/test_hosting_http_modern.py
Due: ruff-format, ruff, pyright
