Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args:
          [
            "--fix",
            "--config",
            "pyproject.toml",
            "--configPointer",
            "/tool/markdown/lint",
          ]
        types: [markdown]

  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff Format
        entry: uv run --frozen ruff
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: ruff
        name: Ruff
        entry: uv run --frozen ruff
        args: ["check", "--fix", "--exit-non-zero-on-fix"]
        types: [python]
        language: system
        pass_filenames: false
        exclude: ^README(\.v2)?\.md$
      - id: pyright
        name: pyright
        entry: uv run --frozen pyright
        language: system
        types: [python]
        pass_filenames: false
      - id: uv-lock-check
        name: Check uv.lock is up to date
        entry: uv lock --check
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false
      # TODO(Max): Drop this in v2.
      - id: readme-v1-frozen
        name: README.md is frozen (v1 docs)
        entry: README.md is frozen at v1. Edit README.v2.md instead.
        language: fail
        files: ^README\.md$
      - id: readme-snippets
        name: Check snippets are up to date
        entry: uv run --frozen python scripts/sync_snippets.py --check
        language: system
        files: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
        pass_filenames: false

test(client): add coverage pragmas for regression test branches
  tests/client/test_session_group.py
Due: ruff-format, ruff, pyright

fix: cleanup wrongly marked coverage pragmas exercised by regression test
  src/mcp/client/session_group.py
  src/mcp/shared/session.py
  tests/client/test_session_group.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: restore pragmas as lax no cover and fix ruff violation in test
  src/mcp/client/session_group.py
  src/mcp/shared/session.py
  tests/client/test_session_group.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: revert lax coverage pragmas and cleanup identified covered blocks
  src/mcp/client/session_group.py
  src/mcp/shared/session.py
  tests/client/test_session_group.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: restore pragma: no cover on lines unreachable in test suite
  src/mcp/client/session_group.py
  src/mcp/shared/session.py
  tests/client/test_session_group.py
Due: ruff-format, ruff, pyright, readme-snippets

test: remove unreachable outer except in regression test
  tests/client/test_session_group.py
Due: ruff-format, ruff, pyright

test: add unit tests for _is_cancel_scope_runtime_error helper
  tests/client/test_session_group.py
Due: ruff-format, ruff, pyright

test: cover external-exit-stack and session-stack teardown branches
  tests/client/test_session_group.py
Due: ruff-format, ruff, pyright

fix: use AsyncMock for session stack teardown assertion
  tests/client/test_session_group.py
Due: ruff-format, ruff, pyright

fix: normalize trailing newline in test file
  tests/client/test_session_group.py
Due: ruff-format, ruff, pyright

chore: remove stray CI debug log files
  job_log.txt
  job_log_new.txt
Due: none

fix: normalize CRLF to LF for ruff format compliance
  src/mcp/client/session_group.py
  tests/client/test_session_group.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: send notifications/cancelled on request timeout and cancellation
  src/mcp/shared/session.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(examples/simple-chatbot): align declared deps with actual usage
  examples/clients/simple-chatbot/README.MD
  examples/clients/simple-chatbot/mcp_simple_chatbot/requirements.txt
  examples/clients/simple-chatbot/pyproject.toml
Due: none

chore: regenerate uv.lock to reflect httpx addition
  uv.lock
Due: uv-lock-check

fix(types): correct FastMCP.call_tool and convert_result return types (#1251)
  src/mcp/server/mcpserver/server.py
  src/mcp/server/mcpserver/utilities/func_metadata.py
Due: ruff-format, ruff, pyright, readme-snippets

test(func_metadata): narrow convert_result to tuple before unpack
  tests/server/mcpserver/test_func_metadata.py
Due: ruff-format, ruff, pyright

test(func_metadata): cast convert_result to tuple for pyright union narrowing
  tests/server/mcpserver/test_func_metadata.py
Due: ruff-format, ruff, pyright

Fix CI: pyright type error (None→Exception) + lax no cover for lowest-direct httpx headers
  tests/client/test_session_group.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright

Fix CI: ruff format whitespace + strip CRLF from conformance run-server.sh
  .github/actions/conformance/run-server.sh
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright

Fix pre-commit: revert README.md to upstream (frozen at v1 — edits go to README.v2.md)
  README.md
Due: readme-v1-frozen

fix(server): return -32602 for resource not found (SEP-2164)
  src/mcp/server/mcpserver/exceptions.py
  src/mcp/server/mcpserver/server.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(server): raise distinct errors for not-found vs template failure
  src/mcp/server/mcpserver/resources/resource_manager.py
  src/mcp/server/mcpserver/resources/templates.py
  src/mcp/server/mcpserver/server.py
  tests/server/mcpserver/resources/test_resource_manager.py
  tests/server/mcpserver/resources/test_resource_template.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(server): let template handlers signal not-found per SEP-2164
  docs/migration.md
  src/mcp/server/mcpserver/__init__.py
  src/mcp/server/mcpserver/resources/templates.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

refactor(server): keep ResourceNotFoundError out of top-level mcpserver exports
  docs/migration.md
  src/mcp/server/mcpserver/__init__.py
  src/mcp/server/mcpserver/exceptions.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

chore(server): address review nits on resource error handling
  src/mcp/server/mcpserver/resources/resource_manager.py
  src/mcp/server/mcpserver/resources/templates.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

docs(server): document Raises on MCPServer.read_resource()
  src/mcp/server/mcpserver/server.py
Due: ruff-format, ruff, pyright, readme-snippets

Fix late-binding closure race in StreamableHTTPTransport.post_writer
  src/mcp/client/streamable_http.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

feat: Add protocol_version parameter to ClientSession
  src/mcp/client/session.py
  tests/client/test_session.py
Due: ruff-format, ruff, pyright, readme-snippets

docs(server): document Raises on Context.read_resource()
  src/mcp/server/mcpserver/context.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: surface streamable http request failures
  src/mcp/client/streamable_http.py
  tests/client/test_notification_response.py
  tests/client/test_session_group.py
Due: ruff-format, ruff, pyright, readme-snippets

test: satisfy streamable http coverage checks
  src/mcp/client/session_group.py
  tests/client/test_notification_response.py
  tests/client/test_session_group.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(server): skip output schema validation for tool errors
  src/mcp/server/fastmcp/utilities/func_metadata.py
  tests/server/fastmcp/test_func_metadata.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(cli): avoid Windows shell for mcp dev
  src/mcp/cli/cli.py
  tests/cli/test_utils.py
Due: ruff-format, ruff, pyright, readme-snippets

fix oauth auth flow user agent forwarding
  src/mcp/client/auth/oauth2.py
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

test: remove covered oauth no-cover marker
  src/mcp/client/auth/oauth2.py
Due: ruff-format, ruff, pyright, readme-snippets

test oauth flow exception logging
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright

test: type caplog fixture
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright
