Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args:
          [
            "--fix",
            "--config",
            "pyproject.toml",
            "--configPointer",
            "/tool/markdown/lint",
          ]
        types: [markdown]

  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff Format
        entry: uv run --frozen ruff
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: ruff
        name: Ruff
        entry: uv run --frozen ruff
        args: ["check", "--fix", "--exit-non-zero-on-fix"]
        types: [python]
        language: system
        pass_filenames: false
        exclude: ^README(\.v2)?\.md$
      - id: pyright
        name: pyright
        entry: uv run --frozen pyright
        language: system
        types: [python]
        pass_filenames: false
      - id: uv-lock-check
        name: Check uv.lock is up to date
        entry: uv lock --check
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false
      # TODO(Max): Drop this in v2.
      - id: readme-v1-frozen
        name: README.md is frozen (v1 docs)
        entry: README.md is frozen at v1. Edit README.v2.md instead.
        language: fail
        files: ^README\.md$
      - id: readme-snippets
        name: Check snippets are up to date
        entry: uv run --frozen python scripts/sync_snippets.py --check
        language: system
        files: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
        pass_filenames: false

review: address trivial-directive threads + t02/t15/t19
  docs/migration.md
  src/mcp/server/connection.py
  src/mcp/server/context.py
  src/mcp/server/lowlevel/server.py
  src/mcp/server/session.py
  src/mcp/shared/direct_dispatcher.py
  src/mcp/shared/dispatcher.py
  src/mcp/shared/jsonrpc_dispatcher.py
  src/mcp/shared/peer.py
  tests/server/test_connection.py
  tests/server/test_runner.py
Due: ruff-format, ruff, pyright, readme-snippets

Spawn the job-reap test's grandchild via the base interpreter
  tests/transports/stdio/test_windows.py
Due: ruff-format, ruff, pyright

review: t27 PeerMixin->ClientPeerMixin; t28 malformed-initialize regression test
  src/mcp/server/context.py
  src/mcp/shared/context.py
  src/mcp/shared/dispatcher.py
  src/mcp/shared/peer.py
  tests/server/test_runner.py
  tests/server/test_server_context.py
  tests/shared/test_context.py
  tests/shared/test_peer.py
Due: ruff-format, ruff, pyright, readme-snippets

review: Server.middleware wraps every request and notification (t04/t18); t25 TODO
  docs/migration.md
  src/mcp/server/context.py
  src/mcp/server/lowlevel/server.py
  src/mcp/server/runner.py
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/server/test_runner.py
Due: ruff-format, ruff, pyright, readme-snippets

Decouple the job-reap test's child from the server's stdin pipe
  tests/transports/stdio/test_windows.py
Due: ruff-format, ruff, pyright

Give the stdio interaction test's child headroom for coverage shutdown
  tests/interaction/transports/test_stdio.py
Due: ruff-format, ruff, pyright

fix: address second bughunter pass (8 findings)
  docs/migration.md
  src/mcp/server/context.py
  src/mcp/server/runner.py
  src/mcp/shared/dispatcher.py
  src/mcp/shared/jsonrpc_dispatcher.py
  src/mcp/shared/peer.py
  tests/server/test_runner.py
  tests/shared/test_jsonrpc_dispatcher.py
  tests/shared/test_peer.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: bound the shielded exit-stack teardown in ServerRunner.run()
  src/mcp/server/runner.py
  tests/server/test_runner.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: deadlock warning for server-to-client requests during initialize
  src/mcp/server/context.py
  src/mcp/server/runner.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: reserve initialize registration; validate initialized before state-set
  src/mcp/server/lowlevel/server.py
  src/mcp/server/runner.py
  tests/server/test_runner.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: ServerSession.send_request fails fast without a back channel; narrow metadata
  src/mcp/server/session.py
  tests/server/test_session.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: timeout 0 means no timeout in ServerSession.send_request
  src/mcp/server/session.py
  tests/server/test_session.py
Due: ruff-format, ruff, pyright, readme-snippets

Simplify the stdio client transport
  src/mcp/client/stdio.py
  src/mcp/os/posix/utilities.py
  src/mcp/os/win32/utilities.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: normalize OAuth redirect URI URL subtypes
  src/mcp/shared/auth.py
  tests/shared/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

Fix stdio shutdown edge cases found in review
  docs/migration.md
  src/mcp/client/stdio.py
  src/mcp/os/posix/utilities.py
  tests/client/test_stdio.py
  tests/interaction/transports/test_stdio.py
  tests/transports/stdio/conftest.py
Due: ruff-format, ruff, pyright, readme-snippets

Simplify stdio client shutdown internals
  src/mcp/client/stdio.py
  src/mcp/os/posix/utilities.py
  src/mcp/os/win32/utilities.py
Due: ruff-format, ruff, pyright, readme-snippets

Annotate stdio_client's return type with TransportStreams
  src/mcp/client/stdio.py
  src/mcp/os/win32/utilities.py
  tests/client/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

Slim comments and docstrings across the stdio surface
  src/mcp/client/stdio.py
  src/mcp/os/posix/utilities.py
  src/mcp/os/win32/utilities.py
  tests/client/test_stdio.py
  tests/interaction/transports/test_stdio.py
  tests/issues/test_552_windows_hang.py
  tests/server/test_stdio.py
  tests/transports/stdio/_liveness.py
  tests/transports/stdio/conftest.py
  tests/transports/stdio/test_lifecycle.py
  tests/transports/stdio/test_posix.py
  tests/transports/stdio/test_windows.py
Due: ruff-format, ruff, pyright, readme-snippets

Conform stdio docstrings to Google style
  src/mcp/client/stdio.py
  src/mcp/os/posix/utilities.py
  src/mcp/os/win32/utilities.py
  tests/client/test_stdio.py
  tests/interaction/transports/test_stdio.py
  tests/issues/test_552_windows_hang.py
  tests/server/test_stdio.py
  tests/transports/stdio/_liveness.py
  tests/transports/stdio/conftest.py
  tests/transports/stdio/test_lifecycle.py
  tests/transports/stdio/test_posix.py
  tests/transports/stdio/test_windows.py
Due: ruff-format, ruff, pyright, readme-snippets

refactor: derive the initialize gate from connection data
  src/mcp/server/connection.py
  src/mcp/server/runner.py
  tests/server/test_runner.py
Due: ruff-format, ruff, pyright, readme-snippets

refactor: consolidate coverage-tracer resync workarounds into one helper
  src/mcp/client/sse.py
  src/mcp/client/streamable_http.py
  src/mcp/client/websocket.py
  src/mcp/server/streamable_http_manager.py
  src/mcp/shared/_compat.py
  src/mcp/shared/memory.py
  src/mcp/shared/session.py
  tests/interaction/transports/_bridge.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

test: cover default origin fallback cases
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright

docs: document ValidationError from typed request result validation
  src/mcp/server/_typed_request.py
  src/mcp/server/session.py
  src/mcp/shared/peer.py
  tests/server/test_connection.py
Due: ruff-format, ruff, pyright, readme-snippets

refactor: move attribute docstrings out of constructor bodies
  src/mcp/server/connection.py
  src/mcp/shared/jsonrpc_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: pipe stderr asynchronously to support Jupyter notebook environments
  src/mcp/client/stdio.py
  src/mcp/os/win32/utilities.py
  tests/issues/test_1027_win_unreachable_cleanup.py
Due: ruff-format, ruff, pyright, readme-snippets

Fix stdio client shutdown bugs and rebuild the stdio test suite (#2773)
  docs/migration.md
  src/mcp/client/stdio.py
  src/mcp/os/posix/utilities.py
  src/mcp/os/win32/utilities.py
  tests/client/test_stdio.py
  tests/interaction/transports/test_stdio.py
  tests/issues/test_1027_win_unreachable_cleanup.py
  tests/issues/test_552_windows_hang.py
  tests/server/mcpserver/test_elicitation.py
  tests/server/test_stdio.py
  tests/shared/test_win32_utils.py
  tests/transports/__init__.py
  tests/transports/stdio/__init__.py
  tests/transports/stdio/_liveness.py
  tests/transports/stdio/conftest.py
  tests/transports/stdio/test_lifecycle.py
  tests/transports/stdio/test_posix.py
  tests/transports/stdio/test_windows.py
Due: ruff-format, ruff, pyright, readme-snippets

test: add coverage for Jupyter stderr detection
  tests/client/test_stdio.py
Due: ruff-format, ruff, pyright

feat(client): add validate_structured_output option to ClientSession
  src/mcp/client/client.py
  src/mcp/client/session.py
  tests/client/test_output_schema_validation.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(streamable-http): downgrade stateless 'Terminating session: None' log
  src/mcp/server/streamable_http.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Run the session-level timeout test on trio's virtual clock
  tests/interaction/lowlevel/test_timeouts.py
Due: ruff-format, ruff, pyright

Deflake the session-level timeout test with trio's virtual clock (#2788)
  tests/interaction/lowlevel/test_timeouts.py
Due: ruff-format, ruff, pyright

Remove the unsupported WebSocket transport
  docs/migration.md
  pyproject.toml
  src/mcp/client/websocket.py
  src/mcp/server/websocket.py
  tests/client/test_transport_stream_cleanup.py
  tests/shared/test_ws.py
  tests/test_helpers.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

docs: explain client-side sampling callbacks
  docs/sampling.md
  mkdocs.yml
Due: readme-snippets

Handle KeyboardInterrupt in server run
  src/mcp/server/mcpserver/server.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

tolerate stdio subprocess warnings
  tests/interaction/transports/test_stdio.py
Due: ruff-format, ruff, pyright

fix(streamable-http): avoid startup race after initialize (#1675)
  src/mcp/client/streamable_http.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(streamable-http): signal post_writer readiness
  src/mcp/client/streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

test: make stdio newline spy pyright-friendly
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright

fix: prevent CRLF in stdio_server
  src/mcp/server/stdio.py
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: exit stdio server cleanly on interrupt
  src/mcp/server/mcpserver/server.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets
