Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

ruff-format:
  name: Ruff Format
  entry: uv run --frozen ruff
  args:
  - format
  language: system
  pass_filenames: false

ruff:
  name: Ruff
  entry: uv run --frozen ruff
  args:
  - check
  - --fix
  - --exit-non-zero-on-fix
  language: system
  pass_filenames: false

pyright:
  name: pyright
  entry: uv run --frozen pyright
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv.lock is up to date
  entry: uv lock --check
  language: system
  pass_filenames: false

readme-v1-frozen:
  name: README.md is frozen (v1 docs)
  entry: README.md is frozen at v1. Edit README.v2.md instead.
  language: fail

readme-snippets:
  name: Check snippets are up to date
  entry: uv run --frozen python scripts/sync_snippets.py --check
  language: system
  pass_filenames: false

docs: keep stdio note in README.v2 only
  README.md
Due: readme-v1-frozen

feat: Add protocol_version parameter to ClientSession
  src/mcp/client/session.py
  tests/client/test_session.py
Due: ruff-format, ruff, pyright, readme-snippets

style: remove unused imports flagged by ruff
  tests/cli/test_utils.py
Due: ruff-format, ruff, pyright

fix: add type annotation to fix pyright reportUnknownLambdaType
  tests/cli/test_utils.py
Due: ruff-format, ruff, pyright

fix: align Context logging methods with MCP spec data type
  src/mcp/server/mcpserver/context.py
  tests/client/test_logging_callback.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: remove unused Any import flagged by ruff
  tests/client/test_logging_callback.py
Due: ruff-format, ruff, pyright

fix: allow Any type for logging message parameter
  .github/workflows/claude-code-review.yml
  src/mcp/server/mcpserver/context.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: handle None required_scopes in validate_scope
  src/mcp/shared/auth.py
  tests/shared/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

Add regression test for invalid stdio UTF-8
  tests/issues/test_2328_stdio_invalid_utf8.py
Due: ruff-format, ruff, pyright

test: cover raw invalid UTF-8 stdio regression
  tests/issues/test_2328_raw_invalid_utf8_stdio.py
Due: ruff-format, ruff, pyright

test: cover delayed stdio EOF race
  tests/issues/test_2328_stdio_invalid_utf8.py
Due: ruff-format, ruff, pyright

Avoid shell=True for npx on Windows
  src/mcp/cli/cli.py
  tests/cli/test_utils.py
Due: ruff-format, ruff, pyright, readme-snippets

Return method-not-found for unknown request methods
  src/mcp/server/session.py
  src/mcp/shared/session.py
  tests/issues/test_1561_invalid_method_names.py
Due: ruff-format, ruff, pyright, readme-snippets

test: restore coverage for stdio invalid UTF-8 regression
  tests/issues/test_2328_stdio_invalid_utf8.py
Due: ruff-format, ruff, pyright

fix: honor q=0 in streamable HTTP Accept negotiation
  src/mcp/server/streamable_http.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

style: apply ruff format to test file
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright

fix(auth): respect explicitly-set client_metadata.scope during discovery
  src/mcp/client/auth/oauth2.py
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(session): log exceptions in default message_handler instead of silently swallowing
  src/mcp/client/session.py
  tests/client/test_session.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: allow custom Content-Type header in StreamableHTTPTransport
  src/mcp/client/streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(tests): add pragma no branch to fix coverage false positive
  tests/client/test_session.py
Due: ruff-format, ruff, pyright

Remove unnecessary pragmas and fix generic type propagation
  src/mcp/shared/_context_streams.py
  src/mcp/shared/_stream_protocols.py
  src/mcp/shared/memory.py
Due: ruff-format, ruff, pyright, readme-snippets

Move sender context lookup into _handle_session_message
  src/mcp/shared/session.py
Due: ruff-format, ruff, pyright, readme-snippets

Add pragma: no branch to Protocol stubs
  src/mcp/shared/_stream_protocols.py
Due: ruff-format, ruff, pyright, readme-snippets

Use exclude_also instead of exclude_lines for coverage config
  pyproject.toml
Due: uv-lock-check

Remove pragma: no branch from Protocol stubs
  src/mcp/shared/_stream_protocols.py
Due: ruff-format, ruff, pyright, readme-snippets

Add test for contextvars propagation from client to server handler
  tests/client/test_client.py
Due: ruff-format, ruff, pyright

Rewrite context propagation test to actually verify the feature
  tests/client/test_client.py
Due: ruff-format, ruff, pyright

Add assertion message to context propagation test
  tests/client/test_client.py
Due: ruff-format, ruff, pyright

Propagate contextvars.Context through anyio streams without modifying SessionMessage (#2298)
  examples/clients/simple-auth-client/mcp_simple_auth_client/main.py
  pyproject.toml
  src/mcp/client/__main__.py
  src/mcp/client/_transport.py
  src/mcp/client/session.py
  src/mcp/client/sse.py
  src/mcp/client/streamable_http.py
  src/mcp/server/lowlevel/server.py
  src/mcp/server/session.py
  src/mcp/server/sse.py
  src/mcp/server/stdio.py
  src/mcp/server/streamable_http.py
  src/mcp/server/websocket.py
  src/mcp/shared/_context_streams.py
  src/mcp/shared/_stream_protocols.py
  src/mcp/shared/memory.py
  src/mcp/shared/session.py
  tests/client/conftest.py
  tests/client/test_client.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Don't block the event loop on sync resource and prompt functions
  src/mcp/server/mcpserver/prompts/base.py
  src/mcp/server/mcpserver/resources/templates.py
  src/mcp/server/mcpserver/resources/types.py
  tests/server/mcpserver/prompts/test_base.py
  tests/server/mcpserver/resources/test_function_resources.py
  tests/server/mcpserver/resources/test_resource_template.py
Due: ruff-format, ruff, pyright, readme-snippets

Add event-loop responsiveness test for sync resource handlers
  tests/server/mcpserver/resources/test_function_resources.py
Due: ruff-format, ruff, pyright

Don't block the event loop on sync resource and prompt functions (#2380)
  src/mcp/server/mcpserver/prompts/base.py
  src/mcp/server/mcpserver/resources/templates.py
  src/mcp/server/mcpserver/resources/types.py
  tests/server/mcpserver/prompts/test_base.py
  tests/server/mcpserver/resources/test_function_resources.py
  tests/server/mcpserver/resources/test_resource_template.py
Due: ruff-format, ruff, pyright, readme-snippets

Add basic OpenTelemetry tracing for client and server requests
  pyproject.toml
  src/mcp/server/lowlevel/server.py
  src/mcp/shared/_otel.py
  src/mcp/shared/session.py
  tests/shared/test_otel.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Make opentelemetry-api a mandatory dependency
  pyproject.toml
  src/mcp/shared/_otel.py
  tests/shared/test_otel.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Use logfire[testing] for OTel test assertions
  pyproject.toml
  tests/shared/test_otel.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check

Use 'MCP send' prefix for outgoing request spans
  src/mcp/shared/session.py
  tests/shared/test_otel.py
Due: ruff-format, ruff, pyright, readme-snippets

Propagate W3C trace context via _meta per SEP-414
  src/mcp/server/lowlevel/server.py
  src/mcp/shared/_otel.py
  src/mcp/shared/session.py
  tests/shared/test_otel.py
Due: ruff-format, ruff, pyright, readme-snippets

Address review feedback on type annotations and _meta injection
  src/mcp/server/lowlevel/server.py
  src/mcp/shared/_otel.py
  src/mcp/shared/session.py
Due: ruff-format, ruff, pyright, readme-snippets

Skip OTel test when logfire.testing is not available
  tests/shared/test_otel.py
Due: ruff-format, ruff, pyright

Path conditions:
  ruff-format: any of: \.py$
  ruff: any of: \.py$, but not: ^README(\.v2)?\.md$
  pyright: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  readme-v1-frozen: any of: ^README\.md$
  readme-snippets: any of: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
