Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args:
          [
            "--fix",
            "--config",
            "pyproject.toml",
            "--configPointer",
            "/tool/markdown/lint",
          ]
        types: [markdown]

  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff Format
        entry: uv run --frozen ruff
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: ruff
        name: Ruff
        entry: uv run --frozen ruff
        args: ["check", "--fix", "--exit-non-zero-on-fix"]
        types: [python]
        language: system
        pass_filenames: false
        exclude: ^README(\.v2)?\.md$
      - id: pyright
        name: pyright
        entry: uv run --frozen pyright
        language: system
        types: [python]
        pass_filenames: false
      - id: uv-lock-check
        name: Check uv.lock is up to date
        entry: uv lock --check
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false
      # TODO(Max): Drop this in v2.
      - id: readme-v1-frozen
        name: README.md is frozen (v1 docs)
        entry: README.md is frozen at v1. Edit README.v2.md instead.
        language: fail
        files: ^README\.md$
      - id: readme-snippets
        name: Check snippets are up to date
        entry: uv run --frozen python scripts/sync_snippets.py --check
        language: system
        files: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
        pass_filenames: false

Ask cubic for a review when the intake gate lets a PR back in (#3489)
  .github/scripts/pr_intake_gate.js
  .github/scripts/pr_intake_gate.test.js
  .github/workflows/require-linked-issue.yml
Due: none

fix: allow opting out of Mcp-Param-* validation
  src/mcp/server/_streamable_http_modern.py
  src/mcp/server/lowlevel/server.py
  tests/server/test_streamable_http_modern.py
Due: ruff-format, ruff, pyright, readme-snippets

Expose an SSE event size limit in Streamable HTTP clients
  docs/client/transports.md
  docs/migration.md
  docs_src/client_transports/tutorial005.py
  pyproject.toml
  src/mcp/client/session_group.py
  src/mcp/client/streamable_http.py
  src/mcp/shared/_httpx_utils.py
  tests/client/test_session_group.py
  tests/client/test_streamable_http.py
  tests/docs_src/test_client_transports.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Preserve SSE stream recovery after size errors
  docs/client/transports.md
  src/mcp/client/streamable_http.py
  tests/client/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

[v1.x] Point SECURITY.md at GitHub Security Advisories
  SECURITY.md
Due: none

[v1.x] Remove AI attribution commit rule from CLAUDE.md
  CLAUDE.md
Due: none

docs: remove v2 notice from top of README
  README.md
Due: readme-v1-frozen

test(client): cover protocol_version_override's unknown-version branch
  tests/client/test_client.py
Due: ruff-format, ruff, pyright

Preserve the 1 MiB SSE event default
  docs/client/transports.md
  docs/migration.md
  src/mcp/client/streamable_http.py
  tests/client/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(auth): allow public CIMD clients to use the jwt-bearer grant
  docs/client/identity-assertion.md
  src/mcp/server/auth/handlers/token.py
  src/mcp/server/auth/provider.py
  src/mcp/server/auth/routes.py
  tests/server/auth/test_identity_assertion.py
Due: ruff-format, ruff, pyright, readme-snippets

Adapt task spawning to AnyIO 4.14 typing
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/client/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

Fall back to an NTFS junction when the symlink escape test can't create a symlink
  tests/shared/test_path_security.py
Due: ruff-format, ruff, pyright

Make the deeply nested body test independent of stack size
  tests/server/test_streamable_http_modern.py
Due: ruff-format, ruff, pyright

Make the deeply nested body test independent of stack size (#3610)
  tests/server/test_streamable_http_modern.py
Due: ruff-format, ruff, pyright

Fall back to an NTFS junction when the symlink escape test can't create a symlink (#3609)
  tests/shared/test_path_security.py
Due: ruff-format, ruff, pyright

Group Dependabot security updates for uv dependencies
  .github/dependabot.yml
Due: none

Group Dependabot security updates for uv dependencies (#3611)
  .github/dependabot.yml
Due: none

Keep SSE reconnect tests fast and document stable errors
  docs/client/transports.md
  tests/client/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Keep the successful GET test stream open
  tests/client/test_streamable_http.py
Due: ruff-format, ruff, pyright

Expose an SSE event size limit in Streamable HTTP clients (#3600)
  docs/client/transports.md
  docs/migration.md
  docs_src/client_transports/tutorial005.py
  pyproject.toml
  src/mcp/client/session_group.py
  src/mcp/client/streamable_http.py
  src/mcp/shared/_httpx_utils.py
  tests/client/test_session_group.py
  tests/client/test_streamable_http.py
  tests/docs_src/test_client_transports.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Omit an unset experimental capability from the initialize result
  src/mcp/server/lowlevel/server.py
  tests/client/test_client.py
  tests/interaction/lowlevel/test_initialize.py
  tests/server/lowlevel/test_server_discover.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: add a middleware tutorial that refuses tool calls
  docs/advanced/middleware.md
  docs_src/middleware/tutorial002.py
  tests/docs_src/test_middleware.py
Due: ruff-format, ruff, pyright, readme-snippets

Document the timeout a hand-built httpx2 client needs
  docs/client/transports.md
  docs_src/identity_assertion/tutorial001.py
  docs_src/oauth_clients/tutorial001.py
  docs_src/oauth_clients/tutorial002.py
  examples/clients/simple-auth-client/mcp_simple_auth_client/main.py
  examples/snippets/clients/identity_assertion_client.py
  examples/snippets/clients/oauth_client.py
  examples/stories/_harness.py
  tests/docs_src/test_client_transports.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: add a middleware tutorial that refuses tool calls (#3613)
  docs/advanced/middleware.md
  docs_src/middleware/tutorial002.py
  tests/docs_src/test_middleware.py
Due: ruff-format, ruff, pyright, readme-snippets

Omit an unset experimental capability from the initialize result (#3614)
  src/mcp/server/lowlevel/server.py
  tests/client/test_client.py
  tests/interaction/lowlevel/test_initialize.py
  tests/server/lowlevel/test_server_discover.py
Due: ruff-format, ruff, pyright, readme-snippets

Document when a caller-supplied request id can be minted again
  src/mcp/shared/dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

Contain a raising progress callback on the in-process dispatcher
  src/mcp/shared/direct_dispatcher.py
  tests/shared/test_dispatcher.py
  tests/shared/test_jsonrpc_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

Validate an explicit null structuredContent against the output schema
  src/mcp/client/session.py
  tests/client/test_session.py
Due: ruff-format, ruff, pyright, readme-snippets

Document when a caller-supplied request id can be minted again (#3619)
  src/mcp/shared/dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

Reject a tool with an invalid x-mcp-header annotation at registration
  src/mcp/server/mcpserver/tools/base.py
  tests/server/mcpserver/tools/test_base.py
Due: ruff-format, ruff, pyright, readme-snippets

Document the timeout a hand-built httpx2 client needs (#3618)
  docs/client/transports.md
  docs_src/identity_assertion/tutorial001.py
  docs_src/oauth_clients/tutorial001.py
  docs_src/oauth_clients/tutorial002.py
  examples/clients/simple-auth-client/mcp_simple_auth_client/main.py
  examples/snippets/clients/identity_assertion_client.py
  examples/snippets/clients/oauth_client.py
  examples/stories/_harness.py
  tests/docs_src/test_client_transports.py
Due: ruff-format, ruff, pyright, readme-snippets

Document header parameters and snapshot the rejection messages
  docs/advanced/header-parameters.md
  docs/advanced/index.md
  docs/troubleshooting.md
  docs_src/header_parameters/__init__.py
  docs_src/header_parameters/tutorial001.py
  docs_src/header_parameters/tutorial002.py
  mkdocs.yml
  tests/docs_src/test_header_parameters.py
  tests/docs_src/test_troubleshooting.py
  tests/server/mcpserver/tools/test_base.py
Due: ruff-format, ruff, pyright, readme-snippets

Reject a tool with an invalid x-mcp-header annotation at registration (#3620)
  docs/advanced/header-parameters.md
  docs/advanced/index.md
  docs/troubleshooting.md
  docs_src/header_parameters/__init__.py
  docs_src/header_parameters/tutorial001.py
  docs_src/header_parameters/tutorial002.py
  mkdocs.yml
  src/mcp/server/mcpserver/tools/base.py
  tests/docs_src/test_header_parameters.py
  tests/docs_src/test_troubleshooting.py
  tests/server/mcpserver/tools/test_base.py
Due: ruff-format, ruff, pyright, readme-snippets

Keep the live Context when a prompt or template annotates Context[T]
  docs/handlers/lifespan.md
  docs/migration.md
  src/mcp/server/mcpserver/context.py
  tests/docs_src/test_lifespan.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

Describe the ID-JAG confidential-client rule as SDK policy
  docs/client/identity-assertion.md
  examples/snippets/clients/identity_assertion_client.py
  examples/snippets/servers/identity_assertion_server.py
  src/mcp/client/auth/extensions/identity_assertion.py
  src/mcp/server/auth/handlers/register.py
  src/mcp/server/auth/handlers/token.py
  tests/client/auth/extensions/test_identity_assertion.py
Due: ruff-format, ruff, pyright, readme-snippets

Validate an explicit null structuredContent against the output schema (#3621)
  src/mcp/client/session.py
  tests/client/test_session.py
Due: ruff-format, ruff, pyright, readme-snippets

Document how a handler deals with cancellation
  docs/handlers/cancellation.md
  docs/handlers/index.md
  docs/handlers/progress.md
  docs/servers/tools.md
  docs_src/cancellation/__init__.py
  docs_src/cancellation/tutorial001.py
  docs_src/cancellation/tutorial002.py
  mkdocs.yml
  tests/docs_src/test_cancellation.py
Due: ruff-format, ruff, pyright, readme-snippets

Let MCPServer opt out of serving subscriptions/listen
  docs/handlers/subscriptions.md
  src/mcp/server/mcpserver/server.py
  src/mcp/server/subscriptions.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

Contain a raising progress callback on the in-process dispatcher (#3623)
  src/mcp/shared/direct_dispatcher.py
  tests/shared/test_dispatcher.py
  tests/shared/test_jsonrpc_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

Say why the built-in server refuses metadata-document clients
  docs/client/identity-assertion.md
Due: readme-snippets
