Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args:
          [
            "--fix",
            "--config",
            "pyproject.toml",
            "--configPointer",
            "/tool/markdown/lint",
          ]
        types: [markdown]

  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff Format
        entry: uv run --frozen ruff
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: ruff
        name: Ruff
        entry: uv run --frozen ruff
        args: ["check", "--fix", "--exit-non-zero-on-fix"]
        types: [python]
        language: system
        pass_filenames: false
        exclude: ^README(\.v2)?\.md$
      - id: pyright
        name: pyright
        entry: uv run --frozen pyright
        language: system
        types: [python]
        pass_filenames: false
      - id: uv-lock-check
        name: Check uv.lock is up to date
        entry: uv lock --check
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false
      # TODO(Max): Drop this in v2.
      - id: readme-v1-frozen
        name: README.md is frozen (v1 docs)
        entry: README.md is frozen at v1. Edit README.v2.md instead.
        language: fail
        files: ^README\.md$
      - id: readme-snippets
        name: Check snippets are up to date
        entry: uv run --frozen python scripts/sync_snippets.py --check
        language: system
        files: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
        pass_filenames: false

Add list_all_* helpers that drain pagination on the client
  src/mcp/client/client.py
  src/mcp/client/session_group.py
  tests/client/test_list_all_pagination.py
  tests/client/test_session_group.py
Due: ruff-format, ruff, pyright, readme-snippets

Guard the drain loops against a non-advancing cursor
  src/mcp/client/client.py
  tests/client/test_list_all_pagination.py
Due: ruff-format, ruff, pyright, readme-snippets

Extend the non-advancing cursor guard to ClientSessionGroup drains
  src/mcp/client/session_group.py
  tests/client/test_session_group.py
Due: ruff-format, ruff, pyright, readme-snippets

Scope the fd 0 watchdog migration example to POSIX
  docs/migration.md
Due: readme-snippets

Vendor the 2026-07-28 schema at spec commit 71e30695 and regenerate
  schema/2026-07-28.json
  schema/PINNED.json
  scripts/gen_surface_types.py
  src/mcp-types/mcp_types/v2026_07_28/__init__.py
Due: ruff-format, ruff, pyright

Accept modern envelope without the optional clientInfo key (spec PR #3002)
  src/mcp/server/_streamable_http_modern.py
  src/mcp/server/apps.py
  src/mcp/server/connection.py
  src/mcp/server/mcpserver/context.py
  src/mcp/server/mcpserver/server.py
  src/mcp/server/runner.py
  src/mcp/server/session.py
  src/mcp/shared/inbound.py
  tests/server/test_connection.py
  tests/server/test_runner.py
  tests/server/test_streamable_http_modern.py
  tests/shared/test_inbound.py
  tests/types/test_methods.py
Due: ruff-format, ruff, pyright, readme-snippets

Keep a still-diverted fd claimed when its restore fails
  src/mcp/server/stdio.py
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

Roll forward when a failed claim cannot be rolled back
  src/mcp/server/stdio.py
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

Fix the session-groups cross-reference in the pagination guide
  docs/advanced/pagination.md
Due: readme-snippets

Harden the drain guard against cycling pagination cursors
  docs/advanced/pagination.md
  src/mcp/client/client.py
  src/mcp/client/session_group.py
  tests/client/test_list_all_pagination.py
  tests/client/test_session_group.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: server identity moved to result _meta; clientInfo optional
  docs/advanced/low-level-server.md
  docs/client/index.md
  docs/client/session-groups.md
  docs/get-started/testing.md
  docs/migration.md
  docs/protocol-versions.md
  docs/servers/media.md
  docs/whats-new.md
Due: readme-snippets

Bump conformance referee to da56f663 and reconcile baselines
  .github/actions/conformance/expected-failures.yml
  .github/workflows/conformance.yml
  examples/servers/everything-server/mcp_everything_server/server.py
Due: ruff-format, ruff, pyright, readme-snippets

Reshape the stream claim into an explicit state machine
  src/mcp/server/stdio.py
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

Exclude POSIX-only fcntl lines from the Windows coverage gate
  src/mcp/server/stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

Open the errlog capture as UTF-8 in the noisy-child test
  tests/transports/stdio/test_lifecycle.py
Due: ruff-format, ruff, pyright

Own the response envelope in one outbound pass
  src/mcp/server/runner.py
  tests/server/test_runner.py
Due: ruff-format, ruff, pyright, readme-snippets

Never close a buffer the transport does not own
  docs/migration.md
  src/mcp/server/stdio.py
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

Extensions intercept tools/call at the handler layer
  docs/advanced/middleware.md
  docs/migration.md
  docs_src/lowlevel/tutorial003.py
  src/mcp/server/extension.py
  src/mcp/server/mcpserver/server.py
  src/mcp/server/runner.py
  tests/docs_src/test_lowlevel.py
  tests/server/mcpserver/test_extension.py
  tests/server/test_runner.py
Due: ruff-format, ruff, pyright, readme-snippets

Sieve only core-vocabulary results; claimed shapes pass through
  src/mcp/server/runner.py
  tests/server/test_runner.py
Due: ruff-format, ruff, pyright, readme-snippets

Correct the watchdog poll mask note and use the public get_osfhandle
  docs/migration.md
  src/mcp/os/win32/utilities.py
Due: ruff-format, ruff, pyright, readme-snippets

Always stamp serverInfo; drop the include_server_info opt-out
  docs/advanced/low-level-server.md
  docs/migration.md
  docs/whats-new.md
  src/mcp/server/context.py
  src/mcp/server/extension.py
  src/mcp/server/lowlevel/server.py
  src/mcp/server/mcpserver/server.py
  src/mcp/server/runner.py
  tests/_stamp.py
  tests/client/test_client.py
  tests/client/test_session_concurrency.py
  tests/interaction/conftest.py
  tests/interaction/lowlevel/test_cancellation.py
  tests/interaction/lowlevel/test_completion.py
  tests/interaction/lowlevel/test_flows.py
  tests/interaction/lowlevel/test_logging.py
  tests/interaction/lowlevel/test_meta.py
  tests/interaction/lowlevel/test_pagination.py
  tests/interaction/lowlevel/test_progress.py
  tests/interaction/lowlevel/test_prompts.py
  tests/interaction/lowlevel/test_resources.py
  tests/interaction/lowlevel/test_tools.py
  tests/interaction/mcpserver/test_context.py
  tests/interaction/mcpserver/test_extensions.py
  tests/interaction/mcpserver/test_prompts.py
  tests/interaction/mcpserver/test_resources.py
  tests/interaction/mcpserver/test_tools.py
  tests/server/mcpserver/test_extension.py
  tests/server/mcpserver/test_server.py
  tests/server/test_apps.py
  tests/server/test_caching.py
  tests/server/test_runner.py
  tests/server/test_streamable_http_modern.py
Due: ruff-format, ruff, pyright, readme-snippets

Keep migration.md scoped to v1.x breakage
  docs/migration.md
  docs/whats-new.md
Due: readme-snippets

Interaction matrix: era-aware unstamped fixture
  tests/_stamp.py
  tests/interaction/conftest.py
  tests/interaction/lowlevel/test_cancellation.py
  tests/interaction/lowlevel/test_completion.py
  tests/interaction/lowlevel/test_flows.py
  tests/interaction/lowlevel/test_logging.py
  tests/interaction/lowlevel/test_meta.py
  tests/interaction/lowlevel/test_pagination.py
  tests/interaction/lowlevel/test_progress.py
  tests/interaction/lowlevel/test_prompts.py
  tests/interaction/lowlevel/test_resources.py
  tests/interaction/lowlevel/test_tools.py
  tests/interaction/mcpserver/test_context.py
  tests/interaction/mcpserver/test_extensions.py
  tests/interaction/mcpserver/test_prompts.py
  tests/interaction/mcpserver/test_resources.py
  tests/interaction/mcpserver/test_tools.py
Due: ruff-format, ruff, pyright

Unversioned servers report an empty version
  docs/advanced/low-level-server.md
  docs/get-started/testing.md
  docs/migration.md
  src/mcp/server/lowlevel/server.py
  tests/_stamp.py
  tests/client/test_client.py
  tests/client/test_session_concurrency.py
  tests/docs_src/_helpers.py
  tests/docs_src/test_lowlevel.py
  tests/interaction/conftest.py
  tests/server/lowlevel/test_server_discover.py
  tests/server/mcpserver/test_extension.py
  tests/server/mcpserver/test_server.py
  tests/server/test_apps.py
  tests/server/test_caching.py
  tests/server/test_streamable_http_modern.py
  tests/test_examples.py
Due: ruff-format, ruff, pyright, readme-snippets

Server.version is a plain str defaulting to empty
  src/mcp/server/lowlevel/server.py
  src/mcp/server/mcpserver/server.py
Due: ruff-format, ruff, pyright, readme-snippets

everything-server: identify with an explicit version
  examples/servers/everything-server/mcp_everything_server/server.py
Due: ruff-format, ruff, pyright, readme-snippets

Docs and docstrings catch up with recent contract changes
  docs/advanced/extensions.md
  docs/whats-new.md
  src/mcp/server/lowlevel/server.py
  src/mcp/server/runner.py
  tests/interaction/transports/test_hosting_http_modern.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: make deeply-nested-body test platform-independent (#3146)
  tests/server/test_streamable_http_modern.py
Due: ruff-format, ruff, pyright

Add a runtime create_model variant to the schema_validators example
  examples/stories/schema_validators/README.md
  examples/stories/schema_validators/client.py
  examples/stories/schema_validators/server.py
  examples/stories/schema_validators/server_lowlevel.py
Due: ruff-format, ruff, pyright, readme-snippets

Address review: default missing 'required' and fix variant count
  examples/stories/schema_validators/README.md
  examples/stories/schema_validators/server.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(auth): allow requested scopes without registered scope
  src/mcp/shared/auth.py
  tests/shared/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

Modern results always carry the resultType discriminator
  src/mcp/server/runner.py
  tests/server/test_runner.py
  tests/server/test_streamable_http_modern.py
Due: ruff-format, ruff, pyright, readme-snippets

auto mode: legacy-only discover advertisement falls back to initialize
  src/mcp/client/_probe.py
  tests/client/test_probe.py
Due: ruff-format, ruff, pyright, readme-snippets

Scope the stderr-closed isolation test to POSIX
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright

Scope the stray-output docs to flushed writes
  docs/get-started/real-host.md
  docs/handlers/logging.md
  docs/run/index.md
  docs/troubleshooting.md
Due: readme-snippets

Re-point fd at the wire when a divert dup2 fails
  docs/get-started/real-host.md
  src/mcp/server/stdio.py
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

Remove the Posture setting; always serve both protocol eras
  docs/advanced/low-level-server.md
  docs/migration.md
  docs/run/legacy-clients.md
  docs/whats-new.md
  src/mcp/server/__init__.py
  src/mcp/server/lowlevel/server.py
  src/mcp/server/mcpserver/server.py
  src/mcp/server/serving.py
  src/mcp/server/streamable_http_manager.py
  tests/server/mcpserver/test_resolve.py
  tests/server/mcpserver/test_server.py
  tests/server/test_http_orphan.py
  tests/server/test_request_state.py
  tests/server/test_request_state_boundary.py
  tests/server/test_serving.py
  tests/server/test_stdio_ordering.py
  tests/server/test_streamable_http_modern.py
  tests/shared/test_inbound.py
Due: ruff-format, ruff, pyright, readme-snippets
