Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

ruff-format:
  name: Ruff Format
  entry: uv run --frozen ruff
  args:
  - format
  language: system
  pass_filenames: false

ruff:
  name: Ruff
  entry: uv run --frozen ruff
  args:
  - check
  - --fix
  - --exit-non-zero-on-fix
  language: system
  pass_filenames: false

pyright:
  name: pyright
  entry: uv run --frozen pyright
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv.lock is up to date
  entry: uv lock --check
  language: system
  pass_filenames: false

readme-v1-frozen:
  name: README.md is frozen (v1 docs)
  entry: README.md is frozen at v1. Edit README.v2.md instead.
  language: fail

readme-snippets:
  name: Check snippets are up to date
  entry: uv run --frozen python scripts/sync_snippets.py --check
  language: system
  pass_filenames: false

Rewrite the unrecognized-resultType pin onto the extension seam; simplify four tests
  tests/interaction/_requirements.py
  tests/interaction/auth/_harness.py
  tests/interaction/auth/test_authorize_token.py
  tests/interaction/auth/test_lifecycle.py
  tests/interaction/lowlevel/test_mrtr.py
  tests/interaction/mcpserver/test_extensions.py
Due: ruff-format, ruff, pyright

Close the register-echo divergence and reconcile the cancellation suite with main
  tests/interaction/_requirements.py
  tests/interaction/auth/test_as_handlers.py
  tests/interaction/auth/test_flow.py
  tests/interaction/lowlevel/test_cancellation.py
Due: ruff-format, ruff, pyright

Re-pin the negative-ttl and Mcp-Param mismatch tests to the landed behaviour
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_caching.py
  tests/interaction/transports/test_hosting_http_modern.py
Due: ruff-format, ruff, pyright

Trim comments and docstrings to the essentials
  tests/interaction/auth/_harness.py
  tests/interaction/auth/_provider.py
  tests/interaction/auth/test_as_handlers.py
  tests/interaction/auth/test_authorize_token.py
  tests/interaction/auth/test_bearer.py
  tests/interaction/auth/test_flow.py
  tests/interaction/auth/test_lifecycle.py
  tests/interaction/lowlevel/test_caching.py
  tests/interaction/lowlevel/test_cancellation.py
  tests/interaction/lowlevel/test_client_connect.py
  tests/interaction/lowlevel/test_elicitation.py
  tests/interaction/lowlevel/test_mrtr.py
  tests/interaction/lowlevel/test_pagination.py
  tests/interaction/lowlevel/test_prompts.py
  tests/interaction/lowlevel/test_resources.py
  tests/interaction/lowlevel/test_roots.py
  tests/interaction/lowlevel/test_sampling.py
  tests/interaction/lowlevel/test_tools.py
  tests/interaction/lowlevel/test_x_mcp_header.py
  tests/interaction/mcpserver/test_prompts.py
  tests/interaction/mcpserver/test_resources.py
  tests/interaction/mcpserver/test_tools.py
  tests/interaction/transports/test_client_transport_http.py
  tests/interaction/transports/test_hosting_http.py
  tests/interaction/transports/test_hosting_http_modern.py
Due: ruff-format, ruff, pyright

Reconcile the interaction suite manifest with main
  tests/interaction/_requirements.py
Due: ruff-format, ruff, pyright

Reconcile the interaction suite with main's httpx2 rename and re-drive the era-gate test through the public request seam
  tests/interaction/auth/test_as_handlers.py
  tests/interaction/auth/test_flow.py
  tests/interaction/lowlevel/test_mrtr.py
  tests/interaction/lowlevel/test_resources.py
  tests/interaction/transports/test_hosting_http_modern.py
Due: ruff-format, ruff, pyright

Re-ground the MRTR origin notes after the MCPServer pass-through landed
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_prompts.py
  tests/interaction/lowlevel/test_resources.py
Due: ruff-format, ruff, pyright

Re-ground every stale interaction-manifest premise against the current main
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_mrtr.py
  tests/interaction/lowlevel/test_resources.py
  tests/interaction/lowlevel/test_sampling.py
  tests/interaction/lowlevel/test_subscriptions.py
Due: ruff-format, ruff, pyright

Adopt the serverInfo _meta stamp fixture across the interaction suite
  tests/_stamp.py
  tests/interaction/lowlevel/test_caching.py
  tests/interaction/lowlevel/test_elicitation.py
  tests/interaction/lowlevel/test_mrtr.py
  tests/interaction/lowlevel/test_pagination.py
  tests/interaction/lowlevel/test_prompts.py
  tests/interaction/lowlevel/test_resources.py
  tests/interaction/lowlevel/test_roots.py
  tests/interaction/lowlevel/test_sampling.py
  tests/interaction/lowlevel/test_tools.py
  tests/interaction/mcpserver/test_prompts.py
  tests/interaction/mcpserver/test_resources.py
  tests/interaction/mcpserver/test_tools.py
  tests/interaction/transports/test_hosting_http_modern.py
Due: ruff-format, ruff, pyright

Address review: retired-feature wording, lock description, roadmap tracking claim
  RELEASE.md
  ROADMAP.md
  VERSIONING.md
Due: none

docs: lead the README client example with a URL, not the server object
  README.md
  src/mcp/cli/cli.py
Due: ruff-format, ruff, pyright, readme-v1-frozen, readme-snippets

ci: make the canary report reason over the planned matrix
  .github/workflows/dependency-canary.yml
  scripts/ci/canary_cell.sh
  scripts/ci/canary_lock_diff.py
  scripts/ci/canary_report.sh
Due: ruff-format, ruff, pyright

ci: drop the canary's temporary branch trigger again
  .github/workflows/dependency-canary.yml
Due: none

docs: drop the in-memory mention from the README client section
  README.md
Due: readme-v1-frozen

docs: lead the README client example with a URL, not the server object (#3315)
  README.md
  src/mcp/cli/cli.py
Due: ruff-format, ruff, pyright, readme-v1-frozen, readme-snippets

Refresh the locked runtime dependencies
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/client/test_stdio.py
  tests/shared/test_streamable_http.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Bullet the support and announcements section
  VERSIONING.md
Due: none

Publish versioning, roadmap, and dependency policies for v2 (#3215)
  CONTRIBUTING.md
  DEPENDENCY_POLICY.md
  RELEASE.md
  ROADMAP.md
  VERSIONING.md
Due: none

Drop later-revision cache-hint fields on pre-2026 sessions (#3223)
  src/mcp/client/session.py
  tests/client/test_session.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(streamable-http): surface transport faults to callers and message_handler
  src/mcp/client/streamable_http.py
  tests/client/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Let Client take StdioServerParameters directly
  docs/client/index.md
  docs/client/transports.md
  docs/get-started/real-host.md
  docs/whats-new.md
  docs_src/client_transports/tutorial004.py
  examples/stories/_harness.py
  src/mcp/client/client.py
  tests/client/test_client.py
  tests/docs_src/test_client_transports.py
Due: ruff-format, ruff, pyright, readme-snippets

test: cover clean stream end and closed-reader fault forwarding paths
  tests/client/test_streamable_http.py
Due: ruff-format, ruff, pyright

fix: remove stale no-cover pragma and unused variable flagged by CI
  src/mcp/client/streamable_http.py
  tests/client/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Remove stale TODO from Client.send_roots_list_changed
  src/mcp/client/client.py
Due: ruff-format, ruff, pyright, readme-snippets

Accept Image and Audio helpers as prompt message content
  src/mcp/server/mcpserver/prompts/base.py
  tests/server/mcpserver/prompts/test_base.py
Due: ruff-format, ruff, pyright, readme-snippets

Treat content-block, Image and Audio return annotations as unstructured tool output
  docs/migration.md
  docs/servers/structured-output.md
  src/mcp/server/mcpserver/utilities/func_metadata.py
  tests/server/mcpserver/test_func_metadata.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

Let MCPServer.add_prompt take a function; export prompt Message classes
  docs/migration.md
  src/mcp/server/mcpserver/__init__.py
  src/mcp/server/mcpserver/server.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

Leave the migration guide alone; these are 2.x fixes, not v1->v2 breaks
  docs/migration.md
Due: readme-snippets

Drop the add_prompt(fn) overload; keep only the Message re-exports
  src/mcp/server/mcpserver/server.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

Gate external PRs on an assigned, linked issue
  .github/pull_request_template.md
  .github/scripts/pr_intake_gate.js
  .github/scripts/pr_intake_gate.test.js
  .github/workflows/require-linked-issue.yml
  .github/workflows/shared.yml
  AGENTS.md
  CONTRIBUTING.md
Due: none

docs: split two semicolon-joined sentences on the transports page
  docs/client/transports.md
  tests/docs_src/test_client_transports.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: split the README client section's closing sentence
  README.md
Due: readme-v1-frozen

Stop framing breaking changes as a workflow in AGENTS.md (#3286)
  AGENTS.md
Due: none

Review round: mirror _convert_to_content in the content rule; keep prompts and templates out of it
  docs/servers/structured-output.md
  src/mcp/server/mcpserver/prompts/base.py
  src/mcp/server/mcpserver/resources/templates.py
  src/mcp/server/mcpserver/utilities/func_metadata.py
  tests/docs_src/test_structured_output.py
  tests/server/mcpserver/prompts/test_base.py
  tests/server/mcpserver/resources/test_resource_template.py
  tests/server/mcpserver/test_func_metadata.py
Due: ruff-format, ruff, pyright, readme-snippets

Prompt functions may return bare content blocks, Image or Audio
  src/mcp/server/mcpserver/prompts/base.py
  tests/server/mcpserver/prompts/test_base.py
Due: ruff-format, ruff, pyright, readme-snippets

Review nits: Annotated recursion looks at the type only; drop Iterable from content origins; prompt() docstring
  src/mcp/server/mcpserver/server.py
  src/mcp/server/mcpserver/utilities/func_metadata.py
  tests/server/mcpserver/test_func_metadata.py
Due: ruff-format, ruff, pyright, readme-snippets

feat(client): add validate_output flag to call_tool to skip output-schema revalidation
  src/mcp/client/client.py
  src/mcp/client/session.py
  tests/client/test_output_schema_validation.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(streamable-http): count bare-priming-then-EOF reconnects against the request budget
  src/mcp/client/streamable_http.py
  tests/client/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(mcpserver): emit one TextContent block when a tool returns an empty list
  src/mcp/server/mcpserver/utilities/func_metadata.py
  tests/server/mcpserver/test_func_metadata.py
Due: ruff-format, ruff, pyright, readme-snippets

Fix BOM, CRLF line endings, and escaped quotes in url_validators
  src/mcp/server/auth/url_validators.py
Due: ruff-format, ruff, pyright, readme-snippets

Path conditions:
  ruff-format: any of: \.py$
  ruff: any of: \.py$, but not: ^README(\.v2)?\.md$
  pyright: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  readme-v1-frozen: any of: ^README\.md$
  readme-snippets: any of: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
