Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args:
          [
            "--fix",
            "--config",
            "pyproject.toml",
            "--configPointer",
            "/tool/markdown/lint",
          ]
        types: [markdown]

  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff Format
        entry: uv run --frozen ruff
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: ruff
        name: Ruff
        entry: uv run --frozen ruff
        args: ["check", "--fix", "--exit-non-zero-on-fix"]
        types: [python]
        language: system
        pass_filenames: false
        exclude: ^README(\.v2)?\.md$
      - id: pyright
        name: pyright
        entry: uv run --frozen pyright
        language: system
        types: [python]
        pass_filenames: false
      - id: uv-lock-check
        name: Check uv.lock is up to date
        entry: uv lock --check
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false
      # TODO(Max): Drop this in v2.
      - id: readme-v1-frozen
        name: README.md is frozen (v1 docs)
        entry: README.md is frozen at v1. Edit README.v2.md instead.
        language: fail
        files: ^README\.md$
      - id: readme-snippets
        name: Check snippets are up to date
        entry: uv run --frozen python scripts/sync_snippets.py --check
        language: system
        files: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
        pass_filenames: false

Run SSE and Unicode transport tests in process instead of over sockets (#2765)
  tests/client/test_http_unicode.py
  tests/shared/test_sse.py
Due: ruff-format, ruff, pyright

Run StreamableHTTP transport tests in process instead of over sockets
  src/mcp/server/streamable_http.py
  tests/shared/test_streamable_http.py
  tests/test_helpers.py
Due: ruff-format, ruff, pyright, readme-snippets

Add Python 3.14 trove classifier
  pyproject.toml
Due: uv-lock-check

fix: propagate McpError from tool handlers as JSON-RPC error
  src/mcp/server/fastmcp/tools/base.py
  src/mcp/server/lowlevel/server.py
  tests/server/fastmcp/test_url_elicitation_error_throw.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: propagate McpError from tool handlers as JSON-RPC error
  src/mcp/server/fastmcp/tools/base.py
  src/mcp/server/lowlevel/server.py
  tests/client/test_list_roots_callback.py
  tests/client/test_sampling_callback.py
  tests/server/fastmcp/test_url_elicitation_error_throw.py
Due: ruff-format, ruff, pyright, readme-snippets

Support Python 3.14
  .github/workflows/shared.yml
  CONTRIBUTING.md
  pyproject.toml
  src/mcp/server/fastmcp/utilities/context_injection.py
  src/mcp/server/session.py
  tests/experimental/tasks/server/test_server.py
  tests/server/test_lowlevel_input_validation.py
  tests/server/test_lowlevel_output_validation.py
  tests/server/test_lowlevel_tool_annotations.py
  tests/server/test_session.py
  tests/server/test_sse_security.py
  tests/shared/test_session.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Gate the multiple-reconnections test on observed reconnects, not sleeps
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright

fix: InMemoryTransport EOFs the server instead of cancelling; coverage cleanup
  examples/servers/everything-server/mcp_everything_server/server.py
  src/mcp/client/_memory.py
  src/mcp/shared/session.py
  tests/client/test_session.py
  tests/server/test_validation.py
  tests/shared/test_dispatcher.py
  tests/shared/test_session.py
Due: ruff-format, ruff, pyright, readme-snippets

[v1.x] Support Python 3.14 (#2769)
  .github/workflows/shared.yml
  CONTRIBUTING.md
  pyproject.toml
  src/mcp/server/fastmcp/utilities/context_injection.py
  src/mcp/server/session.py
  tests/experimental/tasks/server/test_server.py
  tests/server/test_lowlevel_input_validation.py
  tests/server/test_lowlevel_output_validation.py
  tests/server/test_lowlevel_tool_annotations.py
  tests/server/test_session.py
  tests/server/test_sse_security.py
  tests/shared/test_session.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Replace well-known server card discovery with AI Catalog discovery
  src/mcp/client/experimental/ai_catalog.py
  src/mcp/client/experimental/server_card.py
  src/mcp/server/experimental/ai_catalog.py
  src/mcp/server/experimental/server_card.py
  src/mcp/shared/experimental/ai_catalog/__init__.py
  src/mcp/shared/experimental/ai_catalog/types.py
  src/mcp/shared/experimental/server_card/__init__.py
  src/mcp/shared/experimental/server_card/types.py
  tests/experimental/ai_catalog/__init__.py
  tests/experimental/ai_catalog/test_client.py
  tests/experimental/ai_catalog/test_server.py
  tests/experimental/ai_catalog/test_types.py
  tests/experimental/server_card/__init__.py
  tests/experimental/server_card/test_client.py
  tests/experimental/server_card/test_server.py
  tests/experimental/server_card/test_types.py
Due: ruff-format, ruff, pyright, readme-snippets

Run StreamableHTTP transport tests in process instead of over sockets (#2767)
  src/mcp/server/streamable_http.py
  tests/shared/test_streamable_http.py
  tests/test_helpers.py
Due: ruff-format, ruff, pyright, readme-snippets

Replace wall-clock margins in stdio cleanup tests with kernel-level signals
  tests/client/test_stdio.py
Due: ruff-format, ruff, pyright

test: close remaining server-side coverage gaps; ServerSession.check_client_capability delegates
  src/mcp/server/connection.py
  src/mcp/server/runner.py
  src/mcp/server/session.py
  tests/server/test_connection.py
  tests/server/test_runner.py
  tests/server/test_server_context.py
  tests/server/test_session.py
Due: ruff-format, ruff, pyright, readme-snippets

chore: drop write-only _InFlight.cancelled_by_peer; add assertion to notify-drop test
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/server/test_runner.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: migration.md entries for the dispatcher swap
  docs/migration.md
Due: readme-snippets

Add add_resource_template to MCPServer and ResourceManager.
  src/mcp/server/mcpserver/resources/resource_manager.py
  src/mcp/server/mcpserver/server.py
  tests/server/mcpserver/resources/test_resource_manager.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(client): propagate SSE POST errors to caller instead of hanging
  src/mcp/client/sse.py
  tests/shared/test_sse.py
Due: ruff-format, ruff, pyright, readme-snippets

refactor(resources): use walrus in add_resource_template duplicate check
  src/mcp/server/mcpserver/resources/resource_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

style(tests): fix ruff import order in test_server
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright

test(resources): hoist greet helper for coverage
  tests/server/mcpserver/resources/test_resource_manager.py
Due: ruff-format, ruff, pyright

test(stdio): allow stderr warnings before clean-exit line
  tests/interaction/transports/test_stdio.py
Due: ruff-format, ruff, pyright

Fix stdio client shutdown: cancellation deadlock, orphaned children, spurious kills
  docs/migration.md
  src/mcp/client/stdio.py
  src/mcp/os/posix/utilities.py
  src/mcp/os/win32/utilities.py
Due: ruff-format, ruff, pyright, readme-snippets

Consolidate stdio tests: in-process logic tests, minimal real-process set
  tests/client/test_stdio.py
  tests/interaction/transports/test_stdio.py
  tests/issues/test_1027_win_unreachable_cleanup.py
  tests/issues/test_552_windows_hang.py
  tests/server/mcpserver/test_elicitation.py
  tests/server/test_stdio.py
  tests/shared/test_win32_utils.py
Due: ruff-format, ruff, pyright

fix: address 11 bughunter findings (parity, latent wiring, lifecycle)
  src/mcp/client/_memory.py
  src/mcp/server/_typed_request.py
  src/mcp/server/connection.py
  src/mcp/server/context.py
  src/mcp/server/lowlevel/server.py
  src/mcp/server/runner.py
  src/mcp/server/session.py
  src/mcp/shared/context.py
  src/mcp/shared/direct_dispatcher.py
  src/mcp/shared/dispatcher.py
  src/mcp/shared/exceptions.py
  src/mcp/shared/jsonrpc_dispatcher.py
  src/mcp/shared/peer.py
  src/mcp/shared/session.py
  tests/client/test_session.py
  tests/client/transports/test_memory.py
  tests/server/test_connection.py
  tests/server/test_runner.py
  tests/server/test_session.py
  tests/server/test_stateless_mode.py
  tests/shared/test_context.py
  tests/shared/test_jsonrpc_dispatcher.py
  tests/shared/test_peer.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: BaseSession.__aexit__ healing checkpoint for gh-106749 (CI 3.11/3.14)
  src/mcp/server/streamable_http.py
  src/mcp/shared/session.py
  tests/shared/test_jsonrpc_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: add `raise ... from e` in all except handlers
  src/mcp/client/auth/utils.py
  src/mcp/client/session.py
  src/mcp/server/mcpserver/prompts/base.py
  src/mcp/server/mcpserver/resources/resource_manager.py
  src/mcp/server/mcpserver/resources/templates.py
  src/mcp/server/mcpserver/resources/types.py
Due: ruff-format, ruff, pyright, readme-snippets

fixup: address Copilot review comments
  src/mcp/client/auth/utils.py
  src/mcp/client/session.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: gh-106749 healing checkpoints at remaining throw sites; anyio>=4.10 on 3.14
  pyproject.toml
  src/mcp/client/_memory.py
  src/mcp/client/sse.py
  src/mcp/client/streamable_http.py
  src/mcp/client/websocket.py
  src/mcp/server/streamable_http_manager.py
  src/mcp/shared/memory.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

fix: drain SSE stream to EOF to prevent ~260ms latency on keepalive connections
  src/mcp/client/streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: drain completed streamable HTTP SSE responses
  src/mcp/client/streamable_http.py
  tests/interaction/transports/test_hosting_resume.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: stop reconnecting after terminal SSE drain errors
  src/mcp/client/streamable_http.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: preserve oauth authorization endpoint query
  src/mcp/client/auth/oauth2.py
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

test: autouse gh-106749 heal fixture so CTracer desync cannot cross tests
  tests/conftest.py
Due: ruff-format, ruff, pyright

Add real-subprocess stdio lifecycle tests for POSIX and Windows
  tests/transports/__init__.py
  tests/transports/stdio/__init__.py
  tests/transports/stdio/_liveness.py
  tests/transports/stdio/conftest.py
  tests/transports/stdio/test_lifecycle.py
  tests/transports/stdio/test_posix.py
  tests/transports/stdio/test_windows.py
Due: ruff-format, ruff, pyright

test: gh-106749 heal at test_streamable_http resumption-test cancel site
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright

test: gh-106749 heal in StreamingASGITransport.__aexit__
  tests/interaction/transports/_bridge.py
Due: ruff-format, ruff, pyright

Address review findings: comment accuracy, test hardening, trio reap pin
  docs/migration.md
  src/mcp/client/stdio.py
  src/mcp/os/win32/utilities.py
  tests/client/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

Make the Windows job-reap test diagnosable and align its server shape
  tests/transports/stdio/test_windows.py
Due: ruff-format, ruff, pyright

test: drop autouse gh-106749 heal fixture (ineffective; _bridge.py was the site)
  tests/conftest.py
Due: ruff-format, ruff, pyright

Instrument the Windows job-reap test's child-side failures
  tests/transports/stdio/test_windows.py
Due: ruff-format, ruff, pyright
