Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

ruff-format:
  name: Ruff Format
  entry: uv run --frozen ruff
  args:
  - format
  language: system
  pass_filenames: false

ruff:
  name: Ruff
  entry: uv run --frozen ruff
  args:
  - check
  - --fix
  - --exit-non-zero-on-fix
  language: system
  pass_filenames: false

pyright:
  name: pyright
  entry: uv run --frozen pyright
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv.lock is up to date
  entry: uv lock --check
  language: system
  pass_filenames: false

readme-v1-frozen:
  name: README.md is frozen (v1 docs)
  entry: README.md is frozen at v1. Edit README.v2.md instead.
  language: fail

readme-snippets:
  name: Check snippets are up to date
  entry: uv run --frozen python scripts/sync_snippets.py --check
  language: system
  pass_filenames: false

feat: allow resources in mcpserver init
  src/mcp/server/mcpserver/server.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

refactor: move resource seeding into resource manager
  src/mcp/server/mcpserver/resources/resource_manager.py
  src/mcp/server/mcpserver/server.py
  tests/server/mcpserver/resources/test_resource_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

refactor!: make tool registration object-based
  docs/migration.md
  src/mcp/server/mcpserver/server.py
  src/mcp/server/mcpserver/tools/base.py
  src/mcp/server/mcpserver/tools/tool_manager.py
  tests/server/mcpserver/test_server.py
  tests/server/mcpserver/test_tool_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: skip structured output for list[Any]
  src/mcp/server/mcpserver/utilities/func_metadata.py
  tests/server/mcpserver/test_func_metadata.py
Due: ruff-format, ruff, pyright, readme-snippets

test: cover MCPServer stdio run paths
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright

fix: handle cancellation race in RequestResponder.respond()
  src/mcp/shared/session.py
Due: ruff-format, ruff, pyright, readme-snippets

Reset reconnection attempt counter when server makes progress
  src/mcp/client/streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: silence respond() when concurrent cancellation already completed request
  src/mcp/shared/session.py
  tests/server/test_respond_after_cancellation.py
Due: ruff-format, ruff, pyright, readme-snippets

style: fix ruff formatting in test file
  tests/server/test_respond_after_cancellation.py
Due: ruff-format, ruff, pyright

Add ProvenanceEnvelope and EventQueue client-side event utilities
  src/mcp/client/events.py
  tests/client/test_events.py
Due: ruff-format, ruff, pyright, readme-snippets

Strengthen test quality in test_events.py
  tests/client/test_events.py
Due: ruff-format, ruff, pyright

Allow subprocess constants (e.g. DEVNULL) for stdio errlog parameter
  src/mcp/client/stdio.py
  src/mcp/os/win32/utilities.py
  tests/client/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: increment reconnection attempt counter on clean stream disconnect
  src/mcp/client/streamable_http.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: correct RequestContext type annotation and add pragma for uncovered except
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright

Create specific ToolNotFoundError for easier handling in multi-tenant environments
  src/mcp/server/mcpserver/exceptions.py
  src/mcp/server/mcpserver/tools/tool_manager.py
  tests/server/mcpserver/test_server.py
  tests/server/mcpserver/test_tool_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(server): prevent stdio transport from closing original stdio handles
  src/mcp/server/stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

feat: add reusable roots enforcement utilities to MCPServer
  src/mcp/server/mcpserver/__init__.py
  src/mcp/server/mcpserver/utilities/roots.py
  tests/server/mcpserver/test_roots.py
Due: ruff-format, ruff, pyright, readme-snippets

test(roots): close two CI coverage gaps
  tests/server/mcpserver/test_roots.py
Due: ruff-format, ruff, pyright

Clean up
  src/mcp/server/mcpserver/resources/resource_manager.py
  src/mcp/server/mcpserver/server.py
  src/mcp/server/mcpserver/tools/tool_manager.py
  tests/server/mcpserver/resources/test_resource_manager.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

Add `resources` parameter to `MCPServer` (#2414)
  src/mcp/server/mcpserver/resources/resource_manager.py
  src/mcp/server/mcpserver/server.py
  src/mcp/server/mcpserver/tools/tool_manager.py
  tests/server/mcpserver/resources/test_resource_manager.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

Fix validate_scope rejecting scopes when client scope is None
  src/mcp/shared/auth.py
  tests/shared/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

Fix context logging methods to accept any JSON serializable type per MCP spec
  src/mcp/server/mcpserver/context.py
  tests/client/test_logging_callback.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: remove JSON-RPC ID type coercion for spec-compliant strict matching
  src/mcp/shared/session.py
  tests/shared/test_session.py
Due: ruff-format, ruff, pyright, readme-snippets

Fix SSE timeout hang by propagating transport exceptions to pending requests
  src/mcp/shared/session.py
Due: ruff-format, ruff, pyright, readme-snippets

Potential fix for pull request finding
  src/mcp/shared/session.py
Due: ruff-format, ruff, pyright, readme-snippets

Refine fix: explicitly pop and close response streams to avoid double-processing
  src/mcp/shared/session.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: modernize development guidelines and rename to AGENTS.md (#2413)
  AGENTS.md
  CLAUDE.md
  pyproject.toml
Due: uv-lock-check

test: move OAuthClientMetadata empty-URL tests to tests/shared, drop Test class
  tests/client/test_auth.py
  tests/shared/test_auth.py
Due: ruff-format, ruff, pyright

fix(auth): coerce empty-string optional URL fields to None in OAuthClientMetadata
  src/mcp/shared/auth.py
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: clarify Test-class convention applies even in legacy files
  AGENTS.md
Due: none

fix: catch PydanticUserError when generating output schema
  src/mcp/server/mcpserver/utilities/func_metadata.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: catch PydanticUserError when generating output schema
  src/mcp/server/fastmcp/utilities/func_metadata.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(auth): coerce empty-string optional URL fields to None in OAuthClientMetadata (#2404)
  AGENTS.md
  src/mcp/shared/auth.py
  tests/shared/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: catch PydanticUserError when generating output schema (pydantic 2.13 compat) (#2434)
  src/mcp/server/mcpserver/utilities/func_metadata.py
Due: ruff-format, ruff, pyright, readme-snippets

[v1.x] fix: catch PydanticUserError when generating output schema (pydantic 2.13 compat) (#2435)
  src/mcp/server/fastmcp/utilities/func_metadata.py
Due: ruff-format, ruff, pyright, readme-snippets

[v1.x] fix(auth): coerce empty-string optional URL fields to None in OAuthClientMetadata (#2405)
  src/mcp/shared/auth.py
  tests/shared/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: consume response body on unexpected content type to prevent client hang
  src/mcp/client/streamable_http.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

style: format test file with ruff
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright

fix: add pragma no branch for coverage on pytest.raises
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright

Path conditions:
  ruff-format: any of: \.py$
  ruff: any of: \.py$, but not: ^README(\.v2)?\.md$
  pyright: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  readme-v1-frozen: any of: ^README\.md$
  readme-snippets: any of: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
