Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args:
          [
            "--fix",
            "--config",
            "pyproject.toml",
            "--configPointer",
            "/tool/markdown/lint",
          ]
        types: [markdown]

  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff Format
        entry: uv run --frozen ruff
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: ruff
        name: Ruff
        entry: uv run --frozen ruff
        args: ["check", "--fix", "--exit-non-zero-on-fix"]
        types: [python]
        language: system
        pass_filenames: false
        exclude: ^README(\.v2)?\.md$
      - id: pyright
        name: pyright
        entry: uv run --frozen pyright
        language: system
        types: [python]
        pass_filenames: false
      - id: uv-lock-check
        name: Check uv.lock is up to date
        entry: uv lock --check
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false
      # TODO(Max): Drop this in v2.
      - id: readme-v1-frozen
        name: README.md is frozen (v1 docs)
        entry: README.md is frozen at v1. Edit README.v2.md instead.
        language: fail
        files: ^README\.md$
      - id: readme-snippets
        name: Check snippets are up to date
        entry: uv run --frozen python scripts/sync_snippets.py --check
        language: system
        files: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
        pass_filenames: false

feat(server): surface structured validation errors in CallToolResult._meta
  src/mcp/server/lowlevel/server.py
  tests/server/test_lowlevel_input_validation.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(client): allow ClientSessionGroup to connect to servers exposing no components
  src/mcp/client/session_group.py
  tests/client/test_session_group.py
Due: ruff-format, ruff, pyright, readme-snippets

Describe the old import path's pointer in the migration guide
  docs/migration.md
Due: readme-snippets

Point imports of mcp.server.fastmcp at the migration guide
  scripts/docs/gen_ref_pages.py
  src/mcp/server/fastmcp.py
  tests/server/test_fastmcp.py
Due: ruff-format, ruff, pyright, readme-snippets

Point imports of mcp.server.fastmcp at the migration guide (#3388)
  docs/migration.md
  scripts/docs/gen_ref_pages.py
  src/mcp/server/fastmcp.py
  tests/server/test_fastmcp.py
Due: ruff-format, ruff, pyright, readme-snippets

Build releases with the pinned hatchling and a publish action that accepts Metadata 2.5 (#3380)
  .github/workflows/publish-pypi.yml
Due: none

fix(server): expose request cancellation on MCPServer context
  src/mcp/server/context.py
  src/mcp/server/mcpserver/context.py
  src/mcp/server/runner.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

Drop pydantic's auto-derived field titles from tool input schemas
  src/mcp/server/mcpserver/tools/base.py
  src/mcp/server/mcpserver/utilities/func_metadata.py
  tests/client/test_client.py
  tests/docs_src/test_client.py
  tests/docs_src/test_context.py
  tests/docs_src/test_dependencies.py
  tests/docs_src/test_first_steps.py
  tests/docs_src/test_lifespan.py
  tests/docs_src/test_progress.py
  tests/docs_src/test_real_host.py
  tests/docs_src/test_tools.py
  tests/server/mcpserver/test_resolve.py
  tests/server/mcpserver/test_tool_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

Tell draft authors why their PR is closed before it's marked ready
  .github/scripts/pr_intake_gate.js
  .github/scripts/pr_intake_gate.test.js
Due: none

Say "open issue" in the no-link comment
  .github/scripts/pr_intake_gate.js
Due: none

[v2.0.x] Point imports of mcp.server.fastmcp at the migration guide (#3393)
  .github/workflows/publish-pypi.yml
  docs/migration.md
  scripts/docs/gen_ref_pages.py
  src/mcp/server/fastmcp.py
  tests/server/test_fastmcp.py
Due: ruff-format, ruff, pyright, readme-snippets

Leave CONTRIBUTING.md unchanged
  CONTRIBUTING.md
Due: none

Gate draft PRs too and rewrite the auto-close comment (#3378)
  .github/scripts/pr_intake_gate.js
  .github/scripts/pr_intake_gate.test.js
  .github/workflows/require-linked-issue.yml
Due: none

Resolve tool output-schema references within the schema document only
  src/mcp/client/session.py
  tests/client/test_output_schema_validation.py
Due: ruff-format, ruff, pyright, readme-snippets

Resolve tool output-schema references within the schema document only (#3394)
  src/mcp/client/session.py
  tests/client/test_output_schema_validation.py
Due: ruff-format, ruff, pyright, readme-snippets

[v1.x] Resolve tool output-schema references within the schema document only
  src/mcp/client/session.py
  tests/client/test_output_schema_validation.py
Due: ruff-format, ruff, pyright, readme-snippets

Expire idle Streamable HTTP sessions by default
  src/mcp/server/streamable_http.py
  src/mcp/server/streamable_http_manager.py
  tests/server/test_streamable_http_manager.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Forget Streamable HTTP sessions when they end
  src/mcp/server/streamable_http_manager.py
  tests/interaction/transports/test_hosting_session.py
  tests/server/test_streamable_http_manager.py
  tests/server/test_streamable_http_router.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

[v1.x] Resolve tool output-schema references within the schema document only (#3396)
  src/mcp/client/session.py
  tests/client/test_output_schema_validation.py
Due: ruff-format, ruff, pyright, readme-snippets

Follow redirects only within the MCP endpoint's origin
  docs/client/oauth-clients.md
  docs/client/transports.md
  docs/migration.md
  docs_src/client_transports/tutorial003.py
  docs_src/identity_assertion/tutorial001.py
  docs_src/oauth_clients/tutorial001.py
  docs_src/oauth_clients/tutorial002.py
  examples/clients/simple-auth-client/mcp_simple_auth_client/main.py
  examples/servers/simple-tool/mcp_simple_tool/server.py
  examples/snippets/clients/identity_assertion_client.py
  examples/snippets/clients/oauth_client.py
  src/mcp/client/sse.py
  src/mcp/client/streamable_http.py
  src/mcp/shared/_httpx_utils.py
  tests/client/test_http_unicode.py
  tests/client/test_streamable_http.py
  tests/shared/test_httpx_utils.py
  tests/shared/test_sse.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Cap concurrent Streamable HTTP sessions and expose the session limits on the server factories
  docs/run/index.md
  docs/run/legacy-clients.md
  docs/troubleshooting.md
  src/mcp/server/lowlevel/server.py
  src/mcp/server/mcpserver/server.py
  src/mcp/server/streamable_http_manager.py
  tests/docs_src/test_asgi.py
  tests/docs_src/test_legacy_clients.py
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

End Streamable HTTP sessions through one path
  src/mcp/server/streamable_http.py
  src/mcp/server/streamable_http_manager.py
  tests/server/test_streamable_http_manager.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Only follow method-preserving redirects; resolve unfollowed ones on every path
  docs/client/transports.md
  examples/servers/simple-tool/mcp_simple_tool/server.py
  src/mcp/client/auth/utils.py
  src/mcp/client/sse.py
  src/mcp/client/streamable_http.py
  src/mcp/shared/_httpx_utils.py
  tests/client/test_auth.py
  tests/client/test_streamable_http.py
  tests/shared/test_httpx_utils.py
Due: ruff-format, ruff, pyright, readme-snippets

Report a full session table as a server error and hold the creation lock for admission only
  src/mcp/server/streamable_http_manager.py
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

Let pre-provisioned OAuth clients name their authorization server
  docs/client/oauth-clients.md
  docs_src/oauth_clients/tutorial002.py
  src/mcp/client/auth/extensions/client_credentials.py
  tests/client/auth/extensions/test_client_credentials.py
  tests/docs_src/test_oauth_clients.py
Due: ruff-format, ruff, pyright, readme-snippets

Derive the expected issuer before fetching authorization server metadata
  docs/client/oauth-clients.md
  docs/migration.md
  src/mcp/client/auth/oauth2.py
  src/mcp/client/auth/utils.py
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

feat: add optional content parameter to ToolError for rich error responses
  src/mcp/server/mcpserver/exceptions.py
  src/mcp/server/mcpserver/server.py
  src/mcp/server/mcpserver/tools/base.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: forward server stderr via async reader when errlog lacks a file descriptor (#156)
  src/mcp/client/stdio.py
  src/mcp/os/win32/utilities.py
  tests/client/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: make URL elicitation errors pickle-safe
  src/mcp/shared/exceptions.py
  tests/shared/test_exceptions.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(server): omit derived tool schema titles
  src/mcp/server/mcpserver/tools/base.py
  src/mcp/server/mcpserver/utilities/func_metadata.py
  tests/server/mcpserver/test_title.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(otel): record client JSON-RPC errors on spans
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/server/test_otel.py
Due: ruff-format, ruff, pyright, readme-snippets

Fail pending send_raw_request waiters when the read stream yields an exception
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/shared/test_jsonrpc_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(client): support stderr logging without file descriptors
  src/mcp/client/stdio.py
  src/mcp/os/win32/utilities.py
  tests/client/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

test(stdio): mark the write_stream exit branch as no-branch
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright

fix(client): map HTTP 401 on streamable HTTP to Unauthorized JSON-RPC error
  src/mcp/client/streamable_http.py
  tests/client/test_notification_response.py
  tests/client/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: make MCPError subclasses pickle-safe
  src/mcp/shared/exceptions.py
  tests/shared/test_exceptions.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: use pragma-annotated if/else instead of ternary for branch coverage
  tests/server/test_streamable_http_modern.py
Due: ruff-format, ruff, pyright

Fix per-request SSE reconnection budget on clean EOF
  src/mcp/client/streamable_http.py
  tests/client/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets
