Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

ruff-format:
  name: Ruff Format
  entry: uv run --frozen ruff
  args:
  - format
  language: system
  pass_filenames: false

ruff:
  name: Ruff
  entry: uv run --frozen ruff
  args:
  - check
  - --fix
  - --exit-non-zero-on-fix
  language: system
  pass_filenames: false

pyright:
  name: pyright
  entry: uv run --frozen pyright
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv.lock is up to date
  entry: uv lock --check
  language: system
  pass_filenames: false

readme-v1-frozen:
  name: README.md is frozen (v1 docs)
  entry: README.md is frozen at v1. Edit README.v2.md instead.
  language: fail

readme-snippets:
  name: Check snippets are up to date
  entry: uv run --frozen python scripts/sync_snippets.py --check
  language: system
  pass_filenames: false

Apply configured cache hints to mapping handler results and fix unknown-key error formatting
  src/mcp/server/caching.py
  src/mcp/server/runner.py
  tests/docs_src/test_caching.py
  tests/server/test_caching.py
Due: ruff-format, ruff, pyright, readme-snippets

Add client response cache primitives: config, keys, store protocol, in-memory store
  src/mcp/client/__init__.py
  src/mcp/client/caching.py
  tests/client/test_caching.py
Due: ruff-format, ruff, pyright, readme-snippets

Cover float negative ttlMs on the discover seam in the auto-mode test
  tests/client/test_client_caching.py
Due: ruff-format, ruff, pyright

Tighten response cache: session guard, identity and meta handling, refresh purge
  docs/advanced/caching.md
  src/mcp/client/__init__.py
  src/mcp/client/caching.py
  src/mcp/client/client.py
  tests/client/test_caching.py
  tests/client/test_client_caching.py
Due: ruff-format, ruff, pyright, readme-snippets

Trim comments and docstrings
  src/mcp-types/mcp_types/methods.py
  src/mcp/client/caching.py
  src/mcp/client/client.py
  src/mcp/client/session.py
  src/mcp/server/caching.py
  src/mcp/server/runner.py
  tests/client/test_caching.py
  tests/client/test_client_caching.py
  tests/client/test_session.py
  tests/docs_src/test_caching.py
  tests/server/test_caching.py
  tests/types/test_methods.py
Due: ruff-format, ruff, pyright, readme-snippets

Address review feedback: drop tutorial globals, plain-ASCII docs prose, remove section header
  docs/advanced/caching.md
  docs/migration.md
  docs_src/caching/tutorial003.py
  src/mcp-types/mcp_types/methods.py
  tests/client/test_client_caching.py
Due: ruff-format, ruff, pyright, readme-snippets

Keep the tutorial handler a plain function with a separate state holder
  docs/advanced/caching.md
  docs_src/caching/tutorial003.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: publish llms.txt and markdown renditions of the docs
  docs/hooks/llms_txt.py
  docs/index.md
  mkdocs.yml
Due: ruff-format, ruff, pyright, readme-snippets

docs: restrict snippet includes to paths inside the repo root
  docs/hooks/llms_txt.py
Due: ruff-format, ruff, pyright

docs: name the site MCP Python SDK instead of MCP Server
  mkdocs.yml
Due: none

docs: hold llms_txt hook state in a dataclass instead of module globals
  docs/hooks/llms_txt.py
Due: ruff-format, ruff, pyright

Era-scope cache arms and harden store interaction paths
  docs/advanced/caching.md
  src/mcp/client/caching.py
  tests/client/test_caching.py
  tests/client/test_client_caching.py
Due: ruff-format, ruff, pyright, readme-snippets

Strip userinfo textually and address review notes on the docs
  docs/advanced/caching.md
  docs/migration.md
  docs_src/caching/tutorial003.py
  src/mcp/client/client.py
  tests/client/test_client_caching.py
Due: ruff-format, ruff, pyright, readme-snippets

Address review feedback on identity stripping and stale tool-map pruning
  src/mcp/client/client.py
  src/mcp/client/session.py
  tests/client/test_caching.py
  tests/client/test_client.py
  tests/client/test_client_caching.py
  tests/interaction/transports/test_hosting_http_modern.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(client): catch httpx transport errors in streamable HTTP post_writer
  src/mcp/client/streamable_http.py
  tests/issues/test_915_streamable_http_unreachable.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: drain accepted JSON-RPC requests after read EOF
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/shared/test_jsonrpc_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(server): exit cleanly on KeyboardInterrupt in MCPServer.run
  src/mcp/server/mcpserver/server.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

Add Cloudflare Pages docs preview workflow with /preview-docs slash command
  .github/workflows/docs-preview-cleanup.yml
  .github/workflows/docs-preview.yml
  .github/zizmor.yml
Due: none

docs: tighten llms_txt failure modes and name embedded snippet sources
  docs/hooks/llms_txt.py
Due: ruff-format, ruff, pyright

docs: publish llms.txt and markdown renditions of the docs (#3024)
  docs/hooks/llms_txt.py
  docs/index.md
  mkdocs.yml
Due: ruff-format, ruff, pyright, readme-snippets

[v1.x] docs: publish llms.txt and markdown renditions of the docs (#3029)
  docs/hooks/llms_txt.py
  docs/index.md
  mkdocs.yml
Due: ruff-format, ruff, pyright, readme-snippets

Add a client-side response cache honoring SEP-2549 caching hints (#3023)
  docs/advanced/caching.md
  docs/migration.md
  docs_src/caching/tutorial003.py
  src/mcp-types/mcp_types/methods.py
  src/mcp/client/__init__.py
  src/mcp/client/caching.py
  src/mcp/client/client.py
  src/mcp/client/session.py
  src/mcp/server/caching.py
  src/mcp/server/runner.py
  tests/client/test_caching.py
  tests/client/test_client.py
  tests/client/test_client_caching.py
  tests/client/test_session.py
  tests/docs_src/test_caching.py
  tests/interaction/transports/test_hosting_http_modern.py
  tests/server/test_caching.py
  tests/types/test_methods.py
Due: ruff-format, ruff, pyright, readme-snippets

Run the extension-tagged conformance scenarios in CI as baselined known failures
  .github/actions/conformance/expected-failures.yml
  .github/workflows/conformance.yml
Due: none

Arm the Mcp-Param server-validation conformance checks with an x-mcp-header fixture tool
  .github/actions/conformance/expected-failures.2026-07-28.yml
  .github/actions/conformance/expected-failures.yml
  examples/servers/everything-server/mcp_everything_server/server.py
Due: ruff-format, ruff, pyright, readme-snippets

Bump the conformance pin to 0.2.0-alpha.8 and baseline the listen checks it surfaces
  .github/actions/conformance/expected-failures.2026-07-28.yml
  .github/actions/conformance/expected-failures.yml
  .github/workflows/conformance.yml
Due: none

Surface skipped conformance scenarios as baselined known failures (#3030)
  .github/actions/conformance/expected-failures.2026-07-28.yml
  .github/actions/conformance/expected-failures.yml
  .github/workflows/conformance.yml
  examples/servers/everything-server/mcp_everything_server/server.py
Due: ruff-format, ruff, pyright, readme-snippets

Address review feedback on docs-preview workflows
  .github/workflows/docs-preview-cleanup.yml
  .github/workflows/docs-preview.yml
  .github/zizmor.yml
Due: none

Add client extension declaration vocabulary
  src/mcp/client/__init__.py
  src/mcp/client/extension.py
  src/mcp/server/extension.py
  src/mcp/shared/extension.py
  tests/client/test_extension.py
  tests/shared/test_extension.py
Due: ruff-format, ruff, pyright, readme-snippets

Require integrity protection for MRTR requestState
  docs/advanced/low-level-server.md
  docs/advanced/multi-round-trip.md
  docs/migration.md
  docs/tutorial/dependencies.md
  docs/tutorial/elicitation.md
  docs_src/dependencies/tutorial001.py
  docs_src/dependencies/tutorial002.py
  docs_src/dependencies/tutorial003.py
  docs_src/elicitation/tutorial004.py
  docs_src/mrtr/tutorial004.py
  docs_src/mrtr/tutorial005.py
  examples/servers/everything-server/mcp_everything_server/server.py
  examples/stories/README.md
  examples/stories/mrtr/README.md
  examples/stories/mrtr/client.py
  examples/stories/mrtr/server.py
  examples/stories/mrtr/server_lowlevel.py
  examples/stories/refund_desk/README.md
  examples/stories/refund_desk/server.py
  src/mcp-types/mcp_types/methods.py
  src/mcp/client/client.py
  src/mcp/server/mcpserver/__init__.py
  src/mcp/server/mcpserver/server.py
  src/mcp/server/request_state.py
  src/mcp/server/runner.py
  tests/client/test_client.py
  tests/docs_src/test_mrtr.py
  tests/server/mcpserver/test_server.py
  tests/server/test_request_state.py
  tests/server/test_request_state_boundary.py
  tests/server/test_request_state_gate.py
  tests/types/test_methods.py
Due: ruff-format, ruff, pyright, readme-snippets

Pin recorded resolver answers to the rendered question
  src/mcp/server/mcpserver/resolve.py
  tests/server/mcpserver/test_resolve.py
Due: ruff-format, ruff, pyright, readme-snippets

Support vendor request types in ClientSession.send_request
  docs/advanced/extensions.md
  docs_src/extensions/tutorial004.py
  examples/stories/custom_methods/README.md
  examples/stories/custom_methods/client.py
  examples/stories/extensions/client.py
  src/mcp-types/mcp_types/_types.py
  src/mcp/client/client.py
  src/mcp/client/session.py
  tests/client/test_send_request_mcp_name.py
  tests/client/test_session_promotions.py
  tests/docs_src/test_extensions.py
  tests/server/mcpserver/test_extension.py
  tests/types/test_request_name_param.py
Due: ruff-format, ruff, pyright, readme-snippets

Snapshot extension validation messages instead of matching substrings
  tests/client/test_extension.py
Due: ruff-format, ruff, pyright

Pin preconnect and absent-params arms of the Mcp-Name delta
  tests/client/test_send_request_mcp_name.py
  tests/client/test_session_promotions.py
Due: ruff-format, ruff, pyright

Scope sticky-comment lookup to github-actions[bot]
  .github/workflows/docs-preview.yml
Due: none

Fold result claims and notification bindings into ClientSession
  src/mcp-types/mcp_types/__init__.py
  src/mcp-types/mcp_types/_types.py
  src/mcp/client/__init__.py
  src/mcp/client/extension.py
  src/mcp/client/session.py
  tests/client/test_session_claims.py
  tests/client/test_session_notification_bindings.py
Due: ruff-format, ruff, pyright, readme-snippets

Add Cloudflare Pages docs preview with /preview-docs slash command (#3028)
  .github/workflows/docs-preview-cleanup.yml
  .github/workflows/docs-preview.yml
Due: none

Scope the construction-time requirement to resolver tools
  docs/advanced/multi-round-trip.md
  docs/migration.md
  docs_src/mrtr/tutorial004.py
  examples/stories/mrtr/README.md
  src/mcp/server/mcpserver/server.py
  src/mcp/server/request_state.py
  tests/client/test_client.py
  tests/server/mcpserver/test_server.py
  tests/server/test_request_state.py
  tests/server/test_request_state_boundary.py
  tests/server/test_request_state_gate.py
Due: ruff-format, ruff, pyright, readme-snippets

Harden claim and binding construction invariants
  src/mcp/client/extension.py
  src/mcp/client/session.py
  tests/client/test_extension.py
  tests/client/test_session_claims.py
Due: ruff-format, ruff, pyright, readme-snippets

Path conditions:
  ruff-format: any of: \.py$
  ruff: any of: \.py$, but not: ^README(\.v2)?\.md$
  pyright: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  readme-v1-frozen: any of: ^README\.md$
  readme-snippets: any of: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
