Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args:
          [
            "--fix",
            "--config",
            "pyproject.toml",
            "--configPointer",
            "/tool/markdown/lint",
          ]
        types: [markdown]

  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff Format
        entry: uv run --frozen ruff
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: ruff
        name: Ruff
        entry: uv run --frozen ruff
        args: ["check", "--fix", "--exit-non-zero-on-fix"]
        types: [python]
        language: system
        pass_filenames: false
        exclude: ^README(\.v2)?\.md$
      - id: pyright
        name: pyright
        entry: uv run --frozen pyright
        language: system
        types: [python]
        pass_filenames: false
      - id: uv-lock-check
        name: Check uv.lock is up to date
        entry: uv lock --check
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false
      # TODO(Max): Drop this in v2.
      - id: readme-v1-frozen
        name: README.md is frozen (v1 docs)
        entry: README.md is frozen at v1. Edit README.v2.md instead.
        language: fail
        files: ^README\.md$
      - id: readme-snippets
        name: Check snippets are up to date
        entry: uv run --frozen python scripts/sync_snippets.py --check
        language: system
        files: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
        pass_filenames: false

test: resolve all pyright strict type errors in redis event store tests
  tests/server/contrib/test_redis_event_store.py
Due: ruff-format, ruff, pyright

test: simplify redis fixture to achieve 100% branch coverage
  tests/server/contrib/test_redis_event_store.py
Due: ruff-format, ruff, pyright

docs: consolidate timeout description per review
  src/mcp/shared/_httpx_utils.py
Due: ruff-format, ruff, pyright, readme-snippets

test: remove client.close() from teardown to avoid version-dependent deprecation warnings
  tests/server/contrib/test_redis_event_store.py
Due: ruff-format, ruff, pyright

test: make TTL assertions in RedisEventStore flake-resistant
  tests/server/contrib/test_redis_event_store.py
Due: ruff-format, ruff, pyright

test: safely close redis client in fixture teardown to prevent ResourceWarnings
  tests/server/contrib/test_redis_event_store.py
Due: ruff-format, ruff, pyright

test: correct spec anchors and record further divergences in the requirements manifest
  src/mcp/server/mcpserver/context.py
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_elicitation.py
  tests/interaction/lowlevel/test_roots.py
  tests/interaction/lowlevel/test_wire.py
  tests/interaction/mcpserver/test_context.py
Due: ruff-format, ruff, pyright, readme-snippets

test: add lax coverage pragmas to version-dependent cleanup code
  tests/server/contrib/test_redis_event_store.py
Due: ruff-format, ruff, pyright

test: add lax coverage pragma to AttributeError catch in redis_client fixture
  tests/server/contrib/test_redis_event_store.py
Due: ruff-format, ruff, pyright

Clarify subject docstrings and add Context.claims
  src/mcp/server/auth/provider.py
  src/mcp/server/mcpserver/context.py
  tests/server/mcpserver/auth/test_context_subject.py
Due: ruff-format, ruff, pyright, readme-snippets

Scope down to model fields and add subject to auth integration test
  src/mcp/server/auth/provider.py
  src/mcp/server/mcpserver/context.py
  tests/server/auth/test_provider.py
  tests/server/mcpserver/auth/test_auth_integration.py
  tests/server/mcpserver/auth/test_context_subject.py
Due: ruff-format, ruff, pyright, readme-snippets

test: add output schema, sampling constraint, roots error, and version-rejection interaction tests
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_initialize.py
  tests/interaction/lowlevel/test_prompts.py
  tests/interaction/lowlevel/test_resources.py
  tests/interaction/lowlevel/test_roots.py
  tests/interaction/lowlevel/test_sampling.py
  tests/interaction/lowlevel/test_tools.py
  tests/interaction/mcpserver/test_prompts.py
Due: ruff-format, ruff, pyright

Address review: iss in introspection, tighten field comments
  examples/servers/simple-auth/mcp_simple_auth/auth_server.py
  src/mcp/server/auth/provider.py
Due: ruff-format, ruff, pyright, readme-snippets

Add subject and claims to AccessToken (#2686)
  examples/servers/simple-auth/mcp_simple_auth/auth_server.py
  examples/servers/simple-auth/mcp_simple_auth/simple_auth_provider.py
  examples/servers/simple-auth/mcp_simple_auth/token_verifier.py
  src/mcp/server/auth/provider.py
  src/mcp/server/mcpserver/context.py
  tests/server/mcpserver/auth/test_auth_integration.py
Due: ruff-format, ruff, pyright, readme-snippets

Add subject and claims to AccessToken
  examples/servers/simple-auth/mcp_simple_auth/auth_server.py
  examples/servers/simple-auth/mcp_simple_auth/simple_auth_provider.py
  examples/servers/simple-auth/mcp_simple_auth/token_verifier.py
  src/mcp/server/auth/provider.py
  src/mcp/server/fastmcp/server.py
  tests/server/fastmcp/auth/test_auth_integration.py
Due: ruff-format, ruff, pyright, readme-snippets

test: align requirement IDs, add transport applicability, and enforce two-way test coverage
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_cancellation.py
  tests/interaction/lowlevel/test_completion.py
  tests/interaction/lowlevel/test_elicitation.py
  tests/interaction/lowlevel/test_initialize.py
  tests/interaction/lowlevel/test_list_changed.py
  tests/interaction/lowlevel/test_logging.py
  tests/interaction/lowlevel/test_pagination.py
  tests/interaction/lowlevel/test_progress.py
  tests/interaction/lowlevel/test_prompts.py
  tests/interaction/lowlevel/test_resources.py
  tests/interaction/lowlevel/test_roots.py
  tests/interaction/lowlevel/test_sampling.py
  tests/interaction/lowlevel/test_timeouts.py
  tests/interaction/lowlevel/test_tools.py
  tests/interaction/mcpserver/test_context.py
  tests/interaction/mcpserver/test_prompts.py
  tests/interaction/mcpserver/test_resources.py
  tests/interaction/mcpserver/test_tools.py
  tests/interaction/test_coverage.py
Due: ruff-format, ruff, pyright

[v1.x] Add subject and claims to AccessToken (#2690)
  examples/servers/simple-auth/mcp_simple_auth/auth_server.py
  examples/servers/simple-auth/mcp_simple_auth/simple_auth_provider.py
  examples/servers/simple-auth/mcp_simple_auth/token_verifier.py
  src/mcp/server/auth/provider.py
  src/mcp/server/fastmcp/server.py
  tests/server/fastmcp/auth/test_auth_integration.py
Due: ruff-format, ruff, pyright, readme-snippets

test: track the full requirements surface in the interaction manifest
  tests/interaction/README.md
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_cancellation.py
  tests/interaction/lowlevel/test_completion.py
  tests/interaction/lowlevel/test_initialize.py
  tests/interaction/lowlevel/test_ping.py
  tests/interaction/test_coverage.py
Due: ruff-format, ruff, pyright

test: add an in-process streaming ASGI transport and cover server-initiated requests over streamable HTTP
  tests/interaction/README.md
  tests/interaction/_requirements.py
  tests/interaction/test_coverage.py
  tests/interaction/transports/_bridge.py
  tests/interaction/transports/test_bridge.py
  tests/interaction/transports/test_streamable_http.py
Due: ruff-format, ruff, pyright

Add Server Cards example (SEP-2127)
  examples/server-card/README.md
  examples/server-card/examples/consume_card.py
  examples/server-card/examples/serve_card.py
  examples/server-card/mcp_server_card/__init__.py
  examples/server-card/mcp_server_card/cli.py
  examples/server-card/mcp_server_card/client.py
  examples/server-card/mcp_server_card/schema.json
  examples/server-card/mcp_server_card/server.py
  examples/server-card/mcp_server_card/types.py
  examples/server-card/mcp_server_card/validation.py
  examples/server-card/pyproject.toml
  examples/server-card/tests/test_server_card.py
Due: ruff-format, ruff, pyright, readme-snippets

Deprecate `httpx` in favor of `httpx2`
  pyproject.toml
  src/mcp/client/auth/extensions/client_credentials.py
  src/mcp/client/auth/oauth2.py
  src/mcp/client/auth/utils.py
  src/mcp/client/session_group.py
  src/mcp/client/sse.py
  src/mcp/client/streamable_http.py
  src/mcp/server/mcpserver/resources/types.py
  src/mcp/shared/_httpx.py
  src/mcp/shared/_httpx_utils.py
  tests/shared/test_httpx_shim.py
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Apply ruff-format
  tests/shared/test_httpx_shim.py
Due: ruff-format, ruff, pyright

Correct framing: `httpx2` is on PyPI; CI exercises the fallback because the lockfile pins `httpx`
  pyproject.toml
  src/mcp/shared/_httpx.py
  tests/shared/test_httpx_shim.py
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Simplify shim per @Kludex: emit warning at module import, drop the lazy helper
  pyproject.toml
  src/mcp/client/auth/oauth2.py
  src/mcp/server/mcpserver/resources/types.py
  src/mcp/shared/_httpx.py
  src/mcp/shared/_httpx_utils.py
  src/mcp/shared/_warnings.py
  tests/shared/test_httpx_shim.py
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Move MCPDeprecationWarning to mcp.shared.exceptions per @Kludex review
  pyproject.toml
  src/mcp/shared/_httpx.py
  src/mcp/shared/_warnings.py
  src/mcp/shared/exceptions.py
  tests/shared/test_httpx_shim.py
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

fix(security): warn on empty allowed_hosts and improve 421/403 response bodies
  src/mcp/server/transport_security.py
  tests/server/test_sse_security.py
  tests/server/test_streamable_http_security.py
  tests/server/test_transport_security.py
Due: ruff-format, ruff, pyright, readme-snippets

test: run the interaction suite over both in-memory and streamable HTTP transports
  src/mcp/server/streamable_http.py
  tests/interaction/README.md
  tests/interaction/_connect.py
  tests/interaction/conftest.py
  tests/interaction/lowlevel/test_cancellation.py
  tests/interaction/lowlevel/test_completion.py
  tests/interaction/lowlevel/test_elicitation.py
  tests/interaction/lowlevel/test_initialize.py
  tests/interaction/lowlevel/test_list_changed.py
  tests/interaction/lowlevel/test_logging.py
  tests/interaction/lowlevel/test_meta.py
  tests/interaction/lowlevel/test_pagination.py
  tests/interaction/lowlevel/test_ping.py
  tests/interaction/lowlevel/test_progress.py
  tests/interaction/lowlevel/test_prompts.py
  tests/interaction/lowlevel/test_resources.py
  tests/interaction/lowlevel/test_roots.py
  tests/interaction/lowlevel/test_sampling.py
  tests/interaction/lowlevel/test_tools.py
  tests/interaction/mcpserver/test_context.py
  tests/interaction/mcpserver/test_prompts.py
  tests/interaction/mcpserver/test_resources.py
  tests/interaction/mcpserver/test_tools.py
  tests/interaction/transports/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

test: run the interaction suite over the legacy SSE transport in-process
  src/mcp/server/sse.py
  tests/interaction/_connect.py
  tests/interaction/_requirements.py
  tests/interaction/conftest.py
  tests/interaction/test_coverage.py
  tests/interaction/transports/_bridge.py
  tests/interaction/transports/test_bridge.py
  tests/interaction/transports/test_sse.py
Due: ruff-format, ruff, pyright, readme-snippets

test: add an SDK-client to SDK-server stdio end-to-end interaction test
  tests/interaction/_requirements.py
  tests/interaction/transports/_stdio_server.py
  tests/interaction/transports/test_stdio.py
Due: ruff-format, ruff, pyright

Add experimental Server Cards support (SEP-2127)
  src/mcp/client/experimental/server_card.py
  src/mcp/server/experimental/server_card.py
  src/mcp/shared/experimental/server_card/__init__.py
  src/mcp/shared/experimental/server_card/types.py
  tests/experimental/server_card/test_client.py
  tests/experimental/server_card/test_server.py
  tests/experimental/server_card/test_types.py
Due: ruff-format, ruff, pyright, readme-snippets

Update call_tool return type and remove unreachable code
  src/mcp/server/mcpserver/server.py
Due: ruff-format, ruff, pyright, readme-snippets

Mirror Starlette docstring; rewrite shim tests in logfire's reload+patch.dict style
  src/mcp/shared/exceptions.py
  tests/shared/test_httpx_shim.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(auth): add Accept header to token and refresh requests
  src/mcp/client/auth/oauth2.py
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

test: add streamable HTTP hosting, resumability, and client transport conformance tests
  src/mcp/client/streamable_http.py
  src/mcp/server/mcpserver/context.py
  src/mcp/server/streamable_http.py
  src/mcp/server/streamable_http_manager.py
  src/mcp/server/transport_security.py
  tests/interaction/README.md
  tests/interaction/_connect.py
  tests/interaction/_requirements.py
  tests/interaction/transports/_event_store.py
  tests/interaction/transports/test_client_transport_http.py
  tests/interaction/transports/test_hosting_http.py
  tests/interaction/transports/test_hosting_resume.py
  tests/interaction/transports/test_hosting_session.py
  tests/interaction/transports/test_sse.py
  tests/interaction/transports/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

test: cover protocol/lifecycle gap requirements and refine the divergence model
  tests/interaction/README.md
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_cancellation.py
  tests/interaction/lowlevel/test_initialize.py
  tests/interaction/lowlevel/test_progress.py
  tests/interaction/lowlevel/test_wire.py
Due: ruff-format, ruff, pyright

test: cover sampling, client output-schema, and mcpserver gap requirements
  src/mcp/client/session.py
  src/mcp/server/mcpserver/prompts/base.py
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_sampling.py
  tests/interaction/lowlevel/test_tools.py
  tests/interaction/mcpserver/test_completion.py
  tests/interaction/mcpserver/test_prompts.py
  tests/interaction/mcpserver/test_resources.py
  tests/interaction/mcpserver/test_tools.py
Due: ruff-format, ruff, pyright, readme-snippets

test: cover server-feature, pagination, elicitation, and mcpserver gap requirements
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_completion.py
  tests/interaction/lowlevel/test_elicitation.py
  tests/interaction/lowlevel/test_pagination.py
  tests/interaction/lowlevel/test_prompts.py
  tests/interaction/lowlevel/test_resources.py
  tests/interaction/lowlevel/test_tools.py
  tests/interaction/lowlevel/test_wire.py
  tests/interaction/mcpserver/test_prompts.py
  tests/interaction/mcpserver/test_resources.py
Due: ruff-format, ruff, pyright

fix: correct MCPServer.call_tool return type and remove dead code
  docs/migration.md
  src/mcp/server/mcpserver/server.py
Due: ruff-format, ruff, pyright, readme-snippets

test: cover composed flow scenarios and stdio framing requirements
  src/mcp/client/streamable_http.py
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_flows.py
  tests/interaction/mcpserver/test_context.py
  tests/interaction/mcpserver/test_tools.py
  tests/interaction/transports/test_client_transport_http.py
  tests/interaction/transports/test_flows.py
  tests/interaction/transports/test_hosting_resume.py
  tests/interaction/transports/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(oauth): cover Python 3.10/3.11 partial-branch coverage gap
  src/mcp/client/auth/oauth2.py
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets
