Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args:
          [
            "--fix",
            "--config",
            "pyproject.toml",
            "--configPointer",
            "/tool/markdown/lint",
          ]
        types: [markdown]

  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff Format
        entry: uv run --frozen ruff
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: ruff
        name: Ruff
        entry: uv run --frozen ruff
        args: ["check", "--fix", "--exit-non-zero-on-fix"]
        types: [python]
        language: system
        pass_filenames: false
        exclude: ^README(\.v2)?\.md$
      - id: pyright
        name: pyright
        entry: uv run --frozen pyright
        language: system
        types: [python]
        pass_filenames: false
      - id: uv-lock-check
        name: Check uv.lock is up to date
        entry: uv lock --check
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false
      # TODO(Max): Drop this in v2.
      - id: readme-v1-frozen
        name: README.md is frozen (v1 docs)
        entry: README.md is frozen at v1. Edit README.v2.md instead.
        language: fail
        files: ^README\.md$
      - id: readme-snippets
        name: Check snippets are up to date
        entry: uv run --frozen python scripts/sync_snippets.py --check
        language: system
        files: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
        pass_filenames: false

fix: stop sending JSON-RPC response on request cancellation
  src/mcp/server/lowlevel/server.py
  src/mcp/shared/session.py
  tests/server/test_cancel_handling.py
  tests/shared/test_session.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(server): raise distinct errors for not-found vs template failure
  src/mcp/server/mcpserver/resources/resource_manager.py
  src/mcp/server/mcpserver/resources/templates.py
  src/mcp/server/mcpserver/server.py
  tests/server/mcpserver/resources/test_resource_manager.py
  tests/server/mcpserver/resources/test_resource_template.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(client): propagate HTTP transport errors to caller (#2110)
  src/mcp/client/sse.py
  src/mcp/client/streamable_http.py
  tests/shared/test_sse.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(test): move final assertion inside async-with to keep 100% cov on 3.11
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright

fix(server): let template handlers signal not-found per SEP-2164
  docs/migration.md
  src/mcp/server/mcpserver/__init__.py
  src/mcp/server/mcpserver/resources/templates.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

test: move asserts inside async-with for 3.11 coverage instrumentation
  tests/server/test_server_context.py
  tests/shared/test_context.py
  tests/shared/test_peer.py
Due: ruff-format, ruff, pyright

docs: drop development-journal language from docstrings/comments
  src/mcp/server/_typed_request.py
  src/mcp/server/connection.py
  src/mcp/server/context.py
  src/mcp/shared/context.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(client/stdio): let callers clean up multiple transports independently on asyncio (#577)
  src/mcp/client/stdio.py
  tests/client/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

review(#2484): restore exception propagation from background reader/writer and close streams on crash
  src/mcp/client/stdio.py
  tests/client/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

ci(#2484): satisfy pre-commit (ruff D212, C901) and pyright
  src/mcp/client/stdio.py
  tests/client/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

ci(#2484): satisfy pyright strict-mode and 100% coverage
  tests/client/test_stdio.py
Due: ruff-format, ruff, pyright

ci(#2484): pragma: no cover on defensive teardown branches
  src/mcp/client/stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

ci(#2484): drop pragmas on lines strict-no-cover says are reached
  src/mcp/client/stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

ci(#2484): use 'pragma: lax no cover' for timing-dependent exception catches
  src/mcp/client/stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

refactor: make BaseContext/Context covariant in their type params
  src/mcp/server/context.py
  src/mcp/shared/context.py
Due: ruff-format, ruff, pyright, readme-snippets

feat: ServerRunner skeleton — _on_request, initialize, init-gate
  src/mcp/server/lowlevel/server.py
  src/mcp/server/runner.py
  tests/server/test_runner.py
Due: ruff-format, ruff, pyright, readme-snippets

feat: ServerRunner middleware (two-tier) + _on_notify
  src/mcp/server/context.py
  src/mcp/server/lowlevel/server.py
  src/mcp/server/runner.py
  tests/server/test_runner.py
Due: ruff-format, ruff, pyright, readme-snippets

fix minor formatting in README
  README.md
Due: readme-v1-frozen

feat: parse Google-style docstrings to populate tool parameter descriptions
  src/mcp/server/mcpserver/tools/base.py
  src/mcp/server/mcpserver/utilities/docstring.py
  src/mcp/server/mcpserver/utilities/func_metadata.py
  tests/server/mcpserver/test_docstring.py
  tests/server/mcpserver/test_func_metadata.py
  tests/server/mcpserver/test_tool_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

test: cover defensive branches in docstring parser
  tests/server/mcpserver/test_docstring.py
Due: ruff-format, ruff, pyright

docs(sampling): clarify client-side sampling context
  README.md
  examples/snippets/clients/stdio_client.py
  examples/snippets/servers/sampling.py
Due: ruff-format, ruff, pyright, readme-v1-frozen, readme-snippets

fix: dispatch client request handlers concurrently (#2489)
  src/mcp/client/session.py
  src/mcp/shared/session.py
  tests/shared/test_session.py
Due: ruff-format, ruff, pyright, readme-snippets

feat: ServerRunner.run() and otel_middleware
  src/mcp/server/runner.py
  tests/server/test_runner.py
Due: ruff-format, ruff, pyright, readme-snippets

refactor(server): keep ResourceNotFoundError out of top-level mcpserver exports
  docs/migration.md
  src/mcp/server/mcpserver/__init__.py
  src/mcp/server/mcpserver/exceptions.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

feat(auth): persist oauth_metadata via TokenStorage to fix refresh after restart
  src/mcp/client/auth/oauth2.py
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

Simplify _restore_mcp_error: every MCPError subclass inherits from_error_data
  src/mcp/shared/exceptions.py
Due: ruff-format, ruff, pyright, readme-snippets

Restore README.md to upstream version -v1 is frozen
  README.md
Due: readme-v1-frozen

Update README v2 -v1 frozen
  README.v2.md
Due: readme-snippets

fix: don't send a response for cancelled requests
  src/mcp/server/lowlevel/server.py
  src/mcp/shared/session.py
  tests/shared/test_session.py
Due: ruff-format, ruff, pyright, readme-snippets

Add FileInputDescriptor and fileInputs capability for file upload SEP
  src/mcp/types/__init__.py
  src/mcp/types/_types.py
  tests/test_types.py
Due: ruff-format, ruff, pyright, readme-snippets

chore(sep-2356): sync file-input types to spec PR @ef7d52f
  src/mcp/types/__init__.py
  src/mcp/types/_types.py
  tests/test_types.py
Due: ruff-format, ruff, pyright, readme-snippets

feat(examples): add postgres-knowledge-server with authorization middleware
  examples/servers/postgres-knowledge-server/README.md
  examples/servers/postgres-knowledge-server/mcp_postgres_server/__init__.py
  examples/servers/postgres-knowledge-server/mcp_postgres_server/__main__.py
  examples/servers/postgres-knowledge-server/mcp_postgres_server/server.py
  examples/servers/postgres-knowledge-server/pyproject.toml
Due: ruff-format, ruff, pyright, readme-snippets

fix: add .python-version (force-add, matches gitignore exception) and fix import style
  examples/servers/postgres-knowledge-server/.python-version
  examples/servers/postgres-knowledge-server/mcp_postgres_server/server.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: add language specifier to fenced code block (markdownlint MD040)
  examples/servers/postgres-knowledge-server/README.md
Due: none

fix: add blank line before list (markdownlint MD032)
  examples/servers/postgres-knowledge-server/README.md
Due: none

fix: ruff format — two blank lines before module-level functions, wrap long line
  examples/servers/postgres-knowledge-server/mcp_postgres_server/server.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: remove aligned dict spacing (ruff E241)
  examples/servers/postgres-knowledge-server/mcp_postgres_server/server.py
Due: ruff-format, ruff, pyright, readme-snippets

style: ruff format server.py
  examples/servers/postgres-knowledge-server/mcp_postgres_server/server.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: merge imports, wrap long SQL index string for ruff E501
  examples/servers/postgres-knowledge-server/mcp_postgres_server/server.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: add type annotations, fix isError->is_error for pyright
  examples/servers/postgres-knowledge-server/mcp_postgres_server/server.py
Due: ruff-format, ruff, pyright, readme-snippets
