Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

ruff-format:
  name: Ruff Format
  entry: uv run --frozen ruff
  args:
  - format
  language: system
  pass_filenames: false

ruff:
  name: Ruff
  entry: uv run --frozen ruff
  args:
  - check
  - --fix
  - --exit-non-zero-on-fix
  language: system
  pass_filenames: false

pyright:
  name: pyright
  entry: uv run --frozen pyright
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv.lock is up to date
  entry: uv lock --check
  language: system
  pass_filenames: false

readme-v1-frozen:
  name: README.md is frozen (v1 docs)
  entry: README.md is frozen at v1. Edit README.v2.md instead.
  language: fail

readme-snippets:
  name: Check snippets are up to date
  entry: uv run --frozen python scripts/sync_snippets.py --check
  language: system
  pass_filenames: false

fix(auth): make get_access_token per-request in stateful sessions
  src/mcp/server/auth/middleware/auth_context.py
  src/mcp/server/runner.py
  tests/server/auth/test_get_access_token_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(auth): avoid Request.user assertion without auth middleware
  src/mcp/server/auth/middleware/auth_context.py
Due: ruff-format, ruff, pyright, readme-snippets

chore(auth): type-safe auth context push
  src/mcp/server/auth/middleware/auth_context.py
  src/mcp/server/runner.py
Due: ruff-format, ruff, pyright, readme-snippets

fix auth context reset for streamable HTTP
  src/mcp/server/auth/middleware/auth_context.py
  tests/server/auth/test_get_access_token_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(stdio): drain responses after stdin EOF
  src/mcp/server/lowlevel/server.py
  src/mcp/server/runner.py
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/server/test_cancel_handling.py
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

test: cover stdio EOF drain and shutdown edges
  tests/server/test_cancel_handling.py
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright

test: ignore coverage branch arc on 3.14
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright

test: satisfy pyright + branch coverage for SSE cleanup
  tests/client/test_streamable_http_response_cleanup.py
Due: ruff-format, ruff, pyright

fix(streamable-http): stabilize branch coverage
  src/mcp/client/streamable_http.py
  tests/client/test_streamable_http_response_cleanup.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(streamable-http): close SSE responses on errors
  src/mcp/client/streamable_http.py
  tests/client/test_streamable_http_response_cleanup.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(server): opt-in drain on read EOF
  src/mcp/server/lowlevel/server.py
  src/mcp/server/mcpserver/server.py
  src/mcp/server/runner.py
  tests/server/test_cancel_handling.py
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

test: cover EOF drain branches
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/shared/test_jsonrpc_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

test: exercise dispatcher shutdown drain mode
  tests/shared/test_jsonrpc_dispatcher.py
Due: ruff-format, ruff, pyright

test: use handshake version in cancellation tests
  tests/server/test_cancel_handling.py
Due: ruff-format, ruff, pyright

fix(stdio): bound EOF drain wait
  src/mcp/server/lowlevel/server.py
  src/mcp/server/runner.py
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/server/test_cancel_handling.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(server): thread EOF drain timeout through split loops
  src/mcp/server/runner.py
Due: ruff-format, ruff, pyright, readme-snippets

test: adapt SSE cleanup tests to httpx2 client
  tests/client/test_streamable_http_response_cleanup.py
Due: ruff-format, ruff, pyright

test(auth): use httpx2 in streamable HTTP auth test
  tests/server/auth/test_get_access_token_streamable_http.py
Due: ruff-format, ruff, pyright

test: satisfy pyright for httpx2 SSE events
  tests/client/test_streamable_http_response_cleanup.py
Due: ruff-format, ruff, pyright

Strengthen typed context regression coverage
  docs/handlers/context.md
  tests/server/mcpserver/resources/test_resource_template.py
Due: ruff-format, ruff, pyright, readme-snippets

Simplify injected context validation
  src/mcp/server/mcpserver/utilities/context_injection.py
Due: ruff-format, ruff, pyright, readme-snippets

test(auth): reuse streamable HTTP session for token refresh
  tests/server/auth/test_get_access_token_streamable_http.py
Due: ruff-format, ruff, pyright

test(auth): cover bearer auth helper branch
  tests/server/auth/test_get_access_token_streamable_http.py
Due: ruff-format, ruff, pyright

test(auth): mark async timeout coverage arc
  tests/server/auth/test_get_access_token_streamable_http.py
Due: ruff-format, ruff, pyright

refactor: address review feedback on the Server Card API surface
  docs/advanced/server-cards.md
  docs_src/server_cards/tutorial001.py
  docs_src/server_cards/tutorial002.py
  src/mcp/client/experimental/_discovery_http.py
  src/mcp/client/experimental/server_card.py
  src/mcp/server/experimental/server_card.py
  src/mcp/shared/experimental/server_card.py
  tests/client/experimental/test_server_card.py
  tests/docs_src/test_server_cards.py
  tests/server/experimental/test_server_card.py
  tests/shared/experimental/test_server_card.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: complete the spec's CORS header set on discovery responses
  src/mcp/server/experimental/server_card.py
  tests/docs_src/test_server_cards.py
  tests/server/experimental/test_server_card.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: track main's optional serverInfo and empty-string server version
  src/mcp/client/experimental/server_card.py
  src/mcp/shared/experimental/server_card.py
  tests/client/experimental/test_server_card.py
Due: ruff-format, ruff, pyright, readme-snippets

Advance mint counter past caller-supplied integer request IDs (#3126)
  src/mcp/shared/direct_dispatcher.py
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/shared/test_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

Expose the httpx client factory as public API in mcp.client.streamable_http
  docs/migration.md
  src/mcp/client/streamable_http.py
  tests/shared/test_httpx_utils.py
Due: ruff-format, ruff, pyright, readme-snippets

Avoid restricting the star-import surface; re-export via aliases
  src/mcp/client/streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Discover auth-server metadata before eager token refresh
  src/mcp/client/auth/oauth2.py
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

test(dispatcher): cover defensive while-loop in mint path
  tests/shared/test_dispatcher.py
Due: ruff-format, ruff, pyright

fix(test): narrow type with isinstance to satisfy pyright
  tests/shared/test_dispatcher.py
Due: ruff-format, ruff, pyright

Cut import and startup cost with deferred model builds and lazy imports
  AGENTS.md
  docs/advanced/index.md
  docs/advanced/startup.md
  docs/migration.md
  mkdocs.yml
  pyproject.toml
  scripts/gen_surface_types.py
  src/mcp-types/mcp_types/_types.py
  src/mcp-types/mcp_types/_v2025_11_25/__init__.py
  src/mcp-types/mcp_types/_v2026_07_28/__init__.py
  src/mcp-types/mcp_types/_wire_base.py
  src/mcp-types/mcp_types/jsonrpc.py
  src/mcp-types/mcp_types/methods.py
  src/mcp/__init__.py
  src/mcp/client/client.py
  src/mcp/client/session.py
  src/mcp/server/auth/middleware/auth_context.py
  src/mcp/server/elicitation.py
  src/mcp/server/lowlevel/server.py
  src/mcp/server/mcpserver/resources/types.py
  src/mcp/server/mcpserver/server.py
  src/mcp/server/streamable_http_manager.py
  tests/client/test_client.py
  tests/server/mcpserver/resources/test_resources.py
  tests/server/test_streamable_http_manager.py
  tests/test_import_footprint.py
  tests/test_init.py
  tests/types/test_methods.py
  tests/types/test_parity.py
  tests/types/test_wire_base.py
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Fix CI and address Server Cards review
  docs/advanced/server-cards.md
  docs_src/server_cards/tutorial001.py
  docs_src/server_cards/tutorial002.py
  docs_src/server_cards/tutorial004.py
  src/mcp/server/experimental/ai_catalog.py
  src/mcp/server/experimental/server_card.py
  src/mcp/shared/experimental/ai_catalog/types.py
  tests/experimental/ai_catalog/test_server.py
  tests/experimental/server_card/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(oauth): avoid lock contention for long-running requests
  src/mcp/client/auth/oauth2.py
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

test(oauth): mark invariant branches for coverage
  src/mcp/client/auth/oauth2.py
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

test(oauth): require concurrent refresh lock contention
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright

Read UTF-8 test fixtures with explicit encoding
  tests/examples/conftest.py
  tests/examples/test_story_shape.py
Due: ruff-format, ruff, pyright

fix: skip eager token refresh when OAuth metadata is unavailable
  src/mcp/client/auth/oauth2.py
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

Path conditions:
  ruff-format: any of: \.py$
  ruff: any of: \.py$, but not: ^README(\.v2)?\.md$
  pyright: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  readme-v1-frozen: any of: ^README\.md$
  readme-snippets: any of: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
