Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

ruff-format:
  name: Ruff Format
  entry: uv run --frozen ruff
  args:
  - format
  language: system
  pass_filenames: false

ruff:
  name: Ruff
  entry: uv run --frozen ruff
  args:
  - check
  - --fix
  - --exit-non-zero-on-fix
  language: system
  pass_filenames: false

pyright:
  name: pyright
  entry: uv run --frozen pyright
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv.lock is up to date
  entry: uv lock --check
  language: system
  pass_filenames: false

readme-v1-frozen:
  name: README.md is frozen (v1 docs)
  entry: README.md is frozen at v1. Edit README.v2.md instead.
  language: fail

readme-snippets:
  name: Check snippets are up to date
  entry: uv run --frozen python scripts/sync_snippets.py --check
  language: system
  pass_filenames: false

Verify SSE request-context isolation inside each connection block
  tests/shared/test_sse.py
Due: ruff-format, ruff, pyright

Force per-test GC so leaked-stream warnings stay inside the scoped filters
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright

Deflake the session-level timeout test with trio's virtual clock (#2788)
  tests/interaction/lowlevel/test_timeouts.py
Due: ruff-format, ruff, pyright

tests: avoid abandoned-async-generator warnings under the trio backend
  tests/interaction/conftest.py
  tests/interaction/transports/_bridge.py
Due: ruff-format, ruff, pyright

Filter known anyio stream teardown warnings in streamable HTTP security tests
  tests/server/test_streamable_http_security.py
Due: ruff-format, ruff, pyright

docs: record the unknown-method error-code change in the migration guide
  docs/migration.md
Due: readme-snippets

Clarify protocol-version docstrings and tighten new tests
  src/mcp/client/session.py
  src/mcp/server/connection.py
  src/mcp/server/session.py
  tests/server/test_session.py
  tests/shared/test_streamable_http.py
  tests/shared/test_version.py
Due: ruff-format, ruff, pyright, readme-snippets

Exclude post-teardown header checks from 3.11 coverage measurement
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright

Answer any unserved method with METHOD_NOT_FOUND before the initialize gate
  docs/migration.md
  src/mcp/server/runner.py
  tests/server/test_runner.py
Due: ruff-format, ruff, pyright, readme-snippets

Fix unknown-method error code and add a protocol version registry (#2836)
  docs/migration.md
  src/mcp/client/auth/oauth2.py
  src/mcp/client/session.py
  src/mcp/server/connection.py
  src/mcp/server/runner.py
  src/mcp/server/session.py
  src/mcp/server/streamable_http.py
  src/mcp/shared/session.py
  src/mcp/shared/version.py
  tests/client/test_auth.py
  tests/client/test_client.py
  tests/interaction/lowlevel/test_completion.py
  tests/interaction/lowlevel/test_resources.py
  tests/interaction/mcpserver/test_context.py
  tests/server/test_runner.py
  tests/server/test_session.py
  tests/shared/test_session.py
  tests/shared/test_streamable_http.py
  tests/shared/test_version.py
Due: ruff-format, ruff, pyright, readme-snippets

Harden stop detection and avoid redundant tree termination in cleanup tests
  tests/client/test_stdio.py
Due: ruff-format, ruff, pyright

Deflake child process cleanup tests with polling instead of fixed sleeps
  tests/client/test_stdio.py
Due: ruff-format, ruff, pyright

[v1.x] Backport transport test deflakes from main (tests-only) (#2837)
  tests/client/test_http_unicode.py
  tests/client/test_stdio.py
  tests/interaction/conftest.py
  tests/interaction/lowlevel/test_timeouts.py
  tests/interaction/test_coverage.py
  tests/interaction/transports/__init__.py
  tests/interaction/transports/_bridge.py
  tests/interaction/transports/test_bridge.py
  tests/server/test_sse_security.py
  tests/server/test_streamable_http_manager.py
  tests/server/test_streamable_http_security.py
  tests/shared/test_sse.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright

Reap and close spawned processes inside the child cleanup tests
  tests/client/test_stdio.py
Due: ruff-format, ruff, pyright

[v1.x] Deflake the child process cleanup tests (#2839)
  tests/client/test_stdio.py
Due: ruff-format, ruff, pyright

Point remaining v1 README example links at the v1.x branch
  README.md
Due: readme-v1-frozen

Flush the stdio subprocess's coverage data before the clean-exit line
  tests/interaction/transports/_stdio_server.py
  tests/interaction/transports/test_stdio.py
Due: ruff-format, ruff, pyright

test: lock in CallToolResult(is_error=True) with non-text content (#348)
  tests/interaction/_requirements.py
  tests/interaction/mcpserver/test_tools.py
Due: ruff-format, ruff, pyright

fix: propagate MCPError from tool handlers as JSON-RPC error
  src/mcp/server/mcpserver/tools/base.py
  tests/server/mcpserver/test_url_elicitation_error_throw.py
Due: ruff-format, ruff, pyright, readme-snippets

Add multi-version protocol types: complete per-version model packages
  docs/migration.md
  pyproject.toml
  scripts/update_spec_types.py
  src/mcp/shared/version.py
  src/mcp/types/__init__.py
  src/mcp/types/_spec_names.py
  src/mcp/types/_types.py
  src/mcp/types/_versions.py
  src/mcp/types/_wire_base.py
  src/mcp/types/jsonrpc.py
  src/mcp/types/v2024_11_05/__init__.py
  src/mcp/types/v2025_03_26/__init__.py
  src/mcp/types/v2025_06_18/__init__.py
  src/mcp/types/v2025_11_25/__init__.py
  src/mcp/types/v2026_07_28/__init__.py
  src/mcp/types/wire.py
  tests/spec_oracles/PINNED.json
  tests/spec_oracles/__init__.py
  tests/spec_oracles/_base.py
  tests/spec_oracles/_harness.py
  tests/spec_oracles/burndown_allowlist.json
  tests/spec_oracles/test_burndown.py
  tests/spec_oracles/test_oracles_smoke.py
  tests/spec_oracles/v2024_11_05.py
  tests/spec_oracles/v2025_03_26.py
  tests/spec_oracles/v2025_06_18.py
  tests/spec_oracles/v2025_11_25.py
  tests/spec_oracles/v2026_07_28.py
  tests/types/__init__.py
  tests/types/test_import_budget.py
  tests/types/test_public_surface.py
  tests/types/test_version_model_parity.py
  tests/types/test_version_registry.py
  tests/types/test_wire_boundary.py
  tests/types/test_wire_parse.py
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Add multi-version protocol types: per-version fact tables
  docs/migration.md
  pyproject.toml
  scripts/update_spec_types.py
  src/mcp/shared/version.py
  src/mcp/types/__init__.py
  src/mcp/types/_shaping.py
  src/mcp/types/_spec_names.py
  src/mcp/types/_types.py
  src/mcp/types/_version_facts.py
  src/mcp/types/jsonrpc.py
  src/mcp/types/wire.py
  tests/spec_oracles/PINNED.json
  tests/spec_oracles/__init__.py
  tests/spec_oracles/_base.py
  tests/spec_oracles/_harness.py
  tests/spec_oracles/burndown_allowlist.json
  tests/spec_oracles/ext_tasks.py
  tests/spec_oracles/test_burndown.py
  tests/spec_oracles/test_oracles_smoke.py
  tests/spec_oracles/v2024_11_05.py
  tests/spec_oracles/v2025_03_26.py
  tests/spec_oracles/v2025_06_18.py
  tests/spec_oracles/v2025_11_25.py
  tests/spec_oracles/v2026_07_28.py
  tests/types/__init__.py
  tests/types/test_import_budget.py
  tests/types/test_public_surface.py
  tests/types/test_shaping_engine.py
  tests/types/test_spec_names.py
  tests/types/test_unions.py
  tests/types/test_version_facts_oracle.py
  tests/types/test_version_registry.py
  tests/types/test_wire_boundary.py
  tests/types/test_wire_parse.py
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Add multi-version protocol types: per-version delta packages
  docs/migration.md
  pyproject.toml
  scripts/update_spec_types.py
  src/mcp/shared/version.py
  src/mcp/types/__init__.py
  src/mcp/types/_spec_names.py
  src/mcp/types/_types.py
  src/mcp/types/_versions.py
  src/mcp/types/_wire_base.py
  src/mcp/types/jsonrpc.py
  src/mcp/types/v2024_11_05/__init__.py
  src/mcp/types/v2025_03_26/__init__.py
  src/mcp/types/v2025_06_18/__init__.py
  src/mcp/types/v2025_11_25/__init__.py
  src/mcp/types/v2026_07_28/__init__.py
  src/mcp/types/wire.py
  tests/spec_oracles/PINNED.json
  tests/spec_oracles/__init__.py
  tests/spec_oracles/_base.py
  tests/spec_oracles/_harness.py
  tests/spec_oracles/burndown_allowlist.json
  tests/spec_oracles/ext_tasks.py
  tests/spec_oracles/test_burndown.py
  tests/spec_oracles/test_harness_internals.py
  tests/spec_oracles/test_oracles_smoke.py
  tests/spec_oracles/v2024_11_05.py
  tests/spec_oracles/v2025_03_26.py
  tests/spec_oracles/v2025_06_18.py
  tests/spec_oracles/v2025_11_25.py
  tests/spec_oracles/v2026_07_28.py
  tests/types/__init__.py
  tests/types/test_import_budget.py
  tests/types/test_public_surface.py
  tests/types/test_spec_names.py
  tests/types/test_version_registry.py
  tests/types/test_version_surfaces.py
  tests/types/test_wire_boundary.py
  tests/types/test_wire_parse.py
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Flush the stdio subprocess's coverage data before the clean-exit line (#2840)
  tests/interaction/transports/_stdio_server.py
  tests/interaction/transports/test_stdio.py
Due: ruff-format, ruff, pyright

Fix server_url in the simple-auth example
  examples/servers/simple-auth/mcp_simple_auth/server.py
Due: ruff-format, ruff, pyright, readme-snippets

Fix TODO type hint in simple-auth example
  examples/servers/simple-auth/mcp_simple_auth/simple_auth_provider.py
Due: ruff-format, ruff, pyright, readme-snippets

Add multi-version protocol types: two wire-surface fact blocks
  docs/migration.md
  pyproject.toml
  scripts/update_spec_types.py
  src/mcp/shared/version.py
  src/mcp/types/__init__.py
  src/mcp/types/_shaping.py
  src/mcp/types/_spec_names.py
  src/mcp/types/_types.py
  src/mcp/types/_version_facts.py
  src/mcp/types/jsonrpc.py
  src/mcp/types/wire.py
  tests/spec_oracles/PINNED.json
  tests/spec_oracles/__init__.py
  tests/spec_oracles/_base.py
  tests/spec_oracles/_harness.py
  tests/spec_oracles/burndown_allowlist.json
  tests/spec_oracles/ext_tasks.py
  tests/spec_oracles/test_burndown.py
  tests/spec_oracles/test_oracles_smoke.py
  tests/spec_oracles/v2024_11_05.py
  tests/spec_oracles/v2025_03_26.py
  tests/spec_oracles/v2025_06_18.py
  tests/spec_oracles/v2025_11_25.py
  tests/spec_oracles/v2026_07_28.py
  tests/types/__init__.py
  tests/types/test_import_budget.py
  tests/types/test_public_surface.py
  tests/types/test_shaping_engine.py
  tests/types/test_spec_names.py
  tests/types/test_unions.py
  tests/types/test_version_facts_oracle.py
  tests/types/test_version_registry.py
  tests/types/test_wire_boundary.py
  tests/types/test_wire_parse.py
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

docs: fix sentence fragment in testing guide
  docs/testing.md
Due: readme-snippets

fix(server): align call_tool result shapes
  src/mcp/server/mcpserver/server.py
  tests/interaction/_requirements.py
  tests/interaction/mcpserver/test_tools.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

Fix 404 links in v1 README to renamed example files (#2822)
  README.md
Due: readme-v1-frozen

Remove the client-side related_request_id surface
  docs/migration.md
  src/mcp/client/session.py
  tests/client/test_session.py
Due: ruff-format, ruff, pyright, readme-snippets

Contain notification-handler exceptions in the dispatcher
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/shared/test_jsonrpc_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

Document the dispatcher behavior changes in the migration guide
  docs/migration.md
Due: readme-snippets

Move ClientSession onto JSONRPCDispatcher and delete BaseSession
  src/mcp/client/session.py
  src/mcp/shared/_context.py
  src/mcp/shared/session.py
  tests/client/test_resource_cleanup.py
  tests/client/test_session.py
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_cancellation.py
  tests/interaction/lowlevel/test_logging.py
  tests/interaction/lowlevel/test_progress.py
  tests/interaction/lowlevel/test_timeouts.py
  tests/interaction/lowlevel/test_wire.py
  tests/issues/test_88_random_error.py
  tests/server/mcpserver/test_server.py
  tests/shared/test_session.py
Due: ruff-format, ruff, pyright, readme-snippets

Stop logging an error when the standalone SSE stream closes mid-listen
  src/mcp/server/streamable_http.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Pin initialize-abandon suppression and tidy the interaction suite
  tests/interaction/README.md
  tests/interaction/_helpers.py
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_cancellation.py
  tests/interaction/lowlevel/test_timeouts.py
  tests/issues/test_88_random_error.py
Due: ruff-format, ruff, pyright

Add courtesy-cancel controls and bound shielded dispatcher writes
  src/mcp/shared/dispatcher.py
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_timeouts.py
  tests/shared/test_jsonrpc_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

Accept a pre-built dispatcher via a constructor keyword
  docs/migration.md
  src/mcp/client/session.py
  tests/client/test_session.py
Due: ruff-format, ruff, pyright, readme-snippets

Make ClientRequestContext a concrete class
  docs/migration.md
  src/mcp/client/context.py
  src/mcp/client/session.py
  src/mcp/shared/_context.py
  tests/client/test_list_roots_callback.py
  tests/client/test_sampling_callback.py
  tests/client/test_session.py
  tests/server/mcpserver/test_elicitation.py
  tests/server/mcpserver/test_integration.py
  tests/server/mcpserver/test_url_elicitation.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Path conditions:
  ruff-format: any of: \.py$
  ruff: any of: \.py$, but not: ^README(\.v2)?\.md$
  pyright: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  readme-v1-frozen: any of: ^README\.md$
  readme-snippets: any of: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
