Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args:
          [
            "--fix",
            "--config",
            "pyproject.toml",
            "--configPointer",
            "/tool/markdown/lint",
          ]
        types: [markdown]

  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff Format
        entry: uv run --frozen ruff
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: ruff
        name: Ruff
        entry: uv run --frozen ruff
        args: ["check", "--fix", "--exit-non-zero-on-fix"]
        types: [python]
        language: system
        pass_filenames: false
        exclude: ^README(\.v2)?\.md$
      - id: pyright
        name: pyright
        entry: uv run --frozen pyright
        language: system
        types: [python]
        pass_filenames: false
      - id: uv-lock-check
        name: Check uv.lock is up to date
        entry: uv lock --check
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false
      # TODO(Max): Drop this in v2.
      - id: readme-v1-frozen
        name: README.md is frozen (v1 docs)
        entry: README.md is frozen at v1. Edit README.v2.md instead.
        language: fail
        files: ^README\.md$
      - id: readme-snippets
        name: Check snippets are up to date
        entry: uv run --frozen python scripts/sync_snippets.py --check
        language: system
        files: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
        pass_filenames: false

tests: avoid racy HTTP test ports
  tests/client/test_http_unicode.py
  tests/server/test_sse_security.py
  tests/server/test_streamable_http_security.py
  tests/shared/test_sse.py
  tests/shared/test_streamable_http.py
  tests/test_helpers.py
Due: ruff-format, ruff, pyright

style: format port-race test fixtures
  tests/client/test_http_unicode.py
  tests/server/test_sse_security.py
Due: ruff-format, ruff, pyright

docs: require a passing conformance test for new 2026-07-28 spec features
  AGENTS.md
Due: none

test: remove obsolete server wait helper
  tests/test_helpers.py
Due: ruff-format, ruff, pyright

test: remove stale no-cover pragmas
  src/mcp/server/streamable_http.py
  tests/server/test_sse_security.py
  tests/server/test_streamable_http_security.py
  tests/shared/test_sse.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

feat: DispatchContext.message_metadata passes SessionMessage.metadata through verbatim
  src/mcp/shared/direct_dispatcher.py
  src/mcp/shared/dispatcher.py
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/shared/test_dispatcher.py
  tests/shared/test_jsonrpc_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

feat: DispatchContext.request_id; drop RequestId arg from transport_builder
  src/mcp/shared/direct_dispatcher.py
  src/mcp/shared/dispatcher.py
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/shared/conftest.py
  tests/shared/test_dispatcher.py
  tests/shared/test_jsonrpc_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

style: ASCII-only docstrings/comments in v2 dispatcher files
  src/mcp/server/_typed_request.py
  src/mcp/server/connection.py
  src/mcp/server/context.py
  src/mcp/server/lowlevel/server.py
  src/mcp/server/runner.py
  src/mcp/shared/context.py
  src/mcp/shared/direct_dispatcher.py
  src/mcp/shared/dispatcher.py
  src/mcp/shared/exceptions.py
  src/mcp/shared/jsonrpc_dispatcher.py
  src/mcp/shared/peer.py
  src/mcp/shared/transport_context.py
  tests/server/conftest.py
  tests/server/test_connection.py
  tests/server/test_runner.py
  tests/shared/test_context.py
  tests/shared/test_dispatcher.py
  tests/shared/test_jsonrpc_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: JSONRPCDispatcher.run enters both streams; ClosedResourceError is EOF
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/shared/test_jsonrpc_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: align JSONRPCDispatcher error shapes with existing server
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/shared/test_jsonrpc_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

feat: JSONRPCDispatcher.send_raw_request emits CLIENT span and injects _meta
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/shared/test_dispatcher.py
  tests/shared/test_jsonrpc_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: ServerRunner error shapes match existing server (METHOD_NOT_FOUND, pre-init)
  src/mcp/server/runner.py
  tests/server/test_runner.py
  tests/shared/test_jsonrpc_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: ServerRunner validates spec methods against ClientRequest before lookup
  src/mcp/server/runner.py
  src/mcp/shared/direct_dispatcher.py
  tests/server/test_runner.py
Due: ruff-format, ruff, pyright, readme-snippets

feat: ServerRunner builds InitializeResult from InitializationOptions
  src/mcp/server/runner.py
  tests/server/test_runner.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: ServerRunner passes None to notification handlers when params absent
  src/mcp/server/runner.py
  tests/server/test_runner.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: JSONRPCDispatcher no-builder __init__ overload accepts all kwargs
  src/mcp/shared/jsonrpc_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: JSONRPCDispatcher.run cancels in-flight handlers on read-stream EOF
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/shared/test_jsonrpc_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

chore: drop unused Server.capabilities() helper
  src/mcp/server/lowlevel/server.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: rename `.gitattribute` to `.gitattributes` so git actually reads it (#2656)
  .gitattributes
Due: none

Apply suggestion from @Kludex
  src/mcp/server/auth/provider.py
Due: ruff-format, ruff, pyright, readme-snippets

Require protocol_version to be a string
  src/mcp/client/streamable_http.py
  src/mcp/types/_types.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: add 'invalid_target' to AuthorizationErrorCode (RFC 8707) (#2642)
  src/mcp/server/auth/provider.py
Due: ruff-format, ruff, pyright, readme-snippets

Clarify CLI subprocess environment comment (#2672)
  src/mcp/cli/cli.py
Due: ruff-format, ruff, pyright, readme-snippets

Tighten create_mcp_http_client docstring
  src/mcp/shared/_httpx_utils.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: tighten timeout docstring wording
  src/mcp/shared/_httpx_utils.py
Due: ruff-format, ruff, pyright, readme-snippets

Require protocol_version to be a string (#2763)
  src/mcp/client/streamable_http.py
  src/mcp/types/_types.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: correct create_mcp_http_client default timeout docstring (#2683)
  src/mcp/shared/_httpx_utils.py
Due: ruff-format, ruff, pyright, readme-snippets

Remove dead commented-out code in register_client (#2500)
  src/mcp/client/auth/utils.py
Due: ruff-format, ruff, pyright, readme-snippets

Doc: Clarify MCP Client-Server model in What is MCP section (#2459)
  README.v2.md
Due: readme-snippets

feat: Server.run drives JSONRPCDispatcher + ServerRunner; ServerSession is a dispatcher proxy
  src/mcp/server/connection.py
  src/mcp/server/context.py
  src/mcp/server/lowlevel/server.py
  src/mcp/server/runner.py
  src/mcp/server/session.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: require a passing conformance test for new 2026-07-28 spec features (#2761)
  AGENTS.md
Due: none

test: rebaseline legacy unit tests for the dispatcher swap; rewrite __main__
  src/mcp/server/__main__.py
  tests/conftest.py
  tests/issues/test_malformed_input.py
  tests/server/conftest.py
  tests/server/test_connection.py
  tests/server/test_lowlevel_exception_handling.py
  tests/server/test_runner.py
  tests/server/test_session.py
  tests/server/test_session_race_condition.py
  tests/server/test_stateless_mode.py
  tests/shared/test_progress_notifications.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: notification handlers and progress callbacks cannot crash the connection
  src/mcp/server/runner.py
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/server/conftest.py
  tests/server/test_runner.py
  tests/shared/test_jsonrpc_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: late peer-cancel cannot double-respond; mcpserver completion gets typed params
  src/mcp/server/lowlevel/server.py
  src/mcp/server/mcpserver/server.py
  src/mcp/shared/jsonrpc_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

Run transport security tests in process instead of over sockets
  src/mcp/server/streamable_http.py
  tests/interaction/transports/__init__.py
  tests/server/test_sse_security.py
  tests/server/test_streamable_http_manager.py
  tests/server/test_streamable_http_security.py
Due: ruff-format, ruff, pyright, readme-snippets

feat: JSONRPCDispatcher.inline_methods; otel_middleware sets jsonrpc.request.id
  src/mcp/server/lowlevel/server.py
  src/mcp/server/runner.py
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/server/test_runner.py
  tests/shared/test_jsonrpc_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

Run transport security tests in process instead of over sockets (#2764)
  src/mcp/server/streamable_http.py
  tests/interaction/transports/__init__.py
  tests/server/test_sse_security.py
  tests/server/test_streamable_http_manager.py
  tests/server/test_streamable_http_security.py
Due: ruff-format, ruff, pyright, readme-snippets

Run SSE and Unicode transport tests in process instead of over sockets
  tests/client/test_http_unicode.py
  tests/shared/test_sse.py
Due: ruff-format, ruff, pyright
