Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

ruff-format:
  name: Ruff Format
  entry: uv run --frozen ruff
  args:
  - format
  language: system
  pass_filenames: false

ruff:
  name: Ruff
  entry: uv run --frozen ruff
  args:
  - check
  - --fix
  - --exit-non-zero-on-fix
  language: system
  pass_filenames: false

pyright:
  name: pyright
  entry: uv run --frozen pyright
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv.lock is up to date
  entry: uv lock --check
  language: system
  pass_filenames: false

readme-v1-frozen:
  name: README.md is frozen (v1 docs)
  entry: README.md is frozen at v1. Edit README.v2.md instead.
  language: fail

readme-snippets:
  name: Check snippets are up to date
  entry: uv run --frozen python scripts/sync_snippets.py --check
  language: system
  pass_filenames: false

Client streamable-http: parse JSON-RPC errors from non-2xx response bodies
  src/mcp/client/streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

S2 wave 0: conformance pin, classifier, discover handler, helpers, fixture tool, migration note
  docs/migration.md
  examples/servers/everything-server/mcp_everything_server/server.py
  src/mcp/server/lowlevel/server.py
  src/mcp/server/runner.py
  src/mcp/shared/inbound.py
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/server/lowlevel/test_server_discover.py
Due: ruff-format, ruff, pyright, readme-snippets

S2 wave 4: modern entry rewrite, Server.run wrapper, test migrations
  src/mcp/server/_streamable_http_modern.py
  src/mcp/server/lowlevel/server.py
  src/mcp/server/streamable_http_manager.py
  src/mcp/shared/inbound.py
  tests/interaction/transports/test_streamable_http.py
  tests/server/test_connection.py
  tests/server/test_lowlevel_exception_handling.py
  tests/server/test_runner.py
  tests/server/test_server_context.py
  tests/server/test_session.py
  tests/server/test_stateless_mode.py
  tests/server/test_streamable_http_manager.py
  tests/server/test_streamable_http_modern.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Absorb #2926 (SEP-2577 deprecations); fix client 4xx id-correlation
  src/mcp/client/streamable_http.py
  tests/server/test_connection.py
  tests/server/test_server_context.py
  tests/server/test_stateless_mode.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Testing-standards fixes: hollow-proof, provenance docstrings, constants, assertion patterns
  src/mcp/shared/inbound.py
  tests/server/lowlevel/test_server_discover.py
  tests/server/test_connection.py
  tests/server/test_runner.py
  tests/server/test_session.py
  tests/server/test_stateless_mode.py
  tests/server/test_streamable_http_modern.py
  tests/shared/test_inbound.py
Due: ruff-format, ruff, pyright, readme-snippets

S2 waves 1-3: driver-split kernel + two-channel ServerSession + classifier tests
  src/mcp/server/connection.py
  src/mcp/server/runner.py
  src/mcp/server/session.py
  src/mcp/server/streamable_http.py
  src/mcp/shared/exceptions.py
  tests/server/test_runner.py
  tests/shared/test_inbound.py
Due: ruff-format, ruff, pyright, readme-snippets

D8: move method-existence from classifier rung-4 to kernel dispatch
  src/mcp/server/_streamable_http_modern.py
  src/mcp/shared/inbound.py
  tests/server/test_runner.py
  tests/shared/test_inbound.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(auth): keep root PRM resource URL canonical
  src/mcp/shared/auth.py
  tests/server/auth/test_protected_resource.py
Due: ruff-format, ruff, pyright, readme-snippets

test: order protected resource imports
  tests/server/auth/test_protected_resource.py
Due: ruff-format, ruff, pyright

Re-raise MCPError from @mcp.tool() handlers as a top-level JSON-RPC error
  docs/migration.md
  src/mcp/server/mcpserver/tools/base.py
  tests/server/mcpserver/tools/test_base.py
Due: ruff-format, ruff, pyright, readme-snippets

T3: interaction-suite additions for modern stateless entry
  tests/interaction/_requirements.py
  tests/interaction/transports/test_hosting_http_modern.py
Due: ruff-format, ruff, pyright

T5: coverage backfill for S2-added branches
  tests/client/test_notification_response.py
  tests/server/test_connection.py
  tests/server/test_runner.py
  tests/server/test_stateless_mode.py
  tests/server/test_streamable_http_modern.py
Due: ruff-format, ruff, pyright

Wave 5b polish + update tests for MCPError re-raise consequences
  tests/client/test_list_roots_callback.py
  tests/client/test_sampling_callback.py
  tests/interaction/transports/test_hosting_http_modern.py
  tests/interaction/transports/test_streamable_http.py
  tests/server/test_runner.py
Due: ruff-format, ruff, pyright

Route unrecognised protocol-version headers to the modern entry; swap header-mismatch ahead of version-supported
  src/mcp/server/streamable_http_manager.py
  src/mcp/shared/inbound.py
  tests/interaction/transports/test_hosting_http.py
  tests/interaction/transports/test_hosting_http_modern.py
  tests/server/lowlevel/test_server_discover.py
  tests/server/test_runner.py
  tests/shared/test_inbound.py
Due: ruff-format, ruff, pyright, readme-snippets

Delete legacy transport's protocol-version validation (now owned by manager era-routing)
  src/mcp/server/streamable_http.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

C3: remove server-stateless from conformance baselines; C2: TODO-anchor audit
  .github/actions/conformance/expected-failures.2026-07-28.yml
  .github/actions/conformance/expected-failures.yml
  src/mcp/server/connection.py
  src/mcp/server/lowlevel/server.py
  src/mcp/server/runner.py
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/interaction/_requirements.py
Due: ruff-format, ruff, pyright, readme-snippets

Correct PROTOCOL_VERSION comment for harness per-scenario default
  .github/actions/conformance/client.py
Due: ruff-format, ruff, pyright

Harden OAuth issuer-binding and step-up scope on edge-case paths
  src/mcp/client/auth/oauth2.py
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

Address review: serve_loop helper, bare 405, INVALID_REQUEST split, migration.md fixes
  docs/migration.md
  src/mcp/server/_streamable_http_modern.py
  src/mcp/server/lowlevel/server.py
  src/mcp/server/runner.py
  src/mcp/server/streamable_http_manager.py
  src/mcp/shared/inbound.py
  tests/server/test_streamable_http_manager.py
  tests/server/test_streamable_http_modern.py
Due: ruff-format, ruff, pyright, readme-snippets

Address by-construction review: ServerSession reads standalone channel from Connection; hygiene
  src/mcp/server/_streamable_http_modern.py
  src/mcp/server/lowlevel/server.py
  src/mcp/server/runner.py
  src/mcp/server/session.py
  src/mcp/server/streamable_http_manager.py
  src/mcp/shared/inbound.py
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/server/test_session.py
  tests/server/test_stateless_mode.py
  tests/server/test_streamable_http_modern.py
  tests/shared/test_inbound.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

feat(client): send a same-origin Origin header by default (streamable HTTP)
  src/mcp/client/streamable_http.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: add sampling context guide answering #1205
  docs/sampling_context_guide.md
Due: readme-snippets

chore: fix pre-commit formatting
  docs/sampling_context_guide.md
Due: readme-snippets

fix(mcpserver): preserve Annotated/Field metadata for dict[str, T] return types
  src/mcp/server/mcpserver/utilities/func_metadata.py
  tests/server/mcpserver/test_func_metadata.py
Due: ruff-format, ruff, pyright, readme-snippets

Fix issue 1401: Raise exceptions in ClientSession
  src/mcp/client/session.py
Due: ruff-format, ruff, pyright, readme-snippets

chore: auto-format to pass CI checks
  create_pr.py
Due: ruff-format, ruff, pyright

style: wrap long function signature to pass ruff-format
  tests/server/mcpserver/test_func_metadata.py
Due: ruff-format, ruff, pyright

Remove create_pr.py
  create_pr.py
Due: ruff-format, ruff, pyright

Fix pyright error on os.waitid for Windows/macOS
  tests/transports/stdio/test_lifecycle.py
Due: ruff-format, ruff, pyright

fix: coerce redirect_uris AnyUrl subtypes to plain AnyUrl for correct equality
  src/mcp/shared/auth.py
  tests/shared/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: catch KeyboardInterrupt in FastMCP.run() for clean Ctrl+C exit
  src/mcp/server/mcpserver/server.py
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

test: add test for client session _default_message_handler
  tests/client/test_session.py
Due: ruff-format, ruff, pyright

test: use ToolListChangedNotification to fix pyright error in session tests
  tests/client/test_session.py
Due: ruff-format, ruff, pyright

Server-side 2026-07-28 stateless support: classifier, driver split, server/discover (#2928)
  .github/actions/conformance/expected-failures.2026-07-28.yml
  .github/actions/conformance/expected-failures.yml
  docs/migration.md
  examples/servers/everything-server/mcp_everything_server/server.py
  src/mcp/client/streamable_http.py
  src/mcp/server/_streamable_http_modern.py
  src/mcp/server/connection.py
  src/mcp/server/lowlevel/server.py
  src/mcp/server/mcpserver/tools/base.py
  src/mcp/server/runner.py
  src/mcp/server/session.py
  src/mcp/server/streamable_http.py
  src/mcp/server/streamable_http_manager.py
  src/mcp/shared/exceptions.py
  src/mcp/shared/inbound.py
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/client/test_list_roots_callback.py
  tests/client/test_notification_response.py
  tests/client/test_sampling_callback.py
  tests/interaction/_requirements.py
  tests/interaction/transports/test_hosting_http.py
  tests/interaction/transports/test_hosting_http_modern.py
  tests/interaction/transports/test_streamable_http.py
  tests/server/lowlevel/test_server_discover.py
  tests/server/mcpserver/tools/test_base.py
  tests/server/test_connection.py
  tests/server/test_lowlevel_exception_handling.py
  tests/server/test_runner.py
  tests/server/test_server_context.py
  tests/server/test_session.py
  tests/server/test_stateless_mode.py
  tests/server/test_streamable_http_manager.py
  tests/server/test_streamable_http_modern.py
  tests/shared/test_inbound.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: reject duplicate JSON-RPC request IDs with 409 Conflict
  src/mcp/server/streamable_http.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Only bind issuer when registration targets the discovered AS
  src/mcp/client/auth/oauth2.py
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: reject changed duplicate initialize
  src/mcp/server/runner.py
  tests/server/test_runner.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: reject initialize protocol version conflicts
  src/mcp/server/streamable_http.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Buffer per-request StreamableHTTP streams to avoid serial-router head-of-line block
  src/mcp/server/streamable_http.py
  tests/server/test_streamable_http_router.py
Due: ruff-format, ruff, pyright, readme-snippets

Mint priming before per-request state; cover old-pv replay path
  src/mcp/server/streamable_http.py
  tests/interaction/transports/test_hosting_resume.py
  tests/server/test_streamable_http_router.py
Due: ruff-format, ruff, pyright, readme-snippets

Path conditions:
  ruff-format: any of: \.py$
  ruff: any of: \.py$, but not: ^README(\.v2)?\.md$
  pyright: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  readme-v1-frozen: any of: ^README\.md$
  readme-snippets: any of: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
