Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args:
          [
            "--fix",
            "--config",
            "pyproject.toml",
            "--configPointer",
            "/tool/markdown/lint",
          ]
        types: [markdown]

  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff Format
        entry: uv run --frozen ruff
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: ruff
        name: Ruff
        entry: uv run --frozen ruff
        args: ["check", "--fix", "--exit-non-zero-on-fix"]
        types: [python]
        language: system
        pass_filenames: false
        exclude: ^README(\.v2)?\.md$
      - id: pyright
        name: pyright
        entry: uv run --frozen pyright
        language: system
        types: [python]
        pass_filenames: false
      - id: uv-lock-check
        name: Check uv.lock is up to date
        entry: uv lock --check
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false
      # TODO(Max): Drop this in v2.
      - id: readme-v1-frozen
        name: README.md is frozen (v1 docs)
        entry: README.md is frozen at v1. Edit README.v2.md instead.
        language: fail
        files: ^README\.md$
      - id: readme-snippets
        name: Check snippets are up to date
        entry: uv run --frozen python scripts/sync_snippets.py --check
        language: system
        files: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
        pass_filenames: false

Make interaction-manifest behaviour strings match what their tests prove
  tests/interaction/_requirements.py
Due: ruff-format, ruff, pyright

Model the 2025-11-25 to 2026-07-28 transition as first-class manifest data
  tests/interaction/_requirements.py
Due: ruff-format, ruff, pyright

Complete the MRTR core coverage: multi-round, bounds, and the 2026 directionality pins
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_elicitation.py
  tests/interaction/lowlevel/test_mrtr.py
Due: ruff-format, ruff, pyright

Fix dead 2026 spec source URLs in the interaction manifest
  tests/interaction/_requirements.py
Due: ruff-format, ruff, pyright

Add the first MRTR interaction tests: 16 tests across six files
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_elicitation.py
  tests/interaction/lowlevel/test_mrtr.py
  tests/interaction/lowlevel/test_prompts.py
  tests/interaction/lowlevel/test_resources.py
  tests/interaction/lowlevel/test_roots.py
  tests/interaction/lowlevel/test_sampling.py
Due: ruff-format, ruff, pyright

Backlog hardening: complete the push-API divergence matrix and sharpen three tests
  tests/interaction/auth/test_authorize_token.py
  tests/interaction/mcpserver/test_resources.py
  tests/interaction/mcpserver/test_tools.py
  tests/interaction/transports/test_hosting_http_modern.py
Due: ruff-format, ruff, pyright

Re-ground deferral premises and stale notes against the current main
  tests/interaction/README.md
  tests/interaction/_connect.py
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_caching.py
  tests/interaction/lowlevel/test_client_connect.py
  tests/interaction/lowlevel/test_resources.py
  tests/interaction/lowlevel/test_tools.py
  tests/interaction/transports/test_hosting_http_modern.py
Due: ruff-format, ruff, pyright

Rewrite the unrecognized-resultType pin onto the extension seam; simplify four tests
  tests/interaction/_requirements.py
  tests/interaction/auth/_harness.py
  tests/interaction/auth/test_authorize_token.py
  tests/interaction/auth/test_lifecycle.py
  tests/interaction/lowlevel/test_mrtr.py
  tests/interaction/mcpserver/test_extensions.py
Due: ruff-format, ruff, pyright

Cover the caching and discover-versioning families: 17 tests
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_caching.py
  tests/interaction/lowlevel/test_client_connect.py
  tests/interaction/lowlevel/test_resources.py
  tests/interaction/transports/test_hosting_http.py
  tests/interaction/transports/test_hosting_http_modern.py
Due: ruff-format, ruff, pyright

Trim comments and docstrings to the essentials
  tests/interaction/auth/_harness.py
  tests/interaction/auth/_provider.py
  tests/interaction/auth/test_as_handlers.py
  tests/interaction/auth/test_authorize_token.py
  tests/interaction/auth/test_bearer.py
  tests/interaction/auth/test_flow.py
  tests/interaction/auth/test_lifecycle.py
  tests/interaction/lowlevel/test_caching.py
  tests/interaction/lowlevel/test_cancellation.py
  tests/interaction/lowlevel/test_client_connect.py
  tests/interaction/lowlevel/test_elicitation.py
  tests/interaction/lowlevel/test_mrtr.py
  tests/interaction/lowlevel/test_pagination.py
  tests/interaction/lowlevel/test_prompts.py
  tests/interaction/lowlevel/test_resources.py
  tests/interaction/lowlevel/test_roots.py
  tests/interaction/lowlevel/test_sampling.py
  tests/interaction/lowlevel/test_tools.py
  tests/interaction/lowlevel/test_x_mcp_header.py
  tests/interaction/mcpserver/test_prompts.py
  tests/interaction/mcpserver/test_resources.py
  tests/interaction/mcpserver/test_tools.py
  tests/interaction/transports/test_client_transport_http.py
  tests/interaction/transports/test_hosting_http.py
  tests/interaction/transports/test_hosting_http_modern.py
Due: ruff-format, ruff, pyright

Pin the pre-registered-credentials divergence and the DCR application_type pass-through
  tests/interaction/_requirements.py
  tests/interaction/auth/_harness.py
  tests/interaction/auth/test_flow.py
  tests/interaction/auth/test_lifecycle.py
Due: ruff-format, ruff, pyright

Re-pin the negative-ttl and Mcp-Param mismatch tests to the landed behaviour
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_caching.py
  tests/interaction/transports/test_hosting_http_modern.py
Due: ruff-format, ruff, pyright

Track the full deferred surface: 64 entries registered ahead of their capability
  tests/interaction/_requirements.py
Due: ruff-format, ruff, pyright

Re-ground the MRTR origin notes after the MCPServer pass-through landed
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_prompts.py
  tests/interaction/lowlevel/test_resources.py
Due: ruff-format, ruff, pyright

Complete the planned 2026-07-28 coverage: the final 27 tests
  tests/interaction/_requirements.py
  tests/interaction/auth/test_as_handlers.py
  tests/interaction/auth/test_bearer.py
  tests/interaction/auth/test_lifecycle.py
  tests/interaction/lowlevel/test_cancellation.py
  tests/interaction/lowlevel/test_mrtr.py
  tests/interaction/lowlevel/test_pagination.py
  tests/interaction/lowlevel/test_prompts.py
  tests/interaction/lowlevel/test_resources.py
  tests/interaction/lowlevel/test_sampling.py
  tests/interaction/lowlevel/test_tools.py
  tests/interaction/mcpserver/test_prompts.py
  tests/interaction/mcpserver/test_resources.py
  tests/interaction/mcpserver/test_tools.py
  tests/interaction/transports/test_client_transport_http.py
Due: ruff-format, ruff, pyright

Link the last two pinned divergences to their tracking entries
  tests/interaction/_requirements.py
Due: ruff-format, ruff, pyright

Cover the auth families: the RFC 9207 iss table, step-up bounds, DCR and refresh
  tests/interaction/_requirements.py
  tests/interaction/auth/_harness.py
  tests/interaction/auth/_provider.py
  tests/interaction/auth/test_authorize_token.py
  tests/interaction/auth/test_flow.py
  tests/interaction/auth/test_lifecycle.py
Due: ruff-format, ruff, pyright

Reconcile with the hardened dual-era stream loop
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_mrtr.py
  tests/interaction/transports/test_hosting_http_modern.py
Due: ruff-format, ruff, pyright

Add the client-side subscriptions/listen driver
  docs/advanced/subscriptions.md
  docs/migration.md
  docs_src/subscriptions/tutorial003.py
  examples/stories/subscriptions/client.py
  src/mcp/client/client.py
  src/mcp/client/session.py
  src/mcp/client/streamable_http.py
  src/mcp/client/subscriptions.py
  src/mcp/server/mcpserver/context.py
  src/mcp/server/subscriptions.py
  src/mcp/shared/dispatcher.py
  src/mcp/shared/jsonrpc_dispatcher.py
  src/mcp/shared/subscriptions.py
  tests/client/test_client.py
  tests/client/test_session.py
  tests/client/test_streamable_http.py
  tests/client/test_subscriptions.py
  tests/docs_src/test_client.py
  tests/docs_src/test_subscriptions.py
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_resources.py
  tests/interaction/lowlevel/test_subscriptions.py
  tests/interaction/mcpserver/test_subscriptions.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: reword every page to stand on its own
  docs/advanced/low-level-server.md
  docs/advanced/pagination.md
  docs/client/callbacks.md
  docs/client/identity-assertion.md
  docs/client/index.md
  docs/client/oauth-clients.md
  docs/client/transports.md
  docs/get-started/first-steps.md
  docs/get-started/testing.md
  docs/handlers/context.md
  docs/handlers/elicitation.md
  docs/handlers/progress.md
  docs/index.md
  docs/migration.md
  docs/protocol-versions.md
  docs/servers/completions.md
  docs/servers/handling-errors.md
  docs/servers/media.md
  docs/servers/prompts.md
  docs/servers/resources.md
  docs/servers/structured-output.md
  docs/servers/tools.md
  docs/servers/uri-templates.md
Due: readme-snippets

docs: add the four pages readers were filing issues instead of finding
  docs/get-started/first-steps.md
  docs/get-started/index.md
  docs/get-started/real-host.md
  docs/get-started/testing.md
  docs/index.md
  docs/run/asgi.md
  docs/run/authorization.md
  docs/run/deploy.md
  docs/run/index.md
  docs/run/legacy-clients.md
  docs/servers/handling-errors.md
  docs/troubleshooting.md
  docs_src/deploy/__init__.py
  docs_src/deploy/tutorial001.py
  docs_src/deploy/tutorial002.py
  docs_src/deploy/tutorial003.py
  docs_src/deploy/tutorial004.py
  docs_src/legacy_clients/__init__.py
  docs_src/legacy_clients/tutorial001.py
  docs_src/legacy_clients/tutorial002.py
  docs_src/legacy_clients/tutorial003.py
  docs_src/real_host/__init__.py
  docs_src/real_host/tutorial001.py
  docs_src/troubleshooting/__init__.py
  docs_src/troubleshooting/tutorial001.py
  docs_src/troubleshooting/tutorial002.py
  docs_src/troubleshooting/tutorial003.py
  docs_src/troubleshooting/tutorial004.py
  docs_src/troubleshooting/tutorial005.py
  docs_src/troubleshooting/tutorial006.py
  docs_src/troubleshooting/tutorial007.py
  docs_src/troubleshooting/tutorial008.py
  mkdocs.yml
  tests/docs_src/test_deploy.py
  tests/docs_src/test_legacy_clients.py
  tests/docs_src/test_real_host.py
  tests/docs_src/test_troubleshooting.py
  tests/test_examples.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: drop the 'Next:' course framing from the page-bottom hand-offs
  docs/client/callbacks.md
  docs/client/index.md
  docs/handlers/context.md
  docs/handlers/dependencies.md
  docs/handlers/lifespan.md
  docs/handlers/logging.md
  docs/handlers/progress.md
  docs/servers/completions.md
  docs/servers/prompts.md
  docs/servers/tools.md
Due: readme-snippets

docs: regroup the nav into topical sections
  AGENTS.md
  docs/advanced/index.md
  docs/handlers/index.md
  docs/servers/index.md
  docs/tutorial/index.md
  mkdocs.yml
  tests/test_examples.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: lead the elicitation page with the resolver, not the legacy verb
  docs/handlers/elicitation.md
Due: readme-snippets

docs: retitle hand-offs and link text to match the new nav
  README.md
  docs/advanced/multi-round-trip.md
  docs/advanced/opentelemetry.md
  docs/index.md
  docs/run/asgi.md
  docs/run/index.md
  docs/tutorial/completions.md
  docs/tutorial/dependencies.md
  docs/tutorial/elicitation.md
  docs/tutorial/first-steps.md
  docs/tutorial/handling-errors.md
  docs/tutorial/lifespan.md
  docs/tutorial/logging.md
  docs/tutorial/media.md
  docs/tutorial/prompts.md
  docs/tutorial/resources.md
  docs/tutorial/testing.md
Due: readme-v1-frozen, readme-snippets

docs: raise the mkdocs-material floor to 9.7.0, add mkdocs-redirects
  pyproject.toml
  uv.lock
Due: uv-lock-check

docs: era-accurate wording, a top-of-page auth router, and CIMD
  docs/client/caching.md
  docs/client/oauth-clients.md
  docs/get-started/first-steps.md
  docs/run/asgi.md
  docs/run/authorization.md
  docs/servers/completions.md
  docs/servers/media.md
Due: readme-snippets

Keep the docs watch-loop snippet ASCII
  docs/advanced/subscriptions.md
Due: readme-snippets

docs: ctx.elicit() at 2026-07-28 is refused server-side since #3040
  docs/troubleshooting.md
  tests/docs_src/test_troubleshooting.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: say out loud that mcp.run() is a stdio server, on the host page
  docs/client/transports.md
  docs/get-started/real-host.md
Due: readme-snippets

tests: close the docs test modules' branch-coverage gaps
  tests/docs_src/test_deploy.py
  tests/docs_src/test_legacy_clients.py
  tests/docs_src/test_troubleshooting.py
Due: ruff-format, ruff, pyright

docs: replace every em-dash with dash-free grammar
  AGENTS.md
  docs/advanced/index.md
  docs/client/callbacks.md
  docs/client/oauth-clients.md
  docs/client/transports.md
  docs/get-started/first-steps.md
  docs/get-started/index.md
  docs/get-started/real-host.md
  docs/get-started/testing.md
  docs/handlers/context.md
  docs/handlers/elicitation.md
  docs/handlers/index.md
  docs/handlers/logging.md
  docs/migration.md
  docs/run/asgi.md
  docs/run/authorization.md
  docs/run/deploy.md
  docs/run/index.md
  docs/run/legacy-clients.md
  docs/servers/index.md
  docs/servers/media.md
  docs/troubleshooting.md
Due: readme-snippets

Add the todos-server reference example
  examples/README.md
  examples/servers/todos-server/README.md
  examples/servers/todos-server/mcp_todos_server/__init__.py
  examples/servers/todos-server/mcp_todos_server/__main__.py
  examples/servers/todos-server/mcp_todos_server/server.py
  examples/servers/todos-server/mcp_todos_server/todos.py
  examples/servers/todos-server/pyproject.toml
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

docs: address review feedback (nine small fixes across ten files)
  README.md
  RELEASE.md
  docs/client/oauth-clients.md
  docs/get-started/testing.md
  docs/handlers/dependencies.md
  docs/hooks/llms_txt.py
  docs/run/asgi.md
  docs/servers/handling-errors.md
  docs/servers/media.md
  examples/README.md
Due: ruff-format, ruff, pyright, readme-v1-frozen, readme-snippets

docs: drop the URL redirects for the moved pages
  mkdocs.yml
  pyproject.toml
  uv.lock
Due: uv-lock-check

Harden the listen driver against receive-order races and hostile peers
  docs/advanced/subscriptions.md
  src/mcp/client/client.py
  src/mcp/client/session.py
  src/mcp/client/streamable_http.py
  src/mcp/client/subscriptions.py
  src/mcp/server/subscriptions.py
  src/mcp/shared/direct_dispatcher.py
  src/mcp/shared/dispatcher.py
  src/mcp/shared/jsonrpc_dispatcher.py
  src/mcp/shared/subscriptions.py
  tests/client/test_send_request_mcp_name.py
  tests/client/test_session.py
  tests/client/test_session_claims.py
  tests/client/test_streamable_http.py
  tests/client/test_subscriptions.py
  tests/shared/test_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

Trim comments and docstrings in the listen driver changes
  src/mcp/client/client.py
  src/mcp/client/session.py
  src/mcp/client/streamable_http.py
  src/mcp/client/subscriptions.py
  src/mcp/server/subscriptions.py
  src/mcp/shared/dispatcher.py
  src/mcp/shared/jsonrpc_dispatcher.py
  src/mcp/shared/subscriptions.py
  tests/client/test_session.py
  tests/client/test_streamable_http.py
  tests/client/test_subscriptions.py
  tests/docs_src/test_subscriptions.py
  tests/interaction/lowlevel/test_subscriptions.py
  tests/interaction/mcpserver/test_subscriptions.py
  tests/shared/test_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: fail fast when session is not started
  src/mcp/client/session.py
  tests/client/test_session.py
Due: ruff-format, ruff, pyright, readme-snippets
