Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

ruff-format:
  name: Ruff Format
  entry: uv run --frozen ruff
  args:
  - format
  language: system
  pass_filenames: false

ruff:
  name: Ruff
  entry: uv run --frozen ruff
  args:
  - check
  - --fix
  - --exit-non-zero-on-fix
  language: system
  pass_filenames: false

pyright:
  name: pyright
  entry: uv run --frozen pyright
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv.lock is up to date
  entry: uv lock --check
  language: system
  pass_filenames: false

readme-v1-frozen:
  name: README.md is frozen (v1 docs)
  entry: README.md is frozen at v1. Edit README.v2.md instead.
  language: fail

readme-snippets:
  name: Check snippets are up to date
  entry: uv run --frozen python scripts/sync_snippets.py --check
  language: system
  pass_filenames: false

Pin logfire>=3.0.0 dev dependency and restore direct import
  pyproject.toml
  tests/shared/test_otel.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check

Use single backticks in docstrings
  src/mcp/shared/_otel.py
Due: ruff-format, ruff, pyright, readme-snippets

Record ERROR status on server spans for error responses
  src/mcp/server/lowlevel/server.py
Due: ruff-format, ruff, pyright, readme-snippets

Move StatusCode import to top of file
  src/mcp/server/lowlevel/server.py
Due: ruff-format, ruff, pyright, readme-snippets

Use SpanKind enum directly instead of string conversion
  src/mcp/server/lowlevel/server.py
  src/mcp/shared/_otel.py
  src/mcp/shared/session.py
Due: ruff-format, ruff, pyright, readme-snippets

Add comment explaining filterwarnings on OTel test
  tests/shared/test_otel.py
Due: ruff-format, ruff, pyright

Use isinstance assert instead of type: ignore in OTel test
  tests/shared/test_otel.py
Due: ruff-format, ruff, pyright

Add basic OpenTelemetry tracing for client and server requests (#2381)
  pyproject.toml
  src/mcp/server/lowlevel/server.py
  src/mcp/shared/_otel.py
  src/mcp/shared/session.py
  tests/shared/test_otel.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

fix(streamable_http): allow Content-Type header override
  src/mcp/client/streamable_http.py
  tests/client/test_http_content_type.py
Due: ruff-format, ruff, pyright, readme-snippets

Add richer OTel MCP span attributes
  src/mcp/client/streamable_http.py
  src/mcp/server/lowlevel/server.py
  src/mcp/shared/_otel.py
  src/mcp/shared/session.py
  tests/shared/test_otel.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Remove client OTel session-id wrapper
  src/mcp/client/streamable_http.py
  src/mcp/shared/_otel.py
  src/mcp/shared/session.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Inline OTel span attributes
  src/mcp/server/lowlevel/server.py
  src/mcp/shared/_otel.py
  src/mcp/shared/session.py
Due: ruff-format, ruff, pyright, readme-snippets

Restore OTel span attribute helpers
  src/mcp/server/lowlevel/server.py
  src/mcp/shared/_otel.py
  src/mcp/shared/session.py
Due: ruff-format, ruff, pyright, readme-snippets

Address PR review findings
  src/mcp/server/lowlevel/server.py
  src/mcp/shared/_otel.py
  tests/shared/test_otel.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Add reviewed MCP proxy helper
  src/mcp/__init__.py
  src/mcp/proxy.py
  tests/test_proxy.py
Due: ruff-format, ruff, pyright, readme-snippets

Address proxy review feedback
  src/mcp/proxy.py
  src/mcp/server/mcpserver/tools/base.py
  src/mcp/shared/_callable_inspection.py
Due: ruff-format, ruff, pyright, readme-snippets

Fix proxy transport semantics
  docs/proxying.md
  mkdocs.yml
  src/mcp/proxy.py
  src/mcp/shared/_context_streams.py
  tests/test_proxy.py
Due: ruff-format, ruff, pyright, readme-snippets

Fix proxy coverage regressions
  tests/test_proxy.py
Due: ruff-format, ruff, pyright

Use shared `is_async_callable` instead of `inspect.iscoroutinefunction`
  src/mcp/server/mcpserver/prompts/base.py
  src/mcp/server/mcpserver/resources/templates.py
  src/mcp/server/mcpserver/resources/types.py
  src/mcp/server/mcpserver/tools/base.py
  src/mcp/shared/_callable_inspection.py
Due: ruff-format, ruff, pyright, readme-snippets

Add reference link to Starlette source in docstring
  src/mcp/shared/_callable_inspection.py
Due: ruff-format, ruff, pyright, readme-snippets

Use correct branch name in Starlette reference link
  src/mcp/shared/_callable_inspection.py
Due: ruff-format, ruff, pyright, readme-snippets

feat: extract parameter descriptions from docstrings into JSON schema
  src/mcp/server/mcpserver/utilities/docstring_parser.py
  src/mcp/server/mcpserver/utilities/func_metadata.py
  tests/server/mcpserver/test_docstring_parser.py
Due: ruff-format, ruff, pyright, readme-snippets

Fix #1933: Prevent closing real stdio when server exits
  src/mcp/server/stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

Fix #1933: Format code with ruff
  src/mcp/server/stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

feat: implement mcp.server.operation.duration and mcp.server.session.duration metrics
  src/mcp/server/lowlevel/server.py
  src/mcp/server/session.py
  src/mcp/shared/_otel.py
  tests/shared/test_otel.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: ruff import order and line length in session.py
  src/mcp/server/lowlevel/server.py
  src/mcp/server/session.py
Due: ruff-format, ruff, pyright, readme-snippets

test: add integration tests for operation and session error metrics
  src/mcp/server/lowlevel/server.py
  src/mcp/server/session.py
  tests/shared/test_otel.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: remove stale pragma: no cover from raise_exceptions path
  src/mcp/server/lowlevel/server.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: relax sum > 0 to sum >= 0 for Windows timer resolution
  tests/shared/test_otel.py
Due: ruff-format, ruff, pyright

fix: bump opentelemetry-api minimum to >=1.30.0
  pyproject.toml
  uv.lock
Due: uv-lock-check

fix: bump logfire>=3.20.0, use metrics_reader API, fix pyright errors
  pyproject.toml
  tests/shared/test_otel.py
  tests/shared/test_streamable_http.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check

Fix infinite reconnection loop in StreamableHTTP client
  src/mcp/client/streamable_http.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: make context logging methods accept Any data type per MCP spec
  src/mcp/server/mcpserver/context.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

Fix infinite retry loop in StreamableHTTP _handle_reconnection
  src/mcp/client/streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: prevent infinite retry loop in StreamableHTTP client reconnection
  src/mcp/client/streamable_http.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: reset retry counter only on forward progress, not unconditionally
  src/mcp/client/streamable_http.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Fix: Change context logging methods to accept Any type per MCP spec
  src/mcp/server/mcpserver/context.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: prefix auth routes with issuer_url base path
  src/mcp/server/auth/routes.py
  tests/server/auth/test_routes.py
Due: ruff-format, ruff, pyright, readme-snippets

Create CNAME
  CNAME
Due: none

feat: parse Google-style docstrings to populate tool parameter descriptions
  src/mcp/server/mcpserver/tools/base.py
  src/mcp/server/mcpserver/utilities/docstring.py
  src/mcp/server/mcpserver/utilities/func_metadata.py
  tests/server/mcpserver/test_docstring.py
  tests/server/mcpserver/test_func_metadata.py
  tests/server/mcpserver/test_tool_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

Path conditions:
  ruff-format: any of: \.py$
  ruff: any of: \.py$, but not: ^README(\.v2)?\.md$
  pyright: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  readme-v1-frozen: any of: ^README\.md$
  readme-snippets: any of: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
