Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args:
          [
            "--fix",
            "--config",
            "pyproject.toml",
            "--configPointer",
            "/tool/markdown/lint",
          ]
        types: [markdown]

  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff Format
        entry: uv run --frozen ruff
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: ruff
        name: Ruff
        entry: uv run --frozen ruff
        args: ["check", "--fix", "--exit-non-zero-on-fix"]
        types: [python]
        language: system
        pass_filenames: false
        exclude: ^README(\.v2)?\.md$
      - id: pyright
        name: pyright
        entry: uv run --frozen pyright
        language: system
        types: [python]
        pass_filenames: false
      - id: uv-lock-check
        name: Check uv.lock is up to date
        entry: uv lock --check
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false
      # TODO(Max): Drop this in v2.
      - id: readme-v1-frozen
        name: README.md is frozen (v1 docs)
        entry: README.md is frozen at v1. Edit README.v2.md instead.
        language: fail
        files: ^README\.md$
      - id: readme-snippets
        name: Check snippets are up to date
        entry: uv run --frozen python scripts/sync_snippets.py --check
        language: system
        files: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
        pass_filenames: false

Stop replying to cancelled requests; map unhandled handler exceptions to -32603
  docs/advanced/authorization.md
  docs/migration.md
  src/mcp/server/_streamable_http_modern.py
  src/mcp/shared/direct_dispatcher.py
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/client/test_session.py
  tests/docs_src/test_authorization.py
  tests/docs_src/test_deprecated.py
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_cancellation.py
  tests/interaction/lowlevel/test_tools.py
  tests/interaction/mcpserver/test_prompts.py
  tests/interaction/transports/test_hosting_http_modern.py
  tests/server/mcpserver/test_server.py
  tests/server/test_cancel_handling.py
  tests/server/test_completion_with_context.py
  tests/server/test_runner.py
  tests/shared/test_jsonrpc_dispatcher.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Tighten requirements-catalog divergence notes to match current SDK behaviour
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_resources.py
Due: ruff-format, ruff, pyright

Use spec error codes for unhandled elicitation/create and roots/list
  docs/client/callbacks.md
  docs/migration.md
  src/mcp/client/session.py
  tests/client/test_client.py
  tests/client/test_list_roots_callback.py
  tests/docs_src/test_client_callbacks.py
  tests/docs_src/test_mrtr.py
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_elicitation.py
  tests/interaction/lowlevel/test_roots.py
Due: ruff-format, ruff, pyright, readme-snippets

Make the prompt test's opaque coverage workaround explicit
  tests/interaction/mcpserver/test_prompts.py
Due: ruff-format, ruff, pyright

Reject bearer tokens that carry no audience claim
  docs/advanced/authorization.md
  docs/migration.md
  docs_src/authorization/tutorial001.py
  docs_src/authorization/tutorial002.py
  examples/stories/bearer_auth/server.py
  examples/stories/oauth_client_credentials/server.py
  examples/stories/oauth_client_credentials/server_lowlevel.py
  src/mcp/server/auth/middleware/bearer_auth.py
  src/mcp/server/auth/provider.py
  src/mcp/server/auth/settings.py
  src/mcp/server/lowlevel/server.py
  src/mcp/server/mcpserver/server.py
  tests/interaction/auth/_provider.py
  tests/interaction/auth/test_bearer.py
  tests/interaction/auth/test_discovery.py
Due: ruff-format, ruff, pyright, readme-snippets

Emit RFC 6750 scope= in WWW-Authenticate and validate token audience
  docs/advanced/authorization.md
  docs/migration.md
  src/mcp/server/auth/middleware/bearer_auth.py
  src/mcp/server/lowlevel/server.py
  src/mcp/server/mcpserver/server.py
  src/mcp/shared/auth_utils.py
  tests/interaction/_requirements.py
  tests/interaction/auth/_harness.py
  tests/interaction/auth/test_authorize_token.py
  tests/interaction/auth/test_bearer.py
  tests/server/auth/middleware/test_bearer_auth.py
  tests/shared/test_auth_utils.py
Due: ruff-format, ruff, pyright, readme-snippets

Deprecate ServerSession.send_progress_notification
  docs/advanced/deprecated.md
  docs/migration.md
  src/mcp/server/session.py
  src/mcp/shared/direct_dispatcher.py
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_progress.py
  tests/server/test_server_context.py
  tests/server/test_session.py
  tests/shared/test_context.py
  tests/shared/test_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

Type the elicitation requested schema on the send side
  docs/migration.md
  examples/stories/legacy_elicitation/server_lowlevel.py
  examples/stories/mrtr/server.py
  examples/stories/mrtr/server_lowlevel.py
  examples/stories/stickynotes/server_lowlevel.py
  scripts/gen_surface_types.py
  src/mcp-types/mcp_types/__init__.py
  src/mcp-types/mcp_types/_types.py
  src/mcp/server/elicitation.py
  src/mcp/server/session.py
  src/mcp/shared/peer.py
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_elicitation.py
  tests/interaction/lowlevel/test_flows.py
  tests/server/mcpserver/test_url_elicitation.py
  tests/server/test_stateless_mode.py
  tests/shared/test_peer.py
  tests/types/test_parity.py
Due: ruff-format, ruff, pyright, readme-snippets

Record two divergences as intentional, ecosystem-consistent choices
  tests/interaction/_requirements.py
Due: ruff-format, ruff, pyright

fix(auth): match complete WWW-Authenticate params
  src/mcp/client/auth/utils.py
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(auth): strip trailing slashes from OAuth metadata URLs
  src/mcp/server/auth/routes.py
  tests/server/auth/test_protected_resource.py
  tests/server/auth/test_routes.py
Due: ruff-format, ruff, pyright, readme-snippets

test(auth): align OAuth metadata expectations with canonical URLs
  docs_src/identity_assertion/tutorial001.py
  docs_src/identity_assertion/tutorial002.py
  examples/stories/_shared/auth.py
  examples/stories/identity_assertion/client.py
  examples/stories/identity_assertion/server.py
  examples/stories/oauth_client_credentials/server.py
  examples/stories/oauth_client_credentials/server_lowlevel.py
  tests/docs_src/test_authorization.py
  tests/docs_src/test_identity_assertion.py
  tests/server/mcpserver/auth/test_auth_integration.py
Due: ruff-format, ruff, pyright, readme-snippets

Address extension review: identifier grammar, additive-only methods, Apps checks
  docs/migration.md
  src/mcp/server/apps.py
  src/mcp/server/extension.py
  src/mcp/server/mcpserver/server.py
  tests/server/mcpserver/test_extension.py
  tests/server/test_apps.py
Due: ruff-format, ruff, pyright, readme-snippets

Add extensions and MCP Apps docs, an extensions story, and Apps polish
  docs/advanced/apps.md
  docs/advanced/extensions.md
  docs_src/apps/__init__.py
  docs_src/apps/tutorial001.py
  docs_src/apps/tutorial002.py
  docs_src/extensions/__init__.py
  docs_src/extensions/tutorial001.py
  docs_src/extensions/tutorial002.py
  docs_src/extensions/tutorial003.py
  examples/stories/extensions/README.md
  examples/stories/extensions/__init__.py
  examples/stories/extensions/client.py
  examples/stories/extensions/server.py
  examples/stories/manifest.toml
  mkdocs.yml
  src/mcp/server/apps.py
  tests/docs_src/test_apps.py
  tests/docs_src/test_extensions.py
  tests/server/test_apps.py
Due: ruff-format, ruff, pyright, readme-snippets

Bound the client-controlled limit in the extension examples
  docs/advanced/extensions.md
  docs_src/extensions/tutorial002.py
  examples/stories/extensions/server.py
Due: ruff-format, ruff, pyright, readme-snippets

Back every docs code block with a tested docs_src file
  docs/advanced/apps.md
  docs/advanced/extensions.md
  docs_src/apps/report.html
  docs_src/apps/tutorial001.py
  docs_src/apps/tutorial003.py
  docs_src/extensions/tutorial001.py
  docs_src/extensions/tutorial002.py
  docs_src/extensions/tutorial003.py
  docs_src/extensions/tutorial004.py
  docs_src/extensions/tutorial005.py
  tests/docs_src/test_apps.py
  tests/docs_src/test_extensions.py
Due: ruff-format, ruff, pyright, readme-snippets

test(client): cover unadvertised capability branches
  src/mcp/client/session_group.py
  tests/client/test_session_group.py
Due: ruff-format, ruff, pyright, readme-snippets

Fix sampling validation test expectations
  tests/interaction/lowlevel/test_sampling.py
  tests/server/test_session.py
Due: ruff-format, ruff, pyright

fix(streamable-http): tolerate closed read streams during SSE cleanup
  src/mcp/client/streamable_http.py
  tests/client/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: match WWW-Authenticate params exactly
  src/mcp/client/auth/utils.py
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

test(streamable-http): cover closed read stream cleanup
  tests/client/test_streamable_http.py
Due: ruff-format, ruff, pyright

fix(streamable-http): bound empty SSE reconnect loops
  src/mcp/client/streamable_http.py
  tests/client/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

test(streamable-http): keep reconnect fake covered
  tests/client/test_streamable_http.py
Due: ruff-format, ruff, pyright

Wire SEP-990 enterprise-managed-authorization conformance fixture (#3007)
  .github/actions/conformance/client.py
  .github/actions/conformance/expected-failures.2026-07-28.yml
  .github/actions/conformance/expected-failures.yml
Due: ruff-format, ruff, pyright

Add a pluggable server extension API with MCP Apps (#3003)
  docs/advanced/apps.md
  docs/advanced/extensions.md
  docs/migration.md
  docs_src/apps/__init__.py
  docs_src/apps/report.html
  docs_src/apps/tutorial001.py
  docs_src/apps/tutorial002.py
  docs_src/apps/tutorial003.py
  docs_src/extensions/__init__.py
  docs_src/extensions/tutorial001.py
  docs_src/extensions/tutorial002.py
  docs_src/extensions/tutorial003.py
  docs_src/extensions/tutorial004.py
  docs_src/extensions/tutorial005.py
  examples/stories/apps/README.md
  examples/stories/apps/__init__.py
  examples/stories/apps/client.py
  examples/stories/apps/server.py
  examples/stories/extensions/README.md
  examples/stories/extensions/__init__.py
  examples/stories/extensions/client.py
  examples/stories/extensions/server.py
  examples/stories/manifest.toml
  examples/stories/tasks/README.md
  mkdocs.yml
  src/mcp/client/client.py
  src/mcp/client/session.py
  src/mcp/server/apps.py
  src/mcp/server/connection.py
  src/mcp/server/extension.py
  src/mcp/server/lowlevel/server.py
  src/mcp/server/mcpserver/__init__.py
  src/mcp/server/mcpserver/resources/types.py
  src/mcp/server/mcpserver/server.py
  tests/docs_src/test_apps.py
  tests/docs_src/test_extensions.py
  tests/server/mcpserver/test_extension.py
  tests/server/test_apps.py
  tests/server/test_extensions_capability.py
Due: ruff-format, ruff, pyright, readme-snippets

Return None from Context.headers when the request object has no headers
  src/mcp/server/mcpserver/context.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

Add a Dependencies tutorial page for resolver injection
  docs/migration.md
  docs/tutorial/context.md
  docs/tutorial/dependencies.md
  docs/tutorial/elicitation.md
  docs_src/dependencies/__init__.py
  docs_src/dependencies/tutorial001.py
  docs_src/dependencies/tutorial002.py
  docs_src/dependencies/tutorial003.py
  mkdocs.yml
  src/mcp/server/mcpserver/utilities/func_metadata.py
  tests/docs_src/test_dependencies.py
Due: ruff-format, ruff, pyright, readme-snippets

Add refund_desk story: resolver-injected parameters hidden from the schema
  examples/stories/README.md
  examples/stories/legacy_elicitation/README.md
  examples/stories/manifest.toml
  examples/stories/mrtr/README.md
  examples/stories/refund_desk/README.md
  examples/stories/refund_desk/__init__.py
  examples/stories/refund_desk/client.py
  examples/stories/refund_desk/server.py
Due: ruff-format, ruff, pyright, readme-snippets

Add resolver dependency injection for MCPServer tools (#2969)
  docs/migration.md
  docs/tutorial/context.md
  docs/tutorial/dependencies.md
  docs/tutorial/elicitation.md
  docs_src/dependencies/__init__.py
  docs_src/dependencies/tutorial001.py
  docs_src/dependencies/tutorial002.py
  docs_src/dependencies/tutorial003.py
  docs_src/elicitation/tutorial004.py
  examples/stories/README.md
  examples/stories/legacy_elicitation/README.md
  examples/stories/manifest.toml
  examples/stories/mrtr/README.md
  examples/stories/refund_desk/README.md
  examples/stories/refund_desk/__init__.py
  examples/stories/refund_desk/client.py
  examples/stories/refund_desk/server.py
  mkdocs.yml
  src/mcp/server/elicitation.py
  src/mcp/server/mcpserver/__init__.py
  src/mcp/server/mcpserver/context.py
  src/mcp/server/mcpserver/resolve.py
  src/mcp/server/mcpserver/tools/base.py
  src/mcp/server/mcpserver/utilities/func_metadata.py
  tests/docs_src/test_dependencies.py
  tests/docs_src/test_elicitation.py
  tests/server/mcpserver/test_func_metadata.py
  tests/server/mcpserver/test_resolve.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: convert bold cross-references into links, link SEP and RFC mentions
  docs/advanced/authorization.md
  docs/advanced/deprecated.md
  docs/advanced/identity-assertion.md
  docs/advanced/low-level-server.md
  docs/advanced/middleware.md
  docs/advanced/multi-round-trip.md
  docs/advanced/oauth-clients.md
  docs/advanced/opentelemetry.md
  docs/advanced/pagination.md
  docs/advanced/session-groups.md
  docs/advanced/uri-templates.md
  docs/client/callbacks.md
  docs/client/index.md
  docs/client/protocol-versions.md
  docs/client/transports.md
  docs/installation.md
  docs/migration.md
  docs/run/asgi.md
  docs/run/index.md
  docs/tutorial/completions.md
  docs/tutorial/context.md
  docs/tutorial/elicitation.md
  docs/tutorial/first-steps.md
  docs/tutorial/handling-errors.md
  docs/tutorial/lifespan.md
  docs/tutorial/logging.md
  docs/tutorial/media.md
  docs/tutorial/progress.md
  docs/tutorial/prompts.md
  docs/tutorial/resources.md
  docs/tutorial/structured-output.md
  docs/tutorial/testing.md
  docs/tutorial/tools.md
Due: readme-snippets

Promote the v2 README to README.md ahead of the first v2 beta
  .github/workflows/shared.yml
  .pre-commit-config.yaml
  AGENTS.md
  CONTRIBUTING.md
  README.md
  README.v2.md
  RELEASE.md
  examples/README.md
  pyproject.toml
  scripts/update_readme_snippets.py
  tests/docs_src/test_shape.py
  tests/test_examples.py
Due: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

Promote the v2 README to README.md ahead of the first v2 beta (#3014)
  .github/workflows/shared.yml
  .pre-commit-config.yaml
  AGENTS.md
  CONTRIBUTING.md
  README.md
  README.v2.md
  RELEASE.md
  examples/README.md
  pyproject.toml
  scripts/update_readme_snippets.py
  tests/docs_src/test_shape.py
  tests/test_examples.py
Due: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

docs: apply linkification to chapters added on main
  docs/advanced/extensions.md
  docs/migration.md
  docs/tutorial/dependencies.md
  docs/tutorial/elicitation.md
Due: readme-snippets

docs: convert bold cross-references into links, link SEP and RFC mentions (#3017)
  docs/advanced/authorization.md
  docs/advanced/deprecated.md
  docs/advanced/extensions.md
  docs/advanced/identity-assertion.md
  docs/advanced/low-level-server.md
  docs/advanced/middleware.md
  docs/advanced/multi-round-trip.md
  docs/advanced/oauth-clients.md
  docs/advanced/opentelemetry.md
  docs/advanced/pagination.md
  docs/advanced/session-groups.md
  docs/advanced/uri-templates.md
  docs/client/callbacks.md
  docs/client/index.md
  docs/client/protocol-versions.md
  docs/client/transports.md
  docs/installation.md
  docs/migration.md
  docs/run/asgi.md
  docs/run/index.md
  docs/tutorial/completions.md
  docs/tutorial/context.md
  docs/tutorial/dependencies.md
  docs/tutorial/elicitation.md
  docs/tutorial/first-steps.md
  docs/tutorial/handling-errors.md
  docs/tutorial/lifespan.md
  docs/tutorial/logging.md
  docs/tutorial/media.md
  docs/tutorial/progress.md
  docs/tutorial/prompts.md
  docs/tutorial/resources.md
  docs/tutorial/structured-output.md
  docs/tutorial/testing.md
  docs/tutorial/tools.md
Due: readme-snippets

Run refund_desk on the dual era
  examples/stories/legacy_elicitation/README.md
  examples/stories/manifest.toml
  examples/stories/mrtr/README.md
  examples/stories/refund_desk/README.md
  examples/stories/refund_desk/client.py
Due: ruff-format, ruff, pyright, readme-snippets

Fix resolver MRTR edge cases from review
  src/mcp/server/mcpserver/context.py
  src/mcp/server/mcpserver/resolve.py
  tests/server/mcpserver/test_resolve.py
Due: ruff-format, ruff, pyright, readme-snippets

Harden the resolver input_required path; adapt its tests to the client driver
  src/mcp/server/elicitation.py
  src/mcp/server/mcpserver/resolve.py
  tests/server/mcpserver/test_resolve.py
Due: ruff-format, ruff, pyright, readme-snippets

Remove casts from the input_required resolver path
  src/mcp/server/mcpserver/resolve.py
  tests/server/mcpserver/test_resolve.py
Due: ruff-format, ruff, pyright, readme-snippets

Drive resolver elicitation over the 2026-07-28 input_required flow
  src/mcp/server/elicitation.py
  src/mcp/server/mcpserver/resolve.py
  src/mcp/server/mcpserver/tools/base.py
  tests/server/mcpserver/test_resolve.py
Due: ruff-format, ruff, pyright, readme-snippets
