Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

ruff-format:
  name: Ruff Format
  entry: uv run --frozen ruff
  args:
  - format
  language: system
  pass_filenames: false

ruff:
  name: Ruff
  entry: uv run --frozen ruff
  args:
  - check
  - --fix
  - --exit-non-zero-on-fix
  language: system
  pass_filenames: false

pyright:
  name: pyright
  entry: uv run --frozen pyright
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv.lock is up to date
  entry: uv lock --check
  language: system
  pass_filenames: false

readme-v1-frozen:
  name: README.md is frozen (v1 docs)
  entry: README.md is frozen at v1. Edit README.v2.md instead.
  language: fail

readme-snippets:
  name: Check snippets are up to date
  entry: uv run --frozen python scripts/sync_snippets.py --check
  language: system
  pass_filenames: false

Rewrite conformance client import to mcp_types
  .github/actions/conformance/client.py
Due: ruff-format, ruff, pyright

Client call_tool: input_responses/request_state retry params; InputRequiredResult via allow_input_required (#2968)
  docs/migration.md
  src/mcp/client/client.py
  src/mcp/client/session.py
  src/mcp/client/session_group.py
  tests/client/test_session.py
  tests/client/test_session_group.py
Due: ruff-format, ruff, pyright, readme-snippets

Move mcp-types under src/ to match the httpx2 workspace layout
  pyproject.toml
  scripts/gen_surface_types.py
  src/mcp-types/README.md
  src/mcp-types/mcp_types/__init__.py
  src/mcp-types/mcp_types/_types.py
  src/mcp-types/mcp_types/_wire_base.py
  src/mcp-types/mcp_types/jsonrpc.py
  src/mcp-types/mcp_types/methods.py
  src/mcp-types/mcp_types/py.typed
  src/mcp-types/mcp_types/v2025_11_25/__init__.py
  src/mcp-types/mcp_types/v2026_07_28/__init__.py
  src/mcp-types/mcp_types/version.py
  src/mcp-types/pyproject.toml
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check

Build mcp-types alongside mcp in the publish workflow
  .github/workflows/publish-pypi.yml
Due: none

Address cubic review: by-name aliasing, return-annotation, callable-resolver naming
  docs/migration.md
  src/mcp/server/mcpserver/resolve.py
  src/mcp/server/mcpserver/tools/base.py
  tests/server/mcpserver/test_resolve.py
Due: ruff-format, ruff, pyright, readme-snippets

Pin mcp-types to the exact mcp version via uv-dynamic-versioning
  pyproject.toml
Due: uv-lock-check

Include LICENSE in mcp-types sdist; drop redundant coverage path map
  pyproject.toml
  src/mcp-types/pyproject.toml
Due: uv-lock-check

Fix resolver edge cases: non-BaseModel returns, optional Context, bound-method memoization
  src/mcp/server/mcpserver/resolve.py
  src/mcp/server/mcpserver/tools/base.py
  tests/server/mcpserver/test_resolve.py
Due: ruff-format, ruff, pyright, readme-snippets

Validate resolver tool args once; key resolvers by method identity
  src/mcp/server/mcpserver/resolve.py
  src/mcp/server/mcpserver/tools/base.py
  src/mcp/server/mcpserver/utilities/func_metadata.py
  tests/server/mcpserver/test_resolve.py
Due: ruff-format, ruff, pyright, readme-snippets

Memoize built-in bound-method resolvers; stop mutating pre_validated
  src/mcp/server/mcpserver/resolve.py
  src/mcp/server/mcpserver/utilities/func_metadata.py
  tests/server/mcpserver/test_func_metadata.py
  tests/server/mcpserver/test_resolve.py
Due: ruff-format, ruff, pyright, readme-snippets

Address review: fix mcp-types README deps and v1 migration examples
  docs/migration.md
  src/mcp-types/README.md
Due: readme-snippets

Set Development Status classifier to Production/Stable
  RELEASE.md
  pyproject.toml
Due: uv-lock-check

[v1.x] Set Development Status classifier to Production/Stable
  pyproject.toml
Due: uv-lock-check

fix(server): return stdio parse errors
  src/mcp/server/stdio.py
  tests/interaction/transports/test_stdio.py
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

Set Development Status classifier to Production/Stable (#2975)
  RELEASE.md
  pyproject.toml
Due: uv-lock-check

[v1.x] Set Development Status classifier to Production/Stable (#2976)
  pyproject.toml
Due: uv-lock-check

fix(client): send same-origin Origin header from streamable HTTP client
  src/mcp/client/streamable_http.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(server): validate elicitation form/url sub-capabilities in check_capability
  src/mcp/server/connection.py
  tests/server/test_connection.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(validation): only match tool_use/tool_result IDs when last message has tool_result
  src/mcp/server/validation.py
  tests/server/test_validation.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: clean up streamable HTTP SSE disconnects
  src/mcp/server/streamable_http.py
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

Bump conformance harness pin to 0.2.0-alpha.7
  .github/workflows/conformance.yml
Due: none

Burn down conformance expected-failures: 14 client/server scenarios now pass
  .github/actions/conformance/expected-failures.2026-07-28.yml
  .github/actions/conformance/expected-failures.yml
Due: none

find_invalid_x_mcp_header: handle non-str type; bump client conformance timeout
  .github/workflows/conformance.yml
  examples/servers/everything-server/mcp_everything_server/server.py
  src/mcp/shared/inbound.py
  tests/shared/test_inbound.py
Due: ruff-format, ruff, pyright, readme-snippets

Implement SEP-2322 server-side MRTR, SEP-2243 header validation, and conformance fixtures
  .github/actions/conformance/client.py
  examples/servers/everything-server/mcp_everything_server/server.py
  src/mcp/client/session.py
  src/mcp/server/_streamable_http_modern.py
  src/mcp/server/mcpserver/context.py
  src/mcp/server/mcpserver/server.py
  src/mcp/server/mcpserver/utilities/func_metadata.py
  src/mcp/shared/inbound.py
  tests/client/test_client.py
  tests/interaction/transports/test_hosting_http.py
  tests/server/mcpserver/test_func_metadata.py
  tests/server/mcpserver/test_server.py
  tests/server/test_streamable_http_modern.py
  tests/shared/test_inbound.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(server): guard error-path send into closed session stream
  src/mcp/server/streamable_http.py
  tests/server/test_streamable_http_router.py
Due: ruff-format, ruff, pyright, readme-snippets

Address review: spec-correct x-mcp-header validation, drop server filter, typed Context params, strip-IIR schema derivation
  src/mcp/server/_streamable_http_modern.py
  src/mcp/server/mcpserver/context.py
  src/mcp/server/mcpserver/server.py
  src/mcp/server/mcpserver/utilities/func_metadata.py
  src/mcp/shared/inbound.py
  tests/server/mcpserver/test_func_metadata.py
  tests/server/test_streamable_http_modern.py
  tests/shared/test_inbound.py
Due: ruff-format, ruff, pyright, readme-snippets

func_metadata: re-inspect residual after stripping InputRequiredResult; fix migration.md call_tool return
  docs/migration.md
  src/mcp/server/mcpserver/utilities/func_metadata.py
  tests/server/mcpserver/test_func_metadata.py
Due: ruff-format, ruff, pyright, readme-snippets

Make ElicitationResult subscriptable so the documented Resolve union form works
  docs/migration.md
  src/mcp/server/elicitation.py
  src/mcp/server/mcpserver/resolve.py
  tests/server/mcpserver/test_resolve.py
Due: ruff-format, ruff, pyright, readme-snippets

Conformance burn-down: server-side InputRequiredResult, Mcp-Method/Name validation, x-mcp-header filter (14 scenarios → green) (#2974)
  .github/actions/conformance/client.py
  .github/actions/conformance/expected-failures.2026-07-28.yml
  .github/actions/conformance/expected-failures.yml
  .github/workflows/conformance.yml
  docs/migration.md
  examples/servers/everything-server/mcp_everything_server/server.py
  src/mcp/client/session.py
  src/mcp/server/_streamable_http_modern.py
  src/mcp/server/mcpserver/context.py
  src/mcp/server/mcpserver/server.py
  src/mcp/server/mcpserver/utilities/func_metadata.py
  src/mcp/shared/inbound.py
  tests/client/test_client.py
  tests/interaction/transports/test_hosting_http.py
  tests/server/mcpserver/test_func_metadata.py
  tests/server/mcpserver/test_server.py
  tests/server/test_streamable_http_modern.py
  tests/shared/test_inbound.py
Due: ruff-format, ruff, pyright, readme-snippets

Update test_resolve imports to mcp_types after the mcp-types package split
  tests/server/mcpserver/test_resolve.py
Due: ruff-format, ruff, pyright

feat(mcpserver): let ToolError carry content for is_error results
  src/mcp/server/mcpserver/exceptions.py
  src/mcp/server/mcpserver/server.py
  src/mcp/server/mcpserver/tools/base.py
  tests/server/mcpserver/tools/test_base.py
Due: ruff-format, ruff, pyright, readme-snippets

Switch resolver docs/example to a delete-folder confirmation flow
  docs/migration.md
  src/mcp/server/elicitation.py
  tests/server/mcpserver/test_resolve.py
Due: ruff-format, ruff, pyright, readme-snippets

Remove comment-on-release workflow
  .github/workflows/comment-on-release.yml
Due: none

Remove comment-on-release workflow (#2985)
  .github/workflows/comment-on-release.yml
Due: none

Restore original references to old example dirs (revert remainder)
  README.v2.md
  examples/mcpserver/complex_inputs.py
  examples/mcpserver/desktop.py
  examples/mcpserver/direct_call_tool_result_return.py
  examples/mcpserver/simple_echo.py
  examples/snippets/clients/oauth_client.py
  src/mcp/server/auth/middleware/bearer_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

Drop internal tracking codes from conftest docstrings
  tests/examples/conftest.py
Due: ruff-format, ruff, pyright

Path conditions:
  ruff-format: any of: \.py$
  ruff: any of: \.py$, but not: ^README(\.v2)?\.md$
  pyright: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  readme-v1-frozen: any of: ^README\.md$
  readme-snippets: any of: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
