Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

ruff-format:
  name: Ruff Format
  entry: uv run --frozen ruff
  args:
  - format
  language: system
  pass_filenames: false

ruff:
  name: Ruff
  entry: uv run --frozen ruff
  args:
  - check
  - --fix
  - --exit-non-zero-on-fix
  language: system
  pass_filenames: false

pyright:
  name: pyright
  entry: uv run --frozen pyright
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv.lock is up to date
  entry: uv lock --check
  language: system
  pass_filenames: false

readme-v1-frozen:
  name: README.md is frozen (v1 docs)
  entry: README.md is frozen at v1. Edit README.v2.md instead.
  language: fail

readme-snippets:
  name: Check snippets are up to date
  entry: uv run --frozen python scripts/sync_snippets.py --check
  language: system
  pass_filenames: false

Expand site-absolute spec links in generated docstrings to full URLs (#2885)
  scripts/gen_surface_types.py
  src/mcp/types/v2025_11_25/__init__.py
Due: ruff-format, ruff, pyright, readme-snippets

Drop stale superset-leniency note from ElicitResult.content docstring (#2884)
  src/mcp/types/_types.py
Due: ruff-format, ruff, pyright, readme-snippets

[v1.x] Pass a list to parametrize in test_docs_examples
  tests/test_examples.py
Due: ruff-format, ruff, pyright

[v1.x] Pass a list to parametrize in test_docs_examples (pytest 9.1.0 compat) (#2889)
  tests/test_examples.py
Due: ruff-format, ruff, pyright

Pass a list to parametrize in test_docs_examples (pytest 9.1.0 compat)
  tests/test_examples.py
Due: ruff-format, ruff, pyright

Pass a list to parametrize in test_docs_examples (pytest 9.1.0 compat) (#2890)
  tests/test_examples.py
Due: ruff-format, ruff, pyright

docs: add AI-assisted contribution policy to CONTRIBUTING.md (#2887)
  CONTRIBUTING.md
Due: none

fix(client): tolerate invalid UTF-8 from server stdout in stdio_client
  src/mcp/client/stdio.py
  tests/client/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

Resolve protocol version per request and expose it as ctx.protocol_version (#2886)
  docs/migration.md
  src/mcp/server/connection.py
  src/mcp/server/context.py
  src/mcp/server/runner.py
  src/mcp/server/session.py
  src/mcp/server/streamable_http.py
  src/mcp/shared/message.py
  tests/issues/test_176_progress_token.py
  tests/server/mcpserver/test_server.py
  tests/server/test_runner.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

test(mcpserver): cover PEP 604 union return annotations (#2591)
  tests/server/mcpserver/test_func_metadata.py
Due: ruff-format, ruff, pyright

fix(client/stdio): default encoding_error_handler to 'replace' for resilient UTF-8 decoding
  src/mcp/client/stdio.py
  tests/client/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

refactor(server): always return CallToolResult from MCPServer.call_tool
  src/mcp/server/mcpserver/server.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: stdio_server emits LF only on Windows stdout
  src/mcp/server/stdio.py
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

tests/interaction: add era-axis types to the requirements manifest
  tests/interaction/_connect.py
  tests/interaction/_requirements.py
Due: ruff-format, ruff, pyright

tests/interaction: add compute_cells/cell_id helpers and __post_init__ self-tests
  tests/interaction/_requirements.py
  tests/interaction/test_coverage.py
Due: ruff-format, ruff, pyright

tests/interaction: drive connect parametrization from @requirement marks
  tests/interaction/conftest.py
  tests/interaction/test_coverage.py
Due: ruff-format, ruff, pyright

tests/interaction: manifest invariants and README for the era-axis model
  tests/interaction/README.md
  tests/interaction/test_coverage.py
Due: ruff-format, ruff, pyright

style: ruff format fix
  pr_body.md
  src/mcp/server/mcpserver/server.py
Due: ruff-format, ruff, pyright, readme-snippets

chore: remove accidentally committed pr_body.md
  pr_body.md
Due: none

tests/interaction: add streamable-http-stateless as a connect-matrix arm
  tests/interaction/README.md
  tests/interaction/_connect.py
  tests/interaction/_requirements.py
  tests/interaction/conftest.py
  tests/interaction/test_coverage.py
Due: ruff-format, ruff, pyright

tests/interaction: allow pre-staged spec_version in arm_exclusions/known_failures
  tests/interaction/test_coverage.py
Due: ruff-format, ruff, pyright

tests/interaction: annotate removed_in on entries whose spec section is gone in 2026-07-28
  tests/interaction/_requirements.py
  tests/interaction/test_coverage.py
Due: ruff-format, ruff, pyright

tests/interaction: pre-stage spec_version=2026-07-28 arm_exclusions
  tests/interaction/_requirements.py
Due: ruff-format, ruff, pyright

tests/interaction: backfill note= on transport-restricted requirements
  tests/interaction/_requirements.py
  tests/interaction/test_coverage.py
Due: ruff-format, ruff, pyright

tests/interaction: correct three annotations after spec validation
  tests/interaction/_requirements.py
Due: ruff-format, ruff, pyright

tests/interaction: pin SPEC_BASE_URL and harden unit tests for SPEC_VERSIONS growth
  tests/interaction/README.md
  tests/interaction/_requirements.py
  tests/interaction/test_coverage.py
Due: ruff-format, ruff, pyright

tests/interaction: tag arm_exclusions per-requirement, not minimal-covering-set
  tests/interaction/README.md
  tests/interaction/_requirements.py
Due: ruff-format, ruff, pyright

tests/interaction: document TRANSPORT_SPEC_VERSIONS as a grid filter in README
  tests/interaction/README.md
Due: none

tests/interaction: era-axis machinery for the requirements manifest (#2909)
  tests/interaction/README.md
  tests/interaction/_connect.py
  tests/interaction/_requirements.py
  tests/interaction/conftest.py
  tests/interaction/test_coverage.py
Due: ruff-format, ruff, pyright

ci(conformance): add 2026-07-28 carried-forward leg + bump harness to 0.2.0-alpha.4
  .github/actions/conformance/client.py
  .github/actions/conformance/expected-failures.2026-07-28.yml
  .github/actions/conformance/expected-failures.yml
  .github/workflows/conformance.yml
Due: ruff-format, ruff, pyright

ci(conformance): add 2026-07-28 carried-forward leg + bump harness to 0.2.0-alpha.4 (#2911)
  .github/actions/conformance/client.py
  .github/actions/conformance/expected-failures.2026-07-28.yml
  .github/actions/conformance/expected-failures.yml
  .github/workflows/conformance.yml
Due: ruff-format, ruff, pyright

Re-vendor 2026-07-28 schema and absorb spec #2907 error-code renumber
  .github/actions/conformance/expected-failures.2026-07-28.yml
  .github/actions/conformance/expected-failures.yml
  schema/2026-07-28.json
  schema/PINNED.json
  scripts/gen_surface_types.py
  src/mcp/types/__init__.py
  src/mcp/types/_types.py
  src/mcp/types/jsonrpc.py
  src/mcp/types/methods.py
  src/mcp/types/v2026_07_28/__init__.py
  tests/server/test_runner.py
  tests/types/test_methods.py
  tests/types/test_parity.py
Due: ruff-format, ruff, pyright, readme-snippets

Drop misleading parenthetical from the implementation-defined band comment
  src/mcp/types/jsonrpc.py
Due: ruff-format, ruff, pyright, readme-snippets

Re-vendor 2026-07-28 schema and absorb spec #2907 error-code renumber (#2912)
  .github/actions/conformance/expected-failures.2026-07-28.yml
  .github/actions/conformance/expected-failures.yml
  schema/2026-07-28.json
  schema/PINNED.json
  scripts/gen_surface_types.py
  src/mcp/types/__init__.py
  src/mcp/types/_types.py
  src/mcp/types/jsonrpc.py
  src/mcp/types/methods.py
  src/mcp/types/v2026_07_28/__init__.py
  tests/server/test_runner.py
  tests/types/test_methods.py
  tests/types/test_parity.py
Due: ruff-format, ruff, pyright, readme-snippets

Relax monolith ElicitRequestURLParams.elicitation_id to optional for 2026-07-28
  src/mcp/types/_types.py
  tests/interaction/lowlevel/test_elicitation.py
  tests/types/test_methods.py
Due: ruff-format, ruff, pyright, readme-snippets

Relax monolith ElicitRequestURLParams.elicitation_id for 2026-07-28 (#2913)
  src/mcp/types/_types.py
  tests/interaction/lowlevel/test_elicitation.py
  tests/types/test_methods.py
Due: ruff-format, ruff, pyright, readme-snippets

Register remaining 2026-07-28 stateless requirements
  tests/interaction/_requirements.py
Due: ruff-format, ruff, pyright

Pass app and security_settings explicitly to handle_modern_request
  src/mcp/server/_experimental/streamable_http_modern.py
  src/mcp/server/streamable_http_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

Reconcile conformance baselines for the stateless serving path
  .github/actions/conformance/expected-failures.2026-07-28.yml
  .github/actions/conformance/expected-failures.yml
Due: none

Add protocol_version pin to ClientSession for stateless 2026-07-28 mode
  src/mcp/client/session.py
  src/mcp/client/streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Path conditions:
  ruff-format: any of: \.py$
  ruff: any of: \.py$, but not: ^README(\.v2)?\.md$
  pyright: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  readme-v1-frozen: any of: ^README\.md$
  readme-snippets: any of: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
