Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

ruff-format:
  name: Ruff Format
  entry: uv run --frozen ruff
  args:
  - format
  language: system
  pass_filenames: false

ruff:
  name: Ruff
  entry: uv run --frozen ruff
  args:
  - check
  - --fix
  - --exit-non-zero-on-fix
  language: system
  pass_filenames: false

pyright:
  name: pyright
  entry: uv run --frozen pyright
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv.lock is up to date
  entry: uv lock --check
  language: system
  pass_filenames: false

readme-v1-frozen:
  name: README.md is frozen (v1 docs)
  entry: README.md is frozen at v1. Edit README.v2.md instead.
  language: fail

readme-snippets:
  name: Check snippets are up to date
  entry: uv run --frozen python scripts/sync_snippets.py --check
  language: system
  pass_filenames: false

Detect event-loop blocking in tests (#3510)
  pyproject.toml
  src/mcp/client/stdio.py
  tests/client/test_stdio.py
  tests/conftest.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Restore Trio support and test both AnyIO backends
  docs/client/subscriptions.md
  docs/get-started/testing.md
  docs/run/legacy-clients.md
  src/mcp/client/sse.py
  src/mcp/client/streamable_http.py
  src/mcp/client/subscriptions.py
  src/mcp/server/sse.py
  src/mcp/server/streamable_http.py
  src/mcp/shared/_httpx_utils.py
  tests/client/test_stdio.py
  tests/client/test_subscriptions.py
  tests/conftest.py
  tests/docs_src/test_asgi.py
  tests/docs_src/test_context.py
  tests/docs_src/test_deploy.py
  tests/docs_src/test_identity_assertion.py
  tests/docs_src/test_legacy_clients.py
  tests/docs_src/test_subscriptions.py
  tests/docs_src/test_troubleshooting.py
  tests/interaction/transports/test_hosting_resume.py
  tests/issues/test_1363_race_condition_streamable_http.py
  tests/server/test_sse_security.py
  tests/server/test_streamable_http_router.py
  tests/shared/test_sse.py
Due: ruff-format, ruff, pyright, readme-snippets

Ignore Trio's Linux pidfd encoding warning
  pyproject.toml
Due: uv-lock-check

Run race-condition log checks on every exit path
  tests/issues/test_1363_race_condition_streamable_http.py
Due: ruff-format, ruff, pyright

Preserve successor streams when closing reused request IDs
  docs/run/legacy-clients.md
  src/mcp/server/streamable_http.py
  src/mcp/shared/_httpx_utils.py
  tests/server/test_streamable_http_router.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Accept class-based SSE iterators during cleanup
  src/mcp/shared/_httpx_utils.py
  tests/client/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Avoid waiting for remote subscription cancellation writes
  docs/client/subscriptions.md
  src/mcp/client/subscriptions.py
  tests/client/test_subscriptions.py
Due: ruff-format, ruff, pyright, readme-snippets

Keep replay network delivery outside the event-store lock
  docs/run/legacy-clients.md
  src/mcp/server/streamable_http.py
  tests/server/test_streamable_http_router.py
Due: ruff-format, ruff, pyright, readme-snippets

Make client_secret optional in token revocation requests
  src/mcp/server/auth/handlers/revoke.py
  tests/server/mcpserver/auth/test_auth_integration.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(client): specialize streamable HTTP request headers
  src/mcp/client/streamable_http.py
  tests/client/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

feat(client): support HTTP auth in ClientSessionGroup
  docs/client/session-groups.md
  src/mcp/client/session_group.py
  tests/client/test_session_group.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: wrap session group auth example in async function
  docs/client/session-groups.md
Due: readme-snippets

test: exercise auth_flow to achieve 100% test file coverage
  tests/client/test_session_group.py
Due: ruff-format, ruff, pyright

test: remove obsolete pragma and isolate session establishment in tests
  src/mcp/shared/_httpx_utils.py
  tests/client/test_session_group.py
Due: ruff-format, ruff, pyright, readme-snippets

Preserve runtime branch tracing on Python 3.10 and 3.11
  src/mcp/server/runtime.py
  tests/server/test_runtime.py
Due: ruff-format, ruff, pyright, readme-snippets

test: use patch decorators on session tests to prevent python 3.14 branch misreporting
  tests/client/test_session_group.py
Due: ruff-format, ruff, pyright

Add ClientSession/Client opt-out for automatic tool-result validation
  docs/advanced/low-level-server.md
  src/mcp/client/client.py
  src/mcp/client/session.py
  tests/client/test_client_extensions.py
  tests/client/test_session_promotions.py
Due: ruff-format, ruff, pyright, readme-snippets

Add a native gRPC transport example
  .github/workflows/shared.yml
  examples/transports/README.md
  examples/transports/demo_grpc.py
  examples/transports/demo_grpc_features.py
  examples/transports/mcp_transport_examples/__init__.py
  examples/transports/mcp_transport_examples/_grpc_codec.py
  examples/transports/mcp_transport_examples/grpc.py
  examples/transports/mcp_transport_examples/grpc_client.py
  examples/transports/mcp_transport_examples/grpc_context.py
  examples/transports/mcp_transport_examples/grpc_response.py
  examples/transports/mcp_transport_examples/grpc_server.py
  examples/transports/mcp_transport_examples/py.typed
  examples/transports/mcp_transport_examples/rpc.proto
  examples/transports/mcp_transport_examples/rpc_pb2.py
  examples/transports/mcp_transport_examples/rpc_pb2.pyi
  examples/transports/pyproject.toml
  examples/transports/reproduce_grpc_loop_shutdown.py
  examples/transports/tests/__init__.py
  examples/transports/tests/cassettes/test_grpc/test_native_error_keeps_code_message_and_data.yaml
  examples/transports/tests/cassettes/test_grpc/test_native_payload_keeps_large_integers_and_extension_fields.yaml
  examples/transports/tests/cassettes/test_grpc/test_native_progress_reaches_the_client_before_the_result.yaml
  examples/transports/tests/conftest.py
  examples/transports/tests/test_grpc.py
  examples/transports/tests/test_grpc_cancel_signal.py
  examples/transports/tests/test_grpc_client.py
  examples/transports/tests/test_grpc_client_shutdown.py
  examples/transports/tests/test_grpc_context.py
  examples/transports/tests/test_grpc_dispatcher.py
  examples/transports/tests/test_grpc_lifecycle.py
  examples/transports/tests/test_grpc_response.py
  examples/transports/tests/test_grpc_server.py
  examples/transports/tests/test_grpc_shutdown_order.py
  examples/transports/tests/test_grpc_tls.py
  pyproject.toml
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Add an MQTT 5 transport example
  .github/workflows/shared.yml
  examples/transports/README.md
  examples/transports/brokers/mosquitto.acl
  examples/transports/brokers/mosquitto.conf
  examples/transports/compose.yaml
  examples/transports/demo_common.py
  examples/transports/demo_mqtt.py
  examples/transports/demo_mqtt_disconnect.py
  examples/transports/mcp_transport_examples/mqtt.py
  examples/transports/pyproject.toml
  examples/transports/tests/test_mqtt.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Add an AMQP 0.9.1 transport example
  .github/workflows/shared.yml
  examples/transports/README.md
  examples/transports/brokers/rabbitmq-definitions.json
  examples/transports/brokers/rabbitmq.conf
  examples/transports/compose.yaml
  examples/transports/demo_amqp.py
  examples/transports/demo_amqp_permissions.py
  examples/transports/mcp_transport_examples/amqp.py
  examples/transports/pyproject.toml
  examples/transports/tests/test_amqp.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Remove postponed annotations from the AMQP example
  examples/transports/mcp_transport_examples/amqp.py
Due: ruff-format, ruff, pyright, readme-snippets

Reserve AMQP topology provisioning for the server
  examples/transports/README.md
  examples/transports/brokers/rabbitmq-definitions.json
  examples/transports/demo_amqp.py
  examples/transports/demo_amqp_permissions.py
  examples/transports/mcp_transport_examples/amqp.py
Due: ruff-format, ruff, pyright, readme-snippets

Preserve borrowed AMQP channels during peer shutdown
  .github/workflows/shared.yml
  examples/transports/README.md
  examples/transports/compose.yaml
  examples/transports/demo_amqp.py
  examples/transports/demo_amqp_lifecycle.py
  examples/transports/demo_amqp_permissions.py
  examples/transports/mcp_transport_examples/amqp.py
Due: ruff-format, ruff, pyright, readme-snippets

Close the transport a rejected connect_to_server opened
  src/mcp/client/session_group.py
  tests/client/test_session_group.py
Due: ruff-format, ruff, pyright, readme-snippets

Document manual AMQP cleanup after process crashes
  examples/transports/README.md
Due: none

fix(client): give SSE GET and DELETE requests their own header shape
  src/mcp/client/streamable_http.py
  tests/client/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(client): contain HTTP transport errors on request POSTs
  src/mcp/client/streamable_http.py
  tests/client/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: reject *args and **kwargs on tool signatures
  src/mcp/server/mcpserver/resources/templates.py
  src/mcp/server/mcpserver/utilities/func_metadata.py
  tests/server/mcpserver/test_func_metadata.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(uri-template): percent-encode non-ASCII and space literals
  src/mcp/shared/uri_template.py
  tests/server/mcpserver/resources/test_resource_template.py
  tests/shared/test_uri_template.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(uri-template): encode literal URI characters
  src/mcp/shared/uri_template.py
  tests/shared/test_uri_template.py
Due: ruff-format, ruff, pyright, readme-snippets

test: add edge-case test for empty tools list in validate_sampling_tools
  tests/server/test_validation.py
Due: ruff-format, ruff, pyright

refactor: simplify get_display_name control flow
  src/mcp/shared/metadata_utils.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(client): prevent tool hang by failing pending requests on transport exception (Closes #1401)
  src/mcp/client/session.py
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/shared/test_jsonrpc_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(auth): exclude client_id from token body when using client_secret_basic
  src/mcp/client/auth/oauth2.py
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: resolve dot-segments and percent-encoding in check_resource_allowed
  src/mcp/shared/auth_utils.py
  tests/shared/test_auth_utils.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(tests): remove xfail from test_build_metadata simple-url case
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright

Reject variadic tool parameters
  src/mcp/server/mcpserver/tools/base.py
  src/mcp/server/mcpserver/utilities/func_metadata.py
  tests/server/mcpserver/test_func_metadata.py
Due: ruff-format, ruff, pyright, readme-snippets

Preserve request-stream ownership during server cleanup
  docs/run/legacy-clients.md
  src/mcp/server/sse.py
  src/mcp/server/streamable_http.py
  tests/server/test_streamable_http_router.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Path conditions:
  ruff-format: any of: \.py$
  ruff: any of: \.py$, but not: ^README(\.v2)?\.md$
  pyright: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  readme-v1-frozen: any of: ^README\.md$
  readme-snippets: any of: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
