Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

ruff-format:
  name: Ruff Format
  entry: uv run --frozen ruff
  args:
  - format
  language: system
  pass_filenames: false

ruff:
  name: Ruff
  entry: uv run --frozen ruff
  args:
  - check
  - --fix
  - --exit-non-zero-on-fix
  language: system
  pass_filenames: false

pyright:
  name: pyright
  entry: uv run --frozen pyright
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv.lock is up to date
  entry: uv lock --check
  language: system
  pass_filenames: false

readme-v1-frozen:
  name: README.md is frozen (v1 docs)
  entry: README.md is frozen at v1. Edit README.v2.md instead.
  language: fail

readme-snippets:
  name: Check snippets are up to date
  entry: uv run --frozen python scripts/sync_snippets.py --check
  language: system
  pass_filenames: false

reword docs/migration.md to be injected instead of constructed
  docs/migration.md
Due: readme-snippets

refactor: make context required at internal layers, optional at MCPServer
  docs/migration.md
  src/mcp/server/mcpserver/context.py
  src/mcp/server/mcpserver/prompts/base.py
  src/mcp/server/mcpserver/prompts/manager.py
  src/mcp/server/mcpserver/resources/resource_manager.py
  src/mcp/server/mcpserver/resources/templates.py
  src/mcp/server/mcpserver/server.py
  src/mcp/server/mcpserver/tools/base.py
  src/mcp/server/mcpserver/tools/tool_manager.py
  tests/server/mcpserver/prompts/test_base.py
  tests/server/mcpserver/prompts/test_manager.py
  tests/server/mcpserver/resources/test_resource_manager.py
  tests/server/mcpserver/resources/test_resource_template.py
  tests/server/mcpserver/test_server.py
  tests/server/mcpserver/test_tool_manager.py
  tests/server/mcpserver/tools/test_base.py
Due: ruff-format, ruff, pyright, readme-snippets

style: merge elicit_url import into single block
  src/mcp/server/mcpserver/context.py
Due: ruff-format, ruff, pyright, readme-snippets

style: use pragma no branch instead of no cover for progress_token check
  src/mcp/server/mcpserver/context.py
Due: ruff-format, ruff, pyright, readme-snippets

test: cover get_prompt context=None fallback; revert no branch pragma
  src/mcp/server/mcpserver/context.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

Update test docstring to reference correct issue (#1227)
  tests/shared/test_sse.py
Due: ruff-format, ruff, pyright

Use list.append for session_id capture to fix 3.11 coverage gap
  tests/shared/test_sse.py
Due: ruff-format, ruff, pyright

tests: remove lax no cover pragmas by moving assertions before cancel
  tests/shared/test_sse.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright

Add no branch pragmas to phase-1 ClientSession blocks
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright

fix: pass related_request_id in Context.report_progress()
  src/mcp/server/fastmcp/server.py
  tests/issues/test_176_progress_token.py
  tests/issues/test_2001_progress_related_request_id.py
Due: ruff-format, ruff, pyright, readme-snippets

security: bump minimum versions for python-multipart and starlette
  pyproject.toml
Due: uv-lock-check

feat: add subject and claims fields to AccessToken
  src/mcp/server/auth/provider.py
  src/mcp/server/mcpserver/context.py
  tests/server/auth/middleware/test_bearer_auth.py
  tests/server/mcpserver/test_context.py
Due: ruff-format, ruff, pyright, readme-snippets

chore: update uv.lock after dependency version bumps
  uv.lock
Due: uv-lock-check

feat: store server_info on ClientSession during initialization
  src/mcp/client/session.py
  tests/client/test_session.py
Due: ruff-format, ruff, pyright, readme-snippets

Add FileInputDescriptor and fileInputs capability for file upload SEP
  src/mcp/types/__init__.py
  src/mcp/types/_types.py
  tests/test_types.py
Due: ruff-format, ruff, pyright, readme-snippets

Add warning log when rejecting request with unknown/expired session ID
  src/mcp/server/streamable_http_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

Include client_id in client_credentials token request body
  src/mcp/client/auth/extensions/client_credentials.py
  tests/client/auth/extensions/test_client_credentials.py
Due: ruff-format, ruff, pyright, readme-snippets

Fix ruff format: single-line warning log message
  src/mcp/server/streamable_http_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(stdio): allow configurable memory stream buffer size in stdio_server
  src/mcp/server/stdio.py
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: rename unused write_stream to _write_stream in tests
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright

use closefd=False per review feedback
  src/mcp/server/stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

remove filterwarnings no longer needed
  tests/issues/test_1933_stdio_close.py
Due: ruff-format, ruff, pyright

close wrappers on exit to fix ResourceWarning
  src/mcp/server/stdio.py
  tests/issues/test_1933_stdio_close.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(streamable-http): log unknown session ids
  src/mcp/server/streamable_http_manager.py
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: avoid stdio cleanup BrokenResourceError race
  src/mcp/client/stdio.py
  tests/client/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: allow client scopes when no scope restriction is set
  src/mcp/shared/auth.py
  tests/shared/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: refresh auth context for stateful HTTP requests
  src/mcp/server/lowlevel/server.py
  tests/issues/test_2208_stateful_auth_context.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: ignore closed log streams during shutdown
  src/mcp/server/lowlevel/server.py
  tests/server/test_lowlevel_exception_handling.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: handle broken stdio streams during cleanup
  src/mcp/client/stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

test: remove stale lowlevel auth coverage pragmas
  src/mcp/server/lowlevel/server.py
Due: ruff-format, ruff, pyright, readme-snippets

test: cover lowlevel auth app construction
  tests/server/test_lowlevel_streamable_http_auth_app.py
Due: ruff-format, ruff, pyright

fix: add warning log when rejecting unknown/expired session ID
  src/mcp/server/streamable_http_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

test: verify warning log for unknown session ID
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright

style: reformat assert to satisfy ruff
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright

fix: close write_stream in tests to prevent task group hang
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright

fix: validate_scope treats None registered scopes as no restrictions
  src/mcp/shared/auth.py
  tests/shared/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(session): return METHOD_NOT_FOUND for unknown request methods
  src/mcp/client/session.py
  src/mcp/server/session.py
  src/mcp/shared/session.py
  tests/issues/test_1561_invalid_method_code.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: clarify structured output validation timing
  README.md
Due: readme-v1-frozen

docs: explain request IDs for FastMCP cancellation
  README.md
Due: readme-v1-frozen

fix(types): type converted MCPServer handler results
  src/mcp/server/mcpserver/prompts/base.py
  src/mcp/server/mcpserver/resources/templates.py
  src/mcp/server/mcpserver/server.py
  src/mcp/server/mcpserver/tools/base.py
  src/mcp/server/mcpserver/tools/tool_manager.py
  src/mcp/server/mcpserver/utilities/func_metadata.py
Due: ruff-format, ruff, pyright, readme-snippets

Path conditions:
  ruff-format: any of: \.py$
  ruff: any of: \.py$, but not: ^README(\.v2)?\.md$
  pyright: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  readme-v1-frozen: any of: ^README\.md$
  readme-snippets: any of: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
