Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

ruff-format:
  name: Ruff Format
  entry: uv run --frozen ruff
  args:
  - format
  language: system
  pass_filenames: false

ruff:
  name: Ruff
  entry: uv run --frozen ruff
  args:
  - check
  - --fix
  - --exit-non-zero-on-fix
  language: system
  pass_filenames: false

pyright:
  name: pyright
  entry: uv run --frozen pyright
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv.lock is up to date
  entry: uv lock --check
  language: system
  pass_filenames: false

readme-v1-frozen:
  name: README.md is frozen (v1 docs)
  entry: README.md is frozen at v1. Edit README.v2.md instead.
  language: fail

readme-snippets:
  name: Check snippets are up to date
  entry: uv run --frozen python scripts/sync_snippets.py --check
  language: system
  pass_filenames: false

Deprecate constructing the pre-provisioned OAuth clients without an issuer
  docs/client/oauth-clients.md
  docs/deprecated.md
  src/mcp/client/auth/extensions/client_credentials.py
  tests/client/auth/extensions/test_client_credentials.py
Due: ruff-format, ruff, pyright, readme-snippets

Pass issuer= in the remaining docstring examples and the story README
  examples/stories/oauth_client_credentials/README.md
  examples/stories/oauth_client_credentials/client.py
  src/mcp/client/auth/extensions/client_credentials.py
Due: ruff-format, ruff, pyright, readme-snippets

Stop counting the SDK-level deprecations in docs/deprecated.md
  docs/deprecated.md
Due: readme-snippets

Deprecate constructing the pre-provisioned OAuth clients without an issuer (#3435)
  docs/client/oauth-clients.md
  docs/deprecated.md
  examples/stories/oauth_client_credentials/README.md
  examples/stories/oauth_client_credentials/client.py
  src/mcp/client/auth/extensions/client_credentials.py
  tests/client/auth/extensions/test_client_credentials.py
  tests/docs_src/test_oauth_clients.py
  tests/interaction/auth/test_lifecycle.py
Due: ruff-format, ruff, pyright, readme-snippets

Let a token verifier gate the server without AuthSettings
  docs/run/authorization.md
  docs_src/authorization/tutorial003.py
  src/mcp/server/lowlevel/server.py
  src/mcp/server/mcpserver/server.py
  tests/docs_src/test_authorization.py
  tests/interaction/_requirements.py
  tests/interaction/auth/test_bearer.py
  tests/server/mcpserver/auth/test_auth_integration.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

[v1.x] Deprecate constructing the pre-provisioned OAuth clients without an issuer
  src/mcp/client/auth/extensions/client_credentials.py
  tests/client/auth/extensions/test_client_credentials.py
Due: ruff-format, ruff, pyright, readme-snippets

Rename simple-chatbot's README.MD to the README.md its pyproject declares
  examples/clients/simple-chatbot/README.md
Due: none

Exercise the SEP-2575 stateless probes and SEP-2243 resource/prompt headers in the conformance fixtures
  .github/actions/conformance/client.py
  examples/servers/everything-server/mcp_everything_server/server.py
Due: ruff-format, ruff, pyright, readme-snippets

Apply the redirect rule to OAuth's own requests; clearer message for an https-to-http redirect
  docs/client/oauth-clients.md
  docs/client/transports.md
  docs/run/asgi.md
  src/mcp/client/auth/extensions/identity_assertion.py
  src/mcp/client/auth/oauth2.py
  src/mcp/client/auth/utils.py
  src/mcp/client/sse.py
  src/mcp/client/streamable_http.py
  src/mcp/shared/_httpx_utils.py
  tests/client/test_auth.py
  tests/client/test_streamable_http.py
  tests/shared/test_httpx_utils.py
Due: ruff-format, ruff, pyright, readme-snippets

Exercise the SEP-2575 stateless probes and SEP-2243 resource/prompt headers in the conformance fixtures (#3442)
  .github/actions/conformance/client.py
  examples/clients/simple-chatbot/README.md
  examples/servers/everything-server/mcp_everything_server/server.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: stop presenting the in-memory client as the way to connect
  docs/advanced/apps.md
  docs/advanced/extensions.md
  docs/advanced/low-level-server.md
  docs/advanced/pagination.md
  docs/client/caching.md
  docs/client/callbacks.md
  docs/client/index.md
  docs/client/oauth-clients.md
  docs/client/session-groups.md
  docs/client/transports.md
  docs/get-started/first-steps.md
  docs/get-started/testing.md
  docs/handlers/multi-round-trip.md
  docs/handlers/progress.md
  docs/protocol-versions.md
  docs/run/asgi.md
  docs/run/authorization.md
  docs/run/legacy-clients.md
  docs/troubleshooting.md
  docs/whats-new.md
  docs_src/client/tutorial001.py
  docs_src/client/tutorial001_client.py
  docs_src/lowlevel/tutorial001.py
  docs_src/protocol_versions/tutorial004.py
  examples/stories/bearer_auth/README.md
  examples/stories/identity_assertion/README.md
  examples/stories/pagination/README.md
  examples/stories/prompts/README.md
  examples/stories/reconnect/README.md
  examples/stories/resources/README.md
  examples/stories/schema_validators/README.md
  src/mcp/client/client.py
  tests/docs_src/test_client.py
  tests/docs_src/test_lowlevel.py
  tests/docs_src/test_progress.py
  tests/docs_src/test_protocol_versions.py
Due: ruff-format, ruff, pyright, readme-snippets

Trim the migration guide to genuine v1-to-v2 breaking changes
  docs/migration.md
  docs/whats-new.md
Due: readme-snippets

[v1.x] Validate the authorization server metadata issuer on every discovery path (#3431)
  .github/actions/conformance/expected-failures.yml
  src/mcp/client/auth/extensions/client_credentials.py
  src/mcp/client/auth/oauth2.py
  src/mcp/client/auth/utils.py
  src/mcp/shared/auth.py
  tests/client/auth/extensions/test_client_credentials.py
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

Backport abandoned-request resolution from 2.x to the 1.x Streamable HTTP client
  src/mcp/client/streamable_http.py
  tests/client/test_streamable_http_abandoned_request.py
Due: ruff-format, ruff, pyright, readme-snippets

Name redirect locations without query or userinfo everywhere; refuse-message covers any http downgrade
  docs/migration.md
  src/mcp/client/sse.py
  src/mcp/client/streamable_http.py
  src/mcp/shared/_httpx_utils.py
  tests/client/test_auth.py
  tests/client/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Move the docs-preview workflow scripts out of the YAML into .github/scripts
  .github/scripts/docs_preview.js
  .github/scripts/docs_preview.test.js
  .github/workflows/docs-preview.yml
  .github/workflows/shared.yml
Due: none

Move the docs-preview workflow scripts out of the YAML into .github/scripts (#3446)
  .github/scripts/docs_preview.js
  .github/scripts/docs_preview.test.js
  .github/workflows/docs-preview.yml
  .github/workflows/shared.yml
Due: none

Skip automatic docs previews for fork PRs and drop the setup-uv retry steps
  .github/scripts/docs_preview.js
  .github/scripts/docs_preview.test.js
  .github/workflows/docs-preview.yml
  .github/workflows/shared.yml
Due: none

Skip automatic docs previews for fork PRs and drop the setup-uv retry steps (#3445)
  .github/scripts/docs_preview.js
  .github/scripts/docs_preview.test.js
  .github/workflows/docs-preview.yml
  .github/workflows/shared.yml
Due: none

docs: name the server the -32021 troubleshooting fragment runs against
  docs/troubleshooting.md
Due: readme-snippets

docs: give redirect handling its own short section; add the proxy-headers note to Deploy
  docs/client/transports.md
  docs/run/deploy.md
Due: readme-snippets

docs: say which same-origin redirects are followed (307/308) in the Redirects section and recap
  docs/client/transports.md
Due: readme-snippets

Follow redirects only within the MCP endpoint's origin (#3397)
  docs/client/oauth-clients.md
  docs/client/transports.md
  docs/migration.md
  docs/run/asgi.md
  docs/run/deploy.md
  docs_src/client_transports/tutorial003.py
  docs_src/identity_assertion/tutorial001.py
  docs_src/oauth_clients/tutorial001.py
  docs_src/oauth_clients/tutorial002.py
  examples/clients/simple-auth-client/mcp_simple_auth_client/main.py
  examples/servers/simple-tool/mcp_simple_tool/server.py
  examples/snippets/clients/identity_assertion_client.py
  examples/snippets/clients/oauth_client.py
  src/mcp/client/auth/extensions/identity_assertion.py
  src/mcp/client/auth/oauth2.py
  src/mcp/client/auth/utils.py
  src/mcp/client/sse.py
  src/mcp/client/streamable_http.py
  src/mcp/shared/_httpx_utils.py
  tests/client/test_auth.py
  tests/client/test_http_unicode.py
  tests/client/test_streamable_http.py
  tests/shared/test_httpx_utils.py
  tests/shared/test_sse.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Add AuthSettings.validate_token_resource to check a bearer token's resource
  docs/run/authorization.md
  examples/servers/simple-auth/mcp_simple_auth/server.py
  src/mcp/server/auth/middleware/bearer_auth.py
  src/mcp/server/auth/provider.py
  src/mcp/server/auth/settings.py
  src/mcp/server/lowlevel/server.py
  src/mcp/server/mcpserver/server.py
  tests/interaction/_requirements.py
  tests/interaction/auth/_harness.py
  tests/interaction/auth/test_bearer.py
  tests/server/auth/middleware/test_bearer_auth.py
  tests/server/auth/test_settings.py
Due: ruff-format, ruff, pyright, readme-snippets

Bump the locked versions of eight dev and test dependencies
  tests/shared/test_streamable_http.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check

[v1.x] Follow redirects only within the MCP endpoint's origin
  docs/authorization.md
  docs/client.md
  examples/clients/simple-auth-client/mcp_simple_auth_client/main.py
  examples/servers/simple-tool/mcp_simple_tool/server.py
  examples/snippets/clients/oauth_client.py
  src/mcp/client/auth/oauth2.py
  src/mcp/client/auth/utils.py
  src/mcp/client/sse.py
  src/mcp/client/streamable_http.py
  src/mcp/shared/_httpx_utils.py
  tests/client/test_auth.py
  tests/shared/test_httpx_utils.py
  tests/shared/test_sse.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

tests: keep assertions inside the awaited helpers
  tests/shared/test_sse.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright

Carry the token resource through refresh; review follow-ups
  docs/run/authorization.md
  examples/servers/simple-auth/mcp_simple_auth/token_verifier.py
  src/mcp/server/auth/middleware/bearer_auth.py
  src/mcp/server/auth/provider.py
  tests/interaction/_requirements.py
  tests/interaction/auth/_provider.py
  tests/interaction/auth/test_bearer.py
  tests/interaction/auth/test_lifecycle.py
Due: ruff-format, ruff, pyright, readme-snippets

Keep following a relative redirect when the endpoint URL carries userinfo
  src/mcp/shared/_httpx_utils.py
  tests/shared/test_httpx_utils.py
Due: ruff-format, ruff, pyright, readme-snippets

Bump the locked versions of eight dev and test dependencies (#3449)
  tests/shared/test_streamable_http.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check

Keep following a relative redirect when the endpoint URL carries userinfo (#3450)
  src/mcp/shared/_httpx_utils.py
  tests/shared/test_httpx_utils.py
Due: ruff-format, ruff, pyright, readme-snippets

Extend the interaction suite to the 2026-07-28 spec
  tests/_stamp.py
  tests/interaction/README.md
  tests/interaction/_connect.py
  tests/interaction/_helpers.py
  tests/interaction/_requirements.py
  tests/interaction/auth/_harness.py
  tests/interaction/auth/test_authorize_token.py
  tests/interaction/auth/test_bearer.py
  tests/interaction/auth/test_discovery.py
  tests/interaction/auth/test_flow.py
  tests/interaction/auth/test_lifecycle.py
  tests/interaction/lowlevel/test_caching.py
  tests/interaction/lowlevel/test_client_connect.py
  tests/interaction/lowlevel/test_elicitation.py
  tests/interaction/lowlevel/test_meta.py
  tests/interaction/lowlevel/test_mrtr.py
  tests/interaction/lowlevel/test_pagination.py
  tests/interaction/lowlevel/test_prompts.py
  tests/interaction/lowlevel/test_resources.py
  tests/interaction/lowlevel/test_roots.py
  tests/interaction/lowlevel/test_sampling.py
  tests/interaction/lowlevel/test_subscriptions.py
  tests/interaction/lowlevel/test_tools.py
  tests/interaction/lowlevel/test_x_mcp_header.py
  tests/interaction/mcpserver/test_context.py
  tests/interaction/mcpserver/test_extensions.py
  tests/interaction/mcpserver/test_mrtr.py
  tests/interaction/mcpserver/test_prompts.py
  tests/interaction/mcpserver/test_resources.py
  tests/interaction/mcpserver/test_subscriptions.py
  tests/interaction/mcpserver/test_tools.py
  tests/interaction/transports/test_client_transport_http.py
  tests/interaction/transports/test_hosting_http.py
  tests/interaction/transports/test_hosting_http_modern.py
  tests/interaction/transports/test_stdio.py
  tests/test_types.py
Due: ruff-format, ruff, pyright

Tighten the new interaction tests after review
  tests/interaction/README.md
  tests/interaction/_connect.py
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_mrtr.py
  tests/interaction/lowlevel/test_subscriptions.py
  tests/interaction/transports/test_hosting_http_modern.py
Due: ruff-format, ruff, pyright

Address review findings on the 2026-07-28 interaction coverage
  tests/interaction/_requirements.py
  tests/interaction/auth/test_lifecycle.py
  tests/interaction/lowlevel/test_mrtr.py
  tests/interaction/mcpserver/test_resources.py
  tests/interaction/transports/test_hosting_http_modern.py
Due: ruff-format, ruff, pyright

Docs: shorter validate_token_resource guidance as a list; spell out test tokens
  docs/run/authorization.md
  tests/interaction/auth/test_bearer.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: make the first-steps capabilities check a real client too
  docs/get-started/first-steps.md
  docs_src/first_steps/tutorial001_client.py
Due: ruff-format, ruff, pyright, readme-snippets

[v1.x] Follow redirects only within the MCP endpoint's origin (#3448)
  docs/authorization.md
  docs/client.md
  examples/clients/simple-auth-client/mcp_simple_auth_client/main.py
  examples/servers/simple-tool/mcp_simple_tool/server.py
  examples/snippets/clients/oauth_client.py
  src/mcp/client/auth/oauth2.py
  src/mcp/client/auth/utils.py
  src/mcp/client/sse.py
  src/mcp/client/streamable_http.py
  src/mcp/shared/_httpx_utils.py
  tests/client/test_auth.py
  tests/shared/test_httpx_utils.py
  tests/shared/test_sse.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Warn when AuthSettings.validate_token_resource is left unset
  docs/deprecated.md
  docs/run/authorization.md
  docs_src/authorization/tutorial001.py
  docs_src/authorization/tutorial002.py
  examples/snippets/servers/oauth_server.py
  examples/stories/_shared/auth.py
  examples/stories/bearer_auth/server.py
  examples/stories/bearer_auth/server_lowlevel.py
  examples/stories/oauth_client_credentials/server.py
  examples/stories/oauth_client_credentials/server_lowlevel.py
  src/mcp/server/auth/settings.py
  tests/docs_src/test_identity_assertion.py
  tests/server/auth/test_routes.py
  tests/server/auth/test_settings.py
Due: ruff-format, ruff, pyright, readme-snippets

Path conditions:
  ruff-format: any of: \.py$
  ruff: any of: \.py$, but not: ^README(\.v2)?\.md$
  pyright: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  readme-v1-frozen: any of: ^README\.md$
  readme-snippets: any of: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
