Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

ruff-format:
  name: Ruff Format
  entry: uv run --frozen ruff
  args:
  - format
  language: system
  pass_filenames: false

ruff:
  name: Ruff
  entry: uv run --frozen ruff
  args:
  - check
  - --fix
  - --exit-non-zero-on-fix
  language: system
  pass_filenames: false

pyright:
  name: pyright
  entry: uv run --frozen pyright
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv.lock is up to date
  entry: uv lock --check
  language: system
  pass_filenames: false

readme-v1-frozen:
  name: README.md is frozen (v1 docs)
  entry: README.md is frozen at v1. Edit README.v2.md instead.
  language: fail

readme-snippets:
  name: Check snippets are up to date
  entry: uv run --frozen python scripts/sync_snippets.py --check
  language: system
  pass_filenames: false

fix: resolve C901 complexity warning and pyright errors
  src/mcp/server/streamable_http.py
  src/mcp/shared/exceptions.py
  tests/shared/test_session_exception_group.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: add type ignore comments for pyright strict mode
  src/mcp/shared/exceptions.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: use try/except import for BaseExceptionGroup compatibility
  src/mcp/client/_memory.py
  src/mcp/client/session_group.py
  src/mcp/client/sse.py
  src/mcp/client/stdio.py
  src/mcp/client/streamable_http.py
  src/mcp/client/websocket.py
  src/mcp/server/experimental/task_result_handler.py
  src/mcp/server/experimental/task_support.py
  src/mcp/server/lowlevel/server.py
  src/mcp/server/sse.py
  src/mcp/server/stdio.py
  src/mcp/server/streamable_http.py
  src/mcp/server/streamable_http_manager.py
  src/mcp/server/websocket.py
  src/mcp/shared/exceptions.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: add exceptiongroup dependency for Python 3.10 compatibility
  pyproject.toml
  uv.lock
Due: uv-lock-check

fix: add type ignore and fix test_exceptions.py import
  src/mcp/client/_memory.py
  src/mcp/client/session_group.py
  src/mcp/client/sse.py
  src/mcp/client/stdio.py
  src/mcp/client/streamable_http.py
  src/mcp/client/websocket.py
  src/mcp/server/experimental/task_result_handler.py
  src/mcp/server/experimental/task_support.py
  src/mcp/server/lowlevel/server.py
  src/mcp/server/sse.py
  src/mcp/server/stdio.py
  src/mcp/server/streamable_http.py
  src/mcp/server/streamable_http_manager.py
  src/mcp/server/websocket.py
  src/mcp/shared/exceptions.py
  tests/shared/test_exceptions.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: use TYPE_CHECKING for BaseExceptionGroup type safety
  src/mcp/client/_memory.py
  src/mcp/client/session_group.py
  src/mcp/client/sse.py
  src/mcp/client/stdio.py
  src/mcp/client/streamable_http.py
  src/mcp/client/websocket.py
  src/mcp/server/experimental/task_result_handler.py
  src/mcp/server/experimental/task_support.py
  src/mcp/server/lowlevel/server.py
  src/mcp/server/sse.py
  src/mcp/server/stdio.py
  src/mcp/server/streamable_http.py
  src/mcp/server/streamable_http_manager.py
  src/mcp/server/websocket.py
  src/mcp/shared/exceptions.py
  tests/shared/test_exceptions.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: add server-side tool error handling documentation (#2129)
  docs/server.md
  examples/snippets/servers/tool_errors.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: handle CallToolResult in _convert_to_content to prevent double-serialization
  pyproject.toml
  src/mcp/server/mcpserver/utilities/func_metadata.py
  tests/issues/test_592_call_tool_result_primitive.py
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

fix: update tests to expect issuer URLs without trailing slash
  tests/client/test_auth.py
  tests/server/mcpserver/auth/test_auth_integration.py
Due: ruff-format, ruff, pyright

Add missing TasksCallCapability to enable proper MCP task support (#1854)
  src/mcp/server/lowlevel/experimental.py
  tests/experimental/tasks/server/test_run_task_flow.py
Due: ruff-format, ruff, pyright, readme-snippets

Add `docs/client-quickstart.md` tutorial with snippet sync
  docs/client-quickstart.md
  examples/clients/quickstart-client/.env.example
  examples/clients/quickstart-client/README.md
  examples/clients/quickstart-client/client.py
  examples/clients/quickstart-client/pyproject.toml
  mkdocs.yml
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Add `quickstart-server` example for the "Building MCP servers" tutorial
  examples/servers/quickstart-server/README.md
  examples/servers/quickstart-server/mcp_quickstart_server/__init__.py
  examples/servers/quickstart-server/pyproject.toml
  examples/servers/quickstart-server/weather.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Add `docs/server-quickstart.md` tutorial with snippet sync
  docs/server-quickstart.md
  examples/servers/quickstart-server/weather.py
  mkdocs.yml
Due: ruff-format, ruff, pyright, readme-snippets

Replace `update_readme_snippets.py` with unified `sync_snippets.py`
  .github/workflows/shared.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.v2.md
  scripts/sync_snippets.py
  scripts/update_readme_snippets.py
Due: ruff-format, ruff, pyright, readme-snippets

Document docstring snippet conventions in `CLAUDE.md`
  CLAUDE.md
Due: none

Support path-less `#region` markers in `sync_snippets.py`
  scripts/sync_snippets.py
Due: ruff-format, ruff, pyright, readme-snippets

Extract docstring code examples into type-checked companion files
  examples/snippets/docstrings/mcp/client/auth/extensions/client_credentials.py
  examples/snippets/docstrings/mcp/client/client.py
  examples/snippets/docstrings/mcp/client/experimental/task_handlers.py
  examples/snippets/docstrings/mcp/client/experimental/tasks.py
  examples/snippets/docstrings/mcp/client/session.py
  examples/snippets/docstrings/mcp/client/session_group.py
  examples/snippets/docstrings/mcp/server/experimental/request_context.py
  examples/snippets/docstrings/mcp/server/experimental/task_context.py
  examples/snippets/docstrings/mcp/server/experimental/task_support.py
  examples/snippets/docstrings/mcp/server/lowlevel/experimental.py
  examples/snippets/docstrings/mcp/server/mcpserver/server.py
  examples/snippets/docstrings/mcp/server/sse.py
  examples/snippets/docstrings/mcp/server/stdio.py
  examples/snippets/docstrings/mcp/shared/_httpx_utils.py
  examples/snippets/docstrings/mcp/shared/exceptions.py
  examples/snippets/docstrings/mcp/shared/experimental/tasks/helpers.py
  examples/snippets/docstrings/mcp/shared/metadata_utils.py
  examples/snippets/docstrings/mcp/shared/response_router.py
  examples/snippets/docstrings/mcp/shared/session.py
  examples/snippets/pyproject.toml
  pyproject.toml
  src/mcp/client/auth/extensions/client_credentials.py
  src/mcp/client/client.py
  src/mcp/client/experimental/task_handlers.py
  src/mcp/client/experimental/tasks.py
  src/mcp/client/session.py
  src/mcp/client/session_group.py
  src/mcp/server/experimental/request_context.py
  src/mcp/server/experimental/task_context.py
  src/mcp/server/experimental/task_support.py
  src/mcp/server/lowlevel/experimental.py
  src/mcp/server/mcpserver/server.py
  src/mcp/server/sse.py
  src/mcp/server/stdio.py
  src/mcp/shared/_httpx_utils.py
  src/mcp/shared/exceptions.py
  src/mcp/shared/experimental/tasks/helpers.py
  src/mcp/shared/metadata_utils.py
  src/mcp/shared/response_router.py
  src/mcp/shared/session.py
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Restructure snippet system docs into shared intro with subsections
  CLAUDE.md
Due: none

Document markdown snippet syncing in `CLAUDE.md`
  CLAUDE.md
Due: none

Remove "Full example" links from `README.v2.md`
  README.v2.md
Due: readme-snippets

Replace Claude for Desktop with VS Code + Copilot in server quickstart
  docs/server-quickstart.md
Due: readme-snippets

- add client id when exchanging token - initialize provider in test_exchange_token_client_credentials and test_exchange_token_without_scopes unittests
  src/mcp/client/auth/extensions/client_credentials.py
  tests/client/auth/extensions/test_client_credentials.py
Due: ruff-format, ruff, pyright, readme-snippets

make sure that client info is not None
  src/mcp/client/auth/extensions/client_credentials.py
Due: ruff-format, ruff, pyright, readme-snippets

Fix stdio_server closing process stdio handles
  src/mcp/server/stdio.py
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

Handle BrokenResourceError in stdio client streams
  src/mcp/client/stdio.py
  tests/client/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

feat(transport-security): add subdomain wildcard support for allowed_hosts
  src/mcp/server/transport_security.py
  tests/server/test_sse_security.py
  tests/server/test_streamable_http_security.py
  tests/server/test_transport_security.py
Due: ruff-format, ruff, pyright, readme-snippets

Fix stateless HTTP task accumulation causing memory leak (#756)
  src/mcp/server/streamable_http_manager.py
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

Fix issue reference from #756 (closed) to #1764 (open)
  src/mcp/server/streamable_http_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

Fix CI: coverage, ruff format, and remove unused handle_list_tools
  src/mcp/server/streamable_http_manager.py
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

feat: add public API for runtime handler registration/deregistration
  src/mcp/server/lowlevel/experimental.py
  src/mcp/server/lowlevel/server.py
  tests/server/lowlevel/test_handler_registration.py
Due: ruff-format, ruff, pyright, readme-snippets

Remove over-conservative pragma: no cover annotations
  src/mcp/server/streamable_http.py
  src/mcp/server/streamable_http_manager.py
  src/mcp/shared/session.py
Due: ruff-format, ruff, pyright, readme-snippets

Revert sleep(0) approach — coverage was racy
  src/mcp/server/streamable_http.py
  src/mcp/server/streamable_http_manager.py
  src/mcp/shared/session.py
Due: ruff-format, ruff, pyright, readme-snippets

Move pragma: no cover to logger.debug (the unreachable line)
  src/mcp/server/streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Move terminate() after task group exit for deterministic cancellation
  src/mcp/server/streamable_http.py
  src/mcp/server/streamable_http_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

Use lax no cover for timing-dependent exception paths; fix ruff format
  src/mcp/server/streamable_http.py
  src/mcp/server/streamable_http_manager.py
  src/mcp/shared/session.py
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

Fix ruff format and Python 3.11 coverage false negatives in test
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright

Remove unused Tool import flagged by ruff
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright

Fix pyright errors for private task group access in test
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright

fix: CPU busy-loop on streamable HTTP / SSE client shutdown
  src/mcp/client/sse.py
  src/mcp/client/streamable_http.py
  src/mcp/shared/session.py
  tests/shared/test_session.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Create CNAME
  CNAME
Due: none

Path conditions:
  ruff-format: any of: \.py$
  ruff: any of: \.py$, but not: ^README(\.v2)?\.md$
  pyright: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  readme-v1-frozen: any of: ^README\.md$
  readme-snippets: any of: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
