Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

ruff-format:
  name: Ruff Format
  entry: uv run --frozen ruff
  args:
  - format
  language: system
  pass_filenames: false

ruff:
  name: Ruff
  entry: uv run --frozen ruff
  args:
  - check
  - --fix
  - --exit-non-zero-on-fix
  language: system
  pass_filenames: false

pyright:
  name: pyright
  entry: uv run --frozen pyright
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv.lock is up to date
  entry: uv lock --check
  language: system
  pass_filenames: false

readme-v1-frozen:
  name: README.md is frozen (v1 docs)
  entry: README.md is frozen at v1. Edit README.v2.md instead.
  language: fail

readme-snippets:
  name: Check snippets are up to date
  entry: uv run --frozen python scripts/sync_snippets.py --check
  language: system
  pass_filenames: false

Add assertion for session_manager not None (pyright)
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright

ci: use github-actions[bot] as author for weekly lockfile commits
  .github/workflows/weekly-lockfile-update.yml
Due: none

Use sign-commits instead of hardcoded author
  .github/workflows/weekly-lockfile-update.yml
Due: none

Run handle_request in caller context, not as child task
  src/mcp/server/streamable_http_manager.py
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

Update session.py
  src/mcp/shared/session.py
Due: ruff-format, ruff, pyright, readme-snippets

ci: sign weekly lockfile commits as github-actions[bot] (#2148)
  .github/workflows/weekly-lockfile-update.yml
Due: none

fix: accept wildcard media types in Accept header per RFC 7231
  src/mcp/server/streamable_http.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

prevent non-canonical response ID collisions
  src/mcp/shared/session.py
  tests/shared/test_session.py
Due: ruff-format, ruff, pyright, readme-snippets

fix flaky non-canonical ID collision test
  tests/shared/test_session.py
Due: ruff-format, ruff, pyright

Test cases
  src/mcp/shared/session.py
  tests/test_context_propagation.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Implement MCP client opentelemetry tracing
  src/mcp/client/client.py
  src/mcp/client/session.py
  src/mcp/server/lowlevel/server.py
  src/mcp/server/mcpserver/server.py
  src/mcp/server/session.py
  src/mcp/shared/_otel_utils.py
  src/mcp/shared/session.py
  tests/shared/test_otel_tracing.py
Due: ruff-format, ruff, pyright, readme-snippets

OpenTelemetry `_meta` propagation
  pyproject.toml
  src/mcp/shared/session.py
  tests/shared/test_otel_context_meta.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Propagate contextvars through anyio streams
  src/mcp/client/sse.py
  src/mcp/client/streamable_http.py
  src/mcp/server/lowlevel/server.py
  src/mcp/shared/message.py
  src/mcp/shared/session.py
Due: ruff-format, ruff, pyright, readme-snippets

ci: add Slack notification for maintainer PRs
  .github/workflows/pull-request-checks.yml
Due: none

Add PR Slack notification workflow
  .github/workflows/pr-notify.yml
Due: none

feat: add execution parameter to add_tool() for task support declaration
  src/mcp/server/mcpserver/server.py
  src/mcp/server/mcpserver/tools/base.py
  src/mcp/server/mcpserver/tools/tool_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: correct return type annotation for MCPServer.call_tool()
  src/mcp/server/mcpserver/server.py
Due: ruff-format, ruff, pyright, readme-snippets

Return `CallToolResult` from `convert_result` instead of a tuple
  src/mcp/server/mcpserver/server.py
  src/mcp/server/mcpserver/utilities/func_metadata.py
  tests/server/mcpserver/test_func_metadata.py
  tests/server/mcpserver/test_tool_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

Apply suggestions from code review
  src/mcp/server/mcpserver/utilities/func_metadata.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: clarify Streamable HTTP stateless mode semantics and usage
  README.md
Due: readme-v1-frozen

fix: convert deployment pattern bold text to proper headings
  README.md
Due: readme-v1-frozen

fix: move stateless mode docs from frozen README.md to README.v2.md
  README.md
  README.v2.md
Due: readme-v1-frozen, readme-snippets

fix: add SSRF redirect protection to httpx client factory
  src/mcp/shared/_httpx_utils.py
  tests/shared/test_httpx_utils.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: use 'is not None' for related_request_id to handle id=0
  src/mcp/shared/session.py
Due: ruff-format, ruff, pyright, readme-snippets

style: apply ruff format
  src/mcp/shared/session.py
Due: ruff-format, ruff, pyright, readme-snippets

style: apply ruff format
  src/mcp/server/lowlevel/server.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: catch ClosedResourceError in error handler to prevent crash on client disconnect
  src/mcp/server/lowlevel/server.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: handle ClientDisconnect gracefully instead of returning HTTP 500
  src/mcp/server/streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: configure only mcp namespace logger instead of root logger
  src/mcp/server/mcpserver/utilities/logging.py
Due: ruff-format, ruff, pyright, readme-snippets

style: apply ruff format
  src/mcp/server/mcpserver/utilities/logging.py
  src/mcp/server/stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: prevent stdio transport from closing real stdin/stdout
  src/mcp/server/stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(stdio): allow configurable memory-stream buffer size
  src/mcp/server/stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

style: apply ruff format
  src/mcp/server/session.py
Due: ruff-format, ruff, pyright, readme-snippets

feat(server): expose progress_callback on ServerSession request methods
  src/mcp/server/session.py
Due: ruff-format, ruff, pyright, readme-snippets

perf: use deque for InMemoryTaskMessageQueue FIFO operations
  src/mcp/shared/experimental/tasks/message_queue.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: use os.dup() to prevent stdio transport from closing real stdin/stdout
  src/mcp/server/stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

style: apply ruff format
  src/mcp/server/stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: detect Context parameter in callable class instances
  src/mcp/server/mcpserver/utilities/context_injection.py
  tests/server/mcpserver/test_tool_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

style: apply ruff format
  tests/server/mcpserver/test_tool_manager.py
Due: ruff-format, ruff, pyright

Path conditions:
  ruff-format: any of: \.py$
  ruff: any of: \.py$, but not: ^README(\.v2)?\.md$
  pyright: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  readme-v1-frozen: any of: ^README\.md$
  readme-snippets: any of: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
