Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

ruff-format:
  name: Ruff Format
  entry: uv run --frozen ruff
  args:
  - format
  language: system
  pass_filenames: false

ruff:
  name: Ruff
  entry: uv run --frozen ruff
  args:
  - check
  - --fix
  - --exit-non-zero-on-fix
  language: system
  pass_filenames: false

pyright:
  name: pyright
  entry: uv run --frozen pyright
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv.lock is up to date
  entry: uv lock --check
  language: system
  pass_filenames: false

readme-v1-frozen:
  name: README.md is frozen (v1 docs)
  entry: README.md is frozen at v1. Edit README.v2.md instead.
  language: fail

readme-snippets:
  name: Check snippets are up to date
  entry: uv run --frozen python scripts/sync_snippets.py --check
  language: system
  pass_filenames: false

Extract docstring code examples into type-checked companion files
  examples/snippets/docstrings/mcp/client/auth/extensions/client_credentials.py
  examples/snippets/docstrings/mcp/client/client.py
  examples/snippets/docstrings/mcp/client/experimental/task_handlers.py
  examples/snippets/docstrings/mcp/client/experimental/tasks.py
  examples/snippets/docstrings/mcp/client/session.py
  examples/snippets/docstrings/mcp/client/session_group.py
  examples/snippets/docstrings/mcp/server/experimental/request_context.py
  examples/snippets/docstrings/mcp/server/experimental/task_context.py
  examples/snippets/docstrings/mcp/server/experimental/task_support.py
  examples/snippets/docstrings/mcp/server/lowlevel/experimental.py
  examples/snippets/docstrings/mcp/server/mcpserver/server.py
  examples/snippets/docstrings/mcp/server/sse.py
  examples/snippets/docstrings/mcp/server/stdio.py
  examples/snippets/docstrings/mcp/shared/_httpx_utils.py
  examples/snippets/docstrings/mcp/shared/exceptions.py
  examples/snippets/docstrings/mcp/shared/experimental/tasks/helpers.py
  examples/snippets/docstrings/mcp/shared/metadata_utils.py
  examples/snippets/docstrings/mcp/shared/response_router.py
  examples/snippets/docstrings/mcp/shared/session.py
  examples/snippets/pyproject.toml
  pyproject.toml
  src/mcp/client/auth/extensions/client_credentials.py
  src/mcp/client/client.py
  src/mcp/client/experimental/task_handlers.py
  src/mcp/client/experimental/tasks.py
  src/mcp/client/session.py
  src/mcp/client/session_group.py
  src/mcp/server/experimental/request_context.py
  src/mcp/server/experimental/task_context.py
  src/mcp/server/experimental/task_support.py
  src/mcp/server/lowlevel/experimental.py
  src/mcp/server/mcpserver/server.py
  src/mcp/server/sse.py
  src/mcp/server/stdio.py
  src/mcp/shared/_httpx_utils.py
  src/mcp/shared/exceptions.py
  src/mcp/shared/experimental/tasks/helpers.py
  src/mcp/shared/metadata_utils.py
  src/mcp/shared/response_router.py
  src/mcp/shared/session.py
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Support path-less `#region` markers in `sync_snippets.py`
  scripts/sync_snippets.py
Due: ruff-format, ruff, pyright, readme-snippets

Document docstring snippet conventions in `CLAUDE.md`
  CLAUDE.md
Due: none

Document markdown snippet syncing in `CLAUDE.md`
  CLAUDE.md
Due: none

Restructure snippet system docs into shared intro with subsections
  CLAUDE.md
Due: none

Test cases
  src/mcp/shared/session.py
  tests/test_context_propagation.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Propagate contextvars through anyio streams
  src/mcp/client/sse.py
  src/mcp/client/streamable_http.py
  src/mcp/server/lowlevel/server.py
  src/mcp/shared/message.py
  src/mcp/shared/session.py
Due: ruff-format, ruff, pyright, readme-snippets

OpenTelemetry `_meta` propagation
  pyproject.toml
  src/mcp/shared/session.py
  tests/shared/test_otel_context_meta.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

fix: stop infinite GET stream reconnection on repeated empty connections
  src/mcp/client/streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: propagate error when SSE stream ends without a response
  src/mcp/client/streamable_http.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Log warning for unhandled exceptions in default message handler
  src/mcp/client/session.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: change _handle_reconnection to return bool and fix infinite recursion
  src/mcp/client/streamable_http.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

test: cover branch where reconnection exhausts max attempts
  src/mcp/client/streamable_http.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: strip trailing slash from issuer URL in OAuth metadata serialization
  src/mcp/shared/auth.py
  tests/server/auth/test_protected_resource.py
  tests/shared/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

Reject JSON-RPC requests with null id instead of misclassifying as notifications
  src/mcp/types/jsonrpc.py
  tests/issues/test_2057_null_id_rejected.py
Due: ruff-format, ruff, pyright, readme-snippets

Fix pre-commit formatting: inline short dict arguments
  tests/issues/test_2057_null_id_rejected.py
Due: ruff-format, ruff, pyright

Fix pyright: use concrete dict type for model_validator parameter
  src/mcp/types/jsonrpc.py
Due: ruff-format, ruff, pyright, readme-snippets

Fix pyright: remove unnecessary isinstance check
  src/mcp/types/jsonrpc.py
Due: ruff-format, ruff, pyright, readme-snippets

refactor: address review feedback on docstrings and test structure
  src/mcp/types/jsonrpc.py
  tests/issues/test_2057_null_id_rejected.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: handle ClosedResourceError in _handle_message error path (#2064)
  src/mcp/server/lowlevel/server.py
  tests/server/test_lowlevel_exception_handling.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: restore eager OAuth discovery to avoid slow unauthenticated roundtrip (#1274)
  src/mcp/client/auth/oauth2.py
  tests/client/test_auth.py
  tests/client/test_scope_bug_1630.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(client): propagate HTTP transport exceptions to caller
  src/mcp/client/sse.py
  src/mcp/client/streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(tests): use condition-based waiting for child process tests
  tests/client/test_stdio.py
Due: ruff-format, ruff, pyright

test(tests): add coverage for _wait_for_file_to_exist error paths
  tests/client/test_stdio.py
Due: ruff-format, ruff, pyright

feat: add subject and claims fields to AccessToken
  src/mcp/server/auth/provider.py
  tests/server/auth/test_provider.py
Due: ruff-format, ruff, pyright, readme-snippets

feat: add SessionState model for serializable session state
  src/mcp/shared/session_state.py
  tests/shared/test_session_state.py
Due: ruff-format, ruff, pyright, readme-snippets

feat: add get_session_state() method to ClientSession
  src/mcp/client/session.py
  tests/client/test_session.py
Due: ruff-format, ruff, pyright, readme-snippets

feat: add from_session_state() classmethod to ClientSession
  src/mcp/client/session.py
  tests/client/test_session.py
Due: ruff-format, ruff, pyright, readme-snippets

test: add integration test for session state round-trip
  tests/client/test_session.py
Due: ruff-format, ruff, pyright

feat: export SessionState from public API
  src/mcp/__init__.py
  src/mcp/shared/__init__.py
Due: ruff-format, ruff, pyright, readme-snippets

style: apply code formatting and linting fixes
  pyproject.toml
  tests/client/test_session.py
  tests/shared/test_session_state.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check

test: add coverage for None branches in from_session_state
  tests/client/test_session.py
Due: ruff-format, ruff, pyright

refactor(server): rename lifespan function to session_lifespan
  src/mcp/server/lowlevel/server.py
Due: ruff-format, ruff, pyright, readme-snippets

feat(server): add ServerLifespanManager for server-scoped context
  src/mcp/server/server_lifespan.py
Due: ruff-format, ruff, pyright, readme-snippets

feat(server): integrate server lifespan into Starlette app lifespan
  src/mcp/server/lowlevel/server.py
Due: ruff-format, ruff, pyright, readme-snippets

refactor(server): split ServerRequestContext into server and session contexts
  src/mcp/server/context.py
Due: ruff-format, ruff, pyright, readme-snippets

refactor(server): update handler context to use separate lifespan contexts
  src/mcp/server/lowlevel/server.py
Due: ruff-format, ruff, pyright, readme-snippets

test(server): update lifespan tests for Option B API
  src/mcp/server/mcpserver/server.py
  tests/server/test_lifespan.py
Due: ruff-format, ruff, pyright, readme-snippets

test(server): add comprehensive tests for server lifespan
  tests/server/test_server_lifespan.py
Due: ruff-format, ruff, pyright

test(server): add integration tests for server lifespan with streamable-http
  tests/server/test_streamable_http_server_lifespan.py
Due: ruff-format, ruff, pyright

Path conditions:
  ruff-format: any of: \.py$
  ruff: any of: \.py$, but not: ^README(\.v2)?\.md$
  pyright: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  readme-v1-frozen: any of: ^README\.md$
  readme-snippets: any of: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
