Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args:
          [
            "--fix",
            "--config",
            "pyproject.toml",
            "--configPointer",
            "/tool/markdown/lint",
          ]
        types: [markdown]

  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff Format
        entry: uv run --frozen ruff
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: ruff
        name: Ruff
        entry: uv run --frozen ruff
        args: ["check", "--fix", "--exit-non-zero-on-fix"]
        types: [python]
        language: system
        pass_filenames: false
        exclude: ^README(\.v2)?\.md$
      - id: pyright
        name: pyright
        entry: uv run --frozen pyright
        language: system
        types: [python]
        pass_filenames: false
      - id: uv-lock-check
        name: Check uv.lock is up to date
        entry: uv lock --check
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false
      # TODO(Max): Drop this in v2.
      - id: readme-v1-frozen
        name: README.md is frozen (v1 docs)
        entry: README.md is frozen at v1. Edit README.v2.md instead.
        language: fail
        files: ^README\.md$
      - id: readme-snippets
        name: Check snippets are up to date
        entry: uv run --frozen python scripts/sync_snippets.py --check
        language: system
        files: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
        pass_filenames: false

fix: make UrlElicitationRequiredError pickle-safe
  src/mcp/shared/exceptions.py
  tests/shared/test_exceptions.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: add newline="" to stdio TextIOWrapper to prevent CRLF on Windows
  src/mcp/server/stdio.py
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: invalidate tool schema cache on ToolListChangedNotification and paginate all pages
  src/mcp/client/session.py
  tests/client/test_output_schema_validation.py
Due: ruff-format, ruff, pyright, readme-snippets

style: apply ruff format fixes flagged by pre-commit CI
  src/mcp/client/session.py
  tests/client/test_output_schema_validation.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: accept wildcard patterns in Accept header per RFC 7231 §5.3.2
  src/mcp/server/streamable_http.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: remove unused OAuthClientMetadata import in test_auth
  tests/shared/test_auth.py
Due: ruff-format, ruff, pyright

fix: validate_scope allows any scope when client has no registered scope restriction
  src/mcp/shared/auth.py
  tests/shared/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

refactor: use set operations for scope validation per reviewer feedback
  src/mcp/shared/auth.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: preserve reconnect attempt counter on second stream disconnect
  src/mcp/client/streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

style: inline InvalidScopeError raise to fit on one line
  src/mcp/shared/auth.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: use model_validate to satisfy pyright AnyUrl type check
  tests/shared/test_auth.py
Due: ruff-format, ruff, pyright

Fix #915: Resolve AnyIO cancellation scope RuntimeError in ClientSessionGroup on connection disconnects
  src/mcp/client/session_group.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: restore OAuthClientMetadata import removed during rebase
  tests/shared/test_auth.py
Due: ruff-format, ruff, pyright

SEP-2207: Refresh token guidance (#2039)
  src/mcp/client/auth/oauth2.py
  src/mcp/client/auth/utils.py
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(#397): update context logging type hints to allow any JSON-serializable data
  src/mcp/server/mcpserver/context.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: remove unused Any import flagged by ruff
  tests/client/test_logging_callback.py
Due: ruff-format, ruff, pyright

fix: align Context logging methods with MCP spec data type
  src/mcp/server/mcpserver/context.py
  tests/client/test_logging_callback.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: widen Context.log level to full LoggingLevel
  src/mcp/server/mcpserver/context.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: add migration entry for Context logging changes
  docs/migration.md
Due: readme-snippets

docs: update README.v2 Context logging signatures to use data
  README.v2.md
Due: readme-snippets

fix: align Context logging methods with MCP spec data type (#2366)
  README.v2.md
  docs/migration.md
  src/mcp/server/mcpserver/context.py
  tests/client/test_logging_callback.py
Due: ruff-format, ruff, pyright, readme-snippets

feat(auth): add subject field to AccessToken for user identification
  src/mcp/server/auth/provider.py
  tests/server/auth/middleware/test_auth_context.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(server): allow tools with outputSchema to surface errors via unstructured content
  src/mcp/server/lowlevel/server.py
Due: ruff-format, ruff, pyright, readme-snippets

feat(tools): inline local $ref pointers in tool inputSchema (#2384)
  src/mcp/server/mcpserver/tools/base.py
  src/mcp/server/mcpserver/utilities/schema.py
  tests/server/mcpserver/utilities/__init__.py
  tests/server/mcpserver/utilities/test_schema.py
Due: ruff-format, ruff, pyright, readme-snippets

test: update test_pydantic_model_function for inlined $ref schema (#2384)
  tests/server/mcpserver/test_tool_manager.py
Due: ruff-format, ruff, pyright

fix: ruff format + 100% coverage on dereference_local_refs
  src/mcp/server/mcpserver/tools/base.py
  src/mcp/server/mcpserver/utilities/schema.py
  tests/server/mcpserver/utilities/test_schema.py
Due: ruff-format, ruff, pyright, readme-snippets

[v1.x] fix(stdio): handle BrokenResourceError in stdout_reader (#1960)
  src/mcp/client/stdio/__init__.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(stdio): handle BrokenResourceError in stdout_reader race
  src/mcp/client/stdio.py
  tests/client/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

[v1.x] test(stdio): regression test for #1960 BrokenResourceError race
  tests/client/test_stdio.py
Due: ruff-format, ruff, pyright

feat: add Dispatcher Protocol and DirectDispatcher
  src/mcp/shared/direct_dispatcher.py
  src/mcp/shared/dispatcher.py
  src/mcp/shared/exceptions.py
  src/mcp/shared/transport_context.py
  src/mcp/types/__init__.py
  src/mcp/types/jsonrpc.py
  tests/shared/test_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: address coverage gaps and stale RequestSender docstring
  src/mcp/shared/dispatcher.py
  tests/shared/test_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

refactor: rename Dispatcher.call to send_request, replace RequestSender with Outbound
  src/mcp/shared/direct_dispatcher.py
  src/mcp/shared/dispatcher.py
  tests/shared/test_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

Make session_idle_timeout usable without aborting active requests
  src/mcp/server/lowlevel/server.py
  src/mcp/server/mcpserver/server.py
  src/mcp/server/streamable_http.py
  src/mcp/server/streamable_http_manager.py
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

Prevent malformed child stdout from crashing stdio_client
  src/mcp/client/stdio.py
  tests/client/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

Keep stdio_client strict-no-cover in sync with exercised behavior
  src/mcp/client/stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

Stabilize idle-timeout coverage under CI timing
  src/mcp/server/lowlevel/server.py
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

Align idle-timeout regression test with pyright expectations
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright

Doc: Clarify MCP client-server model in What is MCP? section
  README.md
Due: readme-v1-frozen

refactor: rename Outbound.send_request to send_raw_request
  src/mcp/shared/direct_dispatcher.py
  src/mcp/shared/dispatcher.py
  src/mcp/shared/exceptions.py
  src/mcp/shared/transport_context.py
  tests/shared/test_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

feat: JSONRPCDispatcher outbound side + parametrized contract tests
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/shared/conftest.py
  tests/shared/test_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets
