Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args:
          [
            "--fix",
            "--config",
            "pyproject.toml",
            "--configPointer",
            "/tool/markdown/lint",
          ]
        types: [markdown]

  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff Format
        entry: uv run --frozen ruff
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: ruff
        name: Ruff
        entry: uv run --frozen ruff
        args: ["check", "--fix", "--exit-non-zero-on-fix"]
        types: [python]
        language: system
        pass_filenames: false
        exclude: ^README(\.v2)?\.md$
      - id: pyright
        name: pyright
        entry: uv run --frozen pyright
        language: system
        types: [python]
        pass_filenames: false
      - id: uv-lock-check
        name: Check uv.lock is up to date
        entry: uv lock --check
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false
      # TODO(Max): Drop this in v2.
      - id: readme-v1-frozen
        name: README.md is frozen (v1 docs)
        entry: README.md is frozen at v1. Edit README.v2.md instead.
        language: fail
        files: ^README\.md$
      - id: readme-snippets
        name: Check snippets are up to date
        entry: uv run --frozen python scripts/sync_snippets.py --check
        language: system
        files: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
        pass_filenames: false

fix(coverage): lax no cover on two matrix-entry-dependent except handlers
  src/mcp/server/streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

feat: add MCP_HIDE_INPUT_IN_ERRORS env var to redact payloads from validation errors
  src/mcp/shared/auth.py
  src/mcp/types/jsonrpc.py
  tests/test_types.py
Due: ruff-format, ruff, pyright, readme-snippets

Restrict httpx version to <1.0.0
  pyproject.toml
Due: uv-lock-check

fix: add pragma markers for unreachable defensive branches in context_aware handler
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright

Fix AttributeError when tool fields are None in OpenAI Agents SDK instrumentation
  agentops/instrumentation/providers/openai/attributes/response.py
  tests/unit/instrumentation/providers/openai/test_response_issue_1285.py
Due: ruff-format, ruff, pyright

Fix documentation related to Quickstart
  README.md
Due: readme-v1-frozen

Update uv.lock for httpx<1.0.0 constraint
  uv.lock
Due: uv-lock-check

Restrict httpx version to <1.0.0 (#2345)
  pyproject.toml
  uv.lock
Due: uv-lock-check

fix: suppress DeprecationWarning in threaded uvicorn server
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright

fix: suppress Windows ProactorBasePipeTransport teardown warning
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright

fix: suppress ProactorEventLoop teardown warnings on Windows
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright

fix: reject URL-encoded path separators in resource template parameters
  src/mcp/server/mcpserver/resources/templates.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: suppress uvicorn deprecation warnings in threaded test servers
  pyproject.toml
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, uv-lock-check

fix(auth): harden enterprise managed auth with RFC compliance fixes
  .github/actions/conformance/client.py
  .github/workflows/conformance.yml
  src/mcp/client/auth/extensions/enterprise_managed_auth.py
  tests/client/auth/test_enterprise_managed_auth_client.py
Due: ruff-format, ruff, pyright, readme-snippets

test: achieve 100% coverage on streamable_http.py
  src/mcp/server/streamable_http.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(security): remove shell=True to prevent command injection on Windows
  src/mcp/cli/cli.py
  tests/cli/test_utils.py
Due: ruff-format, ruff, pyright, readme-snippets

refactor: decompose func_metadata() into smaller focused helpers
  src/mcp/server/mcpserver/utilities/func_metadata.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: return METHOD_NOT_FOUND (-32601) for unknown methods instead of INVALID_PARAMS (-32602)
  src/mcp/client/session.py
  src/mcp/server/session.py
  src/mcp/shared/session.py
Due: ruff-format, ruff, pyright, readme-snippets

feat: integrate UriTemplate into MCPServer resource templates
  src/mcp/server/mcpserver/resources/resource_manager.py
  src/mcp/server/mcpserver/resources/templates.py
  src/mcp/server/mcpserver/server.py
  tests/server/mcpserver/resources/test_resource_template.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

refactor: accept plain set for ResourceSecurity.exempt_params
  docs/migration.md
  src/mcp/server/mcpserver/resources/templates.py
  tests/server/mcpserver/resources/test_resource_template.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

feat: wire ResourceSecurity into MCPServer configuration
  src/mcp/server/mcpserver/__init__.py
  src/mcp/server/mcpserver/resources/__init__.py
  src/mcp/server/mcpserver/resources/templates.py
  src/mcp/server/mcpserver/server.py
  tests/server/mcpserver/resources/test_resource_template.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

feat: add RFC 6570 URI template utility with bidirectional support
  src/mcp/shared/uri_template.py
  tests/shared/test_uri_template.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: add migration guide entry for resource template changes
  docs/migration.md
Due: readme-snippets

docs: add resources guide covering templates, security, and low-level usage
  docs/server/resources.md
  mkdocs.yml
Due: readme-snippets

feat: add filesystem path safety primitives
  src/mcp/shared/path_security.py
  tests/shared/test_path_security.py
Due: ruff-format, ruff, pyright, readme-snippets

feat: reject duplicate variable names in URI templates
  src/mcp/shared/uri_template.py
  tests/shared/test_uri_template.py
Due: ruff-format, ruff, pyright, readme-snippets

test: add adversarial security test cases for layered defense
  tests/server/mcpserver/resources/test_resource_template.py
  tests/shared/test_uri_template.py
Due: ruff-format, ruff, pyright

feat: add UriTemplate.is_template() static method
  src/mcp/shared/uri_template.py
  tests/shared/test_uri_template.py
Due: ruff-format, ruff, pyright, readme-snippets

feat: add URI length guard to UriTemplate.match()
  src/mcp/shared/uri_template.py
  tests/shared/test_uri_template.py
Due: ruff-format, ruff, pyright, readme-snippets

test: add edge-case coverage for literal handling and anchoring
  tests/shared/test_uri_template.py
Due: ruff-format, ruff, pyright

feat: reject null bytes in safe_join path components
  src/mcp/shared/path_security.py
  tests/shared/test_path_security.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: decide template vs static purely on URI variables
  src/mcp/server/mcpserver/resources/resource_manager.py
  src/mcp/server/mcpserver/server.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: correct ; operator matching and expansion per RFC 6570
  src/mcp/shared/uri_template.py
  tests/shared/test_uri_template.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(streamable-http): demote stateless termination log to debug
  src/mcp/server/streamable_http.py
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

refactor: remove post-decode structural checks from UriTemplate.match
  docs/migration.md
  docs/server/resources.md
  src/mcp/server/mcpserver/resources/templates.py
  src/mcp/shared/uri_template.py
  tests/server/mcpserver/resources/test_resource_template.py
  tests/shared/test_uri_template.py
Due: ruff-format, ruff, pyright, readme-snippets

feat: lenient query param matching for {?var} and {&var}
  src/mcp/shared/uri_template.py
  tests/server/mcpserver/test_server.py
  tests/shared/test_uri_template.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: tighten parse-time validation and document matching limits
  src/mcp/shared/uri_template.py
  tests/shared/test_uri_template.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: preserve pct-triplets in reserved expansion; allow empty match captures
  src/mcp/shared/uri_template.py
  tests/shared/test_uri_template.py
Due: ruff-format, ruff, pyright, readme-snippets

refactor: use lists instead of tuples for variable-length sequences
  src/mcp/shared/uri_template.py
  tests/shared/test_uri_template.py
Due: ruff-format, ruff, pyright, readme-snippets
