Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args:
          [
            "--fix",
            "--config",
            "pyproject.toml",
            "--configPointer",
            "/tool/markdown/lint",
          ]
        types: [markdown]

  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff Format
        entry: uv run --frozen ruff
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: ruff
        name: Ruff
        entry: uv run --frozen ruff
        args: ["check", "--fix", "--exit-non-zero-on-fix"]
        types: [python]
        language: system
        pass_filenames: false
        exclude: ^README(\.v2)?\.md$
      - id: pyright
        name: pyright
        entry: uv run --frozen pyright
        language: system
        types: [python]
        pass_filenames: false
      - id: uv-lock-check
        name: Check uv.lock is up to date
        entry: uv lock --check
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false
      # TODO(Max): Drop this in v2.
      - id: readme-v1-frozen
        name: README.md is frozen (v1 docs)
        entry: README.md is frozen at v1. Edit README.v2.md instead.
        language: fail
        files: ^README\.md$
      - id: readme-snippets
        name: Check snippets are up to date
        entry: uv run --frozen python scripts/sync_snippets.py --check
        language: system
        files: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
        pass_filenames: false

Rename scopes= to scope= on the client-credentials OAuth providers
  docs/client/oauth-clients.md
  docs/migration.md
  docs_src/oauth_clients/tutorial002.py
  examples/stories/oauth_client_credentials/client.py
  src/mcp/client/auth/extensions/client_credentials.py
  tests/client/auth/extensions/test_client_credentials.py
  tests/interaction/auth/test_lifecycle.py
Due: ruff-format, ruff, pyright, readme-snippets

Remove Context.client_id
  docs/migration.md
  src/mcp/server/mcpserver/context.py
Due: ruff-format, ruff, pyright, readme-snippets

Narrow message_handler's parameter to notifications and exceptions
  docs/client/callbacks.md
  docs/migration.md
  examples/stories/standalone_get/client.py
  examples/stories/stickynotes/client.py
  src/mcp/client/__init__.py
  src/mcp/client/__main__.py
  src/mcp/client/client.py
  src/mcp/client/session.py
  src/mcp/client/session_group.py
  src/mcp/shared/session.py
  tests/client/test_client_caching.py
  tests/client/test_logging_callback.py
  tests/client/test_notification_response.py
  tests/client/test_session.py
  tests/interaction/_helpers.py
  tests/interaction/lowlevel/test_cancellation.py
  tests/interaction/lowlevel/test_elicitation.py
  tests/interaction/lowlevel/test_flows.py
  tests/interaction/lowlevel/test_list_changed.py
  tests/interaction/lowlevel/test_progress.py
  tests/interaction/lowlevel/test_resources.py
  tests/interaction/mcpserver/test_context.py
  tests/interaction/mcpserver/test_tools.py
  tests/interaction/transports/test_streamable_http.py
  tests/server/mcpserver/test_integration.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Remove Context.client_id (#3167)
  docs/migration.md
  src/mcp/server/mcpserver/context.py
Due: ruff-format, ruff, pyright, readme-snippets

Rename scopes= to scope= on the client-credentials OAuth providers (#3166)
  docs/client/oauth-clients.md
  docs/migration.md
  docs_src/oauth_clients/tutorial002.py
  examples/stories/oauth_client_credentials/client.py
  src/mcp/client/auth/extensions/client_credentials.py
  tests/client/auth/extensions/test_client_credentials.py
  tests/interaction/auth/test_lifecycle.py
Due: ruff-format, ruff, pyright, readme-snippets

Stop advertising MCP_* env vars for MCPServer settings; drop pydantic-settings
  docs/get-started/installation.md
  docs/migration.md
  pyproject.toml
  src/mcp/server/mcpserver/server.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Replace FileResource.is_binary with an encoding field
  docs/migration.md
  src/mcp/server/mcpserver/resources/base.py
  src/mcp/server/mcpserver/resources/types.py
  tests/server/mcpserver/resources/test_file_resources.py
Due: ruff-format, ruff, pyright, readme-snippets

Correct stable v2 target date to 2026-07-28 (#3105)
  README.md
Due: readme-v1-frozen

[v1.x] ci: pick the docs toolchain per worktree in build-docs.sh (#3082)
  scripts/build-docs.sh
Due: none

Remove the deprecated RFC7523OAuthClientProvider
  docs/migration.md
  src/mcp/client/auth/extensions/client_credentials.py
  tests/client/auth/extensions/test_client_credentials.py
  tests/docs_src/test_oauth_clients.py
Due: ruff-format, ruff, pyright, readme-snippets

Remove the examples' pydantic-settings usage instead of carrying the dependency
  examples/mcpserver/text_me.py
  examples/servers/simple-auth/mcp_simple_auth/server.py
  examples/servers/simple-auth/mcp_simple_auth/simple_auth_provider.py
  examples/servers/simple-auth/pyproject.toml
  pyproject.toml
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Fall back to the caller-configured scope when the server advertises none
  docs/client/oauth-clients.md
  src/mcp/client/auth/extensions/client_credentials.py
  src/mcp/client/auth/oauth2.py
  src/mcp/client/auth/utils.py
  tests/client/test_auth.py
  tests/interaction/_requirements.py
  tests/interaction/auth/test_lifecycle.py
Due: ruff-format, ruff, pyright, readme-snippets

Qualify message_handler delivery docs; fix stale README line
  docs/client/callbacks.md
  src/mcp/client/session.py
  tests/interaction/README.md
Due: ruff-format, ruff, pyright, readme-snippets

Remove the token_data hook left behind by the provider deletion
  docs/migration.md
  src/mcp/client/auth/oauth2.py
Due: ruff-format, ruff, pyright, readme-snippets

Remove the deprecated RFC7523OAuthClientProvider (#3169)
  docs/migration.md
  src/mcp/client/auth/extensions/client_credentials.py
  src/mcp/client/auth/oauth2.py
  tests/client/auth/extensions/test_client_credentials.py
  tests/docs_src/test_oauth_clients.py
Due: ruff-format, ruff, pyright, readme-snippets

Revert "Remove the examples' pydantic-settings usage instead of carrying the dependency"
  examples/mcpserver/text_me.py
  examples/servers/simple-auth/mcp_simple_auth/server.py
  examples/servers/simple-auth/mcp_simple_auth/simple_auth_provider.py
  examples/servers/simple-auth/pyproject.toml
  pyproject.toml
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Stop advertising MCP_* env vars for MCPServer settings; drop pydantic-settings (#3170)
  docs/get-started/installation.md
  docs/migration.md
  pyproject.toml
  src/mcp/server/mcpserver/server.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Remove the unused timeout parameter from OAuthClientProvider
  docs/client/oauth-clients.md
  docs/migration.md
  src/mcp/client/auth/extensions/client_credentials.py
  src/mcp/client/auth/oauth2.py
  tests/client/test_auth.py
  tests/docs_src/test_oauth_clients.py
Due: ruff-format, ruff, pyright, readme-snippets

Correct ClientSession's exception-delivery docstring; list shared.session removal
  docs/whats-new.md
  src/mcp/client/session.py
Due: ruff-format, ruff, pyright, readme-snippets

Shrink the textual mime set and default text to utf-8-sig
  docs/migration.md
  src/mcp/server/mcpserver/resources/types.py
  tests/server/mcpserver/resources/test_file_resources.py
Due: ruff-format, ruff, pyright, readme-snippets

Remove the unused timeout parameter from OAuthClientProvider (#3165)
  docs/client/oauth-clients.md
  docs/migration.md
  src/mcp/client/auth/extensions/client_credentials.py
  src/mcp/client/auth/oauth2.py
  tests/client/test_auth.py
  tests/docs_src/test_oauth_clients.py
Due: ruff-format, ruff, pyright, readme-snippets

Narrow message_handler's parameter to notifications and exceptions (#3168)
  docs/client/callbacks.md
  docs/migration.md
  docs/whats-new.md
  examples/stories/standalone_get/client.py
  examples/stories/stickynotes/client.py
  src/mcp/client/__init__.py
  src/mcp/client/__main__.py
  src/mcp/client/client.py
  src/mcp/client/session.py
  src/mcp/client/session_group.py
  src/mcp/shared/session.py
  tests/client/test_client_caching.py
  tests/client/test_logging_callback.py
  tests/client/test_notification_response.py
  tests/client/test_session.py
  tests/interaction/README.md
  tests/interaction/_helpers.py
  tests/interaction/lowlevel/test_cancellation.py
  tests/interaction/lowlevel/test_elicitation.py
  tests/interaction/lowlevel/test_flows.py
  tests/interaction/lowlevel/test_list_changed.py
  tests/interaction/lowlevel/test_progress.py
  tests/interaction/lowlevel/test_resources.py
  tests/interaction/mcpserver/test_context.py
  tests/interaction/mcpserver/test_tools.py
  tests/interaction/transports/test_streamable_http.py
  tests/server/mcpserver/test_integration.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Reject non-text codecs and clarify the migration edge cases
  docs/migration.md
  src/mcp/server/mcpserver/resources/types.py
  tests/server/mcpserver/resources/test_file_resources.py
Due: ruff-format, ruff, pyright, readme-snippets

[v1.x] Move the v1.x docs to /v1/ and mark v1.x as the maintenance line
  .github/workflows/deploy-docs.yml
  .github/workflows/shared.yml
  README.md
  docs/index.md
  docs/installation.md
  mkdocs.yml
  pyproject.toml
  scripts/build-docs.sh
  scripts/docs/build.sh
Due: uv-lock-check, readme-v1-frozen, readme-snippets

Replace FileResource.is_binary with an encoding field (#3171)
  docs/migration.md
  src/mcp/server/mcpserver/resources/base.py
  src/mcp/server/mcpserver/resources/types.py
  tests/server/mcpserver/resources/test_file_resources.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(client): don't send client_id in token body under client_secret_basic
  src/mcp/client/auth/oauth2.py
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

Lengthen the demo signing keys in the identity-assertion examples
  docs_src/identity_assertion/tutorial001.py
  docs_src/identity_assertion/tutorial002.py
  examples/stories/identity_assertion/idp.py
Due: ruff-format, ruff, pyright, readme-snippets

Key validator reuse to schema value and let listing absorption own it
  src/mcp/client/session.py
  tests/client/test_client.py
  tests/client/test_session_promotions.py
Due: ruff-format, ruff, pyright, readme-snippets

Cache compiled output-schema validators on ClientSession (#3134)
  src/mcp/client/session.py
  tests/client/test_client.py
  tests/client/test_session_promotions.py
Due: ruff-format, ruff, pyright, readme-snippets

Lengthen the demo signing keys in the identity-assertion examples (#3180)
  docs_src/identity_assertion/tutorial001.py
  docs_src/identity_assertion/tutorial002.py
  examples/stories/identity_assertion/idp.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: return HTTP 400 PARSE_ERROR for non-UTF-8 POST bodies
  src/mcp/server/streamable_http.py
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

Repin conformance harness to the published 0.2.0-alpha.10
  .github/actions/conformance/expected-failures.yml
  .github/workflows/conformance.yml
Due: none

ci: repin conformance harness to published 0.2.0-alpha.10
  .github/actions/conformance/expected-failures.yml
  .github/workflows/conformance.yml
Due: none

Repin conformance harness to the published 0.2.0-alpha.10 (#3184)
  .github/actions/conformance/expected-failures.yml
  .github/workflows/conformance.yml
Due: none

Point pre-release install pins at 2.0.0rc1
  README.md
  docs/get-started/installation.md
  docs/get-started/real-host.md
  docs/index.md
  docs/whats-new.md
Due: readme-v1-frozen, readme-snippets

Point pre-release install pins at 2.0.0rc1 (#3186)
  README.md
  docs/get-started/installation.md
  docs/get-started/real-host.md
  docs/index.md
  docs/whats-new.md
Due: readme-v1-frozen, readme-snippets

ci: pin conformance harness by tarball URL + sha256, not version spec
  .github/workflows/conformance.yml
Due: none

docs: fill migration-guide gaps found by automated v1-to-v2 migration runs
  docs/migration.md
Due: readme-snippets

docs: drop cross-link whose anchor slug differs between checkers
  docs/migration.md
Due: readme-snippets

Extract RequestCorrelator from JSONRPCDispatcher
  src/mcp/shared/_correlation.py
  src/mcp/shared/jsonrpc_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets
