Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args:
          [
            "--fix",
            "--config",
            "pyproject.toml",
            "--configPointer",
            "/tool/markdown/lint",
          ]
        types: [markdown]

  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff Format
        entry: uv run --frozen ruff
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: ruff
        name: Ruff
        entry: uv run --frozen ruff
        args: ["check", "--fix", "--exit-non-zero-on-fix"]
        types: [python]
        language: system
        pass_filenames: false
        exclude: ^README(\.v2)?\.md$
      - id: pyright
        name: pyright
        entry: uv run --frozen pyright
        language: system
        types: [python]
        pass_filenames: false
      - id: uv-lock-check
        name: Check uv.lock is up to date
        entry: uv lock --check
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false
      # TODO(Max): Drop this in v2.
      - id: readme-v1-frozen
        name: README.md is frozen (v1 docs)
        entry: README.md is frozen at v1. Edit README.v2.md instead.
        language: fail
        files: ^README\.md$
      - id: readme-snippets
        name: Check snippets are up to date
        entry: uv run --frozen python scripts/sync_snippets.py --check
        language: system
        files: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
        pass_filenames: false

docs(example): update lifespan example for Option B API
  examples/snippets/servers/lowlevel/lifespan.py
Due: ruff-format, ruff, pyright, readme-snippets

docs(migration): add lifespan redesign migration guide for Option B
  docs/migration.md
Due: readme-snippets

docs(readme): update lifespan documentation for dual scopes
  README.v2.md
Due: readme-snippets

fix: update remaining LifespanContextT imports to new type variables
  src/mcp/server/mcpserver/prompts/base.py
  src/mcp/server/mcpserver/prompts/manager.py
  src/mcp/server/mcpserver/resources/resource_manager.py
  src/mcp/server/mcpserver/resources/templates.py
  src/mcp/server/mcpserver/tools/base.py
  src/mcp/server/mcpserver/tools/tool_manager.py
  tests/server/mcpserver/test_tool_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(server): inline combined lifespan logic to fix method binding issue
  src/mcp/server/lowlevel/server.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: update remaining test files to use new lifespan context parameters
  tests/experimental/tasks/client/test_tasks.py
  tests/experimental/tasks/server/test_integration.py
  tests/issues/test_176_progress_token.py
  tests/issues/test_355_type_error.py
  tests/server/mcpserver/test_server.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright

fix: update MCPServer modules to use new 3-parameter Context type
  src/mcp/server/mcpserver/prompts/base.py
  src/mcp/server/mcpserver/prompts/manager.py
  src/mcp/server/mcpserver/resources/resource_manager.py
  src/mcp/server/mcpserver/resources/templates.py
  src/mcp/server/mcpserver/server.py
  src/mcp/server/mcpserver/tools/base.py
  src/mcp/server/mcpserver/tools/tool_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: update MCPServer lifespan example for API consistency
  README.v2.md
  examples/snippets/servers/lifespan_example.py
Due: ruff-format, ruff, pyright, readme-snippets

style: apply ruff formatting
  docs/plans/2026-02-22-lifespan-redesign.md
  docs/plans/PLAN_ISSUES_AND_CORRECTIONS.md
  docs/plans/PLAN_UPDATE_SUMMARY.md
  examples/snippets/servers/lowlevel/lifespan.py
  src/mcp/server/mcpserver/resources/resource_manager.py
  tests/server/mcpserver/test_tool_manager.py
  tests/server/test_streamable_http_server_lifespan.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: update task tests to use session_lifespan parameter
  tests/experimental/tasks/client/test_tasks.py
  tests/experimental/tasks/server/test_integration.py
Due: ruff-format, ruff, pyright

fix: add type narrowing for pyright reportOptionalSubscript
  tests/server/auth/test_provider.py
Due: ruff-format, ruff, pyright

feat: add exception group unwrapping utility
  src/mcp/shared/exceptions.py
  tests/shared/test_exceptions.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(session): unwrap ExceptionGroup in BaseSession.__aexit__
  src/mcp/shared/session.py
  tests/shared/test_session_exception_group.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(client): unwrap ExceptionGroup in transport clients
  src/mcp/client/sse.py
  src/mcp/client/stdio.py
  src/mcp/client/streamable_http.py
  src/mcp/client/websocket.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: correct relative links in docs after README restructure
  docs/client.md
  docs/server.md
Due: readme-snippets

fix(server): unwrap ExceptionGroup in transport servers
  src/mcp/server/sse.py
  src/mcp/server/stdio.py
  src/mcp/server/streamable_http.py
  src/mcp/server/websocket.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(remaining): unwrap ExceptionGroup in remaining task groups
  src/mcp/client/_memory.py
  src/mcp/client/session_group.py
  src/mcp/server/experimental/task_result_handler.py
  src/mcp/server/experimental/task_support.py
  src/mcp/server/lowlevel/server.py
  src/mcp/server/streamable_http_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: restructure README into docs/ pages (#2091)
  README.md
  docs/client.md
  docs/index.md
  docs/protocol.md
  docs/server.md
Due: readme-v1-frozen, readme-snippets

docs: add documentation for 19 missing features (SEP-1730 Tier 1)
  docs/client.md
  docs/protocol.md
  docs/server.md
Due: readme-snippets

fix: correct RequestContext type parameters in roots callback example
  docs/client.md
Due: readme-snippets

fix: rewrite URL mode elicitation example with realistic flow
  docs/server.md
Due: readme-snippets

fix: rewrite URL mode elicitation example with realistic shipping flow
  docs/server.md
Due: readme-snippets

docs: comprehensive feature documentation for SEP-1730 Tier 1 (#2090)
  docs/client.md
  docs/protocol.md
  docs/server.md
Due: readme-snippets

fix: correct doc errors found during review
  docs/authorization.md
  docs/client.md
  docs/server.md
  examples/snippets/clients/stdio_client.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: fix stub pages and improve docs structure
  README.md
  docs/authorization.md
  docs/client.md
  docs/concepts.md
  docs/index.md
  docs/low-level-server.md
  docs/protocol.md
  docs/server.md
  mkdocs.yml
Due: readme-v1-frozen, readme-snippets

docs: fix stub pages and improve docs structure (#2101)
  README.md
  docs/authorization.md
  docs/client.md
  docs/concepts.md
  docs/index.md
  docs/low-level-server.md
  docs/protocol.md
  docs/server.md
  examples/snippets/clients/stdio_client.py
  mkdocs.yml
Due: ruff-format, ruff, pyright, readme-v1-frozen, readme-snippets

docs: fix GitHub links to point to v1.x branch
  docs/authorization.md
  docs/client.md
  docs/low-level-server.md
  docs/server.md
  mkdocs.yml
  scripts/update_readme_snippets.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: fix GitHub links to point to v1.x branch (#2102)
  docs/authorization.md
  docs/client.md
  docs/low-level-server.md
  docs/server.md
  mkdocs.yml
  scripts/update_readme_snippets.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: add snippet verification for docs/ pages
  .github/workflows/shared.yml
  .pre-commit-config.yaml
  README.md
  docs/client.md
  docs/protocol.md
  docs/server.md
  examples/snippets/clients/cancellation.py
  examples/snippets/clients/logging_client.py
  examples/snippets/clients/roots_example.py
  examples/snippets/clients/sse_client.py
  examples/snippets/servers/audio_example.py
  examples/snippets/servers/binary_resources.py
  examples/snippets/servers/elicitation_complete.py
  examples/snippets/servers/elicitation_enum.py
  examples/snippets/servers/embedded_resource_results.py
  examples/snippets/servers/embedded_resource_results_binary.py
  examples/snippets/servers/json_schema_example.py
  examples/snippets/servers/prompt_change_notifications.py
  examples/snippets/servers/prompt_embedded_resources.py
  examples/snippets/servers/prompt_image_content.py
  examples/snippets/servers/resource_subscriptions.py
  examples/snippets/servers/resource_templates.py
  examples/snippets/servers/set_logging_level.py
  examples/snippets/servers/tool_change_notifications.py
  pyproject.toml
  scripts/update_doc_snippets.py
Due: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

docs: add snippet verification for docs/ pages (#2115)
  .github/workflows/shared.yml
  .pre-commit-config.yaml
  README.md
  docs/client.md
  docs/protocol.md
  docs/server.md
  examples/snippets/clients/cancellation.py
  examples/snippets/clients/logging_client.py
  examples/snippets/clients/roots_example.py
  examples/snippets/clients/sse_client.py
  examples/snippets/servers/audio_example.py
  examples/snippets/servers/binary_resources.py
  examples/snippets/servers/elicitation_complete.py
  examples/snippets/servers/elicitation_enum.py
  examples/snippets/servers/embedded_resource_results.py
  examples/snippets/servers/embedded_resource_results_binary.py
  examples/snippets/servers/json_schema_example.py
  examples/snippets/servers/prompt_change_notifications.py
  examples/snippets/servers/prompt_embedded_resources.py
  examples/snippets/servers/prompt_image_content.py
  examples/snippets/servers/resource_subscriptions.py
  examples/snippets/servers/resource_templates.py
  examples/snippets/servers/set_logging_level.py
  examples/snippets/servers/tool_change_notifications.py
  pyproject.toml
  scripts/update_doc_snippets.py
Due: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

Remove "Full example" links from `README.v2.md`
  README.v2.md
Due: readme-snippets

fix: use AnyHttpUrl in test constructors to satisfy pyright type checks
  tests/shared/test_auth.py
Due: ruff-format, ruff, pyright

docs: add server-side tool error handling documentation
  docs/server.md
  examples/snippets/servers/tool_errors.py
Due: ruff-format, ruff, pyright, readme-snippets

Add `quickstart-client` example for the "Building MCP clients" tutorial
  examples/clients/quickstart-client/.env.example
  examples/clients/quickstart-client/README.md
  examples/clients/quickstart-client/client.py
  examples/clients/quickstart-client/mcp_quickstart_client/__init__.py
  examples/clients/quickstart-client/pyproject.toml
  pyproject.toml
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

fix: add type annotation to fix pyright error
  examples/snippets/servers/tool_errors.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: sync doc snippets for server.md
  docs/server.md
Due: readme-snippets

chore: add BaseExceptionGroup imports for ruff compliance
  docs/plans/2025-02-23-exception-group-unwrapping.md
  src/mcp/client/_memory.py
  src/mcp/client/session_group.py
  src/mcp/client/sse.py
  src/mcp/client/stdio.py
  src/mcp/client/streamable_http.py
  src/mcp/client/websocket.py
  src/mcp/server/experimental/task_result_handler.py
  src/mcp/server/experimental/task_support.py
  src/mcp/server/lowlevel/server.py
  src/mcp/server/sse.py
  src/mcp/server/stdio.py
  src/mcp/server/streamable_http.py
  src/mcp/server/streamable_http_manager.py
  src/mcp/server/websocket.py
  src/mcp/shared/exceptions.py
Due: ruff-format, ruff, pyright, readme-snippets

chore: remove plan file from PR
  docs/plans/2025-02-23-exception-group-unwrapping.md
Due: readme-snippets

style: fix formatting in test_session_exception_group.py
  tests/shared/test_session_exception_group.py
Due: ruff-format, ruff, pyright

fix: resolve ruff linting errors in test_exceptions.py
  tests/shared/test_exceptions.py
Due: ruff-format, ruff, pyright
