Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

ruff-format:
  name: Ruff Format
  entry: uv run --frozen ruff
  args:
  - format
  language: system
  pass_filenames: false

ruff:
  name: Ruff
  entry: uv run --frozen ruff
  args:
  - check
  - --fix
  - --exit-non-zero-on-fix
  language: system
  pass_filenames: false

pyright:
  name: pyright
  entry: uv run --frozen pyright
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv.lock is up to date
  entry: uv lock --check
  language: system
  pass_filenames: false

readme-v1-frozen:
  name: README.md is frozen (v1 docs)
  entry: README.md is frozen at v1. Edit README.v2.md instead.
  language: fail

readme-snippets:
  name: Check snippets are up to date
  entry: uv run --frozen python scripts/sync_snippets.py --check
  language: system
  pass_filenames: false

Triage transport unit tests around the removed router internals
  src/mcp/server/streamable_http.py
  src/mcp/server/streamable_http_manager.py
  tests/server/test_streamable_http_manager.py
  tests/server/test_streamable_http_router.py
  tests/server/test_streamable_http_transport.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Align scope selection with the spec chain and stop mutating caller metadata
  docs/client/oauth-clients.md
  docs/migration.md
  src/mcp/client/auth/extensions/client_credentials.py
  src/mcp/client/auth/oauth2.py
  src/mcp/client/auth/utils.py
  tests/client/test_auth.py
  tests/interaction/_requirements.py
  tests/interaction/auth/test_lifecycle.py
Due: ruff-format, ruff, pyright, readme-snippets

Correct the scope-selection migration note and a stale test docstring
  docs/migration.md
  tests/interaction/auth/test_lifecycle.py
Due: ruff-format, ruff, pyright, readme-snippets

Close the coverage gaps in the rewritten transport
  src/mcp/server/runner.py
  src/mcp/server/streamable_http.py
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/server/test_runner.py
  tests/server/test_streamable_http_transport.py
Due: ruff-format, ruff, pyright, readme-snippets

Restore mcp.server.fastmcp as a deprecated import alias for MCPServer
  docs/migration.md
  scripts/docs/gen_ref_pages.py
  src/mcp/server/fastmcp/__init__.py
  src/mcp/server/mcpserver/server.py
  tests/server/test_fastmcp.py
Due: ruff-format, ruff, pyright, readme-snippets

Document the streamable HTTP transport change in the migration guide
  docs/migration.md
  src/mcp/server/lowlevel/server.py
  tests/interaction/README.md
Due: ruff-format, ruff, pyright, readme-snippets

Address review: seal the parse boundary and judge secret-less methods
  docs/client/oauth-clients.md
  docs/migration.md
  src/mcp/client/auth/oauth2.py
  src/mcp/client/auth/utils.py
  src/mcp/server/auth/handlers/register.py
  src/mcp/shared/auth.py
  tests/client/auth/extensions/test_client_credentials.py
  tests/client/test_auth.py
  tests/interaction/_requirements.py
  tests/interaction/auth/test_as_handlers.py
  tests/interaction/auth/test_discovery.py
  tests/shared/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

Address review: split the auth-method usability sets, seal the parse boundary
  docs/migration.md
  src/mcp/client/auth/oauth2.py
  src/mcp/client/auth/utils.py
  src/mcp/server/auth/handlers/register.py
  src/mcp/shared/auth.py
  tests/client/test_auth.py
  tests/interaction/_requirements.py
  tests/interaction/auth/test_as_handlers.py
  tests/interaction/auth/test_discovery.py
  tests/shared/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

Split the registration request model from the registered-client record
  docs/migration.md
  src/mcp/client/auth/oauth2.py
  src/mcp/client/auth/utils.py
  src/mcp/server/auth/handlers/register.py
  src/mcp/shared/auth.py
  tests/client/auth/extensions/test_client_credentials.py
  tests/client/test_auth.py
  tests/interaction/_requirements.py
  tests/interaction/auth/test_as_handlers.py
  tests/interaction/auth/test_discovery.py
  tests/shared/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

Fix contradictions in the FastMCP rename migration prose
  docs/migration.md
Due: readme-snippets

Inline the streamable-http transport-context kind literal
  src/mcp/server/streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Make the per-version wire packages private (`mcp_types._v*`)
  .github/workflows/shared.yml
  docs/migration.md
  pyproject.toml
  scripts/gen_surface_types.py
  src/mcp-types/mcp_types/_types.py
  src/mcp-types/mcp_types/_v2025_11_25/__init__.py
  src/mcp-types/mcp_types/_v2026_07_28/__init__.py
  src/mcp-types/mcp_types/_wire_base.py
  src/mcp-types/mcp_types/methods.py
  src/mcp/server/elicitation.py
  tests/types/test_methods.py
  tests/types/test_parity.py
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Fix defects found in review of the streamable HTTP rewrite
  docs/migration.md
  src/mcp/server/streamable_http.py
  tests/interaction/README.md
  tests/server/test_streamable_http_transport.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Point schema/README at the underscored generator output path
  schema/README.md
Due: none

Make the per-version wire packages private (`mcp_types._v*`) (#3191)
  .github/workflows/shared.yml
  docs/migration.md
  pyproject.toml
  schema/README.md
  scripts/gen_surface_types.py
  src/mcp-types/mcp_types/_types.py
  src/mcp-types/mcp_types/_v2025_11_25/__init__.py
  src/mcp-types/mcp_types/_v2026_07_28/__init__.py
  src/mcp-types/mcp_types/_wire_base.py
  src/mcp-types/mcp_types/methods.py
  src/mcp/server/elicitation.py
  tests/types/test_methods.py
  tests/types/test_parity.py
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Describe OAuthTokenError's client-side raise on the client OAuth page
  docs/client/oauth-clients.md
Due: readme-snippets

Split the registration request model from the registered-client record (#3181)
  docs/client/oauth-clients.md
  docs/migration.md
  src/mcp/client/auth/oauth2.py
  src/mcp/client/auth/utils.py
  src/mcp/server/auth/handlers/register.py
  src/mcp/shared/auth.py
  tests/client/auth/extensions/test_client_credentials.py
  tests/client/test_auth.py
  tests/interaction/_requirements.py
  tests/interaction/auth/test_as_handlers.py
  tests/interaction/auth/test_discovery.py
  tests/shared/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: fill migration-guide gaps found by automated v1-to-v2 migration runs (#3187)
  docs/migration.md
Due: readme-snippets

Correct the requirements manifest and README after the rework
  examples/stories/streaming/README.md
  tests/interaction/_requirements.py
Due: ruff-format, ruff, pyright

Terminate cancelled requests in-band on the legacy HTTP wire
  docs/migration.md
  examples/stories/streaming/README.md
  src/mcp/client/streamable_http.py
  src/mcp/server/streamable_http.py
  src/mcp/shared/jsonrpc_dispatcher.py
  src/mcp/shared/message.py
  tests/client/test_streamable_http.py
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_cancellation.py
  tests/interaction/lowlevel/test_wire.py
  tests/interaction/transports/test_client_transport_http.py
  tests/interaction/transports/test_streamable_http.py
  tests/shared/test_jsonrpc_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

Stop answering cancelled requests
  docs/migration.md
  src/mcp/client/streamable_http.py
  src/mcp/server/streamable_http.py
  src/mcp/shared/jsonrpc_dispatcher.py
  src/mcp/shared/message.py
  tests/client/test_streamable_http.py
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_cancellation.py
  tests/interaction/transports/test_client_transport_http.py
  tests/interaction/transports/test_streamable_http.py
  tests/server/test_cancel_handling.py
  tests/shared/test_jsonrpc_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

Stop answering cancelled requests (#3188)
  docs/migration.md
  examples/stories/streaming/README.md
  src/mcp/server/streamable_http.py
  src/mcp/shared/jsonrpc_dispatcher.py
  src/mcp/shared/message.py
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_cancellation.py
  tests/interaction/lowlevel/test_wire.py
  tests/interaction/transports/test_streamable_http.py
  tests/server/test_cancel_handling.py
  tests/shared/test_jsonrpc_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

Warn per event on unbound client notifications; keep server drops at debug
  docs/advanced/low-level-server.md
  docs/client/callbacks.md
  docs/migration.md
  docs/whats-new.md
  src/mcp/client/session.py
  src/mcp/server/runner.py
  tests/client/test_session.py
  tests/client/test_session_notification_bindings.py
  tests/server/test_runner.py
Due: ruff-format, ruff, pyright, readme-snippets

Make mcp.types a permanent alias, not a deprecation shim
  docs/migration.md
  docs/whats-new.md
  pyproject.toml
  scripts/docs/gen_ref_pages.py
  src/mcp/types.py
  tests/test_types.py
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Bind mcp.types on `import mcp`, restoring v1's fourth import idiom
  docs/migration.md
  src/mcp/__init__.py
  tests/test_types.py
Due: ruff-format, ruff, pyright, readme-snippets

Add mcp.types deprecation shim over mcp_types
  docs/migration.md
  pyproject.toml
  scripts/docs/gen_ref_pages.py
  src/mcp/types.py
  tests/test_types.py
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Bound the bare-import subprocess test with the suite's standard timeout
  tests/test_types.py
Due: ruff-format, ruff, pyright

Mirror mcp_types.methods and .jsonrpc under mcp.types too
  docs/migration.md
  src/mcp-types/mcp_types/jsonrpc.py
  src/mcp/types/__init__.py
  src/mcp/types/jsonrpc.py
  src/mcp/types/methods.py
  tests/test_types.py
Due: ruff-format, ruff, pyright, readme-snippets

Drop a stale line-number reference in the callbacks doc
  docs/client/callbacks.md
Due: readme-snippets

Drop the removed-name hint machinery from mcp.types
  docs/migration.md
  src/mcp/types/__init__.py
  tests/test_types.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: fix off-by-one hl_lines in apps.md
  docs/advanced/apps.md
Due: readme-snippets

docs: fix off-by-one hl_lines in apps.md (#3196)
  docs/advanced/apps.md
Due: readme-snippets

Document that connect() drivers must pass the transport's context builder
  src/mcp/server/streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Drop request-scoped messages a JSON response cannot carry at the router
  src/mcp/server/streamable_http.py
  tests/interaction/transports/test_streamable_http.py
  tests/server/test_streamable_http_router.py
Due: ruff-format, ruff, pyright, readme-snippets

Fail fast on request-scoped server requests in JSON-response mode
  docs/migration.md
  docs/run/index.md
  docs/run/legacy-clients.md
  docs/troubleshooting.md
  src/mcp/server/runner.py
  src/mcp/server/streamable_http.py
  src/mcp/server/streamable_http_manager.py
  src/mcp/shared/exceptions.py
  src/mcp/shared/transport_context.py
  tests/interaction/_requirements.py
  tests/interaction/transports/test_streamable_http.py
  tests/server/test_streamable_http_router.py
Due: ruff-format, ruff, pyright, readme-snippets

Add a subscription narrowing hook and stop sending unrequested change notifications
  docs/handlers/subscriptions.md
  docs/migration.md
  docs/whats-new.md
  src/mcp/server/connection.py
  src/mcp/server/mcpserver/server.py
  src/mcp/server/subscriptions.py
  tests/server/test_runner.py
  tests/server/test_subscriptions.py
Due: ruff-format, ruff, pyright, readme-snippets

Rework channel liveness, stream ids, and init ordering after review
  docs/migration.md
  src/mcp/server/runner.py
  src/mcp/server/streamable_http.py
  src/mcp/shared/_correlation.py
  tests/interaction/README.md
  tests/server/test_streamable_http_manager.py
  tests/server/test_streamable_http_transport.py
Due: ruff-format, ruff, pyright, readme-snippets

Move the JSON-mode back-channel verdict onto the message metadata
  src/mcp/server/runner.py
  src/mcp/server/streamable_http.py
  src/mcp/server/streamable_http_manager.py
  src/mcp/shared/jsonrpc_dispatcher.py
  src/mcp/shared/message.py
  tests/server/test_streamable_http_router.py
  tests/shared/test_jsonrpc_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

Path conditions:
  ruff-format: any of: \.py$
  ruff: any of: \.py$, but not: ^README(\.v2)?\.md$
  pyright: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  readme-v1-frozen: any of: ^README\.md$
  readme-snippets: any of: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
