Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

ruff-format:
  name: Ruff Format
  entry: uv run --frozen ruff
  args:
  - format
  language: system
  pass_filenames: false

ruff:
  name: Ruff
  entry: uv run --frozen ruff
  args:
  - check
  - --fix
  - --exit-non-zero-on-fix
  language: system
  pass_filenames: false

pyright:
  name: pyright
  entry: uv run --frozen pyright
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv.lock is up to date
  entry: uv lock --check
  language: system
  pass_filenames: false

readme-v1-frozen:
  name: README.md is frozen (v1 docs)
  entry: README.md is frozen at v1. Edit README.v2.md instead.
  language: fail

readme-snippets:
  name: Check snippets are up to date
  entry: uv run --frozen python scripts/sync_snippets.py --check
  language: system
  pass_filenames: false

Fold ClientExtension instances into Client
  docs/migration.md
  docs_src/apps/tutorial001.py
  docs_src/extensions/tutorial004.py
  examples/stories/apps/README.md
  examples/stories/apps/client.py
  examples/stories/extensions/README.md
  examples/stories/extensions/client.py
  src/mcp/client/client.py
  tests/client/test_client_extensions.py
  tests/docs_src/test_apps.py
  tests/docs_src/test_extensions.py
  tests/server/mcpserver/test_extension.py
  tests/server/test_apps.py
  tests/server/test_extensions_capability.py
Due: ruff-format, ruff, pyright, readme-snippets

Tighten comments and docstrings across the requestState change
  docs/advanced/low-level-server.md
  docs/advanced/multi-round-trip.md
  docs/migration.md
  docs/tutorial/dependencies.md
  docs_src/mrtr/tutorial005.py
  examples/servers/everything-server/mcp_everything_server/server.py
  examples/stories/README.md
  examples/stories/mrtr/README.md
  examples/stories/mrtr/client.py
  examples/stories/mrtr/server.py
  examples/stories/mrtr/server_lowlevel.py
  examples/stories/refund_desk/README.md
  examples/stories/refund_desk/server.py
  src/mcp-types/mcp_types/methods.py
  src/mcp/client/client.py
  src/mcp/server/mcpserver/resolve.py
  src/mcp/server/mcpserver/server.py
  src/mcp/server/request_state.py
  tests/docs_src/test_mrtr.py
  tests/server/mcpserver/test_resolve.py
  tests/server/mcpserver/test_server.py
  tests/server/test_request_state.py
  tests/server/test_request_state_boundary.py
  tests/server/test_request_state_gate.py
  tests/types/test_methods.py
Due: ruff-format, ruff, pyright, readme-snippets

Refine extension fold errors and pin read-once for all declarations
  src/mcp/client/client.py
  tests/client/test_client_extensions.py
Due: ruff-format, ruff, pyright, readme-snippets

Document client extensions and prove the loop in the interaction suite
  docs/advanced/extensions.md
  docs_src/extensions/tutorial006.py
  docs_src/extensions/tutorial007.py
  tests/docs_src/test_extensions.py
  tests/interaction/_connect.py
  tests/interaction/_requirements.py
  tests/interaction/mcpserver/test_extensions.py
  tests/interaction/transports/test_hosting_http_modern.py
Due: ruff-format, ruff, pyright, readme-snippets

Validate Mcp-Param-* headers server-side on the 2026-07-28 HTTP path (SEP-2243)
  .github/actions/conformance/expected-failures.2026-07-28.yml
  .github/actions/conformance/expected-failures.yml
  docs/migration.md
  src/mcp/server/_streamable_http_modern.py
  src/mcp/shared/inbound.py
  tests/interaction/transports/test_hosting_http_modern.py
  tests/server/test_streamable_http_modern.py
  tests/shared/test_inbound.py
Due: ruff-format, ruff, pyright, readme-snippets

Claimed shapes carry vendor fields verbatim; say so honestly
  docs/advanced/extensions.md
  docs_src/extensions/tutorial006.py
  tests/client/test_client_extensions.py
  tests/docs_src/test_extensions.py
  tests/interaction/_requirements.py
  tests/interaction/mcpserver/test_extensions.py
Due: ruff-format, ruff, pyright, readme-snippets

Pin union-typed x-mcp-header annotations as invalidating the whole tool's validation
  tests/shared/test_inbound.py
Due: ruff-format, ruff, pyright

Move the identifier grammar matrix to the shared test home
  tests/server/mcpserver/test_extension.py
  tests/shared/test_extension.py
Due: ruff-format, ruff, pyright

Fix core-arm sentinel collision and close binding queues on every exit
  src/mcp/client/client.py
  src/mcp/client/session.py
  tests/client/test_client_extensions.py
  tests/client/test_send_request_mcp_name.py
  tests/client/test_session_claims.py
  tests/client/test_session_promotions.py
Due: ruff-format, ruff, pyright, readme-snippets

Tighten comments and docstrings across the extension surface
  docs/advanced/extensions.md
  docs/migration.md
  examples/stories/custom_methods/README.md
  examples/stories/custom_methods/client.py
  src/mcp-types/mcp_types/_types.py
  src/mcp/client/client.py
  src/mcp/client/extension.py
  src/mcp/client/session.py
  src/mcp/server/extension.py
  src/mcp/shared/extension.py
  tests/client/test_client_extensions.py
  tests/client/test_extension.py
  tests/client/test_send_request_mcp_name.py
  tests/client/test_session_claims.py
  tests/client/test_session_notification_bindings.py
  tests/client/test_session_promotions.py
  tests/docs_src/test_extensions.py
  tests/interaction/_requirements.py
  tests/interaction/mcpserver/test_extensions.py
  tests/interaction/transports/test_hosting_http_modern.py
  tests/shared/test_extension.py
  tests/types/test_request_name_param.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(auth): make get_access_token per-request in stateful sessions
  src/mcp/server/auth/middleware/auth_context.py
  src/mcp/server/runner.py
  tests/server/auth/test_get_access_token_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(auth): avoid Request.user assertion without auth middleware
  src/mcp/server/auth/middleware/auth_context.py
Due: ruff-format, ruff, pyright, readme-snippets

fix auth context reset for streamable HTTP
  src/mcp/server/auth/middleware/auth_context.py
  tests/server/auth/test_get_access_token_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

chore(auth): type-safe auth context push
  src/mcp/server/auth/middleware/auth_context.py
  src/mcp/server/runner.py
Due: ruff-format, ruff, pyright, readme-snippets

test(streamable-http): exempt dropped async generator yield
  tests/client/test_streamable_http.py
Due: ruff-format, ruff, pyright

test(streamable-http): mark traced timeout guards no-branch
  tests/client/test_streamable_http.py
Due: ruff-format, ruff, pyright

Address review feedback on requestState protection
  docs/advanced/low-level-server.md
  docs/advanced/multi-round-trip.md
  docs/migration.md
  docs_src/mrtr/tutorial005.py
  examples/stories/mrtr/README.md
  examples/stories/mrtr/server_lowlevel.py
  src/mcp/server/auth/middleware/bearer_auth.py
  src/mcp/server/auth/provider.py
  src/mcp/server/mcpserver/resolve.py
  src/mcp/server/mcpserver/server.py
  src/mcp/server/request_state.py
  tests/docs_src/test_mrtr.py
  tests/server/auth/middleware/test_bearer_auth.py
  tests/server/auth/test_provider.py
  tests/server/mcpserver/test_resolve.py
  tests/server/test_request_state.py
  tests/server/test_request_state_boundary.py
  tests/server/test_request_state_gate.py
Due: ruff-format, ruff, pyright, readme-snippets

Cover both directions of the failing-codec test
  tests/server/test_request_state_boundary.py
Due: ruff-format, ruff, pyright

Test the default principal binding across two subjects of one client
  tests/server/test_request_state_boundary.py
Due: ruff-format, ruff, pyright

Address review feedback on claim construction and notification ordering
  docs/advanced/extensions.md
  docs_src/extensions/tutorial006.py
  examples/stories/custom_methods/README.md
  src/mcp/client/extension.py
  src/mcp/client/session.py
  tests/client/test_extension.py
  tests/docs_src/test_extensions.py
  tests/interaction/_requirements.py
Due: ruff-format, ruff, pyright, readme-snippets

Harden Mcp-Param validation per review: rendering as one fact, duplicate routing headers, parse-limit 500s
  docs/migration.md
  src/mcp/server/_streamable_http_modern.py
  src/mcp/shared/inbound.py
  tests/server/test_streamable_http_modern.py
  tests/shared/test_inbound.py
Due: ruff-format, ruff, pyright, readme-snippets

Tighten comments and docstrings to load-bearing facts only
  src/mcp/server/_streamable_http_modern.py
  src/mcp/shared/inbound.py
  tests/interaction/transports/test_hosting_http_modern.py
  tests/server/test_streamable_http_modern.py
  tests/shared/test_inbound.py
Due: ruff-format, ruff, pyright, readme-snippets

Seal requestState by default
  docs/advanced/low-level-server.md
  docs/advanced/multi-round-trip.md
  docs/migration.md
  docs/tutorial/dependencies.md
  docs/tutorial/elicitation.md
  docs_src/dependencies/tutorial001.py
  docs_src/dependencies/tutorial002.py
  docs_src/dependencies/tutorial003.py
  docs_src/elicitation/tutorial004.py
  examples/stories/README.md
  examples/stories/mrtr/README.md
  examples/stories/mrtr/server.py
  examples/stories/mrtr/server_lowlevel.py
  examples/stories/refund_desk/README.md
  examples/stories/refund_desk/server.py
  src/mcp/client/client.py
  src/mcp/server/mcpserver/server.py
  src/mcp/server/request_state.py
  tests/server/mcpserver/test_resolve.py
  tests/server/mcpserver/test_server.py
  tests/server/test_request_state.py
  tests/server/test_request_state_boundary.py
  tests/server/test_request_state_gate.py
Due: ruff-format, ruff, pyright, readme-snippets

Check every alias form when reserving core surface wire keys
  src/mcp/client/extension.py
  tests/client/test_extension.py
Due: ruff-format, ruff, pyright, readme-snippets

Catch RecursionError at the parse guard; disambiguate envelope vs handler faults in the schema listing
  src/mcp/server/_streamable_http_modern.py
  tests/server/test_streamable_http_modern.py
Due: ruff-format, ruff, pyright, readme-snippets

Require integrity protection for MRTR requestState (#3032)
  docs/advanced/low-level-server.md
  docs/advanced/multi-round-trip.md
  docs/tutorial/dependencies.md
  docs_src/mrtr/tutorial005.py
  examples/servers/everything-server/mcp_everything_server/server.py
  examples/stories/README.md
  examples/stories/mrtr/README.md
  examples/stories/mrtr/client.py
  examples/stories/mrtr/server.py
  examples/stories/mrtr/server_lowlevel.py
  examples/stories/refund_desk/README.md
  examples/stories/refund_desk/server.py
  src/mcp-types/mcp_types/methods.py
  src/mcp/client/client.py
  src/mcp/server/auth/middleware/bearer_auth.py
  src/mcp/server/auth/provider.py
  src/mcp/server/mcpserver/__init__.py
  src/mcp/server/mcpserver/resolve.py
  src/mcp/server/mcpserver/server.py
  src/mcp/server/request_state.py
  src/mcp/server/runner.py
  tests/docs_src/test_mrtr.py
  tests/server/auth/middleware/test_bearer_auth.py
  tests/server/auth/test_provider.py
  tests/server/mcpserver/test_resolve.py
  tests/server/mcpserver/test_server.py
  tests/server/test_request_state.py
  tests/server/test_request_state_boundary.py
  tests/types/test_methods.py
Due: ruff-format, ruff, pyright, readme-snippets

Add a client extension API (#3034)
  docs/advanced/extensions.md
  docs/migration.md
  docs_src/apps/tutorial001.py
  docs_src/extensions/tutorial004.py
  docs_src/extensions/tutorial006.py
  docs_src/extensions/tutorial007.py
  examples/stories/apps/README.md
  examples/stories/apps/client.py
  examples/stories/custom_methods/README.md
  examples/stories/custom_methods/client.py
  examples/stories/extensions/README.md
  examples/stories/extensions/client.py
  src/mcp-types/mcp_types/__init__.py
  src/mcp-types/mcp_types/_types.py
  src/mcp/client/__init__.py
  src/mcp/client/client.py
  src/mcp/client/extension.py
  src/mcp/client/session.py
  src/mcp/server/extension.py
  src/mcp/shared/extension.py
  tests/client/test_client_extensions.py
  tests/client/test_extension.py
  tests/client/test_send_request_mcp_name.py
  tests/client/test_session_claims.py
  tests/client/test_session_notification_bindings.py
  tests/client/test_session_promotions.py
  tests/docs_src/test_apps.py
  tests/docs_src/test_extensions.py
  tests/interaction/_connect.py
  tests/interaction/_requirements.py
  tests/interaction/mcpserver/test_extensions.py
  tests/interaction/transports/test_hosting_http_modern.py
  tests/server/mcpserver/test_extension.py
  tests/server/test_apps.py
  tests/server/test_extensions_capability.py
  tests/shared/test_extension.py
  tests/types/test_request_name_param.py
Due: ruff-format, ruff, pyright, readme-snippets

Validate Mcp-Param-* headers server-side on the 2026-07-28 HTTP path (SEP-2243) (#3033)
  .github/actions/conformance/expected-failures.2026-07-28.yml
  .github/actions/conformance/expected-failures.yml
  docs/migration.md
  src/mcp/server/_streamable_http_modern.py
  src/mcp/shared/inbound.py
  tests/interaction/transports/test_hosting_http_modern.py
  tests/server/test_streamable_http_modern.py
  tests/shared/test_inbound.py
Due: ruff-format, ruff, pyright, readme-snippets

Add the subscriptions docs page and example story
  docs/advanced/low-level-server.md
  docs/advanced/subscriptions.md
  docs/tutorial/context.md
  docs_src/subscriptions/__init__.py
  docs_src/subscriptions/tutorial001.py
  docs_src/subscriptions/tutorial002.py
  examples/stories/manifest.toml
  examples/stories/subscriptions/README.md
  examples/stories/subscriptions/__init__.py
  examples/stories/subscriptions/client.py
  examples/stories/subscriptions/server.py
  examples/stories/subscriptions/server_lowlevel.py
  mkdocs.yml
  tests/docs_src/test_subscriptions.py
Due: ruff-format, ruff, pyright, readme-snippets

Serve subscriptions/listen with a pluggable event bus (SEP-2575)
  .github/actions/conformance/expected-failures.2026-07-28.yml
  .github/actions/conformance/expected-failures.yml
  docs/advanced/low-level-server.md
  docs/tutorial/context.md
  src/mcp/server/mcpserver/context.py
  src/mcp/server/mcpserver/server.py
  src/mcp/server/subscriptions.py
  tests/server/mcpserver/test_server.py
  tests/server/test_subscriptions.py
Due: ruff-format, ruff, pyright, readme-snippets

Make the subscription bus async and fix review findings
  docs/advanced/low-level-server.md
  docs/tutorial/context.md
  src/mcp/server/mcpserver/context.py
  src/mcp/server/mcpserver/server.py
  src/mcp/server/subscriptions.py
  tests/server/mcpserver/test_server.py
  tests/server/test_subscriptions.py
Due: ruff-format, ruff, pyright, readme-snippets

Advertise subscription capabilities era-aware and apply review feedback
  docs/advanced/subscriptions.md
  docs/client/index.md
  docs/tutorial/first-steps.md
  examples/servers/everything-server/mcp_everything_server/server.py
  examples/stories/README.md
  examples/stories/subscriptions/README.md
  examples/stories/subscriptions/client.py
  examples/stories/subscriptions/server.py
  examples/stories/subscriptions/server_lowlevel.py
  src/mcp/server/_streamable_http_modern.py
  src/mcp/server/lowlevel/server.py
  src/mcp/server/mcpserver/context.py
  src/mcp/server/mcpserver/prompts/manager.py
  src/mcp/server/mcpserver/server.py
  src/mcp/server/subscriptions.py
  tests/docs_src/test_client.py
  tests/docs_src/test_first_steps.py
  tests/server/lowlevel/test_server_discover.py
  tests/server/mcpserver/test_server.py
  tests/server/test_streamable_http_modern.py
  tests/server/test_subscriptions.py
Due: ruff-format, ruff, pyright, readme-snippets

Document that subscription filters carry no per-client authorization
  docs/advanced/subscriptions.md
Due: readme-snippets

Apply review fixes to subscriptions/listen serving
  docs/advanced/subscriptions.md
  src/mcp/server/_streamable_http_modern.py
  src/mcp/server/mcpserver/server.py
  src/mcp/server/subscriptions.py
  tests/docs_src/test_subscriptions.py
  tests/server/lowlevel/test_server_discover.py
  tests/server/mcpserver/test_server.py
  tests/server/test_streamable_http_modern.py
  tests/server/test_subscriptions.py
Due: ruff-format, ruff, pyright, readme-snippets

Isolate a raising bus unsubscribe from listen stream cleanup
  src/mcp/server/subscriptions.py
  tests/server/test_subscriptions.py
Due: ruff-format, ruff, pyright, readme-snippets

Serve subscriptions/listen with a pluggable event bus (SEP-2575) (#3035)
  .github/actions/conformance/expected-failures.2026-07-28.yml
  .github/actions/conformance/expected-failures.yml
  docs/advanced/low-level-server.md
  docs/advanced/subscriptions.md
  docs/client/index.md
  docs/tutorial/context.md
  docs/tutorial/first-steps.md
  docs_src/subscriptions/__init__.py
  docs_src/subscriptions/tutorial001.py
  docs_src/subscriptions/tutorial002.py
  examples/servers/everything-server/mcp_everything_server/server.py
  examples/stories/README.md
  examples/stories/manifest.toml
  examples/stories/subscriptions/README.md
  examples/stories/subscriptions/__init__.py
  examples/stories/subscriptions/client.py
  examples/stories/subscriptions/server.py
  examples/stories/subscriptions/server_lowlevel.py
  mkdocs.yml
  src/mcp/server/_streamable_http_modern.py
  src/mcp/server/lowlevel/server.py
  src/mcp/server/mcpserver/context.py
  src/mcp/server/mcpserver/prompts/manager.py
  src/mcp/server/mcpserver/server.py
  src/mcp/server/subscriptions.py
  tests/docs_src/test_client.py
  tests/docs_src/test_first_steps.py
  tests/docs_src/test_subscriptions.py
  tests/server/lowlevel/test_server_discover.py
  tests/server/mcpserver/test_server.py
  tests/server/test_streamable_http_modern.py
  tests/server/test_subscriptions.py
Due: ruff-format, ruff, pyright, readme-snippets

Document pydantic.ValidationError in client Raises sections
  src/mcp/client/client.py
  src/mcp/client/session.py
Due: ruff-format, ruff, pyright, readme-snippets

Add v2 feedback issue template
  .github/ISSUE_TEMPLATE/v2-feedback.yaml
Due: none

Link the v2 feedback template from the README and docs
  README.md
  docs/index.md
Due: readme-v1-frozen, readme-snippets

Add v2 feedback issue template (#3037)
  .github/ISSUE_TEMPLATE/v2-feedback.yaml
  README.md
  docs/index.md
Due: readme-v1-frozen, readme-snippets

Path conditions:
  ruff-format: any of: \.py$
  ruff: any of: \.py$, but not: ^README(\.v2)?\.md$
  pyright: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  readme-v1-frozen: any of: ^README\.md$
  readme-snippets: any of: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
