Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args:
          [
            "--fix",
            "--config",
            "pyproject.toml",
            "--configPointer",
            "/tool/markdown/lint",
          ]
        types: [markdown]

  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff Format
        entry: uv run --frozen ruff
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: ruff
        name: Ruff
        entry: uv run --frozen ruff
        args: ["check", "--fix", "--exit-non-zero-on-fix"]
        types: [python]
        language: system
        pass_filenames: false
        exclude: ^README(\.v2)?\.md$
      - id: pyright
        name: pyright
        entry: uv run --frozen pyright
        language: system
        types: [python]
        pass_filenames: false
      - id: uv-lock-check
        name: Check uv.lock is up to date
        entry: uv lock --check
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false
      # TODO(Max): Drop this in v2.
      - id: readme-v1-frozen
        name: README.md is frozen (v1 docs)
        entry: README.md is frozen at v1. Edit README.v2.md instead.
        language: fail
        files: ^README\.md$
      - id: readme-snippets
        name: Check snippets are up to date
        entry: uv run --frozen python scripts/sync_snippets.py --check
        language: system
        files: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
        pass_filenames: false

Scope the validate_token_resource default note to resource servers; snippet URL
  docs/deprecated.md
  docs/run/authorization.md
  examples/snippets/servers/oauth_server.py
  src/mcp/server/auth/settings.py
Due: ruff-format, ruff, pyright, readme-snippets

[v1.x] Add AuthSettings.validate_token_resource to check a bearer token's resource
  docs/authorization.md
  examples/servers/simple-auth/mcp_simple_auth/server.py
  examples/servers/simple-auth/mcp_simple_auth/token_verifier.py
  examples/snippets/servers/oauth_server.py
  src/mcp/server/auth/middleware/bearer_auth.py
  src/mcp/server/auth/provider.py
  src/mcp/server/auth/settings.py
  src/mcp/server/fastmcp/server.py
  tests/server/auth/middleware/test_bearer_auth.py
  tests/server/auth/test_settings.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: show the resolver server in the -32021 troubleshooting entry
  docs/troubleshooting.md
Due: readme-snippets

Add AuthSettings.validate_token_resource to check a bearer token's resource (#3447)
  docs/deprecated.md
  docs/run/authorization.md
  docs_src/authorization/tutorial001.py
  docs_src/authorization/tutorial002.py
  examples/servers/simple-auth/mcp_simple_auth/server.py
  examples/servers/simple-auth/mcp_simple_auth/token_verifier.py
  examples/snippets/servers/oauth_server.py
  examples/stories/_shared/auth.py
  examples/stories/bearer_auth/server.py
  examples/stories/bearer_auth/server_lowlevel.py
  examples/stories/oauth_client_credentials/server.py
  examples/stories/oauth_client_credentials/server_lowlevel.py
  src/mcp/server/auth/middleware/bearer_auth.py
  src/mcp/server/auth/provider.py
  src/mcp/server/auth/settings.py
  src/mcp/server/lowlevel/server.py
  src/mcp/server/mcpserver/server.py
  tests/docs_src/test_identity_assertion.py
  tests/interaction/_requirements.py
  tests/interaction/auth/_harness.py
  tests/interaction/auth/_provider.py
  tests/interaction/auth/test_bearer.py
  tests/interaction/auth/test_lifecycle.py
  tests/server/auth/middleware/test_bearer_auth.py
  tests/server/auth/test_routes.py
  tests/server/auth/test_settings.py
Due: ruff-format, ruff, pyright, readme-snippets

[v1.x] Add AuthSettings.validate_token_resource to check a bearer token's resource (#3451)
  docs/authorization.md
  examples/servers/simple-auth/mcp_simple_auth/server.py
  examples/servers/simple-auth/mcp_simple_auth/token_verifier.py
  examples/snippets/servers/oauth_server.py
  src/mcp/server/auth/middleware/bearer_auth.py
  src/mcp/server/auth/provider.py
  src/mcp/server/auth/settings.py
  src/mcp/server/fastmcp/server.py
  tests/server/auth/middleware/test_bearer_auth.py
  tests/server/auth/test_settings.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: ask for AI disclosure on comments too, not just PRs and issues
  CONTRIBUTING.md
Due: none

fix(server): compare Host and Origin case-insensitively
  src/mcp/server/transport_security.py
  tests/server/test_transport_security.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(dispatcher): preserve non-canonical numeric strings in coerce_request_id
  src/mcp/shared/dispatcher.py
  tests/shared/test_jsonrpc_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(transport-security): compare Host and Origin case-insensitively (#3437)
  src/mcp/server/transport_security.py
  tests/server/test_transport_security.py
Due: ruff-format, ruff, pyright, readme-snippets

Compare Host and Origin case-insensitively (#3437)
  src/mcp/server/transport_security.py
  tests/server/test_transport_security.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: translate pages in parallel and every language in one run
  i18n/README.md
  scripts/docs/translations.py
  tests/docs/test_translations.py
Due: ruff-format, ruff, pyright

docs: import httpx lazily in the translation tool
  scripts/docs/translations.py
Due: ruff-format, ruff, pyright

docs: keep pages that finish while a translate run is stopping
  scripts/docs/translations.py
  tests/docs/test_translations.py
Due: ruff-format, ruff, pyright

docs: make the stopped-run translate tests deterministic
  scripts/docs/translations.py
  tests/docs/test_translations.py
Due: ruff-format, ruff, pyright

feat(stdio): support preexec_fn and process_group in StdioServerParameters (#3457)
  src/mcp/client/stdio.py
  tests/client/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

test(stdio): specify encoding in file operations to satisfy warn_default_encoding
  tests/client/test_stdio.py
Due: ruff-format, ruff, pyright

Preserve empty URL paths on OAuth metadata models (#2925)
  src/mcp/shared/auth.py
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

Keep the RFC 8707 resource byte-exact on pydantic < 2.12
  src/mcp/client/auth/oauth2.py
  src/mcp/shared/auth.py
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(server): require a numeric port for Host/Origin :* allowlist entries
  src/mcp/server/transport_security.py
  tests/server/test_transport_security.py
Due: ruff-format, ruff, pyright, readme-snippets

⚡ Optimize simple-auth-client by making wait_for_callback async
  examples/clients/simple-auth-client/mcp_simple_auth_client/main.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: alias-normalize CallToolResult structured_content after validate
  src/mcp/server/mcpserver/utilities/func_metadata.py
  tests/server/mcpserver/test_func_metadata.py
Due: ruff-format, ruff, pyright, readme-snippets

Replace RootModel wrappers with type aliases and TypeAdapter validation
  docs/servers/structured-output.md
  pyproject.toml
  scripts/gen_surface_types.py
  src/mcp-types/mcp_types/_v2025_11_25/__init__.py
  src/mcp-types/mcp_types/_v2026_07_28/__init__.py
  src/mcp/client/session.py
  src/mcp/server/auth/handlers/authorize.py
  src/mcp/server/elicitation.py
  src/mcp/server/mcpserver/utilities/func_metadata.py
  tests/types/test_methods.py
  tests/types/test_parity.py
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Replace RootModel wrappers with type aliases and TypeAdapter validation (#3470)
  docs/servers/structured-output.md
  pyproject.toml
  scripts/gen_surface_types.py
  src/mcp-types/mcp_types/_v2025_11_25/__init__.py
  src/mcp-types/mcp_types/_v2026_07_28/__init__.py
  src/mcp/client/session.py
  src/mcp/server/auth/handlers/authorize.py
  src/mcp/server/elicitation.py
  src/mcp/server/mcpserver/utilities/func_metadata.py
  tests/types/test_methods.py
  tests/types/test_parity.py
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

fix(client): omit empty _meta on outbound requests
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/shared/test_jsonrpc_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(mcpserver): omit pydantic auto-derived titles on tool input schemas
  src/mcp/server/mcpserver/tools/base.py
  src/mcp/server/mcpserver/utilities/func_metadata.py
  tests/server/mcpserver/tools/test_no_auto_titles.py
Due: ruff-format, ruff, pyright, readme-snippets

feat(mcpserver): add prompt-level meta support to MCPServer.prompt and Prompt model
  src/mcp/server/mcpserver/prompts/base.py
  src/mcp/server/mcpserver/server.py
  tests/server/mcpserver/prompts/test_base.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

Support meta on prompts, as tools and resources already do
  src/mcp/server/mcpserver/prompts/base.py
  src/mcp/server/mcpserver/server.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: reapply #2983 onto current main
  src/mcp/server/streamable_http.py
  tests/server/test_streamable_http_router.py
Due: ruff-format, ruff, pyright, readme-snippets

Add SEP-2640 protocol types and validation
  src/mcp/shared/skills.py
  tests/shared/test_skills.py
Due: ruff-format, ruff, pyright, readme-snippets

Add SEP-2640 server support
  src/mcp/server/skills.py
  tests/server/test_skills.py
Due: ruff-format, ruff, pyright, readme-snippets

Add SEP-2640 client support
  src/mcp/client/skills.py
  tests/client/test_skills.py
Due: ruff-format, ruff, pyright, readme-snippets

Document SEP-2640 Python SDK support
  docs/advanced/skills.md
  docs_src/skills/__init__.py
  docs_src/skills/tutorial001.py
  docs_src/skills/tutorial001_client.py
  mkdocs.yml
  tests/docs_src/test_skills.py
Due: ruff-format, ruff, pyright, readme-snippets

Strengthen SEP-2640 validation test coverage
  tests/shared/test_skills.py
Due: ruff-format, ruff, pyright

Rename skill resource-URI validator for clarity
  src/mcp/shared/skills.py
Due: ruff-format, ruff, pyright, readme-snippets
