Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args:
          [
            "--fix",
            "--config",
            "pyproject.toml",
            "--configPointer",
            "/tool/markdown/lint",
          ]
        types: [markdown]

  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff Format
        entry: uv run --frozen ruff
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: ruff
        name: Ruff
        entry: uv run --frozen ruff
        args: ["check", "--fix", "--exit-non-zero-on-fix"]
        types: [python]
        language: system
        pass_filenames: false
        exclude: ^README(\.v2)?\.md$
      - id: pyright
        name: pyright
        entry: uv run --frozen pyright
        language: system
        types: [python]
        pass_filenames: false
      - id: uv-lock-check
        name: Check uv.lock is up to date
        entry: uv lock --check
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false
      # TODO(Max): Drop this in v2.
      - id: readme-v1-frozen
        name: README.md is frozen (v1 docs)
        entry: README.md is frozen at v1. Edit README.v2.md instead.
        language: fail
        files: ^README\.md$
      - id: readme-snippets
        name: Check snippets are up to date
        entry: uv run --frozen python scripts/sync_snippets.py --check
        language: system
        files: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
        pass_filenames: false

test(streamable-http): apply ruff import order
  tests/client/test_streamable_http.py
Due: ruff-format, ruff, pyright

fix(streamable-http): bound empty SSE reconnect loops
  src/mcp/client/streamable_http.py
  tests/client/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

test(streamable-http): mark traced timeout guards no-branch
  tests/client/test_streamable_http.py
Due: ruff-format, ruff, pyright

test(streamable-http): keep reconnect fake covered
  tests/client/test_streamable_http.py
Due: ruff-format, ruff, pyright

fix(streamable-http): tolerate closed read streams during SSE cleanup
  src/mcp/client/streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

test(streamable-http): align reconnect exhaustion assertion
  tests/interaction/transports/test_hosting_resume.py
Due: ruff-format, ruff, pyright

fix: fail fast when session is not started
  src/mcp/client/session.py
  tests/client/test_session.py
Due: ruff-format, ruff, pyright, readme-snippets

test: cover ClientSession reentry guard
  tests/client/test_session.py
Due: ruff-format, ruff, pyright

test: cover EOF drain branches
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/shared/test_jsonrpc_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(server): opt-in drain on read EOF
  src/mcp/server/lowlevel/server.py
  src/mcp/server/mcpserver/server.py
  src/mcp/server/runner.py
  tests/server/test_cancel_handling.py
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(stdio): bound EOF drain wait
  src/mcp/server/lowlevel/server.py
  src/mcp/server/runner.py
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/server/test_cancel_handling.py
Due: ruff-format, ruff, pyright, readme-snippets

test: ignore coverage branch arc on 3.14
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright

fix(stdio): drain responses after stdin EOF
  src/mcp/server/lowlevel/server.py
  src/mcp/server/runner.py
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/server/test_cancel_handling.py
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

test: cover stdio EOF drain and shutdown edges
  tests/server/test_cancel_handling.py
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright

test: exercise dispatcher shutdown drain mode
  tests/shared/test_jsonrpc_dispatcher.py
Due: ruff-format, ruff, pyright

test: use handshake version in cancellation tests
  tests/server/test_cancel_handling.py
Due: ruff-format, ruff, pyright

test(streamable-http): cover closed-send helper
  tests/client/test_streamable_http.py
Due: ruff-format, ruff, pyright

fix: use correct pragma format for coverage exclusion
  src/mcp/server/streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Scope HTTP client redirect following to the request's origin
  docs/client/transports.md
  docs/migration.md
  docs/run/asgi.md
  docs_src/client_transports/tutorial003.py
  docs_src/identity_assertion/tutorial001.py
  docs_src/oauth_clients/tutorial001.py
  docs_src/oauth_clients/tutorial002.py
  examples/clients/simple-auth-client/mcp_simple_auth_client/main.py
  examples/servers/simple-tool/mcp_simple_tool/server.py
  examples/snippets/clients/identity_assertion_client.py
  examples/snippets/clients/oauth_client.py
  src/mcp/__init__.py
  src/mcp/client/auth/extensions/identity_assertion.py
  src/mcp/client/auth/oauth2.py
  src/mcp/client/auth/utils.py
  src/mcp/client/sse.py
  src/mcp/client/streamable_http.py
  src/mcp/shared/_httpx_utils.py
  tests/client/auth/extensions/test_identity_assertion.py
  tests/client/test_auth.py
  tests/shared/conftest.py
  tests/shared/test_httpx_utils.py
  tests/shared/test_sse.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Send SEP-2243 Mcp-Method/Mcp-Name headers from the StreamableHTTP client
  src/mcp/client/streamable_http.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Pin literal regex-metacharacter matching in ResourceTemplate.matches
  tests/server/mcpserver/resources/test_resource_template.py
Due: ruff-format, ruff, pyright

docs: clarify OpenTelemetry spans for resources and prompts
  docs/run/opentelemetry.md
  docs_src/opentelemetry/tutorial001.py
  tests/docs_src/test_opentelemetry.py
Due: ruff-format, ruff, pyright, readme-snippets

Gate the test matrix and retry setup-uv's flaky manifest fetch
  .github/workflows/shared.yml
  RELEASE.md
Due: none

Reject changed duplicate initialize requests
  src/mcp/server/session.py
  tests/server/test_session.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: document Windows stdio subprocess stdin
  docs/run/index.md
  docs/troubleshooting.md
Due: readme-snippets

docs: keep subprocess snippets lintable
  docs/run/index.md
  docs/troubleshooting.md
Due: readme-snippets

fix: reject trailing newline in tool-name validation
  src/mcp/shared/tool_name_validation.py
  tests/shared/test_tool_name_validation.py
Due: ruff-format, ruff, pyright, readme-snippets

Gate the test matrix and retry setup-uv's flaky manifest fetch (#3080)
  .github/workflows/shared.yml
  RELEASE.md
Due: none

docs: replace MkDocs with Zensical
  .github/workflows/deploy-docs.yml
  .github/workflows/docs-preview.yml
  .github/workflows/shared.yml
  .gitignore
  docs/hooks/gen_ref_pages.py
  docs/hooks/llms_txt.py
  mkdocs.yml
  pyproject.toml
  scripts/build-docs.sh
  scripts/docs/build_config.py
  scripts/docs/gen_ref_pages.py
  scripts/docs/llms_txt.py
  scripts/serve-docs.sh
  tests/docs_src/test_shape.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check

docs: fix serve-docs.sh usage text
  scripts/serve-docs.sh
Due: none

docs: fail the docs build when the nav references a missing page
  scripts/docs/build_config.py
Due: ruff-format, ruff, pyright

docs: single-source the Zensical build recipe in scripts/docs/build.sh
  .github/workflows/shared.yml
  scripts/build-docs.sh
  scripts/docs/build.sh
Due: none

docs: correct stale comments and the nav type alias
  .gitignore
  mkdocs.yml
  scripts/docs/gen_ref_pages.py
Due: ruff-format, ruff, pyright

docs: relock for zensical 0.0.48
  uv.lock
Due: uv-lock-check

ci: pick the docs-preview toolchain from the PR checkout
  .github/workflows/docs-preview.yml
Due: none

docs: fix the PERF401 lint error in gen_ref_pages.py
  scripts/docs/gen_ref_pages.py
Due: ruff-format, ruff, pyright

docs: pin the API index rendering for cross-package re-exports
  pyproject.toml
  scripts/docs/gen_ref_pages.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check

ci: pick the docs-preview toolchain from the PR checkout (#3081)
  .github/workflows/docs-preview.yml
Due: none

docs: add a project verify recipe for the docs toolchain
  .claude/skills/verify/SKILL.md
Due: none

docs: replace MkDocs with Zensical
  .github/workflows/deploy-docs.yml
  .github/workflows/shared.yml
  .gitignore
  docs/hooks/gen_ref_pages.py
  docs/hooks/llms_txt.py
  mkdocs.yml
  pyproject.toml
  scripts/build-docs.sh
  scripts/docs/build_config.py
  scripts/docs/gen_ref_pages.py
  scripts/docs/llms_txt.py
  scripts/serve-docs.sh
  tests/docs_src/test_shape.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check
