Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

ruff-format:
  name: Ruff Format
  entry: uv run --frozen ruff
  args:
  - format
  language: system
  pass_filenames: false

ruff:
  name: Ruff
  entry: uv run --frozen ruff
  args:
  - check
  - --fix
  - --exit-non-zero-on-fix
  language: system
  pass_filenames: false

pyright:
  name: pyright
  entry: uv run --frozen pyright
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv.lock is up to date
  entry: uv lock --check
  language: system
  pass_filenames: false

readme-v1-frozen:
  name: README.md is frozen (v1 docs)
  entry: README.md is frozen at v1. Edit README.v2.md instead.
  language: fail

readme-snippets:
  name: Check snippets are up to date
  entry: uv run --frozen python scripts/sync_snippets.py --check
  language: system
  pass_filenames: false

docs: explain transport security for proxies
  README.md
Due: readme-v1-frozen

docs: add bearer auth server example
  README.md
  README.v2.md
  examples/snippets/servers/bearer_auth_server.py
Due: ruff-format, ruff, pyright, readme-v1-frozen, readme-snippets

fix: request json token responses
  src/mcp/client/auth/oauth2.py
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: reject changed duplicate initialize
  src/mcp/server/session.py
  tests/server/test_session.py
Due: ruff-format, ruff, pyright, readme-snippets

feat: expose schema generator for tool schemas
  src/mcp/server/mcpserver/server.py
  src/mcp/server/mcpserver/tools/base.py
  src/mcp/server/mcpserver/tools/tool_manager.py
  src/mcp/server/mcpserver/utilities/func_metadata.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: list Python 3.14 in README badge
  README.md
Due: readme-v1-frozen

fix: isolate streamable http request errors
  src/mcp/client/streamable_http.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: move Python 3.14 badge to README v2
  README.md
  README.v2.md
Due: readme-v1-frozen, readme-snippets

fix: suppress completed request cancellation leak
  src/mcp/shared/session.py
  tests/shared/test_session.py
Due: ruff-format, ruff, pyright, readme-snippets

Fix Image helper schema generation
  src/mcp/server/mcpserver/utilities/func_metadata.py
  tests/server/mcpserver/test_func_metadata.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

Fix helper annotation detection on Python 3.10
  src/mcp/server/mcpserver/utilities/func_metadata.py
  tests/server/mcpserver/test_func_metadata.py
Due: ruff-format, ruff, pyright, readme-snippets

Avoid helper checks on parameterized generics
  src/mcp/server/mcpserver/utilities/func_metadata.py
Due: ruff-format, ruff, pyright, readme-snippets

Remove covered Image helper pragmas
  src/mcp/server/mcpserver/utilities/types.py
Due: ruff-format, ruff, pyright, readme-snippets

fix streamable http post error isolation
  src/mcp/client/streamable_http.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Fix Issue #2614 - changed the publishing url for Python docs
  mkdocs.yml
Due: none

fix: use list.extend with async comprehension to satisfy ruff PERF401
  tests/client/test_stdio.py
Due: ruff-format, ruff, pyright

fix(auth): request JSON token responses
  src/mcp/client/auth/oauth2.py
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: preserve optional string JSON arguments
  src/mcp/server/mcpserver/utilities/func_metadata.py
  tests/server/mcpserver/test_func_metadata.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: support context-only resources
  src/mcp/server/mcpserver/resources/types.py
  src/mcp/server/mcpserver/server.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

Validate full sampling tool result history
  src/mcp/server/validation.py
  tests/server/test_session.py
  tests/server/test_validation.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: detect context on callable tool instances
  src/mcp/server/mcpserver/utilities/context_injection.py
  tests/server/mcpserver/test_tool_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

Fix completed request cancellation cleanup
  src/mcp/shared/session.py
  tests/shared/test_session.py
Due: ruff-format, ruff, pyright, readme-snippets

Add task completion receipt guidance
  docs/experimental/task-receipts.md
Due: readme-snippets

Add task completion receipts to docs nav
  mkdocs.yml
Due: none

fix: prevent stdio_server from closing real stdin/stdout
  src/mcp/server/stdio.py
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: propagate SSE stream errors to waiting requests
  src/mcp/client/session.py
  src/mcp/client/streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(auth): reject empty-fragment redirect_uri (RFC 7591 §2)
  src/mcp/server/auth/routes.py
  tests/server/auth/test_routes.py
Due: ruff-format, ruff, pyright, readme-snippets

feat(auth): add validate_registered_redirect_uri helper
  src/mcp/server/auth/routes.py
  tests/server/auth/test_routes.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(auth): reject non-spec redirect_uris in DCR handler
  src/mcp/server/auth/_redirect_uri.py
  src/mcp/server/auth/handlers/register.py
  src/mcp/server/auth/routes.py
  tests/server/auth/test_error_handling.py
Due: ruff-format, ruff, pyright, readme-snippets

ci: deploy docs via GitHub Actions to py.sdk.modelcontextprotocol.io
  .github/workflows/deploy-docs.yml
  .github/workflows/publish-docs-manually.yml
  mkdocs.yml
Due: none

ci: deploy docs to py.sdk.modelcontextprotocol.io via GitHub Pages artifact
  .github/workflows/deploy-docs.yml
  .github/workflows/publish-docs-manually.yml
  .github/workflows/publish-pypi.yml
  .gitignore
  docs/index.md
  mkdocs.yml
  pyproject.toml
  scripts/build-docs.sh
Due: uv-lock-check, readme-snippets

[v1.x] ci: deploy docs to py.sdk.modelcontextprotocol.io via Pages artifact
  .github/workflows/deploy-docs.yml
  .github/workflows/publish-docs-manually.yml
  .github/workflows/publish-pypi.yml
  .gitignore
  docs/index.md
  mkdocs.yml
  pyproject.toml
  scripts/build-docs.sh
Due: uv-lock-check, readme-snippets

ci: deploy docs to py.sdk.modelcontextprotocol.io via Pages artifact (v1 at /, v2 at /v2/) (#2634)
  .github/workflows/deploy-docs.yml
  .github/workflows/publish-docs-manually.yml
  .github/workflows/publish-pypi.yml
  .gitignore
  docs/index.md
  mkdocs.yml
  pyproject.toml
  scripts/build-docs.sh
Due: uv-lock-check, readme-snippets

[v1.x] ci: deploy docs to py.sdk.modelcontextprotocol.io via Pages artifact (#2635)
  .github/workflows/deploy-docs.yml
  .github/workflows/publish-docs-manually.yml
  .github/workflows/publish-pypi.yml
  .gitignore
  docs/index.md
  mkdocs.yml
  pyproject.toml
  scripts/build-docs.sh
Due: uv-lock-check, readme-snippets

fix: make ClientSessionGroup streamable HTTP errors catchable
  src/mcp/client/session_group.py
  tests/client/test_session_group.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: validate registered redirect uris
  src/mcp/server/auth/handlers/register.py
  tests/server/mcpserver/auth/test_auth_integration.py
Due: ruff-format, ruff, pyright, readme-snippets

test: cover null redirect uri registration
  tests/server/mcpserver/auth/test_auth_integration.py
Due: ruff-format, ruff, pyright

fix: add 'invalid_target' to AuthorizationErrorCode (RFC 8707)
  src/mcp/server/auth/provider.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(stdio): use os.dup to avoid closing real stdin/stdout on server exit
  src/mcp/server/stdio.py
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(oauth): omit resource on refresh token
  src/mcp/client/auth/oauth2.py
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

Path conditions:
  ruff-format: any of: \.py$
  ruff: any of: \.py$, but not: ^README(\.v2)?\.md$
  pyright: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  readme-v1-frozen: any of: ^README\.md$
  readme-snippets: any of: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
