Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args:
          [
            "--fix",
            "--config",
            "pyproject.toml",
            "--configPointer",
            "/tool/markdown/lint",
          ]
        types: [markdown]

  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff Format
        entry: uv run --frozen ruff
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: ruff
        name: Ruff
        entry: uv run --frozen ruff
        args: ["check", "--fix", "--exit-non-zero-on-fix"]
        types: [python]
        language: system
        pass_filenames: false
        exclude: ^README(\.v2)?\.md$
      - id: pyright
        name: pyright
        entry: uv run --frozen pyright
        language: system
        types: [python]
        pass_filenames: false
      - id: uv-lock-check
        name: Check uv.lock is up to date
        entry: uv lock --check
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false
      # TODO(Max): Drop this in v2.
      - id: readme-v1-frozen
        name: README.md is frozen (v1 docs)
        entry: README.md is frozen at v1. Edit README.v2.md instead.
        language: fail
        files: ^README\.md$
      - id: readme-snippets
        name: Check snippets are up to date
        entry: uv run --frozen python scripts/sync_snippets.py --check
        language: system
        files: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
        pass_filenames: false

Harden ClientSession/dispatcher lifecycle and error handling
  src/mcp/client/session.py
  src/mcp/server/session.py
  src/mcp/shared/direct_dispatcher.py
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/client/test_session.py
  tests/interaction/lowlevel/test_timeouts.py
  tests/server/test_session.py
  tests/shared/test_dispatcher.py
  tests/shared/test_jsonrpc_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(client/auth): use stored refresh_token on 401 instead of full re-auth
  src/mcp/client/auth/oauth2.py
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

Heal 3.11 coverage tracing in the new dispatcher tests
  tests/shared/test_dispatcher.py
  tests/shared/test_jsonrpc_dispatcher.py
Due: ruff-format, ruff, pyright

Heal 3.11 coverage tracing at JSONRPCDispatcher.run() exit
  src/mcp/shared/jsonrpc_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

[v2] ClientSession runs on JSONRPCDispatcher; BaseSession removed (#2838)
  docs/migration.md
  src/mcp/client/client.py
  src/mcp/client/context.py
  src/mcp/client/session.py
  src/mcp/server/session.py
  src/mcp/server/streamable_http.py
  src/mcp/shared/_context.py
  src/mcp/shared/direct_dispatcher.py
  src/mcp/shared/dispatcher.py
  src/mcp/shared/jsonrpc_dispatcher.py
  src/mcp/shared/session.py
  src/mcp/types/__init__.py
  src/mcp/types/jsonrpc.py
  tests/client/test_list_roots_callback.py
  tests/client/test_resource_cleanup.py
  tests/client/test_sampling_callback.py
  tests/client/test_session.py
  tests/client/test_session_concurrency.py
  tests/interaction/README.md
  tests/interaction/_helpers.py
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_cancellation.py
  tests/interaction/lowlevel/test_logging.py
  tests/interaction/lowlevel/test_progress.py
  tests/interaction/lowlevel/test_timeouts.py
  tests/interaction/lowlevel/test_wire.py
  tests/issues/test_88_random_error.py
  tests/server/mcpserver/test_elicitation.py
  tests/server/mcpserver/test_integration.py
  tests/server/mcpserver/test_server.py
  tests/server/mcpserver/test_url_elicitation.py
  tests/server/test_session.py
  tests/shared/test_context_streams.py
  tests/shared/test_dispatcher.py
  tests/shared/test_exceptions.py
  tests/shared/test_jsonrpc_dispatcher.py
  tests/shared/test_session.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

ci(conformance): pin harness to 0.2.0-alpha.3 with expected-failures baseline
  .github/actions/conformance/expected-failures.yml
  .github/actions/conformance/run-server.sh
  .github/workflows/conformance.yml
Due: none

Add GenAI semconv attributes to native OTel spans
  src/mcp/server/runner.py
  src/mcp/shared/_otel.py
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/shared/test_otel.py
Due: ruff-format, ruff, pyright, readme-snippets

Address review: restrict gen_ai.operation.name to tools/call per spec, add gen_ai.prompt.name for prompts/get
  src/mcp/shared/_otel.py
  tests/shared/test_otel.py
Due: ruff-format, ruff, pyright, readme-snippets

Fix pyright type errors and coverage gaps in OTel span attributes
  src/mcp/shared/_otel.py
  tests/shared/test_otel.py
Due: ruff-format, ruff, pyright, readme-snippets

Fix ruff formatting: add blank line before build_span_attributes
  src/mcp/shared/_otel.py
Due: ruff-format, ruff, pyright, readme-snippets

ci(conformance): pin harness to 0.2.0-alpha.3 with expected-failures baseline (#2877)
  .github/actions/conformance/expected-failures.yml
  .github/actions/conformance/run-server.sh
  .github/workflows/conformance.yml
Due: none

Deflake the issue-1363 tests: wait for lifespan startup instead of sleeping
  tests/issues/test_1363_race_condition_streamable_http.py
Due: ruff-format, ruff, pyright

ci(conformance): run server --suite draft and baseline the 2026-07-28 scenarios
  .github/actions/conformance/expected-failures.yml
  .github/workflows/conformance.yml
Due: none

ci(conformance): run server --suite draft and baseline the 2026-07-28 scenarios (#2878)
  .github/actions/conformance/expected-failures.yml
  .github/workflows/conformance.yml
Due: none

Deflake the issue-1363 tests: wait for lifespan startup instead of sleeping (#2879)
  tests/issues/test_1363_race_condition_streamable_http.py
Due: ruff-format, ruff, pyright

Widen the stdio round-trip test's termination grace and overall timeout
  tests/interaction/transports/test_stdio.py
Due: ruff-format, ruff, pyright

Protocol types for 2026-07-28: superset monolith, per-version packages, and wire-method maps
  docs/migration.md
  src/mcp/shared/version.py
  src/mcp/types/__init__.py
  src/mcp/types/_types.py
  src/mcp/types/_wire_base.py
  src/mcp/types/jsonrpc.py
  src/mcp/types/methods.py
  src/mcp/types/v2025_11_25/__init__.py
  src/mcp/types/v2026_07_28/__init__.py
  tests/interaction/lowlevel/test_resources.py
  tests/interaction/transports/test_hosting_resume.py
  tests/server/test_session.py
  tests/test_types.py
  tests/types/__init__.py
  tests/types/test_methods.py
  tests/types/test_parity.py
  tests/types/test_wire_frames.py
Due: ruff-format, ruff, pyright, readme-snippets

Generate per-version packages from vendored schemas; add --check to CI
  .github/workflows/shared.yml
  pyproject.toml
  schema/2025-11-25.json
  schema/2026-07-28.json
  schema/PINNED.json
  schema/README.md
  scripts/gen_surface_types.py
  src/mcp/types/v2025_11_25/__init__.py
  src/mcp/types/v2026_07_28/__init__.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Simplify surface-type generator to raw codegen output with minimal fixes
  pyproject.toml
  scripts/gen_surface_types.py
  src/mcp/types/methods.py
  src/mcp/types/v2025_11_25/__init__.py
  src/mcp/types/v2026_07_28/__init__.py
  tests/types/test_methods.py
  tests/types/test_parity.py
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Widen the stdio round-trip test's termination grace and overall timeout (#2880)
  tests/interaction/transports/test_stdio.py
Due: ruff-format, ruff, pyright

Drop dead OpenWireModel; add --frozen to codegen invocations; tighten generated-file pyright suppression
  .github/workflows/shared.yml
  pyproject.toml
  scripts/gen_surface_types.py
  src/mcp/types/_wire_base.py
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Extract tool parameter descriptions from docstrings
  pyproject.toml
  src/mcp/server/mcpserver/utilities/func_metadata.py
  tests/server/mcpserver/test_func_metadata.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Wire per-version validation into ServerRunner
  docs/migration.md
  scripts/gen_surface_types.py
  src/mcp/server/runner.py
  src/mcp/types/methods.py
  src/mcp/types/v2025_11_25/__init__.py
  src/mcp/types/v2026_07_28/__init__.py
  tests/client/test_list_methods_cursor.py
  tests/server/test_cancel_handling.py
  tests/server/test_runner.py
  tests/types/test_methods.py
Due: ruff-format, ruff, pyright, readme-snippets

Serialize spec results through the per-version surface schema
  docs/migration.md
  scripts/gen_surface_types.py
  src/mcp/server/runner.py
  src/mcp/types/_types.py
  src/mcp/types/_wire_base.py
  src/mcp/types/methods.py
  src/mcp/types/v2025_11_25/__init__.py
  src/mcp/types/v2026_07_28/__init__.py
  tests/interaction/transports/test_hosting_resume.py
  tests/server/test_runner.py
  tests/server/test_session.py
  tests/test_types.py
  tests/types/test_methods.py
  tests/types/test_wire_frames.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: tighten mcpserver tool result typing
  src/mcp/server/mcpserver/server.py
  tests/server/mcpserver/test_func_metadata.py
Due: ruff-format, ruff, pyright, readme-snippets

Validate client results against the surface schema in server send_request
  src/mcp/server/connection.py
  src/mcp/server/session.py
  src/mcp/types/methods.py
  tests/server/test_connection.py
  tests/server/test_session.py
  tests/types/test_methods.py
Due: ruff-format, ruff, pyright, readme-snippets

Wire per-version validation into ClientSession; fix elicit schema generation
  docs/migration.md
  scripts/gen_surface_types.py
  src/mcp/client/session.py
  src/mcp/server/elicitation.py
  src/mcp/types/v2025_11_25/__init__.py
  src/mcp/types/v2026_07_28/__init__.py
  tests/client/test_session.py
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_elicitation.py
  tests/server/mcpserver/test_elicitation.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: add bearer auth server example
  docs/authorization.md
Due: readme-snippets

Fix discriminator direction, elicit gate, and inbound leniency
  docs/migration.md
  scripts/gen_surface_types.py
  src/mcp/client/session.py
  src/mcp/server/elicitation.py
  src/mcp/server/runner.py
  src/mcp/types/methods.py
  src/mcp/types/v2025_11_25/__init__.py
  src/mcp/types/v2026_07_28/__init__.py
  tests/client/test_session.py
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_elicitation.py
  tests/server/mcpserver/test_elicitation.py
  tests/server/test_runner.py
  tests/types/test_methods.py
Due: ruff-format, ruff, pyright, readme-snippets

Use single backticks in docstrings and comments
  scripts/gen_surface_types.py
  src/mcp/types/_wire_base.py
  src/mcp/types/v2025_11_25/__init__.py
  src/mcp/types/v2026_07_28/__init__.py
Due: ruff-format, ruff, pyright, readme-snippets

Permit null in v2026 JSONValue; export all Tasks types from mcp.types
  scripts/gen_surface_types.py
  src/mcp/types/__init__.py
  src/mcp/types/v2026_07_28/__init__.py
  tests/types/test_methods.py
  tests/types/test_parity.py
Due: ruff-format, ruff, pyright, readme-snippets

Add --frozen to uv command in schema/README.md
  schema/README.md
Due: none

Protocol types for 2026-07-28: superset monolith, committed per-version packages, and wire-method maps (#2849)
  .github/workflows/shared.yml
  docs/migration.md
  pyproject.toml
  schema/2025-11-25.json
  schema/2026-07-28.json
  schema/PINNED.json
  schema/README.md
  scripts/gen_surface_types.py
  src/mcp/client/session.py
  src/mcp/server/connection.py
  src/mcp/server/elicitation.py
  src/mcp/server/runner.py
  src/mcp/server/session.py
  src/mcp/shared/version.py
  src/mcp/types/__init__.py
  src/mcp/types/_types.py
  src/mcp/types/_wire_base.py
  src/mcp/types/jsonrpc.py
  src/mcp/types/methods.py
  src/mcp/types/v2025_11_25/__init__.py
  src/mcp/types/v2026_07_28/__init__.py
  tests/client/test_list_methods_cursor.py
  tests/client/test_session.py
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_elicitation.py
  tests/interaction/lowlevel/test_resources.py
  tests/server/mcpserver/test_elicitation.py
  tests/server/test_cancel_handling.py
  tests/server/test_connection.py
  tests/server/test_runner.py
  tests/server/test_session.py
  tests/test_types.py
  tests/types/__init__.py
  tests/types/test_methods.py
  tests/types/test_parity.py
  tests/types/test_wire_frames.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Drop stale superset-leniency note from ElicitResult.content docstring
  src/mcp/types/_types.py
Due: ruff-format, ruff, pyright, readme-snippets

Expand site-absolute spec links in generated docstrings to full URLs
  scripts/gen_surface_types.py
  src/mcp/types/v2025_11_25/__init__.py
Due: ruff-format, ruff, pyright, readme-snippets

Resolve protocol version per request and expose it as ctx.protocol_version
  docs/migration.md
  src/mcp/server/connection.py
  src/mcp/server/context.py
  src/mcp/server/runner.py
  src/mcp/server/session.py
  src/mcp/server/streamable_http.py
  src/mcp/shared/message.py
  tests/server/test_runner.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Make ServerRequestContext.protocol_version required (no default)
  src/mcp/server/context.py
  tests/issues/test_176_progress_token.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

Drop ctx.protocol_version usage note from migration.md (additive, not a migration step)
  docs/migration.md
Due: readme-snippets

docs: add AI-assisted contribution policy to CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Resolver takes the extracted _meta directly; trim docstrings
  src/mcp/server/connection.py
  src/mcp/server/runner.py
  src/mcp/server/session.py
  src/mcp/shared/message.py
  tests/server/test_runner.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets
