Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

ruff-format:
  name: Ruff Format
  entry: uv run --frozen ruff
  args:
  - format
  language: system
  pass_filenames: false

ruff:
  name: Ruff
  entry: uv run --frozen ruff
  args:
  - check
  - --fix
  - --exit-non-zero-on-fix
  language: system
  pass_filenames: false

pyright:
  name: pyright
  entry: uv run --frozen pyright
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv.lock is up to date
  entry: uv lock --check
  language: system
  pass_filenames: false

readme-v1-frozen:
  name: README.md is frozen (v1 docs)
  entry: README.md is frozen at v1. Edit README.v2.md instead.
  language: fail

readme-snippets:
  name: Check snippets are up to date
  entry: uv run --frozen python scripts/sync_snippets.py --check
  language: system
  pass_filenames: false

Exempt the new nested `async with` lines from branch coverage on 3.14
  tests/client/test_stdio.py
  tests/transports/stdio/test_lifecycle.py
Due: ruff-format, ruff, pyright

fix(client): drain POST response bodies so legacy streamable HTTP reuses connections
  src/mcp/client/streamable_http.py
  tests/client/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Simplify the heading attribute pattern
  scripts/docs/translations.py
  tests/docs/test_translations.py
Due: ruff-format, ruff, pyright

Bump conformance harness to 0.2.0-alpha.11 (#3282)
  .github/actions/conformance/client.py
  .github/workflows/conformance.yml
Due: ruff-format, ruff, pyright

Read UTF-8 test fixtures with explicit encoding
  tests/examples/conftest.py
  tests/examples/test_story_shape.py
Due: ruff-format, ruff, pyright

Let a token verifier gate the server without AuthSettings
  docs/run/authorization.md
  docs_src/authorization/tutorial003.py
  src/mcp/server/lowlevel/server.py
  src/mcp/server/mcpserver/server.py
  tests/docs_src/test_authorization.py
  tests/interaction/_requirements.py
  tests/interaction/auth/test_bearer.py
  tests/server/mcpserver/auth/test_auth_integration.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

Pin text I/O to UTF-8 and fail CI on locale-dependent reads/writes
  .github/workflows/shared.yml
  AGENTS.md
  docs_src/uri_templates/tutorial002.py
  examples/clients/simple-chatbot/mcp_simple_chatbot/main.py
  examples/stories/_harness.py
  pyproject.toml
  scripts/gen_surface_types.py
  scripts/test
  scripts/update_readme_snippets.py
  src/mcp/cli/claude.py
  tests/cli/test_claude.py
  tests/cli/test_utils.py
  tests/docs_src/test_apps.py
  tests/docs_src/test_uri_templates.py
  tests/interaction/transports/test_stdio.py
  tests/server/mcpserver/resources/test_file_resources.py
  tests/server/mcpserver/servers/test_file_server.py
  tests/server/mcpserver/test_server.py
  tests/test_types.py
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Document per-request HTTP headers for Streamable HTTP clients.
  docs/client/transports.md
  docs_src/client_transports/tutorial005.py
  tests/docs_src/test_client_transports.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: clarify when Client(raise_exceptions=True) actually raises.
  docs/advanced/low-level-server.md
  docs/client/index.md
  docs/get-started/testing.md
  docs/troubleshooting.md
  docs_src/testing/tutorial002.py
  src/mcp/client/client.py
  tests/docs_src/test_testing.py
Due: ruff-format, ruff, pyright, readme-snippets

Add ClientSession.register_tool_schema for dynamic tool discovery.
  docs/client/index.md
  src/mcp/client/client.py
  src/mcp/client/session.py
  tests/client/test_register_tool_schema.py
Due: ruff-format, ruff, pyright, readme-snippets

Fix docs_src transport test branch coverage for CI.
  tests/docs_src/test_client_transports.py
Due: ruff-format, ruff, pyright

Drop troubleshooting raise_exceptions tip duplication.
  docs/troubleshooting.md
Due: readme-snippets

Pin each conformance leg to a spec-revision wire
  .github/actions/conformance/expected-failures.2025-11-25.yml
  .github/actions/conformance/expected-failures.2026-07-28.yml
  .github/actions/conformance/expected-failures.yml
  .github/actions/conformance/run-client.sh
  .github/workflows/conformance.yml
Due: none

fix(server): sanitize unexpected tool errors
  docs/client/index.md
  docs/deprecated.md
  docs/get-started/testing.md
  docs/handlers/dependencies.md
  docs/migration.md
  docs/servers/handling-errors.md
  docs/servers/structured-output.md
  docs/servers/tools.md
  docs/troubleshooting.md
  docs_src/client/tutorial003.py
  docs_src/handling_errors/tutorial001.py
  docs_src/real_host/tutorial001.py
  docs_src/troubleshooting/tutorial001.py
  examples/stories/error_handling/README.md
  examples/stories/error_handling/client.py
  examples/stories/error_handling/server.py
  examples/stories/refund_desk/README.md
  src/mcp/server/mcpserver/tools/base.py
  tests/docs_src/test_client.py
  tests/docs_src/test_dependencies.py
  tests/docs_src/test_deprecated.py
  tests/docs_src/test_elicitation.py
  tests/docs_src/test_handling_errors.py
  tests/docs_src/test_structured_output.py
  tests/docs_src/test_tools.py
  tests/docs_src/test_troubleshooting.py
  tests/interaction/README.md
  tests/interaction/_requirements.py
  tests/interaction/mcpserver/test_prompts.py
  tests/interaction/mcpserver/test_tools.py
  tests/server/mcpserver/test_resolve.py
  tests/server/mcpserver/test_server.py
  tests/server/mcpserver/test_tool_manager.py
  tests/server/mcpserver/test_url_elicitation_error_throw.py
  tests/server/mcpserver/tools/test_base.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(server): preserve legacy elicitation errors
  src/mcp/server/elicitation.py
  tests/interaction/mcpserver/test_prompts.py
  tests/server/mcpserver/test_resolve.py
Due: ruff-format, ruff, pyright, readme-snippets

test(docs): update elicitation error expectation
  tests/docs_src/test_elicitation.py
Due: ruff-format, ruff, pyright

test: clarify sanitized tool error coverage
  src/mcp/server/mcpserver/tools/base.py
  tests/server/mcpserver/test_tool_manager.py
  tests/server/mcpserver/tools/test_base.py
Due: ruff-format, ruff, pyright, readme-snippets

[v1.x] Rebuild FastMCP Settings once FastMCP is defined
  src/mcp/server/fastmcp/server.py
  tests/server/fastmcp/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

Fix completed request cancellation cleanup
  src/mcp/shared/session.py
  tests/shared/test_session.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(auth): normalize default resource URL ports
  src/mcp/shared/auth_utils.py
  tests/shared/test_auth_utils.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(auth): preserve unrelated URL authorities
  src/mcp/shared/auth_utils.py
  tests/shared/test_auth_utils.py
Due: ruff-format, ruff, pyright, readme-snippets

Update root resource metadata expectation
  tests/server/auth/test_protected_resource.py
Due: ruff-format, ruff, pyright

fix(mcpserver): ignore the return annotation when finding the context parameter
  src/mcp/server/mcpserver/utilities/context_injection.py
  tests/server/mcpserver/test_context_injection.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(server): deregister terminated streamable HTTP sessions
  src/mcp/server/streamable_http_manager.py
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

[verified] fix(client): release owned dispatcher exception hook
  src/mcp/client/session.py
  tests/client/test_session.py
Due: ruff-format, ruff, pyright, readme-snippets

test(client): cover dispatcher hook replacement cleanup
  tests/client/test_session.py
Due: ruff-format, ruff, pyright

fix(auth): normalize resource path dot-segments
  src/mcp/shared/auth_utils.py
  tests/shared/test_auth_utils.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(auth): preserve repeated resource path separators
  src/mcp/shared/auth_utils.py
  tests/shared/test_auth_utils.py
Due: ruff-format, ruff, pyright, readme-snippets

Read UTF-8 test fixtures with explicit encoding (#3245)
  tests/examples/conftest.py
  tests/examples/test_story_shape.py
Due: ruff-format, ruff, pyright

Address review: quote "$@", fail the README check closed, reword the ruff preview note
  pyproject.toml
  scripts/test
  scripts/update_readme_snippets.py
  src/mcp/shared/path_security.py
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Drop the preview-only lint rule, gate the pre-commit hook too, tolerate a BOM in the Claude config
  .pre-commit-config.yaml
  AGENTS.md
  pyproject.toml
  src/mcp/cli/claude.py
  tests/cli/test_claude.py
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Decode the captured child stderr leniently, like the other two captures
  tests/interaction/transports/test_stdio.py
Due: ruff-format, ruff, pyright

Serve stored translations as generated; make site links relative
  CONTRIBUTING.md
  docs/js/language-switch.js
  docs/translations.md
  i18n/README.md
  i18n/de/instructions.md
  i18n/de/pages/translations.md
  i18n/es/pages/translations.md
  i18n/fr/instructions.md
  i18n/fr/pages/translations.md
  i18n/hi/pages/translations.md
  i18n/ja/pages/translations.md
  i18n/ko/pages/translations.md
  i18n/pt/instructions.md
  i18n/pt/pages/translations.md
  i18n/ru/instructions.md
  i18n/ru/pages/translations.md
  i18n/tr/pages/translations.md
  i18n/uk/pages/translations.md
  i18n/zh-hant/instructions.md
  i18n/zh-hant/pages/translations.md
  i18n/zh/instructions.md
  i18n/zh/pages/translations.md
  scripts/docs/build_config.py
  scripts/docs/translations.py
  tests/docs/test_build_config.py
  tests/docs/test_translations.py
Due: ruff-format, ruff, pyright, readme-snippets

Address review: state policy, stop restating mechanics owned elsewhere
  CONTRIBUTING.md
  DEPENDENCY_POLICY.md
  RELEASE.md
  docs/roadmap.md
  docs/versioning.md
Due: readme-snippets

Pin each conformance leg to a spec-revision wire (#3304)
  .github/actions/conformance/expected-failures.2025-11-25.yml
  .github/actions/conformance/expected-failures.2026-07-28.yml
  .github/actions/conformance/expected-failures.yml
  .github/actions/conformance/run-client.sh
  .github/workflows/conformance.yml
Due: none

Trim to the test-suite guard; let the JSON layer own the config's encoding
  .github/workflows/shared.yml
  .pre-commit-config.yaml
  AGENTS.md
  pyproject.toml
  src/mcp/cli/claude.py
  tests/cli/test_claude.py
  tests/test_types.py
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Point contributors at scripts/test; keep a test's quoted tutorial line in sync
  CONTRIBUTING.md
  tests/docs_src/test_uri_templates.py
Due: ruff-format, ruff, pyright

Don't ask people to set the env var for everyday test runs; scripts/test and CI carry it
  AGENTS.md
  CONTRIBUTING.md
Due: none

Path conditions:
  ruff-format: any of: \.py$
  ruff: any of: \.py$, but not: ^README(\.v2)?\.md$
  pyright: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  readme-v1-frozen: any of: ^README\.md$
  readme-snippets: any of: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
