Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

ruff-format:
  name: Ruff Format
  entry: uv run --frozen ruff
  args:
  - format
  language: system
  pass_filenames: false

ruff:
  name: Ruff
  entry: uv run --frozen ruff
  args:
  - check
  - --fix
  - --exit-non-zero-on-fix
  language: system
  pass_filenames: false

pyright:
  name: pyright
  entry: uv run --frozen pyright
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv.lock is up to date
  entry: uv lock --check
  language: system
  pass_filenames: false

readme-v1-frozen:
  name: README.md is frozen (v1 docs)
  entry: README.md is frozen at v1. Edit README.v2.md instead.
  language: fail

readme-snippets:
  name: Check snippets are up to date
  entry: uv run --frozen python scripts/sync_snippets.py --check
  language: system
  pass_filenames: false

fix: send JSONRPCError instead of raw Exception for failed requests
  src/mcp/client/streamable_http.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: log notification errors instead of forwarding raw exceptions
  src/mcp/client/streamable_http.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: handle ClientDisconnect gracefully in StreamableHTTP POST handler
  src/mcp/server/streamable_http.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

feat: emit DeprecationWarning from all SSE transport entry points
  pyproject.toml
  src/mcp/client/sse.py
  src/mcp/server/mcpserver/server.py
  src/mcp/server/sse.py
  tests/server/mcpserver/test_server.py
  tests/shared/test_sse.py
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

fix: move logging configuration from MCPServer.__init__ to run()
  src/mcp/server/mcpserver/server.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

FIX: link in README.md
  README.md
Due: readme-v1-frozen

fix: enable DNS rebinding protection by default for security
  src/mcp/server/transport_security.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: use os.dup to prevent closing real stdio after server exits
  src/mcp/server/stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

Guard double-terminate on returncode; make _terminate_and_reap idempotent
  tests/client/test_stdio.py
Due: ruff-format, ruff, pyright

Drain stdout to EOF so _ProactorReadPipeTransport closes on Windows
  tests/client/test_stdio.py
Due: ruff-format, ruff, pyright

Add returncode property to FallbackProcess; simplify returncode guard
  src/mcp/os/win32/utilities.py
  tests/client/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

docs(context): add tenant_id field description to RequestContext docstring
  src/mcp/shared/_context.py
Due: ruff-format, ruff, pyright, readme-snippets

Rewrite TestChildProcessCleanup with socket-based deterministic liveness probe (#2265)
  src/mcp/os/win32/utilities.py
  tests/client/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

feat(auth): populate session.tenant_id from auth context on first request
  src/mcp/server/lowlevel/server.py
  tests/server/test_multi_tenancy_session.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(test): resolve pyright reportUnnecessaryComparison error
  tests/server/test_multi_tenancy_session.py
Due: ruff-format, ruff, pyright

test(auth): add E2E tests for tenant_id binding in request/notification handling
  tests/server/test_multi_tenancy_session.py
Due: ruff-format, ruff, pyright

style: apply ruff formatting to test file
  tests/server/test_multi_tenancy_session.py
Due: ruff-format, ruff, pyright

fix: remove stale pragma no cover from send_roots_list_changed
  src/mcp/client/session.py
Due: ruff-format, ruff, pyright, readme-snippets

feat(auth): enforce set-once semantics on ServerSession.tenant_id
  src/mcp/server/session.py
  tests/server/test_multi_tenancy_session.py
Due: ruff-format, ruff, pyright, readme-snippets

test: remove ResourceWarning filter that was masking the stream leak bug
  tests/shared/test_sse.py
Due: ruff-format, ruff, pyright

refactor: use async with instead of try/finally for stream cleanup
  src/mcp/client/sse.py
  src/mcp/client/streamable_http.py
  src/mcp/client/websocket.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: merge stream and task-group contexts to satisfy 3.11 branch coverage
  src/mcp/client/websocket.py
Due: ruff-format, ruff, pyright, readme-snippets

revert: use try/finally for sse and streamable_http stream cleanup
  src/mcp/client/sse.py
  src/mcp/client/streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

feat: add subject and claims fields to AccessToken
  src/mcp/server/auth/provider.py
  src/mcp/server/mcpserver/context.py
  tests/server/auth/middleware/test_auth_context.py
  tests/server/auth/middleware/test_bearer_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

test: replace polling loops with sleep to avoid partial branch coverage
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright

fix: detect stdin EOF on parent death for stdio transport
  src/mcp/server/stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

test: mark defensive fd cleanup as no-cover
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright

test: avoid possibly-unbound task group variable
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright

fix: resolve pyright errors and add test coverage for stdin EOF monitor
  src/mcp/server/stdio.py
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

test: assert task-group cancellation directly in stdio EOF monitor tests
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright

test: avoid redundant cancel assertions in stdio EOF monitor tests
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright

test: use anyio's free_tcp_port fixture instead of hand-rolled helper
  tests/client/test_transport_stream_cleanup.py
Due: ruff-format, ruff, pyright

docs(examples): add DNS rebinding protection to low-level transport examples
  docs/experimental/tasks-server.md
  examples/servers/simple-pagination/mcp_simple_pagination/server.py
  examples/servers/simple-prompt/mcp_simple_prompt/server.py
  examples/servers/simple-resource/mcp_simple_resource/server.py
  examples/servers/simple-streamablehttp-stateless/mcp_simple_streamablehttp_stateless/server.py
  examples/servers/simple-streamablehttp/mcp_simple_streamablehttp/server.py
  examples/servers/simple-task-interactive/mcp_simple_task_interactive/server.py
  examples/servers/simple-task/mcp_simple_task/server.py
  examples/servers/simple-tool/mcp_simple_tool/server.py
  examples/servers/sse-polling-demo/mcp_sse_polling_demo/server.py
Due: ruff-format, ruff, pyright, readme-snippets

perf(tests): skip thread.join in run_server_in_thread teardown
  tests/test_helpers.py
Due: ruff-format, ruff, pyright

test: reduce test_ws.py to just the WS smoke test
  tests/client/test_client.py
  tests/shared/test_ws.py
Due: ruff-format, ruff, pyright

test: pre-bind socket in run_uvicorn_in_thread, drop polling loop
  tests/test_helpers.py
Due: ruff-format, ruff, pyright

fix: eliminate port allocation race in test_streamable_http fixtures
  src/mcp/server/session.py
  src/mcp/server/streamable_http.py
  src/mcp/server/transport_security.py
  tests/shared/test_streamable_http.py
  tests/test_helpers.py
Due: ruff-format, ruff, pyright, readme-snippets

perf(tests): module-scope server fixtures, ASGI for context-aware tests
  src/mcp/server/streamable_http.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

refactor(examples): migrate task/polling examples to streamable_http_app()
  examples/servers/simple-task-interactive/mcp_simple_task_interactive/server.py
  examples/servers/simple-task/mcp_simple_task/server.py
  examples/servers/sse-polling-demo/mcp_sse_polling_demo/server.py
Due: ruff-format, ruff, pyright, readme-snippets

Path conditions:
  ruff-format: any of: \.py$
  ruff: any of: \.py$, but not: ^README(\.v2)?\.md$
  pyright: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  readme-v1-frozen: any of: ^README\.md$
  readme-snippets: any of: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
