Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

ruff-format:
  name: Ruff Format
  entry: uv run --frozen ruff
  args:
  - format
  language: system
  pass_filenames: false

ruff:
  name: Ruff
  entry: uv run --frozen ruff
  args:
  - check
  - --fix
  - --exit-non-zero-on-fix
  language: system
  pass_filenames: false

pyright:
  name: pyright
  entry: uv run --frozen pyright
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv.lock is up to date
  entry: uv lock --check
  language: system
  pass_filenames: false

readme-v1-frozen:
  name: README.md is frozen (v1 docs)
  entry: README.md is frozen at v1. Edit README.v2.md instead.
  language: fail

readme-snippets:
  name: Check snippets are up to date
  entry: uv run --frozen python scripts/sync_snippets.py --check
  language: system
  pass_filenames: false

docs: show subscriptions behind a load balancer and how to turn them off
  docs/handlers/subscriptions.md
  docs/run/deploy.md
  docs_src/subscriptions/tutorial007.py
  tests/docs_src/test_subscriptions.py
Due: ruff-format, ruff, pyright, readme-snippets

Keep the live Context when a prompt or template annotates Context[T] (#3624)
  docs/handlers/lifespan.md
  docs/migration.md
  src/mcp/server/mcpserver/context.py
  tests/docs_src/test_lifespan.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

Describe the ID-JAG confidential-client rule as SDK policy, not a SEP-990 requirement (#3622)
  docs/client/identity-assertion.md
  examples/snippets/clients/identity_assertion_client.py
  examples/snippets/servers/identity_assertion_server.py
  src/mcp/client/auth/extensions/identity_assertion.py
  src/mcp/server/auth/handlers/register.py
  src/mcp/server/auth/handlers/token.py
  tests/client/auth/extensions/test_identity_assertion.py
Due: ruff-format, ruff, pyright, readme-snippets

Show cleanup in a finally in the plain def cancellation example
  docs/handlers/cancellation.md
  docs_src/cancellation/tutorial002.py
  tests/docs_src/test_cancellation.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: draw the load-balancer case as two replicas with separate buses
  docs/handlers/subscriptions.md
Due: readme-snippets

Retry a tool call once after a HeaderMismatch rejection
  docs/migration.md
  docs/whats-new.md
  src/mcp/client/client.py
  tests/interaction/_requirements.py
  tests/interaction/transports/test_hosting_http_modern.py
Due: ruff-format, ruff, pyright, readme-snippets

Omit an empty _meta and empty params from outbound requests
  docs/migration.md
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/conftest.py
  tests/interaction/lowlevel/test_elicitation.py
  tests/interaction/lowlevel/test_progress.py
  tests/interaction/lowlevel/test_sampling.py
  tests/interaction/mcpserver/test_context.py
  tests/server/test_runner.py
  tests/shared/test_dispatcher.py
  tests/shared/test_jsonrpc_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

Let MCPServer opt out of serving subscriptions/listen (#3626)
  docs/handlers/subscriptions.md
  docs/run/deploy.md
  docs_src/subscriptions/tutorial007.py
  src/mcp/server/mcpserver/server.py
  src/mcp/server/subscriptions.py
  tests/docs_src/test_subscriptions.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

Document how a handler deals with cancellation (#3625)
  docs/handlers/cancellation.md
  docs/handlers/index.md
  docs/handlers/progress.md
  docs/servers/tools.md
  docs_src/cancellation/__init__.py
  docs_src/cancellation/tutorial001.py
  docs_src/cancellation/tutorial002.py
  mkdocs.yml
  tests/docs_src/test_cancellation.py
Due: ruff-format, ruff, pyright, readme-snippets

Record JSON-RPC error responses on the client OpenTelemetry span
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/shared/test_otel.py
Due: ruff-format, ruff, pyright, readme-snippets

Omit an empty _meta and empty params from outbound requests (#3628)
  docs/migration.md
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/conftest.py
  tests/interaction/lowlevel/test_elicitation.py
  tests/interaction/lowlevel/test_progress.py
  tests/interaction/lowlevel/test_sampling.py
  tests/interaction/mcpserver/test_context.py
  tests/server/test_runner.py
  tests/shared/test_dispatcher.py
  tests/shared/test_jsonrpc_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

Bound the re-list by the caller's timeout and chain every re-list failure
  src/mcp/client/client.py
  tests/interaction/transports/test_hosting_http_modern.py
Due: ruff-format, ruff, pyright, readme-snippets

Bound the re-list by the client's default timeout
  src/mcp/client/client.py
  tests/interaction/transports/test_hosting_http_modern.py
Due: ruff-format, ruff, pyright, readme-snippets

Record JSON-RPC error responses on the client OpenTelemetry span (#3629)
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/shared/test_otel.py
Due: ruff-format, ruff, pyright, readme-snippets

Say on the Header parameters page that Client re-lists and resends
  docs/advanced/header-parameters.md
  tests/docs_src/test_header_parameters.py
Due: ruff-format, ruff, pyright, readme-snippets

Look the tool schema up by name for Mcp-Param-* validation
  docs/advanced/header-parameters.md
  docs/advanced/low-level-server.md
  docs/migration.md
  docs/whats-new.md
  docs_src/header_parameters/tutorial003.py
  src/mcp/server/_streamable_http_modern.py
  src/mcp/server/lowlevel/server.py
  src/mcp/server/mcpserver/server.py
  tests/docs_src/test_header_parameters.py
  tests/server/test_streamable_http_modern.py
Due: ruff-format, ruff, pyright, readme-snippets

Retry a tool call once after a HeaderMismatch rejection (#3627)
  docs/advanced/header-parameters.md
  docs/migration.md
  docs/whats-new.md
  src/mcp/client/client.py
  tests/docs_src/test_header_parameters.py
  tests/interaction/_requirements.py
  tests/interaction/transports/test_hosting_http_modern.py
Due: ruff-format, ruff, pyright, readme-snippets

Say that the tool schema lookup runs before middleware
  src/mcp/server/lowlevel/server.py
  src/mcp/server/mcpserver/server.py
Due: ruff-format, ruff, pyright, readme-snippets

Look the tool schema up by name for Mcp-Param-* validation instead of running tools/list (#3630)
  docs/advanced/header-parameters.md
  docs/advanced/low-level-server.md
  docs_src/header_parameters/tutorial003.py
  src/mcp/server/_streamable_http_modern.py
  src/mcp/server/lowlevel/server.py
  src/mcp/server/mcpserver/server.py
  tests/docs_src/test_header_parameters.py
  tests/server/test_streamable_http_modern.py
Due: ruff-format, ruff, pyright, readme-snippets

Link What's new to the Header parameters page and tidy its first two bullets
  docs/advanced/header-parameters.md
  docs/whats-new.md
Due: readme-snippets

Let a newer Deploy Docs run cancel the one in progress
  .github/workflows/deploy-docs.yml
Due: none

Let a newer Deploy Docs run cancel the one in progress (#3633)
  .github/workflows/deploy-docs.yml
Due: none

Link What's new to the Header parameters page (#3632)
  docs/advanced/header-parameters.md
  docs/whats-new.md
Due: readme-snippets

Keep inline-snapshot disabled when pytest runs in a terminal
  pyproject.toml
Due: uv-lock-check

Stop counting an interactive OAuth login against request timeouts
  src/mcp/client/auth/oauth2.py
  src/mcp/shared/_request_clock.py
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/interaction/_requirements.py
  tests/interaction/auth/_harness.py
  tests/interaction/auth/test_login_time.py
  tests/shared/test_request_clock.py
Due: ruff-format, ruff, pyright, readme-snippets

Keep inline-snapshot disabled when pytest runs in a terminal (#3634)
  pyproject.toml
Due: uv-lock-check

Stop counting an interactive OAuth login against request timeouts (#3635)
  src/mcp/client/auth/oauth2.py
  src/mcp/shared/_request_clock.py
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/interaction/_requirements.py
  tests/interaction/auth/_harness.py
  tests/interaction/auth/test_login_time.py
  tests/shared/test_request_clock.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: clarify Pydantic tool argument envelopes
  docs/servers/tools.md
  tests/docs_src/test_tools.py
Due: ruff-format, ruff, pyright, readme-snippets

Keep unknown server and client capability keys
  scripts/gen_surface_types.py
  src/mcp-types/mcp_types/_types.py
  src/mcp-types/mcp_types/_v2025_11_25/__init__.py
  src/mcp-types/mcp_types/_v2026_07_28/__init__.py
  src/mcp-types/mcp_types/methods.py
  tests/issues/test_3640_open_capabilities.py
Due: ruff-format, ruff, pyright

docs: separate tool discovery and execution authorization
  docs/run/authorization.md
  docs_src/authorization/tutorial003.py
  tests/docs_src/test_authorization.py
Due: ruff-format, ruff, pyright, readme-snippets

Generate tool outputSchema in serialization mode
  src/mcp/server/mcpserver/utilities/func_metadata.py
  tests/server/mcpserver/test_func_metadata.py
Due: ruff-format, ruff, pyright, readme-snippets

Skip 500 after completed POST response on closed writer
  src/mcp/server/streamable_http.py
  tests/server/test_streamable_http_router.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(server): accept empty bytes data in Audio like Image
  src/mcp/server/mcpserver/utilities/types.py
  tests/server/mcpserver/utilities/test_media_types.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(auth): reject non-preflight OPTIONS on body-reading routes
  src/mcp/server/auth/routes.py
  tests/server/auth/test_error_handling.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(mcpserver): paginate completion values exceeding 100 items (#3649)
  src/mcp/server/mcpserver/server.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: exit stdio server cleanly on interrupt
  src/mcp/server/mcpserver/server.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

test: cover interrupt exit for all transports
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright

test: align transport coverage markers
  src/mcp/server/mcpserver/server.py
Due: ruff-format, ruff, pyright, readme-snippets

Path conditions:
  ruff-format: any of: \.py$
  ruff: any of: \.py$, but not: ^README(\.v2)?\.md$
  pyright: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  readme-v1-frozen: any of: ^README\.md$
  readme-snippets: any of: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
