Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

ruff-format:
  name: Ruff Format
  entry: uv run --frozen ruff
  args:
  - format
  language: system
  pass_filenames: false

ruff:
  name: Ruff
  entry: uv run --frozen ruff
  args:
  - check
  - --fix
  - --exit-non-zero-on-fix
  language: system
  pass_filenames: false

pyright:
  name: pyright
  entry: uv run --frozen pyright
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv.lock is up to date
  entry: uv lock --check
  language: system
  pass_filenames: false

readme-v1-frozen:
  name: README.md is frozen (v1 docs)
  entry: README.md is frozen at v1. Edit README.v2.md instead.
  language: fail

readme-snippets:
  name: Check snippets are up to date
  entry: uv run --frozen python scripts/sync_snippets.py --check
  language: system
  pass_filenames: false

Add lax no cover to both arms of tomllib version-gate
  tests/examples/conftest.py
Due: ruff-format, ruff, pyright

Remove no-cover pragmas for paths now exercised by story examples
  src/mcp/server/elicitation.py
  src/mcp/server/lowlevel/server.py
  src/mcp/server/mcpserver/server.py
Due: ruff-format, ruff, pyright, readme-snippets

READMEs: capture the server PID instead of relying on job control
  examples/stories/bearer_auth/README.md
  examples/stories/dual_era/README.md
  examples/stories/legacy_routing/README.md
  examples/stories/oauth_client_credentials/README.md
  examples/stories/reconnect/README.md
  examples/stories/stateless_legacy/README.md
Due: none

Add a story shape-check; document the canonical example shape
  examples/stories/README.md
  examples/stories/bearer_auth/client.py
  examples/stories/bearer_auth/server.py
  examples/stories/custom_methods/server.py
  examples/stories/dual_era/client.py
  examples/stories/json_response/client.py
  examples/stories/json_response/server.py
  examples/stories/legacy_elicitation/README.md
  examples/stories/legacy_elicitation/server.py
  examples/stories/legacy_elicitation/server_lowlevel.py
  examples/stories/legacy_routing/client.py
  examples/stories/legacy_routing/server.py
  examples/stories/mrtr/README.md
  examples/stories/oauth/client.py
  examples/stories/oauth/server.py
  examples/stories/oauth_client_credentials/client.py
  examples/stories/oauth_client_credentials/server.py
  examples/stories/parallel_calls/client.py
  examples/stories/reconnect/client.py
  examples/stories/sse_polling/client.py
  examples/stories/sse_polling/server.py
  examples/stories/starlette_mount/client.py
  examples/stories/starlette_mount/server.py
  examples/stories/stateless_legacy/client.py
  examples/stories/stateless_legacy/server.py
  examples/stories/subscriptions/README.md
  tests/examples/test_story_shape.py
Due: ruff-format, ruff, pyright, readme-snippets

Address story-suite review findings
  examples/stories/_harness.py
  examples/stories/error_handling/README.md
  examples/stories/error_handling/client.py
  examples/stories/json_response/README.md
  examples/stories/parallel_calls/README.md
  examples/stories/roots/README.md
  examples/stories/sampling/README.md
  examples/stories/serve_one/README.md
  examples/stories/serve_one/server.py
  examples/stories/starlette_mount/README.md
  src/mcp/shared/exceptions.py
Due: ruff-format, ruff, pyright, readme-snippets

Let client.py self-host its server for HTTP runs
  examples/stories/README.md
  examples/stories/_harness.py
  examples/stories/bearer_auth/README.md
  examples/stories/custom_methods/README.md
  examples/stories/dual_era/README.md
  examples/stories/error_handling/README.md
  examples/stories/json_response/README.md
  examples/stories/legacy_elicitation/README.md
  examples/stories/legacy_routing/README.md
  examples/stories/lifespan/README.md
  examples/stories/manifest.toml
  examples/stories/middleware/README.md
  examples/stories/oauth/README.md
  examples/stories/oauth_client_credentials/README.md
  examples/stories/pagination/README.md
  examples/stories/parallel_calls/README.md
  examples/stories/prompts/README.md
  examples/stories/reconnect/README.md
  examples/stories/resources/README.md
  examples/stories/roots/README.md
  examples/stories/sampling/README.md
  examples/stories/schema_validators/README.md
  examples/stories/sse_polling/README.md
  examples/stories/standalone_get/README.md
  examples/stories/starlette_mount/README.md
  examples/stories/stateless_legacy/README.md
  examples/stories/stickynotes/README.md
  examples/stories/streaming/README.md
  examples/stories/tools/README.md
  tests/examples/test_stories_smoke.py
Due: ruff-format, ruff, pyright, readme-snippets

Address example-suite review findings
  examples/README.md
  examples/pyproject.toml
  examples/stories/README.md
  examples/stories/_harness.py
  examples/stories/bearer_auth/README.md
  examples/stories/dual_era/README.md
  examples/stories/json_response/README.md
  examples/stories/legacy_elicitation/client.py
  examples/stories/legacy_elicitation/server.py
  examples/stories/legacy_elicitation/server_lowlevel.py
  examples/stories/legacy_routing/README.md
  examples/stories/legacy_routing/server.py
  examples/stories/legacy_routing/server_lowlevel.py
  examples/stories/lifespan/README.md
  examples/stories/manifest.toml
  examples/stories/middleware/README.md
  examples/stories/middleware/client.py
  examples/stories/oauth_client_credentials/README.md
  examples/stories/reconnect/README.md
  examples/stories/stateless_legacy/README.md
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Adapt the story suite to the merged 2026 client surface
  examples/stories/_harness.py
  examples/stories/mrtr/README.md
  examples/stories/subscriptions/README.md
  tests/examples/conftest.py
Due: ruff-format, ruff, pyright, readme-snippets

Support RFC 8693 token exchange for enterprise IdP flows (SEP-990)
  docs/migration.md
  examples/snippets/clients/token_exchange_client.py
  examples/snippets/pyproject.toml
  examples/snippets/servers/token_exchange_server.py
  src/mcp/client/auth/extensions/token_exchange.py
  src/mcp/server/auth/handlers/token.py
  src/mcp/server/auth/provider.py
  src/mcp/server/auth/routes.py
  src/mcp/server/auth/settings.py
  src/mcp/server/lowlevel/server.py
  src/mcp/server/mcpserver/server.py
  src/mcp/shared/auth.py
  tests/client/auth/extensions/test_token_exchange.py
  tests/server/auth/test_token_exchange.py
  tests/shared/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

Preserve empty issuer/resource paths on AuthSettings
  docs/migration.md
  src/mcp/server/auth/settings.py
  tests/server/auth/test_routes.py
Due: ruff-format, ruff, pyright, readme-snippets

Adapt the legacy_routing story to the Mcp-Method header rung in classify_inbound_request
  examples/stories/legacy_routing/client.py
Due: ruff-format, ruff, pyright, readme-snippets

find_invalid_x_mcp_header: never repr a non-string annotation value
  src/mcp/shared/inbound.py
  tests/shared/test_inbound.py
Due: ruff-format, ruff, pyright, readme-snippets

legacy_routing README: name the Mcp-Method header rung
  examples/stories/legacy_routing/README.md
Due: none

Mirror x-mcp-header tool arguments into Mcp-Param-* request headers (SEP-2243)
  .github/actions/conformance/client.py
  .github/actions/conformance/expected-failures.2026-07-28.yml
  .github/actions/conformance/expected-failures.yml
  docs/migration.md
  src/mcp/client/client.py
  src/mcp/client/session.py
  src/mcp/shared/inbound.py
  tests/client/test_client.py
  tests/interaction/_requirements.py
  tests/interaction/transports/test_hosting_http_modern.py
  tests/shared/test_inbound.py
Due: ruff-format, ruff, pyright, readme-snippets

Preserve empty issuer/resource paths on AuthSettings (#2987)
  docs/migration.md
  src/mcp/server/auth/settings.py
  tests/server/auth/test_routes.py
Due: ruff-format, ruff, pyright, readme-snippets

feat: add protocol version override support for client session initialization
  src/mcp/client/_probe.py
  src/mcp/client/client.py
  src/mcp/client/session.py
  src/mcp/client/session_group.py
  tests/client/test_client.py
  tests/client/test_probe.py
  tests/client/test_session.py
  tests/client/test_session_group.py
Due: ruff-format, ruff, pyright, readme-snippets

Drop the call_tool tool= override; rely on the list_tools cache
  docs/migration.md
  src/mcp/client/client.py
  src/mcp/client/session.py
  tests/client/test_client.py
  tests/interaction/_requirements.py
  tests/interaction/transports/test_hosting_http_modern.py
Due: ruff-format, ruff, pyright, readme-snippets

find_invalid_x_mcp_header: never repr a non-string annotation value (#2989)
  src/mcp/shared/inbound.py
  tests/shared/test_inbound.py
Due: ruff-format, ruff, pyright, readme-snippets

Rebuild the docs around tested examples; shrink README.v2.md to a pitch
  .github/workflows/deploy-docs.yml
  .github/workflows/shared.yml
  .pre-commit-config.yaml
  README.v2.md
  docs/authorization.md
  docs/concepts.md
  docs/index.md
  docs/installation.md
  docs/low-level-server.md
  docs/testing.md
  docs/tutorial/index.md
  docs/tutorial/testing.md
  docs/tutorial/tools.md
  docs_src/__init__.py
  docs_src/index/__init__.py
  docs_src/index/tutorial001.py
  docs_src/testing/__init__.py
  docs_src/testing/tutorial001.py
  docs_src/tools/__init__.py
  docs_src/tools/tutorial001.py
  docs_src/tools/tutorial002.py
  docs_src/tools/tutorial003.py
  docs_src/tools/tutorial004.py
  docs_src/tools/tutorial005.py
  mkdocs.yml
  pyproject.toml
  scripts/update_readme_snippets.py
  tests/docs_src/__init__.py
  tests/docs_src/test_index.py
  tests/docs_src/test_shape.py
  tests/docs_src/test_testing.py
  tests/docs_src/test_tools.py
  tests/test_examples.py
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

docs: point the install commands at the 2.0.0a3 release
  README.v2.md
  docs/index.md
  docs/installation.md
Due: readme-snippets

docs: pin the landing page install command; wait on an event in the progress test
  docs/index.md
  tests/docs_src/test_progress.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: act on review feedback; fix the ASGI chapter's deployment story
  README.v2.md
  docs/installation.md
  docs/run/asgi.md
  docs/run/index.md
  docs/tutorial/elicitation.md
  docs/tutorial/logging.md
  docs/tutorial/media.md
  docs/tutorial/progress.md
  docs/tutorial/testing.md
  docs/tutorial/tools.md
  docs_src/asgi/tutorial005.py
  docs_src/elicitation/tutorial001.py
  docs_src/tools/tutorial005.py
  tests/docs_src/test_asgi.py
  tests/docs_src/test_elicitation.py
  tests/docs_src/test_progress.py
  tests/docs_src/test_tools.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: quote the tools/list schemas exactly as the SDK sends them
  docs/tutorial/context.md
  docs/tutorial/tools.md
  tests/docs_src/test_tools.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: assert CORS behavior, not starlette internals; drop pragmas the docs tests cover
  src/mcp/server/mcpserver/context.py
  src/mcp/server/mcpserver/server.py
  src/mcp/server/mcpserver/utilities/types.py
  tests/docs_src/test_asgi.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: plain ASCII punctuation throughout; rename the "Check it" sections
  README.v2.md
  docs/advanced/authorization.md
  docs/advanced/deprecated.md
  docs/advanced/low-level-server.md
  docs/advanced/middleware.md
  docs/advanced/multi-round-trip.md
  docs/advanced/oauth-clients.md
  docs/advanced/pagination.md
  docs/advanced/session-groups.md
  docs/client/callbacks.md
  docs/client/index.md
  docs/client/protocol-versions.md
  docs/client/transports.md
  docs/index.md
  docs/installation.md
  docs/run/asgi.md
  docs/run/index.md
  docs/tutorial/completions.md
  docs/tutorial/context.md
  docs/tutorial/elicitation.md
  docs/tutorial/first-steps.md
  docs/tutorial/handling-errors.md
  docs/tutorial/index.md
  docs/tutorial/lifespan.md
  docs/tutorial/logging.md
  docs/tutorial/media.md
  docs/tutorial/progress.md
  docs/tutorial/prompts.md
  docs/tutorial/resources.md
  docs/tutorial/structured-output.md
  docs/tutorial/testing.md
  docs/tutorial/tools.md
  tests/docs_src/test_shape.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: hold the docs' test prose to the same typography rule
  docs/tutorial/testing.md
  src/mcp/client/client.py
  tests/client/test_client.py
  tests/docs_src/test_asgi.py
  tests/docs_src/test_authorization.py
  tests/docs_src/test_client.py
  tests/docs_src/test_client_callbacks.py
  tests/docs_src/test_client_transports.py
  tests/docs_src/test_completions.py
  tests/docs_src/test_context.py
  tests/docs_src/test_deprecated.py
  tests/docs_src/test_elicitation.py
  tests/docs_src/test_first_steps.py
  tests/docs_src/test_handling_errors.py
  tests/docs_src/test_index.py
  tests/docs_src/test_lifespan.py
  tests/docs_src/test_logging.py
  tests/docs_src/test_lowlevel.py
  tests/docs_src/test_media.py
  tests/docs_src/test_middleware.py
  tests/docs_src/test_mrtr.py
  tests/docs_src/test_oauth_clients.py
  tests/docs_src/test_pagination.py
  tests/docs_src/test_progress.py
  tests/docs_src/test_prompts.py
  tests/docs_src/test_protocol_versions.py
  tests/docs_src/test_resources.py
  tests/docs_src/test_run.py
  tests/docs_src/test_session_groups.py
  tests/docs_src/test_shape.py
  tests/docs_src/test_structured_output.py
  tests/docs_src/test_testing.py
  tests/docs_src/test_tools.py
Due: ruff-format, ruff, pyright, readme-snippets

Match URI template literals literally in ResourceTemplate.matches
  src/mcp/server/mcpserver/resources/templates.py
  tests/server/mcpserver/resources/test_resource_template.py
Due: ruff-format, ruff, pyright, readme-snippets

[v1.x] Support TransportSecuritySettings in the WebSocket server transport
  src/mcp/server/transport_security.py
  src/mcp/server/websocket.py
  tests/server/test_websocket_security.py
Due: ruff-format, ruff, pyright, readme-snippets

Add end-to-end interaction tests for token exchange (SEP-990)
  src/mcp/client/auth/oauth2.py
  tests/interaction/_requirements.py
  tests/interaction/auth/_harness.py
  tests/interaction/auth/_provider.py
  tests/interaction/auth/test_token_exchange.py
Due: ruff-format, ruff, pyright, readme-snippets

Restore the mcp-types sdist LICENSE force-include
  src/mcp-types/LICENSE
  src/mcp-types/pyproject.toml
Due: none

Fix docs/release follow-ups from the mcp-types package split
  .github/workflows/deploy-docs.yml
  .github/workflows/publish-pypi.yml
  AGENTS.md
  RELEASE.md
  docs/hooks/gen_ref_pages.py
  docs/migration.md
  mkdocs.yml
  schema/README.md
  src/mcp-types/LICENSE
  src/mcp-types/pyproject.toml
  tests/types/test_standalone.py
  tests/types/test_version.py
Due: ruff-format, ruff, pyright, readme-snippets

Add .claude/skills/test-quality and reference it from AGENTS.md
  .claude/skills/test-quality/SKILL.md
  AGENTS.md
Due: none

Address review: one publish step, no mkdocs watch list, stable classifier
  .github/workflows/publish-pypi.yml
  RELEASE.md
  mkdocs.yml
  src/mcp-types/pyproject.toml
Due: none

Replace the standalone-import test with an isolated install check in CI
  .github/workflows/shared.yml
  tests/types/test_standalone.py
Due: ruff-format, ruff, pyright

Restore the mkdocs watch list as src/ so serve reloads on source edits
  mkdocs.yml
Due: none

Path conditions:
  ruff-format: any of: \.py$
  ruff: any of: \.py$, but not: ^README(\.v2)?\.md$
  pyright: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  readme-v1-frozen: any of: ^README\.md$
  readme-snippets: any of: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
