Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

ruff-format:
  name: Ruff Format
  entry: uv run --frozen ruff
  args:
  - format
  language: system
  pass_filenames: false

ruff:
  name: Ruff
  entry: uv run --frozen ruff
  args:
  - check
  - --fix
  - --exit-non-zero-on-fix
  language: system
  pass_filenames: false

pyright:
  name: pyright
  entry: uv run --frozen pyright
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv.lock is up to date
  entry: uv lock --check
  language: system
  pass_filenames: false

readme-v1-frozen:
  name: README.md is frozen (v1 docs)
  entry: README.md is frozen at v1. Edit README.v2.md instead.
  language: fail

readme-snippets:
  name: Check snippets are up to date
  entry: uv run --frozen python scripts/sync_snippets.py --check
  language: system
  pass_filenames: false

Validates registered redirect_uris for DCR are a secure schema with no fragments
  src/mcp/server/auth/handlers/register.py
  src/mcp/server/auth/routes.py
  tests/server/auth/test_routes.py
Due: ruff-format, ruff, pyright, readme-snippets

Apply ruff formatting to test_routes.py
  tests/server/auth/test_routes.py
Due: ruff-format, ruff, pyright

Fix circular import by moving validate_redirect_uri to url_validators module
  src/mcp/server/auth/__init__.py
  src/mcp/server/auth/handlers/register.py
  src/mcp/server/auth/routes.py
  src/mcp/server/auth/url_validators.py
  tests/server/auth/test_routes.py
Due: ruff-format, ruff, pyright, readme-snippets

Fix validate_issuer_url type hint from AnyHttpUrl to AnyUrl
  src/mcp/server/auth/url_validators.py
Due: ruff-format, ruff, pyright, readme-snippets

Only reject non-HTTP(S) schemes and fragments for redirect URIs
  src/mcp/server/auth/url_validators.py
  tests/server/auth/test_routes.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: scope issuer loopback exception to http scheme only
  src/mcp/server/auth/url_validators.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(auth): drop duplicate validate_issuer_url and redundant redirect_uris guard
  src/mcp/server/auth/__init__.py
  src/mcp/server/auth/handlers/register.py
  src/mcp/server/auth/url_validators.py
Due: ruff-format, ruff, pyright, readme-snippets

Fix ruff import sort in register.py
  src/mcp/server/auth/handlers/register.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(auth): reject null redirect_uris in DCR registration
  src/mcp/server/auth/handlers/register.py
  tests/server/auth/test_error_handling.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: remove UTF-8 BOM from url_validators.py
  src/mcp/server/auth/url_validators.py
Due: ruff-format, ruff, pyright, readme-snippets

Use pydantic AnyUrl instead of AnyHttpUrl for redirect URI validation
  src/mcp/server/auth/url_validators.py
  tests/server/auth/test_routes.py
Due: ruff-format, ruff, pyright, readme-snippets

test(auth): cover invalid redirect_uri registration responses
  tests/server/auth/test_error_handling.py
Due: ruff-format, ruff, pyright

Prompt render: let conversion errors surface; validate dict messages once
  docs/servers/structured-output.md
  src/mcp/server/mcpserver/prompts/base.py
  tests/server/mcpserver/prompts/test_base.py
Due: ruff-format, ruff, pyright, readme-snippets

Document that path-backed Image/Audio message content reads the file (Raises: OSError)
  src/mcp/server/mcpserver/prompts/base.py
Due: ruff-format, ruff, pyright, readme-snippets

MCPServer: content-block returns are unstructured, prompt messages take Image/Audio (#3320)
  docs/servers/structured-output.md
  src/mcp/client/client.py
  src/mcp/server/mcpserver/__init__.py
  src/mcp/server/mcpserver/prompts/base.py
  src/mcp/server/mcpserver/resources/templates.py
  src/mcp/server/mcpserver/server.py
  src/mcp/server/mcpserver/utilities/func_metadata.py
  tests/docs_src/test_structured_output.py
  tests/server/mcpserver/prompts/test_base.py
  tests/server/mcpserver/resources/test_resource_template.py
  tests/server/mcpserver/test_func_metadata.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

Intake gate: isolate per-PR failures on assignment; key assignment runs per assignee
  .github/scripts/pr_intake_gate.js
  .github/scripts/pr_intake_gate.test.js
  .github/workflows/require-linked-issue.yml
Due: none

Let Client take StdioServerParameters directly (#3321)
  docs/client/index.md
  docs/client/transports.md
  docs/get-started/real-host.md
  docs/whats-new.md
  docs_src/client_transports/tutorial004.py
  examples/stories/_harness.py
  src/mcp/client/client.py
  tests/client/test_client.py
  tests/docs_src/test_client_transports.py
Due: ruff-format, ruff, pyright, readme-snippets

Acknowledge notification POSTs with 202 on the 2026-07-28 HTTP entry
  src/mcp/server/_streamable_http_modern.py
  tests/interaction/_requirements.py
  tests/interaction/transports/test_hosting_http_modern.py
  tests/server/test_streamable_http_modern.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: cover the remaining Tier 1 audit items
  docs/advanced/low-level-server.md
  docs/deprecated.md
  docs/servers/media.md
  docs/servers/prompts.md
  docs/servers/tools.md
  docs_src/lowlevel/tutorial007.py
  docs_src/media/tutorial005.py
  docs_src/prompts/tutorial004.py
  docs_src/prompts/tutorial005.py
  docs_src/prompts/tutorial006.py
Due: ruff-format, ruff, pyright, readme-snippets

Gate external PRs on an assigned, linked issue (#3291)
  .github/pull_request_template.md
  .github/scripts/pr_intake_gate.js
  .github/scripts/pr_intake_gate.test.js
  .github/workflows/require-linked-issue.yml
  .github/workflows/shared.yml
  AGENTS.md
  CONTRIBUTING.md
Due: none

fix(client): reinitialize expired streamable HTTP sessions
  src/mcp/client/_transport.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(client): reinitialize expired streamable HTTP sessions
  src/mcp/client/session.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(client): reinitialize expired streamable HTTP sessions
  src/mcp/client/streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(client): reinitialize expired streamable HTTP sessions
  tests/client/test_notification_response.py
Due: ruff-format, ruff, pyright

fix(client): reinitialize expired streamable HTTP sessions
  tests/interaction/transports/test_client_transport_http.py
Due: ruff-format, ruff, pyright

docs: cover the remaining Tier 1 audit items (#3325)
  docs/advanced/low-level-server.md
  docs/deprecated.md
  docs/servers/media.md
  docs/servers/prompts.md
  docs/servers/tools.md
  docs_src/lowlevel/tutorial007.py
  docs_src/media/tutorial005.py
  docs_src/prompts/tutorial004.py
  docs_src/prompts/tutorial005.py
  docs_src/prompts/tutorial006.py
Due: ruff-format, ruff, pyright, readme-snippets

Share the unsupported-version rejection between request and notification arms
  docs/advanced/low-level-server.md
  docs/advanced/middleware.md
  src/mcp/server/_streamable_http_modern.py
  src/mcp/shared/inbound.py
  tests/shared/test_inbound.py
Due: ruff-format, ruff, pyright, readme-snippets

Acknowledge notification POSTs with 202 on the 2026-07-28 HTTP entry (#3326)
  docs/advanced/low-level-server.md
  docs/advanced/middleware.md
  src/mcp/server/_streamable_http_modern.py
  src/mcp/shared/inbound.py
  tests/interaction/_requirements.py
  tests/interaction/transports/test_hosting_http_modern.py
  tests/server/test_streamable_http_modern.py
  tests/shared/test_inbound.py
Due: ruff-format, ruff, pyright, readme-snippets

test: correct docstring per review measurements; assert exact PARSE_ERROR below 3.14
  tests/server/test_streamable_http_modern.py
Due: ruff-format, ruff, pyright

Shorten stdio test comments
  AGENTS.md
  tests/interaction/transports/_stdio_server.py
  tests/interaction/transports/test_stdio.py
  tests/transports/stdio/test_lifecycle.py
  tests/transports/stdio/test_posix.py
  tests/transports/stdio/test_windows.py
Due: ruff-format, ruff, pyright

Clarify stdio coverage comments
  tests/interaction/transports/_stdio_server.py
  tests/interaction/transports/test_stdio.py
Due: ruff-format, ruff, pyright

Shorten stdio test comments (#3329)
  AGENTS.md
  tests/interaction/transports/_stdio_server.py
  tests/interaction/transports/test_stdio.py
  tests/transports/stdio/test_lifecycle.py
  tests/transports/stdio/test_posix.py
  tests/transports/stdio/test_windows.py
Due: ruff-format, ruff, pyright

OAuth client: refresh before re-authorizing, and discover before refreshing
  docs/client/oauth-clients.md
  src/mcp/client/auth/oauth2.py
  tests/client/test_auth.py
  tests/interaction/_requirements.py
  tests/interaction/auth/_harness.py
  tests/interaction/auth/_provider.py
  tests/interaction/auth/test_lifecycle.py
Due: ruff-format, ruff, pyright, readme-snippets

Hand TypedDict tool results to pydantic natively
  docs/servers/structured-output.md
  src/mcp/server/mcpserver/utilities/func_metadata.py
  tests/server/mcpserver/test_func_metadata.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

Address review: refresh-failure parity, CIMD token binding, pinning tests
  src/mcp/client/auth/oauth2.py
  tests/interaction/_requirements.py
  tests/interaction/auth/test_lifecycle.py
Due: ruff-format, ruff, pyright, readme-snippets

Handle the CIMD issuer change beside the SEP-2352 guard so stale metadata is dropped too
  src/mcp/client/auth/oauth2.py
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

Treat an unstamped CIMD record like one stamped elsewhere: drop its tokens, then stamp it
  src/mcp/client/auth/oauth2.py
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

Fold the SEP-2352 issuer-binding rules into one method used at both discovery points
  src/mcp/client/auth/oauth2.py
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: include PROGRAMDATA in inherited Windows environment
  src/mcp/client/stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

test: replace if/else branch with single assert to satisfy 100% branch coverage
  tests/server/test_streamable_http_modern.py
Due: ruff-format, ruff, pyright

Path conditions:
  ruff-format: any of: \.py$
  ruff: any of: \.py$, but not: ^README(\.v2)?\.md$
  pyright: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  readme-v1-frozen: any of: ^README\.md$
  readme-snippets: any of: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
