Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args:
          [
            "--fix",
            "--config",
            "pyproject.toml",
            "--configPointer",
            "/tool/markdown/lint",
          ]
        types: [markdown]

  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff Format
        entry: uv run --frozen ruff
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: ruff
        name: Ruff
        entry: uv run --frozen ruff
        args: ["check", "--fix", "--exit-non-zero-on-fix"]
        types: [python]
        language: system
        pass_filenames: false
        exclude: ^README(\.v2)?\.md$
      - id: pyright
        name: pyright
        entry: uv run --frozen pyright
        language: system
        types: [python]
        pass_filenames: false
      - id: uv-lock-check
        name: Check uv.lock is up to date
        entry: uv lock --check
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false
      # TODO(Max): Drop this in v2.
      - id: readme-v1-frozen
        name: README.md is frozen (v1 docs)
        entry: README.md is frozen at v1. Edit README.v2.md instead.
        language: fail
        files: ^README\.md$
      - id: readme-snippets
        name: Check snippets are up to date
        entry: uv run --frozen python scripts/sync_snippets.py --check
        language: system
        files: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
        pass_filenames: false

Avoid shell invocation for Windows npx
  src/mcp/cli/cli.py
  tests/cli/test_utils.py
Due: ruff-format, ruff, pyright, readme-snippets

Fix ResourceTemplate.matches not escaping literal regex metacharacters
  src/mcp/server/mcpserver/resources/templates.py
  tests/server/mcpserver/resources/test_resource_template.py
Due: ruff-format, ruff, pyright, readme-snippets

add origin header to streamable http client
  src/mcp/client/streamable_http.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(clientsessiongroup): only query negotiated capabilities
  src/mcp/client/session_group.py
  tests/client/test_session_group.py
Due: ruff-format, ruff, pyright, readme-snippets

Restore tasks entries in tests/interaction/_requirements.py
  tests/interaction/_requirements.py
Due: ruff-format, ruff, pyright

feat: BaseContext
  src/mcp/shared/context.py
  tests/shared/test_context.py
Due: ruff-format, ruff, pyright, readme-snippets

feat: JSONRPCDispatcher outbound side + parametrized contract tests
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/shared/conftest.py
  tests/shared/test_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

refactor: rename Dispatcher.call to send_request, replace RequestSender with Outbound
  src/mcp/shared/direct_dispatcher.py
  src/mcp/shared/dispatcher.py
  tests/shared/test_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

test: move asserts inside async-with for 3.11 coverage instrumentation
  tests/server/test_server_context.py
  tests/shared/test_context.py
  tests/shared/test_peer.py
Due: ruff-format, ruff, pyright

feat: JSONRPCDispatcher receive loop and dispatch (chunk b)
  src/mcp/shared/direct_dispatcher.py
  src/mcp/shared/dispatcher.py
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/shared/conftest.py
  tests/shared/test_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: JSONRPCDispatcher coerces string response/progress IDs to int for correlation
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/shared/test_jsonrpc_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

test: close PR3 coverage gaps to 100%
  tests/server/test_connection.py
  tests/server/test_server_context.py
  tests/shared/test_peer.py
Due: ruff-format, ruff, pyright

feat: JSONRPCDispatcher exception boundary (chunk c)
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/shared/conftest.py
  tests/shared/test_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: drop development-journal language from docstrings/comments
  src/mcp/server/_typed_request.py
  src/mcp/server/connection.py
  src/mcp/server/context.py
  src/mcp/shared/context.py
Due: ruff-format, ruff, pyright, readme-snippets

feat: PeerMixin and Peer wrapper
  src/mcp/shared/peer.py
  tests/shared/test_peer.py
Due: ruff-format, ruff, pyright, readme-snippets

feat: Server registry stores HandlerEntry; ServerRunner consumes Server[L] directly
  src/mcp/server/context.py
  src/mcp/server/lowlevel/server.py
  src/mcp/server/runner.py
  tests/server/test_runner.py
  tests/server/test_server_context.py
Due: ruff-format, ruff, pyright, readme-snippets

test: JSON-RPC-specific dispatcher tests + coverage to 100%
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/shared/test_jsonrpc_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

refactor: make BaseContext/Context covariant in their type params
  src/mcp/server/context.py
  src/mcp/shared/context.py
Due: ruff-format, ruff, pyright, readme-snippets

feat: Connection, server Context, typed send_request, meta kwarg
  src/mcp/server/_typed_request.py
  src/mcp/server/connection.py
  src/mcp/server/context.py
  src/mcp/shared/peer.py
  tests/server/test_connection.py
  tests/server/test_server_context.py
  tests/shared/test_peer.py
Due: ruff-format, ruff, pyright, readme-snippets

test: ServerRunner coverage to 100% — otel span assertions + connected_runner harness
  pyproject.toml
  src/mcp/server/lowlevel/server.py
  src/mcp/server/runner.py
  src/mcp/shared/_otel.py
  tests/server/conftest.py
  tests/server/test_runner.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

feat: ServerRunner.run() and otel_middleware
  src/mcp/server/runner.py
  tests/server/test_runner.py
Due: ruff-format, ruff, pyright, readme-snippets

feat: ServerRunner skeleton — _on_request, initialize, init-gate
  src/mcp/server/lowlevel/server.py
  src/mcp/server/runner.py
  tests/server/test_runner.py
Due: ruff-format, ruff, pyright, readme-snippets

test: converge span capture on capfire to fix xdist order-dependence
  tests/conftest.py
  tests/server/conftest.py
  tests/server/test_runner.py
  tests/shared/test_otel.py
Due: ruff-format, ruff, pyright

test: address 3.11/3.14 coverage instrumentation quirks
  tests/shared/test_dispatcher.py
  tests/shared/test_jsonrpc_dispatcher.py
Due: ruff-format, ruff, pyright

refactor: rename Outbound.send_request to send_raw_request
  src/mcp/shared/direct_dispatcher.py
  src/mcp/shared/dispatcher.py
  src/mcp/shared/exceptions.py
  src/mcp/shared/transport_context.py
  tests/shared/test_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

feat: Connection.state + exit_stack; ctx.session_id/headers; TransportContext.headers
  src/mcp/server/connection.py
  src/mcp/server/context.py
  src/mcp/server/runner.py
  src/mcp/shared/direct_dispatcher.py
  src/mcp/shared/transport_context.py
  tests/server/test_runner.py
Due: ruff-format, ruff, pyright, readme-snippets

feat: add Dispatcher Protocol and DirectDispatcher
  src/mcp/shared/direct_dispatcher.py
  src/mcp/shared/dispatcher.py
  src/mcp/shared/exceptions.py
  src/mcp/shared/transport_context.py
  src/mcp/types/__init__.py
  src/mcp/types/jsonrpc.py
  tests/shared/test_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

ci: run full matrix on PRs targeting any branch
  .github/workflows/main.yml
Due: none

refactor: follow Outbound.send_raw_request rename in PeerMixin/BaseContext
  src/mcp/shared/context.py
  src/mcp/shared/peer.py
  tests/shared/test_context.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: address coverage gaps and stale RequestSender docstring
  src/mcp/shared/dispatcher.py
  tests/shared/test_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

refactor: rename send_request to send_raw_request in JSONRPCDispatcher
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/shared/test_jsonrpc_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

feat: ServerRunner middleware (two-tier) + _on_notify
  src/mcp/server/context.py
  src/mcp/server/lowlevel/server.py
  src/mcp/server/runner.py
  tests/server/test_runner.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(auth): add Accept: application/json header to OAuth token requests
  src/mcp/client/auth/oauth2.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(server): send JSON-RPC parse error when stdio transport fails to parse message
  src/mcp/shared/session.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(streamable_http): reject duplicate request IDs
  src/mcp/server/streamable_http.py
  tests/issues/test_2655_streamable_http_duplicate_request_id.py
Due: ruff-format, ruff, pyright, readme-snippets

refactor(streamable_http): simplify init session check
  src/mcp/server/streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

test: remove unused duplicate request ID handler
  tests/issues/test_2655_streamable_http_duplicate_request_id.py
Due: ruff-format, ruff, pyright

Fix stdio server newline translation on Windows
  src/mcp/server/stdio.py
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: add invalid_target to AuthorizationErrorCode per RFC 8707 §2
  src/mcp/server/auth/provider.py
Due: ruff-format, ruff, pyright, readme-snippets

Add default Origin for streamable HTTP client
  src/mcp/client/streamable_http.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets
