Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

ruff-format:
  name: Ruff Format
  entry: uv run --frozen ruff
  args:
  - format
  language: system
  pass_filenames: false

ruff:
  name: Ruff
  entry: uv run --frozen ruff
  args:
  - check
  - --fix
  - --exit-non-zero-on-fix
  language: system
  pass_filenames: false

pyright:
  name: pyright
  entry: uv run --frozen pyright
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv.lock is up to date
  entry: uv lock --check
  language: system
  pass_filenames: false

readme-v1-frozen:
  name: README.md is frozen (v1 docs)
  entry: README.md is frozen at v1. Edit README.v2.md instead.
  language: fail

readme-snippets:
  name: Check snippets are up to date
  entry: uv run --frozen python scripts/sync_snippets.py --check
  language: system
  pass_filenames: false

test: address 3.11/3.14 coverage instrumentation quirks
  tests/shared/test_dispatcher.py
  tests/shared/test_jsonrpc_dispatcher.py
Due: ruff-format, ruff, pyright

feat: JSONRPCDispatcher receive loop and dispatch (chunk b)
  src/mcp/shared/direct_dispatcher.py
  src/mcp/shared/dispatcher.py
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/shared/conftest.py
  tests/shared/test_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

feat: JSONRPCDispatcher exception boundary (chunk c)
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/shared/conftest.py
  tests/shared/test_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

test: JSON-RPC-specific dispatcher tests + coverage to 100%
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/shared/test_jsonrpc_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

ci: run full matrix on PRs targeting any branch
  .github/workflows/main.yml
Due: none

refactor: rename send_request to send_raw_request in JSONRPCDispatcher
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/shared/test_jsonrpc_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

feat: PeerMixin and Peer wrapper
  src/mcp/shared/peer.py
  tests/shared/test_peer.py
Due: ruff-format, ruff, pyright, readme-snippets

feat: BaseContext
  src/mcp/shared/context.py
  tests/shared/test_context.py
Due: ruff-format, ruff, pyright, readme-snippets

refactor: follow Outbound.send_raw_request rename in PeerMixin/BaseContext
  src/mcp/shared/context.py
  src/mcp/shared/peer.py
  tests/shared/test_context.py
Due: ruff-format, ruff, pyright, readme-snippets

feat: Connection, server Context, typed send_request, meta kwarg
  src/mcp/server/_typed_request.py
  src/mcp/server/connection.py
  src/mcp/server/context.py
  src/mcp/shared/peer.py
  tests/server/test_connection.py
  tests/server/test_server_context.py
  tests/shared/test_peer.py
Due: ruff-format, ruff, pyright, readme-snippets

test: close PR3 coverage gaps to 100%
  tests/server/test_connection.py
  tests/server/test_server_context.py
  tests/shared/test_peer.py
Due: ruff-format, ruff, pyright

Fix validate_scope rejecting scopes when client scope is None
  src/mcp/shared/auth.py
  tests/shared/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: skip JSON pre-parsing for str union annotations in pre_parse_json
  src/mcp/server/mcpserver/utilities/func_metadata.py
  tests/server/mcpserver/test_func_metadata.py
Due: ruff-format, ruff, pyright, readme-snippets

Fix CI: remove extra blank lines and unnecessary pragma comments
  src/mcp/server/mcpserver/utilities/func_metadata.py
  tests/server/mcpserver/test_func_metadata.py
Due: ruff-format, ruff, pyright, readme-snippets

[v1.x] fix: canonicalize root protected resource URIs
  src/mcp/shared/auth.py
  tests/server/auth/test_protected_resource.py
Due: ruff-format, ruff, pyright, readme-snippets

Add pragma: no cover to inner test functions not executed by coverage
  tests/server/mcpserver/test_func_metadata.py
Due: ruff-format, ruff, pyright

fix: accept wildcard patterns in Accept header per RFC 7231 §5.3.2
  src/mcp/server/streamable_http.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

chore: remove unnecessary pragma: no cover from mock_receive functions
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright

fix: remove unused anyio import and unnecessary pragma: no cover annotations
  src/mcp/client/session_group.py
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

Erimsj04
  .github/workflows/generator-generic-ossf-slsa3-publish.yml
Due: none

docs: add prompt client/server example to address issue #498
  examples/snippets/clients/prompt_client.py
  examples/snippets/pyproject.toml
  examples/snippets/servers/__init__.py
  examples/snippets/servers/prompt_server.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: handle closed stdio process during writes
  src/mcp/client/stdio.py
  src/mcp/server/mcpserver/utilities/schema.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: tighten schema typing for pyright
  src/mcp/server/mcpserver/utilities/schema.py
  tests/server/mcpserver/utilities/test_schema.py
Due: ruff-format, ruff, pyright, readme-snippets

test: cover malformed defs guard
  tests/server/mcpserver/utilities/test_schema.py
Due: ruff-format, ruff, pyright

style: apply ruff formatting for schema typing
  src/mcp/server/mcpserver/utilities/schema.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: skip output schema validation when tool returns isError=True
  src/mcp/server/fastmcp/utilities/func_metadata.py
  tests/server/fastmcp/test_func_metadata.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: skip output schema validation when tool returns is_error=True
  src/mcp/server/mcpserver/utilities/func_metadata.py
  tests/server/mcpserver/test_func_metadata.py
Due: ruff-format, ruff, pyright, readme-snippets

feat(mcpserver): add Context.assert_within_roots for server-side roots enforcement
  src/mcp/server/mcpserver/context.py
  tests/server/mcpserver/test_roots.py
Due: ruff-format, ruff, pyright, readme-snippets

test: mark unreachable return in test helpers as no-cover
  tests/server/mcpserver/test_roots.py
Due: ruff-format, ruff, pyright

style: drop unused Any import
  src/mcp/server/mcpserver/utilities/schema.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: disable CRLF translation in stdio_server TextIOWrapper on Windows
  src/mcp/server/stdio.py
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: make UrlElicitationRequiredError pickle-safe via __reduce__
  src/mcp/shared/exceptions.py
  tests/shared/test_exceptions.py
Due: ruff-format, ruff, pyright, readme-snippets

test: add regression test for initialize hang on unexpected content-type (#2432)
  tests/client/test_notification_response.py
Due: ruff-format, ruff, pyright

fix: annotate __reduce__ return type to satisfy pyright
  src/mcp/shared/exceptions.py
Due: ruff-format, ruff, pyright, readme-snippets

feat(examples): add simple-sampling server and client
  examples/clients/simple-sampling-client/README.md
  examples/clients/simple-sampling-client/mcp_simple_sampling_client/__init__.py
  examples/clients/simple-sampling-client/mcp_simple_sampling_client/__main__.py
  examples/clients/simple-sampling-client/mcp_simple_sampling_client/main.py
  examples/clients/simple-sampling-client/pyproject.toml
  examples/servers/simple-sampling/README.md
  examples/servers/simple-sampling/mcp_simple_sampling/__init__.py
  examples/servers/simple-sampling/mcp_simple_sampling/__main__.py
  examples/servers/simple-sampling/mcp_simple_sampling/server.py
  examples/servers/simple-sampling/pyproject.toml
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Return 405 for GET in stateless mode
  src/mcp/server/streamable_http.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Filter MCPServer capabilities by registered primitives
  src/mcp/server/lowlevel/server.py
  src/mcp/server/mcpserver/server.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(shared): preserve MCPError payload on pickle
  src/mcp/shared/exceptions.py
  tests/shared/test_exceptions.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: auto-send notifications/cancelled on anyio task cancellation
  src/mcp/shared/session.py
  tests/server/test_cancel_handling.py
Due: ruff-format, ruff, pyright, readme-snippets

Path conditions:
  ruff-format: any of: \.py$
  ruff: any of: \.py$, but not: ^README(\.v2)?\.md$
  pyright: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  readme-v1-frozen: any of: ^README\.md$
  readme-snippets: any of: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
