Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args:
          [
            "--fix",
            "--config",
            "pyproject.toml",
            "--configPointer",
            "/tool/markdown/lint",
          ]
        types: [markdown]

  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff Format
        entry: uv run --frozen ruff
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: ruff
        name: Ruff
        entry: uv run --frozen ruff
        args: ["check", "--fix", "--exit-non-zero-on-fix"]
        types: [python]
        language: system
        pass_filenames: false
        exclude: ^README(\.v2)?\.md$
      - id: pyright
        name: pyright
        entry: uv run --frozen pyright
        language: system
        types: [python]
        pass_filenames: false
      - id: uv-lock-check
        name: Check uv.lock is up to date
        entry: uv lock --check
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false
      # TODO(Max): Drop this in v2.
      - id: readme-v1-frozen
        name: README.md is frozen (v1 docs)
        entry: README.md is frozen at v1. Edit README.v2.md instead.
        language: fail
        files: ^README\.md$
      - id: readme-snippets
        name: Check snippets are up to date
        entry: uv run --frozen python scripts/sync_snippets.py --check
        language: system
        files: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
        pass_filenames: false

Extract parallel directory-URI validator in Skills handlers
  src/mcp/server/skills.py
Due: ruff-format, ruff, pyright, readme-snippets

Pin the skill-name grammar rejection cases
  tests/shared/test_skills.py
Due: ruff-format, ruff, pyright

Fix documentation accuracy in the Skills guide
  docs/advanced/skills.md
  src/mcp/server/skills.py
Due: ruff-format, ruff, pyright, readme-snippets

Add end-to-end dynamic-skill and cursor-resume client tests
  tests/client/test_skills.py
Due: ruff-format, ruff, pyright

Report Skills handler-output faults as INTERNAL_ERROR, not INVALID_PARAMS
  src/mcp/server/skills.py
  tests/server/test_skills.py
Due: ruff-format, ruff, pyright, readme-snippets

Seed the pagination cursor and preserve request _meta across skills pages
  src/mcp/client/skills.py
  tests/client/test_skills.py
Due: ruff-format, ruff, pyright, readme-snippets

Reject directory-shaped skill resource URIs and dot-segment directory children
  src/mcp/shared/skills.py
  tests/shared/test_skills.py
Due: ruff-format, ruff, pyright, readme-snippets

Correct Skills docs on read_skill_uri return type and verify on dynamic skills
  docs/advanced/skills.md
  docs_src/skills/tutorial001.py
  docs_src/skills/tutorial001_client.py
Due: ruff-format, ruff, pyright, readme-snippets

Construct ListSkillsParams _meta via model_validate in the skills client test
  tests/client/test_skills.py
Due: ruff-format, ruff, pyright

Test that request _meta is camelCase on the wire and snake_case to a handler
  tests/client/test_skills.py
  tests/shared/test_skills.py
Due: ruff-format, ruff, pyright

Ask cubic for a review when the intake gate lets a PR back in
  .github/scripts/pr_intake_gate.js
  .github/scripts/pr_intake_gate.test.js
  .github/workflows/require-linked-issue.yml
Due: none

Close the transport a rejected connect_to_server opened
  src/mcp/client/session_group.py
  tests/client/test_session_group.py
Due: ruff-format, ruff, pyright, readme-snippets

style: fix formatting in tests/client/test_probe.py
  tests/client/test_probe.py
Due: ruff-format, ruff, pyright

feat: add protocol version override support for client session initialization
  src/mcp/client/_probe.py
  src/mcp/client/client.py
  src/mcp/client/session.py
  src/mcp/client/session_group.py
  tests/client/test_client.py
  tests/client/test_probe.py
  tests/client/test_session.py
  tests/client/test_session_group.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: honor protocol_version_override on the auto-mode success path
  src/mcp/client/_probe.py
  tests/client/test_probe.py
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_client_connect.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(test): update message_handler to the current IncomingMessage type
  tests/client/test_session.py
Due: ruff-format, ruff, pyright

added changes for cache-attributes and its tests
  docs/advanced/skills.md
  src/mcp/server/skills.py
  src/mcp/shared/skills.py
  tests/server/test_skills.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(direct-dispatcher): contain callback failures
  src/mcp/shared/direct_dispatcher.py
  tests/shared/test_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

test(dispatcher): exercise notification failure handler
  tests/shared/test_dispatcher.py
Due: ruff-format, ruff, pyright

fix: respect token_endpoint_auth_method=none when a client secret is stored
  src/mcp/server/auth/middleware/client_auth.py
  tests/server/mcpserver/auth/test_auth_integration.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(stdio): launch PowerShell (.ps1) servers via a PowerShell host on Windows
  src/mcp/os/win32/utilities.py
  tests/transports/stdio/test_windows.py
Due: ruff-format, ruff, pyright, readme-snippets

Simplify get_display_name logic
  src/mcp/shared/metadata_utils.py
Due: ruff-format, ruff, pyright, readme-snippets

test(types): add unit test suite for MCP tool definition schema and name bounds
  tests/test_tool_definition_invariants.py
Due: ruff-format, ruff, pyright

Dump CallToolResult structured_content with field aliases.
  src/mcp/server/mcpserver/utilities/func_metadata.py
  tests/server/mcpserver/test_func_metadata.py
Due: ruff-format, ruff, pyright, readme-snippets

Omit empty _meta on outbound JSON-RPC requests.
  src/mcp/shared/jsonrpc_dispatcher.py
  tests/shared/test_jsonrpc_dispatcher.py
Due: ruff-format, ruff, pyright, readme-snippets

Close the transport when connect_to_server rejects a session.
  src/mcp/client/session_group.py
  tests/client/test_session_group.py
Due: ruff-format, ruff, pyright, readme-snippets

Fix #3281: streamable_http (legacy mode): early response.aclose() discard
  src/mcp/client/streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

[v1.x] Fall back to "unknown" when package version metadata is None
  src/mcp/server/lowlevel/server.py
  tests/server/test_lowlevel_input_validation.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(oauth): merge auth params into existing authorization_endpoint query (RFC 6749 3.1)
  src/mcp/client/auth/oauth2.py
Due: ruff-format, ruff, pyright, readme-snippets

Detect event-loop blocking in tests
  pyproject.toml
  src/mcp/client/session.py
  tests/conftest.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Keep validator cache updates on the event loop
  src/mcp/client/session.py
  tests/client/test_session_promotions.py
Due: ruff-format, ruff, pyright, readme-snippets

Resolve Windows executables off the event loop
  src/mcp/client/stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

Isolate fake stdio processes from command resolution
  tests/client/test_stdio.py
Due: ruff-format, ruff, pyright

Abandon canceled Windows command resolution
  src/mcp/client/stdio.py
  tests/client/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

Keep validator compilation independent of shared workers
  src/mcp/client/session.py
  tests/client/test_session_promotions.py
Due: ruff-format, ruff, pyright, readme-snippets

Match Starlette's BlockBuster fixture pattern
  pyproject.toml
  tests/conftest.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check

Allow jsonschema lazy imports in BlockBuster
  src/mcp/client/session.py
  tests/client/test_session_promotions.py
  tests/conftest.py
Due: ruff-format, ruff, pyright, readme-snippets

Cover lazy imports across supported Python versions
  pyproject.toml
  tests/conftest.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check
