Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args:
          [
            "--fix",
            "--config",
            "pyproject.toml",
            "--configPointer",
            "/tool/markdown/lint",
          ]
        types: [markdown]

  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff Format
        entry: uv run --frozen ruff
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: ruff
        name: Ruff
        entry: uv run --frozen ruff
        args: ["check", "--fix", "--exit-non-zero-on-fix"]
        types: [python]
        language: system
        pass_filenames: false
        exclude: ^README(\.v2)?\.md$
      - id: pyright
        name: pyright
        entry: uv run --frozen pyright
        language: system
        types: [python]
        pass_filenames: false
      - id: uv-lock-check
        name: Check uv.lock is up to date
        entry: uv lock --check
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false
      # TODO(Max): Drop this in v2.
      - id: readme-v1-frozen
        name: README.md is frozen (v1 docs)
        entry: README.md is frozen at v1. Edit README.v2.md instead.
        language: fail
        files: ^README\.md$
      - id: readme-snippets
        name: Check snippets are up to date
        entry: uv run --frozen python scripts/sync_snippets.py --check
        language: system
        files: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
        pass_filenames: false

Fix CI: coverage, ruff format, and remove unused handle_list_tools
  src/mcp/server/streamable_http_manager.py
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

Fix ruff format and Python 3.11 coverage false negatives in test
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright

Move pragma: no cover to logger.debug (the unreachable line)
  src/mcp/server/streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Run handle_request in caller context, not as child task
  src/mcp/server/streamable_http_manager.py
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

Add graceful SSE drain on session manager shutdown
  src/mcp/server/streamable_http_manager.py
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

Add tests for shutdown coverage gaps
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright

tests: eliminate port-allocation races in SSE/StreamableHTTP tests
  tests/client/test_http_unicode.py
  tests/server/test_sse_security.py
  tests/server/test_streamable_http_security.py
  tests/shared/test_sse.py
  tests/shared/test_streamable_http.py
  tests/test_helpers.py
Due: ruff-format, ruff, pyright

Fix CI: pyright type errors in test and strict-no-cover false positive
  src/mcp/server/streamable_http.py
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: include "none" in token_endpoint_auth_methods_supported metadata
  src/mcp/server/auth/routes.py
  tests/client/test_auth.py
  tests/server/fastmcp/auth/test_auth_integration.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: add exception handling in StreamableHTTP shutdown
  src/mcp/server/streamable_http.py
  src/mcp/server/streamable_http_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: add pragma no cover for shutdown cleanup code
  src/mcp/server/streamable_http.py
  src/mcp/server/streamable_http_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: return 405 for GET/DELETE in stateless streamable-http mode
  src/mcp/server/streamable_http_manager.py
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: close all memory stream ends in client transport cleanup
  src/mcp/client/sse.py
  src/mcp/client/streamable_http.py
  src/mcp/client/websocket.py
  tests/client/test_transport_stream_cleanup.py
Due: ruff-format, ruff, pyright, readme-snippets

Fix flaky TestChildProcessCleanup: poll for file growth, clean up proc in finally
  tests/client/test_stdio.py
Due: ruff-format, ruff, pyright

test: convert test_integration.py to in-memory transport
  tests/server/mcpserver/test_integration.py
Due: ruff-format, ruff, pyright

test: convert WebSocket tests to in-memory transport
  tests/shared/test_ws.py
  tests/test_helpers.py
Due: ruff-format, ruff, pyright

test: isolate stream leak tests from other tests' resource leaks
  tests/client/test_transport_stream_cleanup.py
Due: ruff-format, ruff, pyright

chore: downgrade stale no-cover pragmas to lax no cover
  src/mcp/server/session.py
  src/mcp/server/sse.py
  src/mcp/server/streamable_http.py
  src/mcp/server/transport_security.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

Rewrite TestChildProcessCleanup with socket-based deterministic liveness probe
  tests/client/test_stdio.py
Due: ruff-format, ruff, pyright

Handle BrokenResourceError in _assert_stream_closed for Windows
  tests/client/test_stdio.py
Due: ruff-format, ruff, pyright

feat(auth): add tenant_id field to authentication token models
  src/mcp/server/auth/provider.py
  tests/server/auth/test_multi_tenancy_tokens.py
Due: ruff-format, ruff, pyright, readme-snippets

Fix stdio_client BrokenResourceError race condition during shutdown
  src/mcp/client/stdio.py
  tests/client/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(oauth): preserve existing refresh_token when refresh response omits it (#2270)
  src/mcp/client/auth/oauth2.py
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(oauth): preserve existing refresh_token when server omits it
  src/mcp/client/auth/oauth2.py
Due: ruff-format, ruff, pyright, readme-snippets

feat(auth): add tenant_id to session and request context
  src/mcp/server/auth/middleware/auth_context.py
  src/mcp/server/lowlevel/server.py
  src/mcp/server/session.py
  src/mcp/shared/_context.py
  tests/server/auth/middleware/test_auth_context.py
  tests/server/test_multi_tenancy_session.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(test): use async context manager for ServerSession test
  tests/server/test_multi_tenancy_session.py
Due: ruff-format, ruff, pyright

Handle connection errors in StreamableHTTPTransport
  src/mcp/client/streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: preserve existing refresh_token when server omits it in refresh response
  src/mcp/client/auth/oauth2.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: enable DNS rebinding protection by default for secure-by-default
  src/mcp/server/transport_security.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(auth): preserve existing refresh_token when server omits it
  src/mcp/client/auth/oauth2.py
Due: ruff-format, ruff, pyright, readme-snippets

Reap process and close pipe transports after _terminate_process_tree
  tests/client/test_stdio.py
Due: ruff-format, ruff, pyright

Eliminate all coverage pragmas via AsyncExitStack + pytest.raises
  tests/client/test_stdio.py
Due: ruff-format, ruff, pyright

Remove now-unnecessary filterwarnings("ignore::ResourceWarning") decorators
  tests/client/test_stdio.py
Due: ruff-format, ruff, pyright

fix: add exact-path streamable http routes for starlette integration
  README.md
  README.v2.md
  docs/migration.md
  examples/snippets/servers/streamable_http_multiple_servers.py
  examples/snippets/servers/streamable_http_path_config.py
  examples/snippets/servers/streamable_starlette_mount.py
  src/mcp/server/lowlevel/server.py
  src/mcp/server/mcpserver/server.py
  tests/server/mcpserver/test_server.py
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright, readme-v1-frozen, readme-snippets

test(auth): add tenant isolation tests for concurrent requests
  tests/server/test_multi_tenancy_session.py
Due: ruff-format, ruff, pyright

Fix: preserve existing refresh_token when server omits it in refresh response
  src/mcp/client/auth/oauth2.py
Due: ruff-format, ruff, pyright, readme-snippets

feat: add client callbacks for list_changed notifications
  src/mcp/client/client.py
  src/mcp/client/session.py
  tests/client/test_list_changed_callback.py
Due: ruff-format, ruff, pyright, readme-snippets

chore: remove unnecessary comment in test
  tests/client/test_list_changed_callback.py
Due: ruff-format, ruff, pyright

fix: remove stale pragma no-cover from server send_*_list_changed methods
  src/mcp/server/session.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: handle connection errors in StreamableHTTP post_writer gracefully
  src/mcp/client/streamable_http.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets
