Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

ruff-format:
  name: Ruff Format
  entry: uv run --frozen ruff
  args:
  - format
  language: system
  pass_filenames: false

ruff:
  name: Ruff
  entry: uv run --frozen ruff
  args:
  - check
  - --fix
  - --exit-non-zero-on-fix
  language: system
  pass_filenames: false

pyright:
  name: pyright
  entry: uv run --frozen pyright
  language: system
  pass_filenames: false

uv-lock-check:
  name: Check uv.lock is up to date
  entry: uv lock --check
  language: system
  pass_filenames: false

readme-v1-frozen:
  name: README.md is frozen (v1 docs)
  entry: README.md is frozen at v1. Edit README.v2.md instead.
  language: fail

readme-snippets:
  name: Check snippets are up to date
  entry: uv run --frozen python scripts/sync_snippets.py --check
  language: system
  pass_filenames: false

- Added tests cases for few of the missing lines. src/mcp/client/auth/extensions/enterprise_managed_auth.py 232->235, 304->307. - Resolved pre-commit errors.
  tests/client/auth/test_enterprise_managed_auth_client.py
  tests/server/auth/test_enterprise_managed_auth_server.py
Due: ruff-format, ruff, pyright

Added test cases for missing lines of code.
  tests/client/auth/test_enterprise_managed_auth_client.py
  tests/server/auth/test_enterprise_managed_auth_server.py
Due: ruff-format, ruff, pyright

- Removed server side changes for enterprise_managed_auth.py
  src/mcp/client/auth/extensions/enterprise_managed_auth.py
  src/mcp/server/auth/extensions/__init__.py
  src/mcp/server/auth/extensions/enterprise_managed_auth.py
  tests/server/auth/test_enterprise_managed_auth_server.py
Due: ruff-format, ruff, pyright, readme-snippets

- Fixed pre-commit errors.
  src/mcp/client/auth/extensions/__init__.py
  src/mcp/client/auth/extensions/enterprise_managed_auth.py
  src/mcp/server/auth/extensions/__init__.py
  src/mcp/server/auth/extensions/enterprise_managed_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

- Tried to fix the ruff error.
  src/mcp/client/auth/extensions/enterprise_managed_auth.py
  src/mcp/server/auth/extensions/enterprise_managed_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

- Fixed ruff errors.
  tests/client/auth/test_enterprise_managed_auth_client.py
Due: ruff-format, ruff, pyright

- Added README.md changes for SEP-990 implementation for enterprise managed auth.
  README.md
Due: readme-v1-frozen

- Resolved pyright errors.
  src/mcp/client/auth/extensions/enterprise_managed_auth.py
  tests/client/auth/test_enterprise_managed_auth_client.py
Due: ruff-format, ruff, pyright, readme-snippets

- Resolved README.md file fixes for removing unused imports.
  README.md
Due: readme-v1-frozen

- Resolved pyright checks error.
  src/mcp/client/auth/extensions/enterprise_managed_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

- Updated test case to include IDJAGClaims type model to verify payload.
  tests/client/auth/test_enterprise_managed_auth_client.py
Due: ruff-format, ruff, pyright

- Added new test cases for the missing code lines.
  tests/client/auth/test_enterprise_managed_auth_client.py
Due: ruff-format, ruff, pyright

- Fixed the failing test cases.
  tests/client/auth/test_enterprise_managed_auth_client.py
Due: ruff-format, ruff, pyright

- Fixed the test cases.
  tests/client/auth/test_enterprise_managed_auth_client.py
Due: ruff-format, ruff, pyright

- Fix uv.lock.
  uv.lock
Due: uv-lock-check

Fixed end-of-file-fixer for test_enterprise_managed_auth_client.py.
  tests/client/auth/test_enterprise_managed_auth_client.py
Due: ruff-format, ruff, pyright

feat(auth): migrate enterprise auth conformance tests to @modelcontextprotocol/conformance v0.1.14
  .github/actions/conformance/client.py
  .github/actions/conformance/enterprise_auth_server.py
  .github/actions/conformance/run-enterprise-auth-conformance.sh
  .github/actions/conformance/run-enterprise-auth-with-server.sh
  .github/workflows/conformance.yml
  README.md
  examples/snippets/clients/enterprise_managed_auth_client.py
  src/mcp/client/auth/extensions/enterprise_managed_auth.py
  tests/client/auth/test_enterprise_managed_auth_client.py
Due: ruff-format, ruff, pyright, readme-v1-frozen, readme-snippets

feat: Add conformance tests for enterprise managed authorization (SEP-990)
  .github/actions/conformance/client.py
  .github/actions/conformance/enterprise_auth_server.py
  .github/actions/conformance/run-enterprise-auth-with-server.sh
  .github/workflows/conformance.yml
  README.md
  examples/snippets/clients/enterprise_managed_auth_client.py
  pyproject.toml
  src/mcp/client/auth/extensions/enterprise_managed_auth.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

Fixed pre-commit hooks issues.
  .github/actions/conformance/client.py
  README.md
  examples/snippets/clients/enterprise_managed_auth_client.py
  src/mcp/client/auth/extensions/enterprise_managed_auth.py
  tests/client/auth/test_enterprise_managed_auth_client.py
Due: ruff-format, ruff, pyright, readme-v1-frozen, readme-snippets

Moved the changes from README.md to README.v2.md.
  README.md
  README.v2.md
Due: readme-v1-frozen, readme-snippets

Fixed pyright issues.
  README.md
  examples/snippets/clients/enterprise_managed_auth_client.py
Due: ruff-format, ruff, pyright, readme-v1-frozen, readme-snippets

Fixed Ruff formatting issues.
  src/mcp/client/auth/extensions/enterprise_managed_auth.py
  tests/client/auth/test_enterprise_managed_auth_client.py
Due: ruff-format, ruff, pyright, readme-snippets

- Removed Unicode characters from the example snippet file. - Removed FastAPI dependency as it is no longer required.
  README.v2.md
  examples/snippets/clients/enterprise_managed_auth_client.py
  pyproject.toml
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

fix: see if this makes build happy
  tests/issues/test_streamable_http_405_get_stream.py
Due: ruff-format, ruff, pyright

fix: udpates for build
  tests/issues/test_streamable_http_405_get_stream.py
Due: ruff-format, ruff, pyright

fix: build again hopefully
  tests/issues/test_streamable_http_405_get_stream.py
Due: ruff-format, ruff, pyright

- Removed unused parameters from the EnterpriseAuthOAuthClientProvider class. - Updated docstring for decode_id_jag method.
  src/mcp/client/auth/extensions/enterprise_managed_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: try this
  tests/issues/test_streamable_http_405_get_stream.py
Due: ruff-format, ruff, pyright

fix: handle non-UTF-8 bytes in stdio server stdin
  src/mcp/server/stdio.py
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: updates for biuld
  tests/issues/test_streamable_http_405_get_stream.py
Due: ruff-format, ruff, pyright

fix(test): stabilize flaky Windows CI tests
  tests/client/test_config.py
  tests/client/test_stdio.py
  tests/client/transports/test_memory.py
Due: ruff-format, ruff, pyright

fix(test): exclude polling loop branches from coverage
  tests/client/test_stdio.py
Due: ruff-format, ruff, pyright

feat(server): thread tenant_id from MCPServer handlers to managers
  src/mcp/server/mcpserver/context.py
  src/mcp/server/mcpserver/server.py
  tests/server/mcpserver/test_multi_tenancy_server.py
Due: ruff-format, ruff, pyright, readme-snippets

chore: remove stale no-cover pragma now hit by invalid-UTF-8 test
  src/mcp/server/stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: preserve existing refresh_token when server omits it in refresh response
  src/mcp/client/auth/oauth2.py
Due: ruff-format, ruff, pyright, readme-snippets

test: use receive() and no-branch pragma for nested async with
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright

fix(test): use correct Experimental type in ServerRequestContext construction
  tests/server/mcpserver/test_multi_tenancy_server.py
Due: ruff-format, ruff, pyright

Path conditions:
  ruff-format: any of: \.py$
  ruff: any of: \.py$, but not: ^README(\.v2)?\.md$
  pyright: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  readme-v1-frozen: any of: ^README\.md$
  readme-snippets: any of: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
