Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args:
          [
            "--fix",
            "--config",
            "pyproject.toml",
            "--configPointer",
            "/tool/markdown/lint",
          ]
        types: [markdown]

  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff Format
        entry: uv run --frozen ruff
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: ruff
        name: Ruff
        entry: uv run --frozen ruff
        args: ["check", "--fix", "--exit-non-zero-on-fix"]
        types: [python]
        language: system
        pass_filenames: false
        exclude: ^README(\.v2)?\.md$
      - id: pyright
        name: pyright
        entry: uv run --frozen pyright
        language: system
        types: [python]
        pass_filenames: false
      - id: uv-lock-check
        name: Check uv.lock is up to date
        entry: uv lock --check
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false
      # TODO(Max): Drop this in v2.
      - id: readme-v1-frozen
        name: README.md is frozen (v1 docs)
        entry: README.md is frozen at v1. Edit README.v2.md instead.
        language: fail
        files: ^README\.md$
      - id: readme-snippets
        name: Check snippets are up to date
        entry: uv run --frozen python scripts/sync_snippets.py --check
        language: system
        files: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
        pass_filenames: false

Keep language builds from stopping on a stale snippet path
  scripts/docs/build_config.py
  scripts/docs/translations.py
  tests/docs/test_build_config.py
  tests/docs/test_translations.py
Due: ruff-format, ruff, pyright

README snippet check: give a mis-encoded source the same one-line error as a missing one
  scripts/update_readme_snippets.py
Due: ruff-format, ruff, pyright

Address review: SEP link, extras wording, taxonomy scope
  CONTRIBUTING.md
  DEPENDENCY_POLICY.md
  docs/roadmap.md
  docs/versioning.md
Due: readme-snippets

test: seed session owner before cleanup
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright

test(server): remove invalid session owner seed
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright

fix(auth): canonicalize resource URLs by stripping default ports (RFC 3986)
  src/mcp/shared/auth_utils.py
  tests/shared/test_auth_utils.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: improve discoverability and docs for the instructions parameter
  docs/get-started/first-steps.md
  docs_src/first_steps/tutorial002.py
  src/mcp/server/mcpserver/server.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: catch malformed port ValueError and reach 100% coverage
  src/mcp/shared/auth_utils.py
  tests/shared/test_auth_utils.py
Due: ruff-format, ruff, pyright, readme-snippets

test(server): verify terminated session owner cleanup
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright

Preserve exception chains with raise ... from
  src/mcp/client/auth/utils.py
  src/mcp/client/session.py
  src/mcp/server/auth/middleware/client_auth.py
  src/mcp/server/mcpserver/prompts/base.py
  src/mcp/server/mcpserver/resources/types.py
  src/mcp/server/mcpserver/server.py
Due: ruff-format, ruff, pyright, readme-snippets

Trim the versioning policy to its commitments
  docs/roadmap.md
  docs/versioning.md
Due: readme-snippets

Pin text I/O to UTF-8 and fail CI on locale-dependent reads/writes (#3296)
  .github/workflows/shared.yml
  AGENTS.md
  docs_src/uri_templates/tutorial002.py
  examples/clients/simple-chatbot/mcp_simple_chatbot/main.py
  examples/stories/_harness.py
  pyproject.toml
  scripts/gen_surface_types.py
  scripts/test
  scripts/update_readme_snippets.py
  src/mcp/cli/claude.py
  src/mcp/shared/path_security.py
  tests/cli/test_claude.py
  tests/cli/test_utils.py
  tests/docs_src/test_apps.py
  tests/docs_src/test_uri_templates.py
  tests/interaction/transports/test_stdio.py
  tests/server/mcpserver/resources/test_file_resources.py
  tests/server/mcpserver/servers/test_file_server.py
  tests/server/mcpserver/test_server.py
  tests/test_types.py
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

Trim the roadmap and dependency policy to their commitments
  DEPENDENCY_POLICY.md
  docs/roadmap.md
Due: readme-snippets

Move the versioning policy and roadmap to the repository root
  DEPENDENCY_POLICY.md
  ROADMAP.md
  VERSIONING.md
  docs/index.md
  docs/versioning.md
  mkdocs.yml
Due: readme-snippets

Drop the docs index pointer to the root policy files
  docs/index.md
Due: readme-snippets

Address review: roadmap open item, baseline scope, deferral and placement nits
  CONTRIBUTING.md
  DEPENDENCY_POLICY.md
  RELEASE.md
  ROADMAP.md
Due: none

docs: clarify client URL example wording in README
  README.md
Due: readme-v1-frozen

ci: add a weekly newest-dependencies canary
  .github/workflows/dependency-canary.yml
  .gitignore
  scripts/ci/canary_cell.sh
  scripts/ci/canary_lock_diff.py
  scripts/ci/canary_report.sh
Due: ruff-format, ruff, pyright

ci: run CI on uv 0.11.33
  .github/workflows/conformance.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/docs-preview.yml
  .github/workflows/publish-pypi.yml
  .github/workflows/shared.yml
Due: none

ci: drop the canary's temporary branch trigger
  .github/workflows/dependency-canary.yml
  scripts/ci/canary_cell.sh
Due: none

Stop framing breaking changes as a workflow in AGENTS.md
  AGENTS.md
Due: none

Retire three redundant interaction-manifest entries; era-bound a fourth
  tests/interaction/_requirements.py
  tests/interaction/transports/test_client_transport_http.py
  tests/interaction/transports/test_hosting_http.py
Due: ruff-format, ruff, pyright

Align interaction-manifest ids with the cross-SDK vocabulary
  tests/interaction/_requirements.py
  tests/interaction/auth/test_authorize_token.py
  tests/interaction/auth/test_discovery.py
  tests/interaction/auth/test_lifecycle.py
  tests/interaction/lowlevel/test_client_connect.py
  tests/interaction/lowlevel/test_elicitation.py
  tests/interaction/lowlevel/test_meta.py
  tests/interaction/lowlevel/test_resources.py
  tests/interaction/lowlevel/test_sampling.py
  tests/interaction/mcpserver/test_context.py
  tests/interaction/mcpserver/test_resources.py
Due: ruff-format, ruff, pyright

Fix dead 2026 spec source URLs in the interaction manifest
  tests/interaction/_requirements.py
Due: ruff-format, ruff, pyright

Add the first MRTR interaction tests: 16 tests across six files
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_elicitation.py
  tests/interaction/lowlevel/test_mrtr.py
  tests/interaction/lowlevel/test_prompts.py
  tests/interaction/lowlevel/test_resources.py
  tests/interaction/lowlevel/test_roots.py
  tests/interaction/lowlevel/test_sampling.py
Due: ruff-format, ruff, pyright

Cover the x-mcp-header and modern HTTP entry families: 19 tests
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_x_mcp_header.py
  tests/interaction/transports/test_hosting_http_modern.py
Due: ruff-format, ruff, pyright

Model the 2025-11-25 to 2026-07-28 transition as first-class manifest data
  tests/interaction/_requirements.py
Due: ruff-format, ruff, pyright

Complete the planned 2026-07-28 coverage: the final 27 tests
  tests/interaction/_requirements.py
  tests/interaction/auth/test_as_handlers.py
  tests/interaction/auth/test_bearer.py
  tests/interaction/auth/test_lifecycle.py
  tests/interaction/lowlevel/test_cancellation.py
  tests/interaction/lowlevel/test_mrtr.py
  tests/interaction/lowlevel/test_pagination.py
  tests/interaction/lowlevel/test_prompts.py
  tests/interaction/lowlevel/test_resources.py
  tests/interaction/lowlevel/test_sampling.py
  tests/interaction/lowlevel/test_tools.py
  tests/interaction/mcpserver/test_prompts.py
  tests/interaction/mcpserver/test_resources.py
  tests/interaction/mcpserver/test_tools.py
  tests/interaction/transports/test_client_transport_http.py
Due: ruff-format, ruff, pyright

Link the last two pinned divergences to their tracking entries
  tests/interaction/_requirements.py
Due: ruff-format, ruff, pyright

Cover the caching and discover-versioning families: 17 tests
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_caching.py
  tests/interaction/lowlevel/test_client_connect.py
  tests/interaction/lowlevel/test_resources.py
  tests/interaction/transports/test_hosting_http.py
  tests/interaction/transports/test_hosting_http_modern.py
Due: ruff-format, ruff, pyright

Complete the MRTR core coverage: multi-round, bounds, and the 2026 directionality pins
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_elicitation.py
  tests/interaction/lowlevel/test_mrtr.py
Due: ruff-format, ruff, pyright

Pin the pre-registered-credentials divergence and the DCR application_type pass-through
  tests/interaction/_requirements.py
  tests/interaction/auth/_harness.py
  tests/interaction/auth/test_flow.py
  tests/interaction/auth/test_lifecycle.py
Due: ruff-format, ruff, pyright

Track the full deferred surface: 64 entries registered ahead of their capability
  tests/interaction/_requirements.py
Due: ruff-format, ruff, pyright

Backlog hardening: complete the push-API divergence matrix and sharpen three tests
  tests/interaction/auth/test_authorize_token.py
  tests/interaction/mcpserver/test_resources.py
  tests/interaction/mcpserver/test_tools.py
  tests/interaction/transports/test_hosting_http_modern.py
Due: ruff-format, ruff, pyright

Make interaction-manifest behaviour strings match what their tests prove
  tests/interaction/_requirements.py
Due: ruff-format, ruff, pyright

Cover the auth families: the RFC 9207 iss table, step-up bounds, DCR and refresh
  tests/interaction/_requirements.py
  tests/interaction/auth/_harness.py
  tests/interaction/auth/_provider.py
  tests/interaction/auth/test_authorize_token.py
  tests/interaction/auth/test_flow.py
  tests/interaction/auth/test_lifecycle.py
Due: ruff-format, ruff, pyright

Re-ground deferral premises and stale notes against the current main
  tests/interaction/README.md
  tests/interaction/_connect.py
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_caching.py
  tests/interaction/lowlevel/test_client_connect.py
  tests/interaction/lowlevel/test_resources.py
  tests/interaction/lowlevel/test_tools.py
  tests/interaction/transports/test_hosting_http_modern.py
Due: ruff-format, ruff, pyright

Reconcile with the hardened dual-era stream loop
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_mrtr.py
  tests/interaction/transports/test_hosting_http_modern.py
Due: ruff-format, ruff, pyright

Close the four log-delivery divergences the per-request log-level gate resolved
  tests/interaction/_requirements.py
Due: ruff-format, ruff, pyright
