Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args:
          [
            "--fix",
            "--config",
            "pyproject.toml",
            "--configPointer",
            "/tool/markdown/lint",
          ]
        types: [markdown]

  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff Format
        entry: uv run --frozen ruff
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: ruff
        name: Ruff
        entry: uv run --frozen ruff
        args: ["check", "--fix", "--exit-non-zero-on-fix"]
        types: [python]
        language: system
        pass_filenames: false
        exclude: ^README(\.v2)?\.md$
      - id: pyright
        name: pyright
        entry: uv run --frozen pyright
        language: system
        types: [python]
        pass_filenames: false
      - id: uv-lock-check
        name: Check uv.lock is up to date
        entry: uv lock --check
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false
      # TODO(Max): Drop this in v2.
      - id: readme-v1-frozen
        name: README.md is frozen (v1 docs)
        entry: README.md is frozen at v1. Edit README.v2.md instead.
        language: fail
        files: ^README\.md$
      - id: readme-snippets
        name: Check snippets are up to date
        entry: uv run --frozen python scripts/sync_snippets.py --check
        language: system
        files: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
        pass_filenames: false

style: apply ruff format to OAuth trailing-slash changes
  src/mcp/server/auth/routes.py
  tests/server/auth/test_protected_resource.py
Due: ruff-format, ruff, pyright, readme-snippets

style: drop unused AnyHttpUrl import in auth stories
  examples/stories/_shared/auth.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: return 405 for pre-session GET the server won't serve as SSE
  src/mcp/server/streamable_http.py
  tests/interaction/_requirements.py
  tests/interaction/transports/test_hosting_http.py
  tests/server/test_streamable_http_security.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: reject pre-session GET in the session manager before a session is created
  src/mcp/server/streamable_http.py
  src/mcp/server/streamable_http_manager.py
  tests/server/test_streamable_http_manager.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

style: collapse snapshot assertions to single lines per ruff format
  tests/interaction/transports/test_hosting_http.py
Due: ruff-format, ruff, pyright

fix: don't overclaim cause in error message, test the _in_flight fix, cite precedent
  src/mcp/server/session.py
  tests/server/test_session.py
Due: ruff-format, ruff, pyright, readme-snippets

test: mark never-called ASGI receive stubs as no cover
  tests/server/test_streamable_http_manager.py
  tests/shared/test_streamable_http.py
Due: ruff-format, ruff, pyright

Replace well-known server card discovery with AI Catalog discovery
  src/mcp/client/experimental/ai_catalog.py
  src/mcp/client/experimental/server_card.py
  src/mcp/server/experimental/ai_catalog.py
  src/mcp/server/experimental/server_card.py
  src/mcp/shared/experimental/ai_catalog/__init__.py
  src/mcp/shared/experimental/ai_catalog/types.py
  src/mcp/shared/experimental/server_card/__init__.py
  src/mcp/shared/experimental/server_card/types.py
  tests/experimental/ai_catalog/__init__.py
  tests/experimental/ai_catalog/test_client.py
  tests/experimental/ai_catalog/test_server.py
  tests/experimental/ai_catalog/test_types.py
  tests/experimental/server_card/__init__.py
  tests/experimental/server_card/test_client.py
  tests/experimental/server_card/test_server.py
  tests/experimental/server_card/test_types.py
Due: ruff-format, ruff, pyright, readme-snippets

Add experimental Server Cards support (SEP-2127)
  src/mcp/client/experimental/server_card.py
  src/mcp/server/experimental/server_card.py
  src/mcp/shared/experimental/server_card/__init__.py
  src/mcp/shared/experimental/server_card/types.py
  tests/experimental/server_card/test_client.py
  tests/experimental/server_card/test_server.py
  tests/experimental/server_card/test_types.py
Due: ruff-format, ruff, pyright, readme-snippets

Align experimental Server Cards with SEP-2127 v1 schema
  src/mcp/client/experimental/__init__.py
  src/mcp/client/experimental/server_card.py
  src/mcp/server/experimental/__init__.py
  src/mcp/server/experimental/ai_catalog.py
  src/mcp/server/experimental/server_card.py
  src/mcp/shared/experimental/__init__.py
  src/mcp/shared/experimental/ai_catalog/__init__.py
  src/mcp/shared/experimental/ai_catalog/types.py
  src/mcp/shared/experimental/server_card/__init__.py
  src/mcp/shared/experimental/server_card/types.py
  tests/experimental/ai_catalog/test_server.py
  tests/experimental/ai_catalog/test_types.py
  tests/experimental/server_card/test_client.py
  tests/experimental/server_card/test_server.py
  tests/experimental/server_card/test_types.py
Due: ruff-format, ruff, pyright, readme-snippets

Adapt experimental Server Cards imports to mcp-types package restructure
  src/mcp/shared/experimental/ai_catalog/types.py
  src/mcp/shared/experimental/server_card/types.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: add Server Cards (SEP-2127) usage guide
  docs/advanced/server-cards.md
  docs_src/server_cards/__init__.py
  docs_src/server_cards/tutorial001.py
  docs_src/server_cards/tutorial002.py
  docs_src/server_cards/tutorial003.py
  docs_src/server_cards/tutorial004.py
  mkdocs.yml
Due: ruff-format, ruff, pyright, readme-snippets

Add ETag support to discovery responses
  src/mcp/server/experimental/ai_catalog.py
  src/mcp/server/experimental/server_card.py
  tests/experimental/ai_catalog/test_server.py
  tests/experimental/server_card/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

Update ai_catalog.py
  src/mcp/server/experimental/ai_catalog.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(experimental): migrate server cards to httpx2
  docs_src/server_cards/tutorial004.py
  src/mcp/client/experimental/ai_catalog.py
  src/mcp/client/experimental/server_card.py
  tests/experimental/ai_catalog/test_client.py
  tests/experimental/ai_catalog/test_server.py
  tests/experimental/server_card/test_client.py
  tests/experimental/server_card/test_server.py
Due: ruff-format, ruff, pyright, readme-snippets

test(server): cover terminate cleanup of orphaned request streams
  src/mcp/server/streamable_http.py
  tests/server/test_streamable_http_manager.py
Due: ruff-format, ruff, pyright, readme-snippets

test: bound initialize() with anyio.fail_after to fail fast on regression
  tests/client/test_notification_response.py
Due: ruff-format, ruff, pyright

Handle quoted WWW-Authenticate auth-param values
  src/mcp/client/auth/utils.py
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

Align WWW-Authenticate tests with httpx2
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright

Cover WWW-Authenticate parser edge cases
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright

Address WWW-Authenticate parser review feedback
  src/mcp/client/auth/utils.py
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright, readme-snippets

Use current HTTP client name in auth tests
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright

fix: stop newline translation corrupting stdio framing on Windows
  src/mcp/server/stdio.py
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

Cache compiled output-schema validators on ClientSession
  src/mcp/client/session.py
  tests/client/test_session_promotions.py
Due: ruff-format, ruff, pyright, readme-snippets

perf: discriminate JSONRPCMessage union by key presence instead of smart-union scoring
  scripts/bench_jsonrpc_codec.py
  src/mcp-types/mcp_types/jsonrpc.py
  src/mcp/server/streamable_http.py
  tests/types/test_jsonrpc_discriminator.py
Due: ruff-format, ruff, pyright, readme-snippets

Address review: pin spec-invalid hybrid divergences, de-bias benchmark ordering
  scripts/bench_jsonrpc_codec.py
  src/mcp-types/mcp_types/jsonrpc.py
  tests/types/test_jsonrpc_discriminator.py
Due: ruff-format, ruff, pyright

fix: disable newline translation in stdio TextIOWrapper to prevent CRLF on Windows
  src/mcp/server/stdio.py
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: return a self-describing 404 for an unknown SSE session
  src/mcp/server/sse.py
  tests/server/test_sse_security.py
  tests/shared/test_sse.py
Due: ruff-format, ruff, pyright, readme-snippets

Refuse abnormal processes instead of repairing them in stdio isolation
  docs/migration.md
  docs/troubleshooting.md
  src/mcp/os/posix/utilities.py
  src/mcp/os/win32/utilities.py
  src/mcp/server/stdio.py
  tests/interaction/_requirements.py
  tests/server/test_stdio.py
  tests/transports/stdio/test_lifecycle.py
  tests/transports/stdio/test_windows.py
Due: ruff-format, ruff, pyright, readme-snippets

Replace dashes with plain punctuation in prose added by this branch
  docs/get-started/real-host.md
  docs/handlers/logging.md
  docs/run/index.md
  docs/troubleshooting.md
  src/mcp/server/stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

feat: add experimental Server Card and AI Catalog models (SEP-2127)
  src/mcp/shared/experimental/__init__.py
  src/mcp/shared/experimental/_base.py
  src/mcp/shared/experimental/ai_catalog.py
  src/mcp/shared/experimental/server_card.py
  tests/shared/experimental/__init__.py
  tests/shared/experimental/fixtures/server_card/invalid/bad-name-pattern.json
  tests/shared/experimental/fixtures/server_card/invalid/date-versioned-schema.json
  tests/shared/experimental/fixtures/server_card/invalid/missing-name.json
  tests/shared/experimental/fixtures/server_card/invalid/missing-schema.json
  tests/shared/experimental/fixtures/server_card/invalid/wrong-schema-name.json
  tests/shared/experimental/fixtures/server_card/valid/minimal.json
  tests/shared/experimental/fixtures/server_card/valid/templated-remote.json
  tests/shared/experimental/test_ai_catalog.py
  tests/shared/experimental/test_server_card.py
Due: ruff-format, ruff, pyright, readme-snippets

feat: serve Server Cards and AI Catalogs over HTTP (experimental)
  src/mcp/server/experimental/__init__.py
  src/mcp/server/experimental/server_card.py
  tests/server/experimental/__init__.py
  tests/server/experimental/test_server_card.py
Due: ruff-format, ruff, pyright, readme-snippets

feat: hardened Server Card discovery client (experimental)
  src/mcp/client/experimental/__init__.py
  src/mcp/client/experimental/_discovery_http.py
  src/mcp/client/experimental/server_card.py
  tests/client/experimental/__init__.py
  tests/client/experimental/test_server_card.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: add Server Cards page with runnable examples
  docs/advanced/server-cards.md
  docs_src/server_cards/__init__.py
  docs_src/server_cards/tutorial001.py
  docs_src/server_cards/tutorial002.py
  docs_src/server_cards/tutorial003.py
  docs_src/server_cards/tutorial004.py
  mkdocs.yml
  tests/docs_src/test_server_cards.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: harden Server Card discovery and close review gaps (experimental)
  docs/advanced/server-cards.md
  src/mcp/client/experimental/_discovery_http.py
  src/mcp/client/experimental/server_card.py
  src/mcp/server/experimental/server_card.py
  src/mcp/shared/experimental/server_card.py
  tests/client/experimental/test_server_card.py
  tests/server/experimental/test_server_card.py
  tests/shared/experimental/test_server_card.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: detect Unicode homoglyphs and bidirectional chars in tool names
  src/mcp/shared/tool_name_validation.py
  tests/shared/test_tool_name_validation.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(experimental): align server cards with discovery spec
  docs/advanced/server-cards.md
  docs_src/server_cards/tutorial001.py
  docs_src/server_cards/tutorial002.py
  docs_src/server_cards/tutorial003.py
  src/mcp/client/experimental/ai_catalog.py
  src/mcp/client/experimental/server_card.py
  src/mcp/server/experimental/ai_catalog.py
  src/mcp/server/experimental/server_card.py
  src/mcp/shared/experimental/ai_catalog/__init__.py
  src/mcp/shared/experimental/ai_catalog/types.py
  tests/experimental/ai_catalog/test_client.py
  tests/experimental/ai_catalog/test_server.py
  tests/experimental/ai_catalog/test_types.py
  tests/experimental/server_card/test_client.py
  tests/experimental/server_card/test_server.py
  tests/experimental/server_card/test_types.py
Due: ruff-format, ruff, pyright, readme-snippets

Hold the stream claim for in-place fallbacks too
  src/mcp/server/stdio.py
  tests/server/test_stdio.py
Due: ruff-format, ruff, pyright, readme-snippets

Add migration note for code that watches fd 0 directly
  docs/migration.md
Due: readme-snippets

Document the drain helpers in the pagination guide
  docs/advanced/pagination.md
  docs_src/pagination/tutorial003.py
  tests/docs_src/test_pagination.py
Due: ruff-format, ruff, pyright, readme-snippets
