Repository modelcontextprotocol/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check, readme-v1-frozen, readme-snippets

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json5]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args:
          [
            "--fix",
            "--config",
            "pyproject.toml",
            "--configPointer",
            "/tool/markdown/lint",
          ]
        types: [markdown]

  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff Format
        entry: uv run --frozen ruff
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: ruff
        name: Ruff
        entry: uv run --frozen ruff
        args: ["check", "--fix", "--exit-non-zero-on-fix"]
        types: [python]
        language: system
        pass_filenames: false
        exclude: ^README(\.v2)?\.md$
      - id: pyright
        name: pyright
        entry: uv run --frozen pyright
        language: system
        types: [python]
        pass_filenames: false
      - id: uv-lock-check
        name: Check uv.lock is up to date
        entry: uv lock --check
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false
      # TODO(Max): Drop this in v2.
      - id: readme-v1-frozen
        name: README.md is frozen (v1 docs)
        entry: README.md is frozen at v1. Edit README.v2.md instead.
        language: fail
        files: ^README\.md$
      - id: readme-snippets
        name: Check snippets are up to date
        entry: uv run --frozen python scripts/sync_snippets.py --check
        language: system
        files: ^(README\.v2\.md|examples/.*\.py|src/mcp/.*\.py|docs/.*\.md|scripts/sync_snippets\.py)$
        pass_filenames: false

fix: include transport path in protected resource metadata URL (RFC 9728)
  src/mcp/server/lowlevel/server.py
  src/mcp/server/mcpserver/server.py
  tests/server/auth/test_protected_resource.py
Due: ruff-format, ruff, pyright, readme-snippets

test: add server-initiated request and notification interaction tests
  src/mcp/client/client.py
  src/mcp/client/session.py
  src/mcp/server/session.py
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_cancellation.py
  tests/interaction/lowlevel/test_elicitation.py
  tests/interaction/lowlevel/test_initialize.py
  tests/interaction/lowlevel/test_list_changed.py
  tests/interaction/lowlevel/test_progress.py
  tests/interaction/lowlevel/test_roots.py
  tests/interaction/lowlevel/test_sampling.py
Due: ruff-format, ruff, pyright, readme-snippets

test: add URL elicitation, subscriptions, pagination, timeouts, and meta interaction tests
  src/mcp/server/session.py
  tests/interaction/_helpers.py
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_elicitation.py
  tests/interaction/lowlevel/test_list_changed.py
  tests/interaction/lowlevel/test_meta.py
  tests/interaction/lowlevel/test_pagination.py
  tests/interaction/lowlevel/test_resources.py
  tests/interaction/lowlevel/test_timeouts.py
  tests/interaction/mcpserver/test_context.py
Due: ruff-format, ruff, pyright, readme-snippets

test: add lifecycle edge cases, concurrency, and behaviour-gap interaction tests
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_initialize.py
  tests/interaction/lowlevel/test_sampling.py
  tests/interaction/lowlevel/test_tools.py
  tests/interaction/mcpserver/test_context.py
  tests/interaction/mcpserver/test_tools.py
Due: ruff-format, ruff, pyright

test: add wire-level invariant tests via a recording transport
  tests/interaction/_helpers.py
  tests/interaction/_requirements.py
  tests/interaction/lowlevel/test_timeouts.py
  tests/interaction/lowlevel/test_wire.py
  tests/interaction/mcpserver/test_tools.py
Due: ruff-format, ruff, pyright

test: add in-process streamable HTTP transport smoke tests
  src/mcp/server/lowlevel/server.py
  src/mcp/server/mcpserver/server.py
  src/mcp/server/streamable_http.py
  tests/interaction/_requirements.py
  tests/interaction/transports/__init__.py
  tests/interaction/transports/test_streamable_http.py
Due: ruff-format, ruff, pyright, readme-snippets

test: document the interaction suite's conventions and manifest workflow
  tests/interaction/README.md
Due: none

test: fix pipe union CI coverage
  tests/server/mcpserver/test_func_metadata.py
  tests/server/mcpserver/test_server.py
Due: ruff-format, ruff, pyright

Clarify CLI subprocess environment comment
  src/mcp/cli/cli.py
Due: ruff-format, ruff, pyright, readme-snippets

feat(session): propagate callback exceptions to the awaiter
  src/mcp/shared/session.py
  tests/shared/test_session.py
Due: ruff-format, ruff, pyright, readme-snippets

style: fix formatting, typing, and import sorting in test_session.py
  tests/shared/test_session.py
Due: ruff-format, ruff, pyright

test: cover EndOfStream without propagated error
  tests/shared/test_session.py
Due: ruff-format, ruff, pyright

test: fix coverage pragmas
  src/mcp/shared/session.py
Due: ruff-format, ruff, pyright, readme-snippets

test: cover receive loop cleanup
  tests/shared/test_session.py
Due: ruff-format, ruff, pyright

test: close response stream pair
  tests/shared/test_session.py
Due: ruff-format, ruff, pyright

test: apply ruff-format output
  tests/shared/test_session.py
Due: ruff-format, ruff, pyright

style: fix ruff-format output
  tests/shared/test_session.py
Due: ruff-format, ruff, pyright

style: MATCH RUFF-FORMAT
  tests/shared/test_session.py
Due: ruff-format, ruff, pyright

fix(auth): satisfy pyright + add coverage for Basic auth fallback edges
  src/mcp/server/auth/handlers/token.py
  tests/server/mcpserver/auth/test_auth_integration.py
Due: ruff-format, ruff, pyright, readme-snippets

auth: add union_scopes helper for OAuth scope strings
  src/mcp/client/auth/utils.py
Due: ruff-format, ruff, pyright, readme-snippets

auth: union scopes on 403 step-up (SEP-2350)
  src/mcp/client/auth/oauth2.py
Due: ruff-format, ruff, pyright, readme-snippets

auth: test union_scopes and step-up authorization flow
  tests/client/test_auth.py
Due: ruff-format, ruff, pyright

fix(session): harden propagate handler with try/except, better error msg
  src/mcp/shared/session.py
Due: ruff-format, ruff, pyright, readme-snippets

Revert "fix(session): harden propagate handler with try/except, better error msg"
  src/mcp/shared/session.py
Due: ruff-format, ruff, pyright, readme-snippets

Update README.md
  README.md
Due: readme-v1-frozen

Add client example demonstrating pre-execution authorization check
  examples/snippets/clients/client_with_authorization.py
Due: ruff-format, ruff, pyright, readme-snippets

Fix subprocess path to run server command from root
  examples/snippets/clients/client_with_authorization.py
Due: ruff-format, ruff, pyright, readme-snippets

style: fix ruff formatting errors
  examples/snippets/clients/client_with_authorization.py
Due: ruff-format, ruff, pyright, readme-snippets

style: fix ruff lint docstring rules
  examples/snippets/clients/client_with_authorization.py
Due: ruff-format, ruff, pyright, readme-snippets

fix: resolve pyright type checking errors
  examples/snippets/clients/client_with_authorization.py
Due: ruff-format, ruff, pyright, readme-snippets

style: use collections.abc.Callable for ruff
  examples/snippets/clients/client_with_authorization.py
Due: ruff-format, ruff, pyright, readme-snippets

Drain stdio responses after redirected stdin EOF
  src/mcp/server/lowlevel/server.py
  src/mcp/server/mcpserver/server.py
  src/mcp/server/session.py
  src/mcp/shared/session.py
  tests/issues/test_2678_stdio_eof_drain.py
Due: ruff-format, ruff, pyright, readme-snippets

docs: correct create_mcp_http_client default timeout docstring
  src/mcp/shared/_httpx_utils.py
Due: ruff-format, ruff, pyright, readme-snippets

fix(auth): add Accept: application/json header to OAuth token requests
  src/mcp/client/auth/extensions/client_credentials.py
  src/mcp/client/auth/oauth2.py
Due: ruff-format, ruff, pyright, readme-snippets

feat: add RedisEventStore for production SSE resumability
  pyproject.toml
  src/mcp/server/contrib/__init__.py
  src/mcp/server/contrib/event_stores/__init__.py
  src/mcp/server/contrib/event_stores/redis.py
  tests/server/contrib/__init__.py
  tests/server/contrib/test_redis_event_store.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check, readme-snippets

test: add test coverage for expired/evicted event payloads in replay
  tests/server/contrib/test_redis_event_store.py
Due: ruff-format, ruff, pyright

refactor: simplify redis dependency by removing unnecessary asyncio extra
  pyproject.toml
  uv.lock
Due: uv-lock-check

test: support older redis-py client versions in teardown fixture
  tests/server/contrib/test_redis_event_store.py
Due: ruff-format, ruff, pyright

test: disable strict pyright checking for test parameters/variables
  tests/server/contrib/test_redis_event_store.py
Due: ruff-format, ruff, pyright
